[2021-01-28 18:37] kgerheiser commented on #137
I think I have a fix.

Can you replace your Jasper load with:

[code]

It's Jasper's master branch, which contains a fix for a bug that's related to Intel compilers and Jasper in the same file that throws that `warning: empty layer generated`.

[2021-01-28 18:42] JessicaMeixner-NOAA commented on #137
It appears to have worked!
$ pwd
/work/noaa/marine/jmeixner/WW3GRIBISSUE/WW3_hpc-stack_test/test_jasper2
$ wgrib2 -V gribfile
1:0:vt=2013040100:surface:anl:HTSGW Significant Height of Combined Wind Waves and Swell [m]:
    ndata=231120:undef=88698:mean=2.79682:min=0:max=15.29
    grid_template=0:winds(N/S):
	lat-lon grid:(720 x 321) units 1e-06 input WE:NS output WE:SN res 48
	lat 80.000000 to -80

[2021-01-28 19:08] Hang-Lei-NOAA commented on #149
The changes in this version are following Fanglin's request to match the
NCO operational use.

On Thu, Jan 28, 2021 at 1:26 PM RussTreadon-NOAA <notifications@github.com>
wrote:

[2021-01-28 19:21] RussTreadon-NOAA commented on #149
When will `hpc-stack test hpc/1.0.0-beta` be promoted to a non-beta release?

[2021-01-28 19:42] kgerheiser commented on #149
The `1.0.0-beta1` release is a version behind. We are currently on version `1.1.0`.

[2021-01-28 19:54] RussTreadon-NOAA commented on #149
So `1.0.0.-beta1` is a non-starter for moving forward.   My bad.   These are the tests we've run thus far

- with `hpc/1.0.0-beta` DA apps can reproduce what will be implemented with GFS v16
- with `hpc/1.1.0` DA apps do not reproduce what will be implemented with GFS v16
- a test version of `hpc/1.1.0` with shared libraries and `-fPIC` removed reproduce what will be implemented with GFS v16

Assu

[2021-01-28 21:07] JessicaMeixner-NOAA commented on #137
I ran another test adding more variables back and plotted results and can confirm everything worked w/the new jasper from the master branch.

[2021-01-28 21:28] edwardhartnett commented on #149
Seemingly we have different results with shared vs. static builds. I don't think that Kyle and Hang can debug this problem in your code.

We know that we have installed the libraries correctly, and they have passed their tests. It's not clear what else we can do.

The best approach would be some unit tests in the GSI package to isolate the problem. But this is beyond the scope of the NCEPLIBS team

[2021-01-28 21:34] kgerheiser commented on #149
I updated my hpc-stack test build with both shared and static libraries (with -fPIC) for HDF5 and NetCDF.

`module use /gpfs/dell2/emc/modeling/noscrub/Kyle.Gerheiser/hpc-stack/netcdf-install/modulefiles/stack`

[code]

Same thing for HDF5

[2021-01-29 14:37] MichaelLueken commented on #149
@kgerheiser The GSI fails to compile with the new shared and static HDF5 and NetCDF libraries.  For static, the following causes compilation failure:

ld: cannot find -lnetcdff
ld: cannot find -lhdf5_hl
ld: cannot find -lhdf5
ld: cannot find -lnetcdf
ld: cannot find -lhdf5_hl
ld: cannot find -lhdf5

Also, while CMake is configuring, there are messages:

CMake Warning at src/ncdiag/CMakeLists.txt:1

[2021-01-29 15:39] MichaelLueken commented on #149
Out of curiosity, what changes were made between the hpc-stack built NetCDF and HDF5 libraries vs NCO (WCOSS_D) and NCEPLIBS (Hera) that require the use of a new CMake module?  If the GSI's original FindNetCDF.cmake module could work with the hpc-stack built libraries, everything might work without an issue.

[2021-01-29 16:20] kgerheiser commented on #149
The linking problem is my fault. I thought I would be able build both static and shared and just change the module/install path. Looks like that doesn't work.

What do you mean about a new CMake module?

[2021-01-29 16:37] MichaelLueken commented on #149
The GSI fails to build using hpc-stack, unless the FindNetCDF.cmake module in:

https://github.com/NOAA-EMC/GSI/blob/master/cmake/Modules/FindNetCDF.cmake

is replaced with the FindNetCDF.cmake module in:

https://github.com/NOAA-EMC/CMakeModules/blob/develop/Modules/FindNetCDF.cmake

So, since a new version of the FindNetCDF.cmake module is required to build the GSI using hpc-stack, it would appe

[2021-01-29 18:04] edwardhartnett commented on #149
Do the two different FindNetCDF files find different versions of the library? Or do they set some other options that would explain the difference in output? Because just shared vs. static should not produce any changes in output. Both netCDF and HDF5 have thousands of tests, which run in both static and shared builds. If there was a difference in output, we would know about it.

[2021-01-29 18:11] aerorahul commented on #149
The `FindNetCDF.cmake` in the GSI should be replaced with the one in `CMakeModules`.
The later uses `nc-config`, `nf-config` and `ncxx4-config` to determine the libraries and their dependencies.  The GSI `FindNetCDF.cmake` will not return the HDF5 and Zlib libraries used to link with `netcdf` library.
The `CMakeModules` version also supports the user request for STATIC or SHARED version of the lib

[2021-01-29 18:14] aerorahul commented on #149
The error reported in comment https://github.com/NOAA-EMC/hpc-stack/issues/149#issuecomment-769842747 is because the GSI's `FindNetCDF.cmake` does not return where the dependencies are.

[2021-01-29 19:49] MichaelLueken commented on #149
@aerorahul The error you noted was using CMakeModules FindNetCDF.cmake.  As a matter of fact, the entire reproducibility issue is due to CMakeModules FindNetCDF.cmake module.  For static libraries, this FindNetCDF.cmake module file adds extra "-lm" entries during the dynamic linking of the final executables.  The use of different math libraries are leading to non-reproducible results.

Many thanks

[2021-01-29 20:01] aerorahul commented on #149
Ok. So this is not a hpc-stack issue.

[2021-01-29 20:28] RussTreadon-NOAA commented on #149
build/src/gsi/CMakeFiles/global_gsi.x.dir/load.txt contains

`../../lib/libgsilib_shrd.a -L/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/impi-18.0.1/netcdf/4.7.4/lib -lnetcdff -L/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/impi-18.0.1/netcdf/4.7.4/lib -L/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/impi-18.0

[2021-01-29 20:49] kgerheiser commented on #149
Ah, that would explain it.

Could you run `ldd` on the executables and see the exact math library that is being linked to that's different?

I think `-lm` comes from `nc-config` which is used internally in `FindNetCDF.cmake`.

[2021-01-29 22:14] RussTreadon-NOAA commented on #149
I'm not sure what to look for.  I see libm and libmkl listed in "ldd global_gsi.x" from both builds.

The hpc/1.1.0 build with -lm found twice in load.txt has libm.so.6 listed as the third library.   libmkl_intel_lp64.so, libmkl_intel_thread.so, libmkl_core.so, and libiomp5.so are listed 8th to 11th.

The re-link without -lm has libm.so.6 as the 11th entry after libmkl_intel_lp64.so, libmkl_intel_

[2021-01-29 22:34] kgerheiser commented on #149
You would want to look at whether the shared libraries each executable is linking to at runtime is the same, like `/lib64/libm.so`. Which shared libraries are used also depend on current environment as well, so you want to have the same modules that are loaded as when running the executable when you run `ldd`.

And that is also why we avoid shared libraries.

[2021-02-01 00:46] RussTreadon-NOAA commented on #149
Apply Mark Potts suggestion in reserve to WCOSS_D build of NOAA-EMC/GSI master.
- add `-lm` to master/build/src/gsi/CMakeFiles/global_gsi.x.dir/load.txt
- execute `load.txt`
- run `global_gsi.x` in v16 based rungsi script
- run `global_gsi.x` built from [GSI PR #107](https://github.com/NOAA-EMC/GSI/pull/107) using `hpc/1.1.0` on WCOSS_D using same rungsi script
- two GSI analyses are identical

Th

[2021-02-01 03:20] RussTreadon-NOAA commented on #149
The Hera GSI build specifies `-fp-model source` whereas the WCOSS_D build specifies `-fp-model strict`.   Rebuild GSI master and pr107 on WCOSS_D with `-fp-model source`.   Now the GSI master built with NCO modules and GSI pr107 built with hpc/1.1.0 yield identical analyses for 14 of 19 DA regression tests running on WCOSS_D.  5 tests are still running.

Interestingly, the Hera and WCOSS_D EnKF bu

[2021-02-02 15:04] RobertoPadilla-NOAA commented on #137
Was the solution tested in Hera and Orion?
@JessicaMeixner-NOAA was the solution committed to the  feature/coupled-crow branch?
If so, was that branch tested or should I run a test on both machines?

[2021-02-02 15:10] JessicaMeixner-NOAA commented on #137
@RobertoPadilla-NOAA it was tested on orion where @kgerheiser made the test module available.   It will not be tested on hera or pushed to feature/coupled-crow until the new Jasper module is made available on all the machines through hpc-stack.  At this point we're waiting for that to happen and no other action by you is required at this time.

[2021-02-03 15:08] arunchawla-NOAA commented on #137
@kgerheiser Do we have an updated version of the Jasper libraries with hpc-stack that addresses this ?

[2021-02-03 15:24] kgerheiser commented on #137
There is no released version with that fix yet. I took the fix from their main branch from a commit a few days ago.

We could install the master branch until a release version is out.

Or you could use the non hpc-stack version of Jasper.

[2021-02-03 15:42] arunchawla-NOAA commented on #137
@kgerheiser a suggestion was made to use a different compression so we can avoid jasper all together.

[2021-02-03 15:45] arunchawla-NOAA commented on #137
Jessica will reach out to you to see if we can use a non jasper compression algorithm in the library call

[2021-02-03 18:52] aliabdolali opened #150 "Add support for WW3 parallelization on unstructured grid using Metis and Parmetis Libraries"
**Is your feature request related to a problem? Please describe.**
WW3 model on unstructured grids requires two libraries for its parallelization: Metis and Parmetis
We need them on NOAA HPC's like Hera, Orion, and WCOSS with intel and impi.

I have compiled these two libraries on Hera and Orion successfully, following the steps described below:

**How to compile**

Download the Metis and Parmetis

[2021-02-03 20:18] RussTreadon-NOAA commented on #149
The above statement is **WRONG**.   I was not testing the configurations I thought I was testing.

Mike merged NOAA-EMC/GSI [PR#107](https://github.com/NOAA-EMC/GSI/pull/107) into the NOAA-EMC/GSI master at [ade4c6b](https://github.com/NOAA-EMC/GSI/commit/ade4c6b833d6a42f017748adf9a5b2e4704a5c74).   This merge brought hpc/1.1.0 into the modulefile used for the Hera build.  It also updated cmake fi

[2021-02-04 17:52] kgerheiser commented on #149
I don't know why they would use g++ as their C++ compiler. CXX might not have been set and it picks up g++ as the default?

Does GSI use NetCDF C++?

I'm looking closely at the C++ flags. I can tell where each part is coming from, but I'm not sure why flags are being repeated. Something might be off there.

Like `-L/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/zlib/1.

[2021-02-04 18:51] RussTreadon-NOAA commented on #149
Thanks, Kyle, for the reply.

I'm not sure if the following answers your question, "Does GSI use NetCDF C++?".

I did not add the netCDF interface to the GSI.  Nor did I add the cmake build system, but here is what I see & did:

[src/gsi/CMakelists.txt](https://github.com/NOAA-EMC/GSI/blob/master/src/gsi/CMakeLists.txt) includes both ${NETCDF_Fortran_LIBRARIES} and ${NETCDF_C_LIBRARIES} as target_

[2021-02-04 18:54] aerorahul commented on #149
@kgerheiser @RussTreadon-NOAA
GSI does not use C++ NetCDF api.  It uses the Fortran API.  The Fortran API depends on the C library.

[2021-02-04 21:08] Hang-Lei-NOAA opened #151 "NCO feedback on the hpc-stack installations on wcoss 2"
Kyle and I have installed hpc-stack v1.1.0 on wcoss 2 for testing.
Following are NCO requires to change:

Change the installation path like libs/hpc-stack/ips-18.0.1.163/ into libs/hpc-stack/ips/18.0.1.163/
the version should be separated from the compiler name for a complete vertical structure.

Default relative path instead of true path to make the hpc-stack installation relocable.

wgrib2:
  -W

[2021-02-04 21:27] RussTreadon-NOAA commented on #149
Rahul suggested some changes which I'm incrementally making in a working copy of the NOAA-EMC/GSI master.   Now global_gsi.x built from NCO/IBM modules and hpc/1.1.0 modules yield identical initial penalties.   Results differ in the minimization.

[2021-02-04 21:35] aerorahul commented on #151
I don't understand the comment regarding "total vertical structure"
Are they suggesting that the libraries installed under `<prefix>/ips-18.0.1.163/` should be `<prefix>/ips/18.0.1.163`?
If so, that can be done, but will need changes in all the modulefiles to adapt to this way. The software packages can be stored in many ways.  We followed the recommendation from the LMod site [here](https://lmod.

[2021-02-05 17:17] edwardhartnett opened #152 "new post upp lib and a new ESMF lib installed in hpc-stack in the next couple of weeks"
From @junwang-noaa

we will need a new post upp lib and a new ESMF lib installed in hpc-stack in the next couple of weeks

[2021-02-05 17:32] Hang-Lei-NOAA commented on #152
Okay, no problem. upp v10.0.1, 10.0.2, 10.0.3 and esmf 8_1_0_beta_snapshot_27
 and 8_1_0_beta_snapshot_36 have been installed. Please let me know what new versions, once they are released.

[2021-02-05 21:24] aerorahul opened #153 "fv3gfs_ncio"
In GFS v16 the model (UFS) will start producing netCDF output (as opposed to nemsio).  The analysis system (GSI) and utilities such as recentering the ensemble in the workflow, GEFS and others use an netCDF user-interface library [here](https://github.com/NOAA-EMC/GSI/tree/master/src/fv3gfs_ncio) to read and write netCDF files produced by the model.  It is built as a self-contained library in the

[2021-02-06 00:12] RussTreadon-NOAA commented on #149
I tinkered with [src/gsi/CMakeLists.txt](https://github.com/NOAA-EMC/GSI/blob/master/src/gsi/CMakeLists.txt) in a working copy of the [NOAA-EMC/GSI master](https://github.com/NOAA-EMC/GSI/tree/master).  As noted before adding `-lm` to `target_link_libraries`, allows a global_gsi.x built using NCO/IBM modules to reproduce output from a global_gsi.x built from hpc/1.1.0.

Ran a series of tests in wh

[2021-02-06 03:10] RussTreadon-NOAA commented on #149
One final test.   Repeat the above exercise with global_gsi.x built using hpc/1.1.0 modules.   With hpc/1.1.0 `-lm` is included in `$NETCDF_C_LIBRARIES`
[code]
Build hpc/1.1.0 global_gsi.x with `$NETCDF_C_LIBRARIES` before `$CORE_LIBRARIES`.  global_gsi.x reproduces results from original hpc/1.1.0 global_gsi.x executable.

Move `$NETCDF_C_LIBRARIES` after `$CORE_LIBRARIES`, recompile, and rerun.

[2021-02-06 14:45] edwardhartnett commented on #149
Probably what is happening is that one of the CORE_LIBRARIES also defines a math function that is in lm. So the order of libraries will determine which function gets used. If the functions are slightly different, this could explain the difference in output.

[2021-02-08 16:35] RussTreadon-NOAA commented on #149
Thank you, Ed, for your reply.   I agree, though I do not know which library in `$CORE_LIBRARIES` might be defining a math function also found in `lm`.  Maybe it's sp.   I won't dig into this at present.

It would be useful to note in the [hpc-stack wiki](https://github.com/NOAA-EMC/hpc-stack/wiki) or a readme file that hpc/1.1.0 module `netcdf/4.7.4` defines `$NETCDF_C_LIBRARIES` as

`-L/gpfs/del

[2021-02-08 18:16] climbfuji opened #155 "Develop doesn't build on Cheyenne (with GNU 10.1.0)"
**Describe the bug**
Trying to build hpc-stack develop (or v1.1.0) on Cheyenne with GNU 10.1.0, same as done previously and successfully for v1.1.0) with GNU 9.1.0.

With develop:
- fails to build udunits-2.2.26 - this one is checked out from a new location
    - copying the old udunits-2.2.26 source code from an existing hpc-stack v1.1.0 src directory works
- need to define `HDF5_ROOT` for buildi

[2021-02-08 18:44] kgerheiser commented on #155
The updated build of udunits would explain the one, but it builds elsewhere fine.

For HDF5 do you see the HDF5 module loaded when it starts to build NetCDF?

[2021-02-08 19:31] aerorahul commented on #155
Can you post the log file `netcdf.log`?
It should load the module for HDF5 and set the variable `HDF5_ROOT`.

[2021-02-08 19:46] aerorahul opened #156 "Add nceplibs-ncio to hpc-stack."
[NCEPLIBS-ncio](https://github.com/NOAA-EMC/NCEPLIBS-ncio) is a library used in the GSI and global-workflow to handle UFS netCDF output.
Until recently, the GSI packages this in its repository, but has been extracted and placed in its own repo for use with applications.

**Describe the solution you'd like**
Update `build_nceplibs.sh` to include nceplibs-ncio

[2021-02-08 21:04] climbfuji commented on #155
I think I know what happens. For some reason, it is loading hdf5/1.10.7 - a default module provided by the HPC admins - and not the hpc-stack version hdf5/1.10.6. I'll need to dig a bit further to understand why ...

[2021-02-08 21:11] climbfuji commented on #155
Ok, got it. The stack script must issue just a `module load hdf5` instead of `module load hdf5/1.10.6`. It's picking the newer one 1.10.7 from the sys modules, even though the module directory `/glade/p/ral/jntp/GMTB/tools/hpc-stack-v1.1.0/modulefiles/mpi/gnu/10.1.0/mpt/2.22` shows first in the list:
[code]
then
[code]
then
[code]
then
[code]

[2021-02-08 21:12] climbfuji commented on #155
This bug is everywhere:
[code]
All of the module load commands must load the correct version explicitly.

[2021-02-08 21:24] aerorahul commented on #155
It is not a bug.
This is how module hierarchy works.  When you put your stack on top of it, the default module is the one that is in the path first.

But, yes. We should add explicit versions to load in our module loads.  That enhancement will take some work.

[2021-02-08 21:25] aerorahul commented on #155
@climbfuji
Can you list the contents of this directory:
[code]

[2021-02-08 21:28] climbfuji commented on #155
[code]
but if you look at `module av`, you see that the default is already "taken" by the sys module 1.10.7:
[code]
with
[code]

[2021-02-08 21:47] #156 closed, assigned to aerorahul

[2021-02-08 21:51] climbfuji commented on #155
Just for your info, I simply copied the hpc-stack 1.10.6 module to 1.10.8, linked it as `default` and then did a `module load hdf5`. Result: it loaded the 1.10.8. Seems like of there are two default modules it will load the newer one in the absence of a version identifier.

[2021-02-08 21:54] aerorahul commented on #155
I am trying to make sense of this:
https://lmod.readthedocs.io/en/latest/060_locating.html
The "Find First" vs "Find Best" section when there are multiple "default" modules.

[2021-02-08 22:13] aerorahul opened #158 "need nceplibs-ncio to be built in the hpc-stack on orion/hera/wcoss_dell_p3"
To continue on the work of global-workflow porting to hpc-stack, nceplibs-ncio needs to be added to the hpc-stack installation **v1.1.0** on hera, orion and wcoss_dell_p3

**Describe the solution you'd like**
add nceplibs-ncio `develop` to the installation path of hpc-stack v1.1.0 on hera, orion and wcoss_dell_p3

[2021-02-09 02:31] arunchawla-NOAA commented on #150
Are the parmetis and Metis libraries true open source development projects? I am worried that if this is just a university project it will not be acceptable as an operational library solution

[2021-02-09 02:33] arunchawla-NOAA commented on #146
@edwardhartnett is this possible to support? Is this awaiting the go ahead from NCO for the libraries?

[2021-02-09 02:35] arunchawla-NOAA commented on #137
@kgerheiser did we make any progress in removing jasper from the g2 library ? Did that work ?

[2021-02-09 02:38] arunchawla-NOAA commented on #142
@kgerheiser and @edwardhartnett is it worthwhile to open a Known issues wiki page. Information in this issue is exactly the kind of thing that can be placed there and then this issue can be closed.

[2021-02-09 02:44] arunchawla-NOAA commented on #120
@kgerheiser @edwardhartnett and @GeorgeVandenberghe-NOAA my apologies but I am revisiting this after clearing up my desk of other to do items. Is this something that needs attention?

[2021-02-09 02:47] arunchawla-NOAA commented on #32
@edwardhartnett @kgerheiser @Hang-Lei-NOAA What is the status of this issue? There is another issue opened up on NCO requirements on version number naming scheme in the directory layout ? Are these two related?

[2021-02-09 02:55] Hang-Lei-NOAA commented on #32
Hi, Arun,
The hpc-stack-nco branch has been denied on nceplibs meeting, and has been
removed.
Then we installed the release v1.1.0 on the wcoss2.
NCO has reviewed it and given their additional requirements as summarized
on the new ticket #151.
NCEPLIBS group has not discussed what to accept and what to deny.
We will follow the NCEPLIBS team decision to make the modifications.

On Mon, Feb 8, 2021

[2021-02-09 03:09] aliabdolali commented on #150
@arunchawla-NOAA
Here is their Copyright & License Notice

ParMETIS is copyrighted by the Regents of the University of Minnesota. **It can be freely used for educational and research purposes by non-profit institutions and US government agencies only.** Other organizations are allowed to use ParMETIS only for evaluation purposes, and any further uses will require prior approval. The software may n

[2021-02-09 14:47] climbfuji commented on #155
It gets even better ... to test gnu 10.1.0 on cheyenne with hpc-stack, I replaced all `module load hdf5` with `module load hdf5/1.10.6` and all `module load netcdf` with `module load netcdf/4.7.4`. This loads the correct hdf5 and netcdf module (from hpc-stack), however the load of the netcdf/4.7.4 module triggers a reload of hdf5/1.10.7.

It seems that the lua environment for some reason "remember

[2021-02-09 14:49] edwardhartnett commented on #155
Question: don't we build on Cheyenne every day with a cron job?

[2021-02-09 15:21] climbfuji commented on #155
I don't know anything about daily tests with a cron job, and I don't think NCEPLiBs people other than me and perhaps you have access to that platform. It used to build just fine with tag v1.1.0 and GNU 9.1.0, no changes needed, just checkout and run the two commands.

[2021-02-09 16:00] kgerheiser commented on #137
No, I haven't done that yet. I will see if I can do that today.

[2021-02-09 16:01] kgerheiser commented on #142
We have something like that in the README, but making a separate, more easily editable page wouldn't be a bad idea.

[2021-02-09 16:13] edwardhartnett commented on #155
OK, thanks. I don't have access to Cheyenne.

There is a cron file somewhere in the repo, which, if you set it up, will test the develop branch of hpc-stack every day, preventing unpleasant surprises.

[2021-02-09 16:15] edwardhartnett commented on #142
Good idea about the wiki. I will add a section...

I also contacted my former colleague Steve Emerson about leaving old versions on the site. He reluctantly agreed to change his ways and leave them up.

[2021-02-09 16:15] climbfuji commented on #155
I'd love to attend the hpc-stack meetings to stay informed, but unfortunately it collides with a CCPP meeting that has been on my schedule for much longer.

[2021-02-09 16:16] kgerheiser commented on #155
Maybe a `module unuse <path>` would help?

[2021-02-09 16:19] climbfuji commented on #155
I tried, but that doesn't work :-( If I do that, then the ncar compiler and environment modules become inactive and I don't have mpicc etc in my path anymore.

I could do all that and then set PATH etc manually, but it seems to me that the CISL admins set this up in an awkward way. Something must be overwriting/messing up the lua modules.

[2021-02-09 16:41] WalterKolczynski-NOAA commented on #137
If Jasper can't be removed quickly, I'm hoping we can get a point release of hpc-stack with the Jasper fix so we can move forward in the meantime.

[2021-02-09 16:45] kgerheiser commented on #137
Looks like there's a new release of Jasper, 2.0.25, with the fix. I think we should update to that immediately, and we'll continue to look at phasing out Jasper.

[2021-02-09 18:10] Hang-Lei-NOAA commented on #158
ncio/1.0.0 have been added to hpc-stack on hera and wcoss dell

[2021-02-09 18:50] edwardhartnett commented on #158
We have not done an NCEPLIBS-ncio 1.0.0 release yet. Are you referring to a tag? Or do we need to do a release today?

[2021-02-09 18:53] Hang-Lei-NOAA commented on #158
Yes, we can do a release today.
Current hpc-stack is based on develop branch.
On Tue, Feb 9, 2021 at 1:50 PM Edward Hartnett <notifications@github.com>
wrote:

[2021-02-09 18:54] aerorahul commented on #158
@edwardhartnett
Feel free to make a release when you are comfortable and ready.  At which point, the current installation of `develop` on the 3 machines can be replaced with the released version.

[2021-02-09 18:58] edwardhartnett commented on #158
OK, if we can give it a few days, Jeff's converting some test code, and I can write some quick tests, before the 1.0.0 release...

[2021-02-09 20:22] climbfuji commented on #155
Update. Based on some recommendations from the CISL sysadmins, I could work around the module dependency issue. But the ESMF linker problem `undefined reference to `void ESMCI::check_overflow` is still there.

[2021-02-10 15:17] #137 closed, assigned to nobody

[2021-02-11 18:43] kgerheiser commented on #155
The Udunits build is fixed and there's a workaround for the module issue.

Any idea on the problem with ESMF? I am able to build ESMF with GCC 10 elsewhere.

[2021-02-11 19:50] climbfuji commented on #155
I had to add at least the GNU 10 flags locally after checking out develop - did you have to do the same, or did I forget something else?

[2021-02-11 19:58] kgerheiser commented on #155
Yes, that's a legitimate thing that should be fixed. Those flags should be added `ESMF_F90COMPILEOPTS` somehow. But I don't know about the undefined references.

[2021-02-11 20:46] kgerheiser commented on #137
@JessicaMeixner-NOAA or @WalterKolczynski-NOAA would you try out my nightly build of hpc-stack (develop)? I just want to make sure that the fix works before we install it everywhere.

[code]

I have it built on Hera and Orion and it contains Jasper 2.0.25.

[2021-02-11 21:01] WalterKolczynski-NOAA commented on #137
@kgerheiser What about WCOSS Dell?

[2021-02-11 21:24] kgerheiser commented on #137
I don't have a test build on there at the moment. I can do one if you like. I have a cron job set to build and test hpc-stack, but cron doesn't work on WCOSS Dell.

[2021-02-11 21:25] WalterKolczynski-NOAA commented on #137
On Hera:
- The current hpc/1.1.0 has esmf/8_1_0_beta_snapshot_36, but the nightly build only has snapshot 27. Don't know if this will be an issue.
- WGRIB_LIB and WGRIB2_LIBAPI are not set correctly. This had previously been fixed by Hang, but it looks like those changes didn't make it back.

[2021-02-11 21:31] kgerheiser commented on #137
The ESMF thing doesn't matter.

That's a good catch. We recently fixed that in the code so it wasn't hardcoded, but wgrib2 was missed. I have fixed it in the existing build.

[2021-02-11 21:35] WalterKolczynski-NOAA commented on #137
I've never had a problem with cron on WCOSS Dell. Are you using the mycrontab file?

[2021-02-11 21:36] kgerheiser commented on #137
No, how do I do that?

[2021-02-11 21:55] WalterKolczynski-NOAA commented on #137
In your home directory, there should be a cron directory with a file named mycrontab inside. Works just like editing a normal crontab, except it will automatically be turned on/off when production switches (and you don't have to play 'which login node did I put the cron job on?').

[2021-02-11 21:59] JessicaMeixner-NOAA commented on #137
@WalterKolczynski-NOAA do you have the testing done? I could run my quick test set-up for this case on orion if that would help.  I'm just switching out the jasper or did you want me to use the whole hpc-stack from the nightly build?

[2021-02-11 22:00] kgerheiser commented on #137
Just use the whole hpc-stack. Everything should work.

[2021-02-11 22:01] WalterKolczynski-NOAA commented on #137
On Hera, a bunch more wrong envvar libs:
- landsfcutil/2.4.1
- ip/3.3.3
- sp/2.3.3
- w3nco/2.4.1
- bacio/2.4.1

[2021-02-11 22:01] WalterKolczynski-NOAA commented on #137
I'm trying to get everything built and setup now

[2021-02-11 22:09] kgerheiser commented on #137
Yep, just realized that would happen. Sorry, about that. I fixed them.

[2021-02-11 22:11] WalterKolczynski-NOAA commented on #137
It looks like Orion has the same lib variable issues.

[2021-02-11 22:16] JessicaMeixner-NOAA commented on #137
@kgerheiser on my test on orion, I'm getting that the following two variables which I use when building the model:

G2_LIB4=/work/noaa/stmp/gkyle/stmp/gkyle/hpc-stack/nightly-develop/install/intel-2018.4/g2/3.4.1/lib64/libg2_4.a
W3NCO_LIB4=/work/noaa/stmp/gkyle/stmp/gkyle/hpc-stack/nightly-develop/install/intel-2018.4/w3nco/2.4.1/lib64/libw3nco_4.a

don't actually exist.

The modules I used:
modul

[2021-02-11 22:45] kgerheiser commented on #137
I believe I have fixed all the modules in both of the builds. I also put in a PR #163 to fix it.

[2021-02-11 22:48] WalterKolczynski-NOAA commented on #137
@JessicaMeixner-NOAA looks like the pio version has to be updated to 2.5.2 as well

[2021-02-11 22:53] kgerheiser commented on #137
PIO 2.5.1 will also be there, but 2.5.2 is now the version we're moving to. Feel free to remain on 2.5.1 for now.

[2021-02-11 22:57] WalterKolczynski-NOAA commented on #137
It isn't available in the nightly build, which makes it difficult to test without changing.

[2021-02-11 23:30] JessicaMeixner-NOAA commented on #137
I don't need pio to test, but I do need the libraries to exist/link to, to be able to test ww3_grib.

[2021-02-11 23:31] WalterKolczynski-NOAA commented on #137
I needed it to build the model.

[2021-02-11 23:38] WalterKolczynski-NOAA commented on #137
I've successfully built on both Hera and Orion using the nightly build.

[2021-02-12 12:46] JessicaMeixner-NOAA commented on #137
@WalterKolczynski-NOAA what do you use for G2_LIB4 and W3NCO_LIB4 ?

[2021-02-12 16:49] WalterKolczynski-NOAA commented on #137
I didn't make any changes to the model except the jasper and pio versions. The build log says:

G2_LIB4=/apps/contrib/NCEP/libs/hpc-stack/intel-2018.4/g2/3.4.1/lib/libg2_4.a
W3NCO_LIB4=/apps/contrib/NCEP/libs/hpc-stack/intel-2018.4/w3nco/2.4.1/lib/libw3nco_4.a

[2021-02-13 11:24] edwardhartnett opened #164 "Question from user about how to use NCEPLIBS on WCOSS machine"
Question from a user:

[code]

[2021-02-13 17:01] Hang-Lei-NOAA commented on #164
Hi, Partha,

I noticed that you are using the NCO style NCEPLIBS.
The correct way to use library in the old way is to give the path of
library file, not modulefiles.
For example, if you want to use nemsio library. The modulefile is
on /scratch2/NCEPDEV/nwprod/NCEPLIBS/modulefiles/nemsio/2.2.4 but the
library file is on
/scratch2/NCEPDEV/nwprod/NCEPLIBS/compilers/intel/
19.0.4.243/lib/libnemsio_v2.

[2021-02-13 17:14] GeorgeVandenberghe-NOAA opened #165 "jasper/v2.0.22 contains a bug. Upgrade to Jasper/v.2.0.25."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**System:**
What system(s) are you running the code on?

**Additional context**
Add any other context about the problem here.

[2021-02-13 17:19] GeorgeVandenberghe-NOAA commented on #165
Jasper/2.0.22 does not properly encode/decode JPEG2000 files when compiled with the intel fortran compiler at level 18.x or 19.x.   This has been demonstrated on WCOSS2 and WCOSS-P3 and hera  and is suspected everywhere.  We need to rebuild  the stack using Jasper/2.0.25.  This fixes the problem but all things depending on Jasper must also be rebuilt.  It is unknown how far back this goes but Jasp

[2021-02-16 15:22] JessicaMeixner-NOAA commented on #137
I ran a test on orion and it worked for my test case @kgerheiser sorry it took a while

[2021-02-16 15:39] aerorahul commented on #146
These libraries are part of the hpc-stack already and are being built.  We are not asking the NCEPLIBS team at this point for any specific support of the JEDI components other than a build.  If a build fails, @aerorahul will investigate and provide a solution, until this is a NCEPLIBS responsibilty.
These JEDI specific libraries **will not** be built on WCOSS machines without prior approval from N

[2021-02-16 15:39] #146 closed, assigned to nobody

[2021-02-16 15:39] aerorahul commented on #142
Fixed as part of update of udunits

[2021-02-16 15:39] #142 closed, assigned to nobody

[2021-02-16 15:40] aerorahul commented on #164
This is not an hpc-stack related issue.

[2021-02-16 15:40] #164 closed, assigned to Hang-Lei-NOAA

[2021-02-16 15:41] aerorahul commented on #165
upgraded to 2.0.25 in develop.

[2021-02-16 15:42] aerorahul commented on #50
fixed by updating udunits.

[2021-02-16 15:42] #50 closed, assigned to aerorahul

[2021-02-16 15:43] aerorahul commented on #108
Any progress on this issue?

[2021-02-16 15:43] aerorahul commented on #100
There are a multiple issues open with hpc-stack and wcoss2 (acorn).
Please consolidate.

[2021-02-16 15:44] aerorahul commented on #101
@jprestop
Do you have an update for us on this issue?

[2021-02-16 15:45] aerorahul commented on #119
Is this still an issue?

[2021-02-16 15:47] GeorgeVandenberghe-NOAA commented on #119
no.  It's fine now.

On Tue, Feb 16, 2021 at 10:45 AM Rahul Mahajan <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2021-02-16 15:49] aerorahul commented on #102
@junwang-noaa @DusanJovic-NOAA @DeniseWorthen
Please let us know if you want PIO with or without PnetCDF.
I will either resolve or close this issue at the end of the week depending on your response/non-response.

[2021-02-16 15:50] aerorahul commented on #119
closing.

[2021-02-16 15:50] #119 closed, assigned to kgerheiser

[2021-02-16 15:56] DusanJovic-NOAA commented on #102
The UFS components I'm familiar with (fv3, fms, ccpp etc) are not using PIO (nor PNetCDF).

[2021-02-16 16:00] junwang-noaa commented on #102
I am not clear what components will use the capability of PIO built with
Pnetcdf and how it benefits UFS. Can someone who made the request show some
results?

On Tue, Feb 16, 2021 at 10:50 AM Rahul Mahajan <notifications@github.com>
wrote:

[2021-02-16 16:06] aerorahul commented on #102
@edwardhartnett wants to build PIO with PNetCDF in the hpc-stack.  PIO uses PnetCDF for writing out netCDF classic format files.  NetCDF4 does not use PnetCDF.  I am sure there is more to it.

There is currently no application in the UFS (or JEDI), that uses PIO with PNetCDF.  Both applications leverage netCDF-4 with HDF5 layer to achieve parallelism.

@edwardhartnett Do you want to take this on?

[2021-02-16 16:08] edwardhartnett commented on #102
@junwang-noaa I am one of the authors of PIO and did a paper/poster (with Jim Edwards) for the AMS with explanation and some performance analysis:
https://www.researchgate.net/publication/348169990_THE_PARALLELIO_PIO_CFORTRAN_LIBRARIES_FOR_SCALABLE_HPC_PERFORMANCE

I'm not really familiar with why PIO ended up in our hpc-stack. Some NOAA or NCAR models are using it, apparently. (CIME does, IIRC.)

[2021-02-16 16:10] edwardhartnett commented on #108
No but it is not assigned to the next release. ;-)

[2021-02-16 16:31] WenMeng-NOAA commented on #119
It works in UPP building.

[2021-02-16 18:13] kgerheiser commented on #165
I want to re-open this just to track the installation.

Hang and I are installing Jasper 2.0.25 and re-compiling grib_util and wgrib2. I have completed Orion and Jet, and @Hang-Lei-NOAA is working on WCOSS and Hera.

@climbfuji could you do the same on Cheyenne and Gaea? It is needed for Intel only.

What I did was this:

[code]

[2021-02-16 18:38] arunchawla-NOAA commented on #165
@kgerheiser does this work with the waves grib code?

[2021-02-16 18:41] kgerheiser commented on #165
Yes

[2021-02-16 20:04] jprestop commented on #101
@aerorahul
Hi Rahul.  I have been working with Kyle to resolve some problems I experienced in trying to test the scripts I added.  I had issues loading and building the necessary modules on WCOSS that were required for MET.  With Kyle's (@kgerheiser) help, I was able to resolve those issue and am now able to work on testing the MET build.  There are errors occurring in the make.log file for MET th

[2021-02-16 20:07] aerorahul commented on #101
@jprestop
Thanks for the update.  I was mainly making sure this is progressing.

[2021-02-16 23:52] climbfuji commented on #165
This is for the existing hpc-stack 1.1.0, right?

[2021-02-16 23:54] climbfuji commented on #165
Do grib_util, jasper and wgrib2 each have a new version number? I am not going to overwrite the existing versions on a tier-1 platform.

[2021-02-17 13:55] kgerheiser commented on #165
No, it's not a problem with the version of grib_util or wgrib2. The executables as built with Jasper 2.0.22 are broken.

[2021-02-17 14:36] climbfuji commented on #165
Ok, thanks.

[2021-02-17 14:52] GeorgeVandenberghe-NOAA opened #166 "Test plan for new releases of dependencies."
HPC-STACK builds the NOAA software stack and downloads MANY independent software packages to do this.
From time to time versions of these packages change.

Sometimes these new versions have bugs

If the versions are not tested, the bugs can propagate deep into the stack implementation before discovery and require rebuild of all sections of the stack using a package with a bug.

This is best preven

[2021-02-17 20:29] arunchawla-NOAA commented on #151
has the issues highlighted by NCO been taken care of here?

[2021-02-17 20:31] arunchawla-NOAA commented on #151
I really would like this taken care off as we do not ant a non hpc-stack solution on WCOSS2. Please make this a high priority

[2021-02-17 20:36] Hang-Lei-NOAA commented on #151
We will discuss this at tomorrow's nceplibs meeting.

On Wed, Feb 17, 2021 at 3:31 PM arun chawla <notifications@github.com>
wrote:

[2021-02-18 01:09] WalterKolczynski-NOAA opened #167 "Add additional modules to hpc-stack for coupled workflow"
There are still some modules that are used by the coupled workflow that are not included under hpc-stack v 1.1.0 and are only available via the standard system modules:

[nco](http://nco.sourceforge.net/) (NetCDF operators)
- Current WCOSS-Dell version:
- Current Hera version: nco/4.9.1
- Current Orion version: nco/4.8.1 nco/4.9.3

[gempak](https://www.unidata.ucar.edu/software/gempak)
- Current W

[2021-02-18 14:21] JessicaMeixner-NOAA commented on #167
I thought cdo had been added: https://github.com/NOAA-EMC/hpc-stack/issues/82
It's also used by the develop branch when coupling w/waves.  Which feature/coupled-crow job is using gempak?

[2021-02-18 15:13] aerorahul commented on #167
@WalterKolczynski-NOAA
What are the use cases of gempak and NCL. nco and cdo are widely used across applications.   Both are part of the stack and probably just need to turn them ON.  Last I checked NCO was having build failures. CDO worked.
How many users use it?
Are they in operations (I know Gempak is, and NCO supports it).
Are there alternatives to NCL?  NCL is frozen and migration is underway

[2021-02-18 15:17] JessicaMeixner-NOAA commented on #167
ncl is used in the ocean and ice post processing.  Python could be a great alternative to ncl, however there are no current plans I'm aware of to migrate any of these post processing scripts to python.

[2021-02-18 15:26] aerorahul commented on #167
@JessicaMeixner-NOAA
Please ask someone to provide a build script example to build NCL (and any of its dependencies) and we can add it to hpc-stack.
Also, who should we direct questions to if there are issues in the build and use of NCL?

[2021-02-18 15:36] JessicaMeixner-NOAA commented on #167
@WalterKolczynski-NOAA ?

[2021-02-18 15:47] aerorahul commented on #166
@GeorgeVandenberghe-NOAA
@kgerheiser has a nightly build of the hpc-stack `develop` and the UFS `develop`.
After every update to `develop` of hpc-stack (regardless of if UFS uses it or not), a build of UFS and its regression tests is triggered on Hera, Orion and WCOSS Dell P3.
If there are other applications that need to be tested regularly, this exercise can be expanded to those.

Does this addre

[2021-02-18 16:02] GeorgeVandenberghe-NOAA commented on #166
Yes.  That was a great start.  We need to expand to cnvgrib, and cnvgrib2 and then, after the gross wgrib2 issues are fixed, wgrib2.   NetCDF and hdf5 also have extensive tests enabled in their builds.  Make test exercises the tests.  A second level of netcdf and hdf5 parallel testing is also supported in the build but IMO difficult to automate because it requires offline batch jobs or support for

[2021-02-18 16:23] climbfuji commented on #167
Regarding CDO, it doesn't build on any of the systems I tried (linker errors / undefined references for hdf5/netcdf): cheyenne, gaea.

[2021-02-19 01:29] aerorahul commented on #166
UPP is built as part of the stack.
cnvgrib etc are also built as part of the stack. Same with wgrib2. There are no tests for those. The code owners should really add tests rather than relying an application to test their software. These tests are not a substitute for poor practices.
NETCDF and hdf5 have extensive tests and while I agree we should test them, I don't see why we need to test them eve

[2021-02-19 07:02] WalterKolczynski-NOAA commented on #167
I believe gempak is used for AWIPS. I would love to not deal with it, but that's not up to me. It was already ancient when I was first exposed to it almost two decades ago.

I agree that we should be migrating away from NCL, since it has been retired. There are alternatives, but for now we need NCL.

Last time I installed NCL, it was easy, but I did it manually for personal use. I will revisit tha

[2021-02-19 07:20] WalterKolczynski-NOAA commented on #167
Looking now, I probably used conda of a pre-compiled binary.  Putting this together is going to be a bit harder than I thought because of the dependencies.

[2021-02-19 14:29] WenMeng-NOAA opened #168 "Help for disable openmp during cmake build"
**Describe the bug**
The UPP code (EMC_post) is using cmake to build executable and library. I would like get help to turn of openmp option during compiling. Any suggestions are appreciated.

**To Reproduce**
Steps to reproduce the behavior:
My working version is at /scratch1/NCEPDEV/stmp2/Wen.Meng/develop/EMC_post/tests on Hera. I used the build script under tests/compile_upp.sh. The compiling lo

[2021-02-19 14:44] WenMeng-NOAA commented on #168
Close this issue and will open a new one at UPP repository.

[2021-02-19 14:44] #168 closed, assigned to nobody

[2021-02-19 14:47] edwardhartnett commented on #168
Here's a sample from the UFS_UTILS project:

In the top-level CMakeLists.txt:

[code]
In the code directory CMakeLists.txt:

[code]

[2021-02-22 17:32] jprestop commented on #101
@aerorahul
I have submitted a pull request for this work: https://github.com/NOAA-EMC/hpc-stack/pull/169
Please note that, as stated above, for this installation, large files (e.g. FV3 files) over 2GB may not work with MET/METplus using the g2c library version 1.6.2. Once g2c 1.6.3 is integrated into hpc-stack and some lines are removed from build_met.sh in hpc-stack afterward, the g2c library and

[2021-02-22 22:12] RussTreadon-NOAA opened #170 "Orion hpc-intel/2018.4 loads mkl/2020.2"
**Describe the bug**
Orion `hpc-intel/2018.4` loads `mkl/2020.2`

**To Reproduce**
Do the following on Orion:
[code]

**Expected behavior**
Should loading module hpc-intel/2018.4 also load mkl/2020.2?  It seems the user, not hpc-stack, should decide which mkl module to use.   If it is intended for `hpc-intel/2018.4` to load `mkl/2020.2`, this should be documented so developers are aware.  The pres

[2021-02-23 13:33] edwardhartnett commented on #166
OK, I will close this issue.

[2021-02-23 13:33] #166 closed, assigned to nobody

[2021-02-23 14:22] KateFriedman-NOAA commented on #165
@Hang-Lei-NOAA Any timeline on when jasper/2.0.25 will be in hpc/1.1.0 on Venus? The global-workflow workflow utils don't build on Venus after the switch because that library is missing. Thanks!

[2021-02-23 14:25] edwardhartnett commented on #165
Unfortunately @Hang-Lei-NOAA and @kgerheiser are both out this week and will return on Monday. Will that work?

[2021-02-23 14:29] Hang-Lei-NOAA commented on #165
Hi, Kate

These has been updated a week ago.
Please check it.

Thanks,
Hang

On Tue, Feb 23, 2021 at 9:23 AM Kate Friedman <notifications@github.com>
wrote:

[2021-02-23 14:35] KateFriedman-NOAA commented on #165
@Hang-Lei-NOAA Yes I saw the new version installed on Mars last week:

[code]

...but it is not on Venus yet:

[code]

When will jasper/2.0.25 be available on Venus? If it needs to wait for you and Kyle to return from leave I'll wait. Thanks!

[2021-02-23 14:41] Hang-Lei-NOAA commented on #165
Hi, Kate

I passed it to venus. Please check it again.
And let me know if any issue arise.
/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/modulefiles/compiler/ips/
18.0.1.163
----------------------------------------------------------------------
   bacio/2.4.1 (D)    g2/3.4.1     (D)    gfsio/1.4.1     (D)    ip/3.3.3
   (D)    jasper/2.0.25            png/1.6.35      (D)    sigio/2.

[2021-02-23 14:50] KateFriedman-NOAA commented on #165
@Hang-Lei-NOAA Ok I can do a module show of that on Venus and the workflow utils now build. It's odd though...that jasper version still does not show in module avail listings and the workflow utils build failed yesterday because it couldn't find that jasper version in the stack (see below). Does it take time for new versions to propagate? I can build now, thanks! Get back to your leave! :)

[code]

[2021-02-23 15:04] KateFriedman-NOAA commented on #165
@Hang-Lei-NOAA I see it's a cache issue now so I'm all good, thanks for the quick reply to this!

[2021-02-23 17:09] WenMeng-NOAA opened #171 "Installing upp/10.0.4 at the hpc-stack"
**Is your feature request related to a problem? Please describe.**
The UPP code has a new release for supporting regional in-line post capability at ufs-weather-model. Please install upp/10.0.4 at the hpc-stack.

**Describe the solution you'd like**
Download the tag upp.v10.0.4 from EMC_post repository and install as new upp lib upp/10.0.4. Please use "-DBUILD_POSTEXEC=OFF" to build upp library wi

[2021-02-23 19:58] WenMeng-NOAA commented on #171
**The UPP code are currently not thread safe**. When you install upp lib via cmake, please ensure to use dependency libs built without openmp. A reference of upp lib build script was written by Rahaul and can be found at /home/Wen.Meng/bin/build_upp.sh on Hera. Thanks!

[2021-02-23 20:41] aerorahul commented on #171
I think it is better if the UPP group builds and maintains the UPP rather than it being in the hpc-stack.
There seems too many, too often updates to this library/application and has various bugs that require building the stack in one very particular way.  The stack then cannot be used for other applications.  Which means one will have to maintain a stack for each application which defeats the purp

[2021-02-23 20:51] aerorahul commented on #171
It is not appropriate to ask to install every commit to UPP `develop`  into the stack.
Only stable releases should be included in the stack.  development versions need to find a different mechanism.
This issue requests installation of current `develop`.
Issue #140 was opened to install `upp/10.0.3` and was the last commit to the UPP develop.
Before that #136 and #135 were for `10.0.2` and `10.0.1`

[2021-02-23 20:52] arunchawla-NOAA commented on #171
what are the dependency libraries that UPP depends on?

[2021-02-23 20:57] arunchawla-NOAA commented on #171
Wen

HPC-stack cannot install every update to UPP develop. That will not be practical. We need a stable release version of UPP library. If it is being replaced so often does it make more sense to connect to it differently?

[2021-02-23 21:07] edwardhartnett commented on #171
Sometimes just one commit may call for a release, as for example if you fix a terrible bug you discover just after a release. ;-)

However, I agree with Rahul and Arun that we would prefer not to update UPP quite as frequently as has been happening. Are such frequent updates expected to continue?

We are building hpc-stack develop branch via cron task automatically on many machines. Can that be ma

[2021-02-23 21:20] aerorahul commented on #171
@edwardhartnett
I agree with the bugfix statement, but that is not the case here. Clearly.

Also, why would one run the cron for every change in `develop` of the component?  The cron we run executes when there is a change in `hpc-stack` `develop`.
If a component developer wants their latest and greatest to be made available for every update, they can provide a mechanism for it or the application c

[2021-02-23 21:33] edwardhartnett commented on #171
In the netcdf project there is something we call "release fatigue." That's when you release so often that people get sick of it, and don't bother updating.  ;-)

I think 3 - 6 months between releases is reasonable. @WenMeng-NOAA do you think that could work for UPP?

We understand that there may be occasional times when a more sudden release is necessary.

[2021-02-23 22:27] WenMeng-NOAA commented on #171
In recently few months, there are a couple of major upgrades in UPP code for different applications. After this regional in-line post changes (upp/10.0.4), we might not make upp releases so frequently from the develop branch.

[2021-02-23 22:37] WenMeng-NOAA commented on #171
With global in-line post and regional in-line post capability available at the ufs-weather-model, I don't think myself can handle all of in-line and off-line post support, upp library testing and code hand-off. I invite @HuiyaChuang-NOAA in this thread for her comments.

[2021-02-23 22:56] WenMeng-NOAA commented on #171
Will this make sense that keeping the UPP version number file VERSION unchanged in the develop branch unless the major upgrade, we would delivery the hot fix for reinstalling upp lib so that only one or two upp libs kept at the hpc-stack?

[2021-02-24 00:48] arunchawla-NOAA commented on #171
Maybe pause on this till we solve the threading problem? Need to solve the root problem

[2021-02-24 15:10] YaliMao-NOAA opened #172 "Install bufr_dumplist in hpc-stack"
As a downstream of GFS post, WAFS package needs to run 'dumpjb' which requires module bufr_dumplist installed.

[2021-02-24 16:10] aerorahul commented on #172
How is this a bug?
It is a feature request.

[2021-02-24 19:44] arunchawla-NOAA opened #174 "process for feature update to hpc-stack"
Hello

I am seeing a number of requests for enhancements to hpc-stack.

hpc-stack is an infrastructure to install third party and NCEP libraries that are needed by our modeling enterprise. I would like to see a clear process document outlined for what is and is not appropriate for hpc-stack. Utilities that are being used by specific workflows need to be part of that workflow and not hpc-stack.

@e

[2021-02-24 19:46] climbfuji commented on #174
It would be good if you could include a way/set of rules to make sure that the hpc-stack keeps working on non-noaa but still tier-1 platforms for the UFS. It's also partially my fault, partially a scheduling conflict (I cannot attend the hpc-stack meetings), but the current hpc-stack no longer compiles on cheyenne.

[2021-02-24 20:03] GeorgeVandenberghe-NOAA commented on #174
This is of concern because I still expect some new Cloud "thing" with
massive resources and no support and a requirement  from senior
management,( perhaps driven by a congressman), to produce results inside of
a month,  to appear and we are going to have to port FAST to it.  HPC-STACK
is the preferred way to produce a common environment.  But the build has to
be robust on all gnu and intel environ

[2021-02-24 20:13] climbfuji commented on #174
Hey George,

we can't test the whole world, but the more platforms we cover the more likely it is it works elsewhere.

I am specifically talking about predefined tier-1 platforms, of which there is only one outside the NOAA organization (NCAR cheyenne). We (EMC and others) have to agree to a platform becoming tier-1 in the first place, but then there must be a commitment (and a strategy) to keep i

[2021-02-24 21:20] edwardhartnett commented on #174
The current process is that people request it here, if we have approval from EMC to install it, we add it to hpc-stack.

[2021-02-24 21:32] edwardhartnett opened #175 "We need to email to Steve Earle whenever we update any package in hpc-stack"
Whenever we update any package in hpc-stack (as for example recent jasper changes), so that NCO can push to operations if needed.

[2021-02-24 22:39] HuiyaChuang-NOAA commented on #171
@edwardhartnett @arunchawla-NOAA
Hi, Ed and Arun, I understand most libraries are not released that frequently.  However, UPP is constantly updated to support ~8 models and applications.  This will remain the case for next 3 years until all FV3 applications finish their transitions.  Given this, we need to find middle ground.  Should I organize a meeting and talk?

[2021-02-24 23:03] arunchawla-NOAA commented on #171
if UPP is changing very often then perhaps it should be built with the model every time? And added as an external component

[2021-02-25 19:49] HuiyaChuang-NOAA commented on #171
@arunchawla-NOAA @junwang-noaa I'm not sure if this will require a lot of work on infrastructure team to make UPP an external component

[2021-02-25 20:26] ShelleyMelchior-NOAA opened #176 "Add bufr_util to hpc-stack"
In an effort to get all obsproc and decoder related utilites encapsulated in hpc-stack, please add `bufr_util`.

[code]

[2021-02-25 20:28] #85 closed, assigned to kgerheiser, climbfuji, aerorahul, edwardhartnett, Hang-Lei-NOAA

[2021-02-25 20:29] edwardhartnett commented on #131
Can we close this issue or is it still active? @junwang-noaa ?

[2021-02-25 20:30] edwardhartnett commented on #53
Can this issue be closed?

[2021-02-25 20:31] edwardhartnett commented on #117
Has there been any progress on this issue?

[2021-02-25 20:33] GeorgeVandenberghe-NOAA commented on #53
Yes.  Close it.

[2021-02-25 20:34] #53 closed, assigned to GeorgeVandenberghe-NOAA

[2021-02-25 20:40] climbfuji commented on #117
Not from my end, but my understanding was that @kgerheiser had to finish up his modifications to solve the issue.

[2021-02-25 20:41] edwardhartnett commented on #174
I'm not sure we have met @arunchawla-NOAA 's request. He wants a clear process document.

In terms of the mechanics of actually adding a new package, that's simple: put in an issue and it will be added.

In terms of the approval process for a new package, I don't know what the answer is. When a scientist asks for NCL for example, who do we ask for permission?

[2021-02-25 20:43] edwardhartnett commented on #171
@WenMeng-NOAA I don't think it's a good idea to change how we label versions. You should do a new version number for each release.

How often will we have a UPP release? Monthly? More often than that?

[2021-02-25 20:58] edwardhartnett commented on #158
When @Hang-Lei-NOAA gets back next week he will finish the doxygen and we will do a release.

[2021-02-25 21:00] edwardhartnett commented on #171
I think we were asked to accommodate frequent updates of UPP and ESMF, and we said we can do that.

[2021-02-25 21:01] #165 closed, assigned to nobody

[2021-02-25 21:02] edwardhartnett commented on #151
We did not discuss this yet, and @Hang-Lei-NOAA and @kgerheiser are out this week, so we will get an update on Monday about this issue.

[2021-02-25 21:03] WenMeng-NOAA commented on #171
@edwardhartnett The upp libs installed at the hpc-stack are from the UPP develop branch. There are currently at least three ufs-weather-model based applications using upp libs for their implementation development.  So the tags from the UPP develop branch are not the official UPP releases for implementations. The UPP updates dependent on the upstream model development. We have no control on the dev

[2021-02-25 21:06] GeorgeVandenberghe-NOAA commented on #174
My understanding is that we download the new package to a test platform,
build it and test it and verify it works as desired.

Then the process gets tough.   We do NOT put it into the hpc-stack build
until a multistep signoff occurs.  Security management gets involved.

THe signoff process starts with filling out a new software request form and
submitting it to NCO.

https://docs.google.com/forms/

[2021-02-25 21:12] GeorgeVandenberghe-NOAA commented on #165
I would like to have tested the stack on all of the noaa machines and verified the fix had propagated to the published installs everywhere.  That takes time; I'll assume someone else did it.  I did check the unpublished regression test installs and
it was fixed there.  Verifying a fix is verifying that everything in the stack with jasper as a dependency, builds and runs correctly.  This includes c

[2021-02-25 21:37] junwang-noaa commented on #131
Yes. The previous baselines with input files were deleted, I can't run the
previous version which generates the same results on hera and orion.

On Thu, Feb 25, 2021 at 3:29 PM Edward Hartnett <notifications@github.com>
wrote:

[2021-02-25 21:38] #131 closed, assigned to nobody

[2021-02-25 21:59] climbfuji commented on #165
Tiny modification, please: not on all noaa machines - on all tier-1 platforms for the ufs (currently this means ufs-weather-model), which currently means all noaa machines plus NCAR Cheyenne. You can't break tier-1 systems.

[2021-02-25 22:29] YaliMao-NOAA opened #177 "Define JASPER_LIB PNG_LIB Z_LIB"
The following environment variables are not defined in hpc-stack modules as in the current modules.
JASPER_LIB in jasper module
PNG_LIB in png module
Z_LIB in zlib module
Can they be added?

[2021-02-25 22:38] aerorahul commented on #177
These are not standard variables in a typical module file.
We do however define these standard variables:
[code]

[code]

[code]

Is it possible to use these variables so we don't work towards a collective reduction in entropy?
Thanks!

[2021-02-25 22:42] climbfuji commented on #177
Are you trying to break the second law of thermodynamics? ;-)

[2021-02-25 22:43] aerorahul commented on #176
@ShelleyMelchior-NOAA
The `DEBUFR` is a utility already built in the bufr library.  Perhaps we should work to add `XBFMG` to the library utils, if it is generic and usable by the community.

These paths are specific to a particular version, and for a particular machine.

This package (hpc-stack) is supposed to be generic and the components of this package are expected to be usable on any machine.

[2021-02-25 22:51] GeorgeVandenberghe-NOAA commented on #165
Agreed.

On Thursday, February 25, 2021, Dom Heinzeller <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2021-02-25 22:59] ShelleyMelchior-NOAA commented on #176
`DEBUFR` and `XBFMG` are not the only entities of `BUFR_UTIL`.  What is more, `BUFR_UTIL` will be expanding once we move to WCOSS2.  That is where `dumpjb` and its associated utilities will be residing.

Much of obsproc and decoders is platform specific, i.e., operational supercomputers.   The software will not run on non-operational machines b/c of the need for operational tanks and/or networking

[2021-02-25 23:01] GeorgeVandenberghe-NOAA commented on #165
I agree with this and should have explicitly said all Tier1 machines,  If
it's used on a platform we need to test for it.  But I can't test on
Cheyenne.

On Thu, Feb 25, 2021 at 4:59 PM Dom Heinzeller <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(w

[2021-02-25 23:17] edwardhartnett commented on #176
hpc-stack is new and we are working though exactly how it should be used. ;-)

If this code is needed operationally, and is sufficiently general that it will be used in multiple places, then it might be suitable for some form of inclusion in hpc-stack.

However, most likely that would not be as a separate package, but as part of the already existing NCEPLIBS-bufr. In that case, we would need the c

[2021-02-27 02:38] YaliMao-NOAA opened #178 "Add WGRIB2 to grib_util"
In current grib_util/1.2.2, so many environment variables are defined:
CNVGRIB
COPYGB
COPYGB2
DEGRIB2
GRB2INDEX
GRBINDEX
GRIB2GRIB
TOCGRIB
TOCGRIB2
TOCGRIB2SUPER
WGRIB

But WGRIB2 is not included. Can it be added in module grib_util?

[2021-02-27 03:56] YaliMao-NOAA commented on #177
I am no sure why _LIB is not a standard variable in a typical module file after I went through all hpc-stack modules. Except for 4 modules jasper, jpeg, png and zlib, all other modules have one of the following features:
1) A module doesn't have a library, or,
2) A module defines _LIBRARIES if there are multiple libraries, or,
3) A module defines _LIB or even more than one _LIB

These 4 modules ja

[2021-02-27 22:50] aerorahul commented on #178
wgrib2 is not built as part of `NCEPLIBS-grib_util`.  It is built as a separate software and has its own module.
[code]
After that
[code]
will show the path of the `wgrib2` executable.

[2021-03-01 14:33] kgerheiser commented on #151
There's not really a lot to do.

The grib_util thing is a bug that has been fixed.

Do we really have to add a `WGRIB2` environment variable? It's an executable in your path `WGRIB2=$(which wgrib2)`. Not every executable needs a variable.

Same thing for the installation structure. We could do it any number of ways, but what's the benefit of changing it? Rahul pointed out that this is the recommen

[2021-03-01 15:03] arunchawla-NOAA commented on #151
NCO is not on GitHub yet. So I will move this discussion to an email thread

[2021-03-01 15:04] Hang-Lei-NOAA commented on #151
My understanding the request on ENV variable is still about copy-and-work issue.

[2021-03-01 17:57] arunchawla-NOAA commented on #174
So this is my understanding, all labels that are referred to as enhancement can potentially be new packages. I would like another label added for new package request. Then we can review this request. Having that label will allow us to focus on the issues for that discussion. We should do an internal review first to identify if these meets the criteria for installation (third party packages should

[2021-03-01 17:57] arunchawla-NOAA commented on #174
All of this should probably be documented in a wiki at least

[2021-03-01 18:06] arunchawla-NOAA commented on #172
Is the bufr_dumplist a library that is used by multiple applications? hpc-stack is a central system for installing libraries (ncep and third party)

[2021-03-01 18:11] arunchawla-NOAA commented on #176
ufs-utils are utility codes that use hpc-stack modules to build the executables that are then used by the workflow. If bufr-utils are going to be a set of executables then they should probably be built outside hpc-stack. If however you want these to be part of a library package then it makes sense to be part of hpc-stack.

[2021-03-01 18:25] edwardhartnett commented on #174
OK, good plan. I will implement today.

[2021-03-01 18:29] edwardhartnett commented on #81
Is this running well now?

Is there a daily email output? If so, can you add my email address?

[2021-03-01 18:35] edwardhartnett commented on #151
Also, even if NCO is not on GitHub, each comment here generates an email which they can reply to, which will get posted here. So even if they don't routinely use GitHub, we can still communicate via GitHub issue. They will see the emails as long as they have github accounts and are mentions.

[2021-03-01 19:32] kgerheiser commented on #81
Yes, I will do that.

[2021-03-02 15:10] ShelleyMelchior-NOAA commented on #176
Ok, I touched base w/ Steven Earle to get the NCO take on this.  Provided is his email response to my query.  I have **highlighted** his main point, which makes sense to me and its application to obsproc.

Is hpc-stack going to be adopted in operations on WCOSS2?

In our brainstorming for a condensed obsproc network on WCOSS2, we talked about moving dumpjb and its supportive components into bufr_u

[2021-03-02 15:25] arunchawla-NOAA commented on #176
Thank you Shelley!

This is great input, and whole heartedly agree. So we should probably add an issue in NCEPLIBS to add the relevant bits to NCEPLIBS-bufr

[2021-03-02 15:28] arunchawla-NOAA commented on #32
There is a new ticket open on this (151) and an email discussion also in progress. Can this issue be closed? @Hang-Lei-NOAA and @edwardhartnett

[2021-03-02 15:30] Hang-Lei-NOAA commented on #32
Yes, I think so.

On Tue, Mar 2, 2021 at 10:29 AM arun chawla <notifications@github.com>
wrote:

[2021-03-02 15:32] jbathegit commented on #176
Thanks @ShelleyMelchior-NOAA for bringing me in on this thread.  My $0.02 is that `debufr` makes sense to have as a utility in NCEPLIBS-bufr, and as noted above it's already included in the package.  The only other utility that might(?) have some widespread usefulness is `xbfmg`, which we can maybe think about adding to NCEPLIBS-bufr in the future.  But I don't think `apxdx` or `dumpjb` are suitab

[2021-03-02 15:34] aerorahul commented on #176
@ShelleyMelchior-NOAA
Thank you for following up with WCOSS.

[2021-03-02 15:35] #32 closed, assigned to kgerheiser, Hang-Lei-NOAA

[2021-03-02 15:40] arunchawla-NOAA commented on #150
@edwardhartnett can we add a label of new package to this request. I will make this as part of our request to NCO

[2021-03-03 14:40] #170 closed, assigned to nobody

[2021-03-03 15:30] arunchawla-NOAA commented on #174
I had a discussion with NCO and they proposed this process

This is how I see that a process should go.... George may also have input. Step 2 in my list is so important because we can't continue down the road of a million libraries doing essentially the same thing.

1. Anyone that wants a new library makes a request on hpc-stack repo issues (we put a label for new request)

2. Internal EMC review

[2021-03-03 15:33] GeorgeVandenberghe-NOAA commented on #174
Is this "George"  George Gayno or me (George Vandenberghe?)

On Wed, Mar 3, 2021 at 10:30 AM arun chawla <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2021-03-03 15:33] arunchawla-NOAA commented on #174
@edwardhartnett

Can we create a check list template for new software requests based on the check list template that NCO uses?

[2021-03-03 15:33] arunchawla-NOAA commented on #174
This is George Liu

[2021-03-03 15:59] aerorahul opened #180 "pybind11 2.5.0"
**Description**
pybind11 is a project to generate C++/Python bindings.
The library is header-only, so there is no need to link to Python here.
https://github.com/pybind/pybind11

**What applications at NOAA will be using this package or library?**
JEDI applications interfacing python with C++ e.g. IODA and IODA-converters

**Is there already a package or library in hpc-stack that provides this, or

[2021-03-03 16:04] Hang-Lei-NOAA commented on #180
Will add this to hpc-stack soon

[2021-03-03 21:14] WalterKolczynski-NOAA opened #182 "Install hpc-stack on bridges-2"
Support for porting UFS to additional Xsede machines in addition to Stampede2.

[2021-03-03 21:15] WalterKolczynski-NOAA opened #183 "Install hpc-stack on expanse"
Support for porting UFS to additional Xsede machines in addition to Stampede2.

[2021-03-04 02:27] #180 closed, assigned to Hang-Lei-NOAA

[2021-03-05 05:35] arunchawla-NOAA commented on #152
Since there are separate issues for upp/10.0.4 can we close this?

[2021-03-05 13:18] #152 closed, assigned to Hang-Lei-NOAA

[2021-03-05 14:29] climbfuji commented on #155
@aerorahul @kgerheiser I am coming back to this problem. This time I am trying with gnu/9.1.0, because that compiler worked just fine in the past for hpc-stack v1.1.0. These are the steps I took:
[code]
It fails when trying to build netCDF:
[code]
But hdf5 is built correctly beforehand:
[code]
This is the contents of the modulefile, and it seems it is in the right place:
[code]
Can somebody please

[2021-03-05 14:44] kgerheiser commented on #155
~~What if you remove `module load hdf5` from the module and rely on having it be manually loaded already?~~

I don't think that helps in this situation. It's coming from the build script.

[2021-03-05 14:56] aerorahul commented on #155
I think there is a way to "prefer" the user built versus system built.
It is described [here](https://lmod.readthedocs.io/en/latest/340_inherit.html).
We will need to add `inherit()` to our `hpc-intel` `hpc-impi` etc. meta-modules.
I am not sure if this works on meta-modules, but it would be worth the try.

If the name `hpc-intel` or `hpc-impi` does not work, then we may need to rename these meta-

[2021-03-05 15:53] edwardhartnett opened #185 "generate a text report on what hpc-stack installs, and where it comes from"
We need a list of what hpc-stack installs, and where it is getting each package from.

Instead of generating a one-time list, I think hpc-stack should be able to output a simple list of what it would install. Possible?

Also we have been requested to add a package description and a notation whether the package is in the operational stack or not.

So, we want the following:
* package name
* version

[2021-03-05 16:14] kgerheiser commented on #185
I don't have an automatic list but I have this:

Atlas
https://github.com/$repo/$name.git

Boost
https://dl.bintray.com/boostorg/release/$version/source/$software.tar.gz

CDO
https://code.mpimet.mpg.de/attachments/download/23323/cdo-1.9.9.tar.gz

CGAL
https://github.com/CGAL/cgal/releases/download/releases%2FCGAL-$version/$software-library.tar.xz

CMake
https://cmake.org/files/v${version%.*}/$soft

[2021-03-05 17:31] edwardhartnett commented on #185
@kgerheiser where did you get this info from?

An automatic list would be a lot better, because this is not the last time we will be asked to check the sources of our downloads...

[2021-03-05 17:49] kgerheiser commented on #185
It's in the build scripts

[2021-03-05 20:40] climbfuji commented on #155
I have some good news. I created alternative modules for the compiler, MPI library and the NCAR compiler wrappers. After turning off cdo, I could build the head of develop on Cheyenne with GNU 9.1.0.

I will need to create a PR to update the Cheyenne configs after I tested with Intel, too.

The cdo build, by the way, fails due to missing symbols from hdf5. I think I have seen this on other platfor

[2021-03-08 17:06] DusanJovic-NOAA opened #188 "Error loading hpc-stack on wcoss2"
**Describe the bug**
Error loading hpc-stack on wcoss2

**To Reproduce**
[code]
**Expected behavior**
Being able to use hpc-stsack on wcoss2 without module load error. Also, we should use the latest Intel compiler (`intel/19.1.3.304`)

**System:**
wcoss2

[2021-03-08 17:14] arunchawla-NOAA commented on #188
was this working before @DusanJovic-NOAA ? I think Acorn just came back with an upgrade to its system

[2021-03-08 17:18] DusanJovic-NOAA commented on #188
Yes. This is probably because of system update.

[2021-03-09 01:35] YaliMao-NOAA commented on #177
I will follow new rules based on Rahul's instructions through email communications.

[2021-03-09 01:35] #177 closed, assigned to nobody

[2021-03-09 17:51] YaliMao-NOAA opened #189 "jasper/2.0.25 is loaded, but g2 library is linked to jasper/2.0.22"
**Describe the bug**
jasper/2.0.25 is loaded, but g2 library is linked to jasper/2.0.22

**To Reproduce**
git clone https://github.com/NOAA-EMC/EMC_gfs_wafs -b feature/cmake
cd EMC_gfs_wafs/sorc
./build_wafs_cmake.sh

**Expected behavior**
jasper/2.0.25 is loaded as seen in build/CMakeFiles/CMakeOutput.log
But libjasper.a of jasper/2.0.22 is linked in the link.txt files as the following:
build/waf

[2021-03-09 20:09] Hang-Lei-NOAA commented on #189
For WCOSS 2,
there is an updated installation of hpc-stack v1.1.0, which has updated jasper/2.0.25 and UPP/10.0.4
The new installation has been added to

module use /lfs/h1/emc/nceplibs/noscrub/hpc-stack/test/v1.1.0/modulefiles/stack
module load hpc/1.1.0
module load hpc-intel/19.1.3.304
module load hpc-cray-mpich/8.1.2

[2021-03-09 20:41] Hang-Lei-NOAA commented on #189
The g2 on wcoss-dell, hera, have been updated with jasper/2.0.25.

[2021-03-09 21:08] YaliMao-NOAA commented on #189
@Hang-Lei-NOAA Thank you. May it be updated on Orion too?

[2021-03-09 21:10] Hang-Lei-NOAA commented on #189
We will do soon, thanks

[2021-03-10 16:44] YaliMao-NOAA opened #190 "cnvgrib of grib_util/1.2.2 doesn't work correctly."
**Describe the bug**
Running cnvgrib of grib_util/1.2.2 gave us  an error message, "warning: empty layer generated". I guess the reason grib_util is not updated after jasper is updated to v2.0.25 from 2.0.22

**To Reproduce**
On Venus, the sample data is /gpfs/dell3/ptmp/Yali.Mao/cnvgrib/wafsgfs44.t00z.gribf36
Run the following on command line:
 /gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/h

[2021-03-10 16:46] kgerheiser commented on #190
@Hang-Lei-NOAA

[2021-03-10 16:50] Hang-Lei-NOAA commented on #190
I noticed that the build script need to be modified by module load
jasper/2.0.25 after adding the new jasper version, otherwise, the module
load jasper still load the jasper/2.0.22.

On Wed, Mar 10, 2021 at 11:46 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-03-10 16:53] Hang-Lei-NOAA commented on #190
It has been fixed, please check.

On Wed, Mar 10, 2021 at 11:50 AM Hang Lei - NOAA Affiliate <
***@***.***> wrote:

[2021-03-10 16:54] kgerheiser commented on #190
I wonder if that's particular to WCOSS for some reason? The default module is set to be the most recently installed one and it worked elsewhere.

[2021-03-10 16:58] YaliMao-NOAA commented on #190
@Hang-Lei-NOAA Thank you for the quick fix.

[2021-03-10 16:58] Hang-Lei-NOAA commented on #190
Not sure, but on wcoss-dell, the "module load jasper" after adding the
jasper/2.0.25, it still load jasper/2.0.22.
To be safe, I update the hera installations too.

On Wed, Mar 10, 2021 at 11:54 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-03-10 16:58] #190 closed, assigned to nobody

[2021-03-10 23:07] GeorgeVandenberghe-NOAA opened #191 "pio does not build on ujet batch nodes because they can't reach github."
The pio package does not build on jet ujet batch nodes because the batch nodes cannot reach github due to policies.   DOWNLOAD-ONLY doesn't work because the makefile generated by cmake does additional git retrievals.  Is there a PIO option to create an upstream tarball  on a  platform that does have access and build from the tarball rather than a repository:   I first noticed this in January but a

[2021-03-11 11:06] edwardhartnett commented on #191
Yes, use the autotools build instead of cmake, it does not do anything on the internet and builds properly from the tarball.

In my experience, if a package provides both autotools and cmake, the autotools build is generally likely to be better. Autotools enforces rules, whereas cmake lets you do what you feel, whether it's good or dumb.

[2021-03-11 13:16] GeorgeVandenberghe-NOAA commented on #191
Thanks.  I also opened this as a nuisance hpc-stack build issue

On Thursday, March 11, 2021, Edward Hartnett ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-03-11 20:18] edwardhartnett commented on #141
Yes, this is a bug in the PIO autotools build. However, we never encounter it because everyone who uses PIO also wants to sometimes (or always) use pnetcdf, so it's always enabled.

I will try to fix this next time I spend time on PIO, but that might not be for some time. I would suggest as a workaround that we go ahead and require pnetcdf for the PIO build.

[2021-03-11 20:18] #149 closed, assigned to nobody

[2021-03-12 14:13] junwang-noaa opened #192 "install ESMF810bs47"
**Is your feature request related to a problem? Please describe.**
ESMF 810bs47 is out, we have a test version on hera/orion. We need a test version so that we can test it in UFS.

**Describe the solution you'd like**
We need a test version of this lib installed on wcoss dell and cray. Once it is confirmed it's working as expected, we need the library to be installed within hpc-stack v1.1.0 on del

[2021-03-16 00:24] JessicaMeixner-NOAA opened #193 "building WW3 exes with netcdf"
**Describe the bug**
When building WW3 exes that require linking with NetCDF, we can build when using non-hpc stack netcdf libraries but not with netcdf libraries.

**To Reproduce**
On hera, see /scratch2/NCEPDEV/climate/Jessica.Meixner/hpc-stack-ww3-netcdf/README which provides instructions for building with/without hpc-stack:

#To build without hpc-stack, which works:
source module.hera.nohpcsta

[2021-03-16 11:52] edwardhartnett commented on #193
What is the error that you get?

[2021-03-16 13:24] JessicaMeixner-NOAA commented on #193
This is also in the README on hera.  When using non hpc-stack version of a NetCDF module, the output of the build script is:
[code]

When using hpc-stack NetCDF module, we get the following output:
[code]

Which probably isn't a very helpful error statement.  I'll turn on some more prints in the WW3 build/compile/linking to get more.

[2021-03-16 13:33] aerorahul commented on #193
NetCDF and everything else in hpc-stack is built as a static libraries.
I see a rpath` variable being set here in the build of these execs.  It is not required.  I suspect the build in ww3 is not able to find all the dependencies of netcdf.
The error message is not very helpful, so will wait till a detailed message is posted.
It should be a relatively quick fix if we can see what is being built an

[2021-03-16 13:37] MinsukJi-NOAA commented on #193
This is some of the error messages I got on Comet using the hpc-stack. NETCDF_CONFIG="$(NETCDFHOME)/bin/nc-config" helped me resolve the issue.
[code]

[2021-03-16 13:41] aerorahul commented on #193
@MinsukJi-NOAA we don't define `NETCDFHOME` in any of the netCDF modulefiles.  So, I don't know what `NETCDFHOME` evaluated above.

[2021-03-16 13:41] Hang-Lei-NOAA commented on #192
The esmf 810bs47 has been installed on wcoss-dell and hera.
The NCEPLIBS do not include the thrid party libs including esmf. We trying to install it on wcoss-cray using local resources, it reported some netcdf error. It is under examination.

[2021-03-16 13:42] aerorahul commented on #193
The undefined reference indicates that the include paths are missing or incorrect to `netcdf.mod`.

[2021-03-16 13:44] MinsukJi-NOAA commented on #193
@aerorahul it could be that the hpc-stack on Comet is a hybrid that is being used to compile the old GNUMake system. Maybe my case is not relevant to this issue.

[2021-03-16 13:45] aerorahul commented on #193
@JessicaMeixner-NOAA
I also notice in the error you are getting, you are not linking to the C netcdf library.  I see `-lnetcdff`, but I don't see `-lnetcdf`

[2021-03-16 13:47] aerorahul commented on #193
I doubt that, but I don't have access to comet and so cannot verify.  If someone manually put `NETCDFHOME` in the modulefile, then that is another issue.  We should not be doing that.

[2021-03-16 13:53] JessicaMeixner-NOAA commented on #193
It's odd to me that @MinsukJi-NOAA is getting different behavior as I thought hpc-stack should standardize things.

So in WW3, we determine which libraries to link by using the command:

$NETCDF_CONFIG --flibs

which in the non-hpc-stack is:
-L/apps/netcdf/4.6.1/intel/16.1.150/lib -lnetcdff -L/apps/netcdf/4.6.1/intel/16.1.150/lib -Wl,-rpath -Wl,/apps/netcdf/4.6.1/intel/16.1.150/lib -lnetcdf -lnetc

[2021-03-16 14:04] aerorahul commented on #193
`$NETCDF_CONFIG --flibs` is giving the fortran library and fortran library alone.
`$NETCDF_CONFIG --libs` is giving the c library and everything that the netCDF C library depends on (unless shared library is built)

The C library is always required when linking with netCDF.

The `rpath` that you was being used was using the shared object library from `/apps/netcdf/4.6.1/intel/16.1.150/lib` and thu

[2021-03-16 14:30] edwardhartnett commented on #193
I see that this is a confusing aspect of nc-config! I guess it's not obvious that --flibs does not include the C library, since it's implied that it gives you all the libraries you need to compile a netcdf fortran program. ;-)

But in fact you always also need the C library flags as well.

[2021-03-16 14:32] arunchawla-NOAA commented on #193
so the WW3 build should be sourcing both these libraries?

[2021-03-16 14:33] arunchawla-NOAA commented on #193
that should be an easy fix, right Jessica?

[2021-03-16 14:36] aerorahul commented on #193
hpc-stack on NOAA platforms builds netCDF with static libraries.
When static libraries are built, the application must link to all libraries.  See [here](https://www.unidata.ucar.edu/software/netcdf/docs/getting_and_building_netcdf.html)

WW3 build framework assumes these are shared libraries.
`bin/link` and `bin/link.tmpl` are only searching for `--flibs`.

Here is a simple patch for the correct

[2021-03-16 14:39] JessicaMeixner-NOAA commented on #193
@arunchawla-NOAA Sourcing both the the libs is easy enough as @aerorahul suggested in the last comment.  Rahul this needs to be in link.tmpl because that's how link gets made.

[2021-03-16 14:40] aerorahul commented on #193
Ok.  I do not know the nuances of this system.  I do know how to grep.

[2021-03-16 14:42] JessicaMeixner-NOAA commented on #193
:) it's a very nuanced system.

[2021-03-16 14:43] aerorahul commented on #193
@JessicaMeixner-NOAA you may have to flip the order `--flibs` and then `--libs`.

[2021-03-16 14:45] JessicaMeixner-NOAA commented on #193
Did not work with:
libs="$libs `$NETCDF_CONFIG --libs` `$NETCDF_CONFIG --flibs`" ;;

Trying with the flipped order now.

[2021-03-16 14:56] aerorahul commented on #193
You may also want to change Line 86 in `bin/comp.tmpl` to:
[code]

[2021-03-16 14:57] JessicaMeixner-NOAA commented on #193
Thank you everyone -- particularly @aerorahul  for the quick fix!

For those following this issue for workflow related updates, it'll take a minute to get this update into WW3 and then into the ufs-weather-model, but as this hpc-stack side of this issue is resolved I am going to close this ticket.  The WW3 issue can be found here: https://github.com/NOAA-EMC/WW3/issues/332 for implementing the fix

[2021-03-16 14:57] #193 closed, assigned to nobody

[2021-03-16 14:58] aerorahul commented on #193
@JessicaMeixner-NOAA This was not an hpc-stack issue to begin with.
But we are glad to be of assistance.

[2021-03-16 14:58] JessicaMeixner-NOAA commented on #193
Just saw the comment about the bin/comp.tmpl --- thank you @aerorahul  I will look into that too.

[2021-03-16 15:47] Hang-Lei-NOAA commented on #192
The esmf 810bs47 has been added to the NCEPLIBS-v1.3.0 on wcoss-cray.
module load /gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules/esmf/810bs47

[2021-03-22 13:16] kgerheiser commented on #192
It is on Orion and Jet

[2021-03-22 13:25] junwang-noaa commented on #192
Thanks, Hang and Kyle, we will test it. Just to confirm, it is installed
under hpc/1.1.0 and both standard and debug mode libraries are installed,
correct?

On Mon, Mar 22, 2021 at 9:17 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-03-22 13:26] kgerheiser commented on #192
Yes to hpc/1.1.0.

I forgot to install debug version. I'll go back and do that.

[2021-03-22 13:59] Hang-Lei-NOAA commented on #192
It is under the hpc-/1.1.0
I will add debug version too

On Mon, Mar 22, 2021 at 9:27 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-03-22 20:29] climbfuji commented on #192
I installed bs47 under hpc-stack v1.0.0 on cheyenne for intel and gnu, and on gaea for intel (both debug and prod versions).

[2021-03-22 21:14] Hang-Lei-NOAA commented on #192
Debug version is added

On Mon, Mar 22, 2021 at 4:30 PM Dom Heinzeller ***@***.***>
wrote:

[2021-03-23 15:36] kgerheiser commented on #192
It's on Orion and Jet as well. Looks like it's everywhere now.

[2021-03-23 15:48] junwang-noaa commented on #192
Cool, thanks. We will test it.

On Tue, Mar 23, 2021 at 11:37 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-03-24 15:19] KateFriedman-NOAA opened #194 "cmake/netcdf error building workflow utils on comet"
**Describe the bug**
Received a build error trying to build global-workflow workflow util execs on Comet. See error message below.

**To Reproduce**
Rerun build script, happens the same each time.

**System:**
Comet

Using hpc-stack installed here: `/oasis/projects/nsf/ddp181/hanglei/library/libs/hpc-stack/modulefiles`

**Additional context**
Updated global-workflow machine-setup.sh for Comet and

[2021-03-24 15:22] kgerheiser commented on #194
You are picking up gfortran as your Fortran compiler.

[code]

Try setting `export FC=ifort`, `export CC=icc`, `export CXX=icpc`.

But, I believe `intel/2018.1.163` should set that.

[2021-03-24 15:29] KateFriedman-NOAA commented on #194
@kgerheiser Thank you for the fast reply! I changed machine-setup.sh to use the recommended exports and the workflow utils build completed successfully. Thank you!

If I don't export those variables at all in our machine-setup.sh then I get the same error.

Question...should I be using ifort/icc/icpc with all codes that build on Comet using this hpc-stack version? I'm still learning hpc-stack. Tha

[2021-03-24 15:36] kgerheiser commented on #194
Not sure how @Hang-Lei-NOAA installed it. The module `hpc-intel` should set the `FC, CC, CXX` variables, but I don't see it there.

[2021-03-24 15:41] aerorahul commented on #194
@KateFriedman-NOAA
You are loading the `native` `intel` and `intelmpi` modulefiles.
You need to load the `hpc-intel` and `hpc-intelmpi` modulefiles that the hpc-stack installed.

[2021-03-24 15:43] Hang-Lei-NOAA commented on #194
The HPC_STACK does not work on comet. There is no lmod on comet. The
version on comet is not a typical hpc-stack. It just match the hpc-stack
v1.1.0.
Please reference to Minsuk's work on how to run with it.
We have been working on that to get the model running there successfully.

On Wed, Mar 24, 2021 at 11:36 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-03-24 15:49] Hang-Lei-NOAA commented on #194
Hi, Kate,
I will add a ncio there for you to use.

On Wed, Mar 24, 2021 at 11:43 AM Hang Lei - NOAA Affiliate <
***@***.***> wrote:

[2021-03-24 16:01] KateFriedman-NOAA commented on #194
Awesome, thanks @Hang-Lei-NOAA !

[2021-03-24 16:13] KateFriedman-NOAA commented on #194
Will work with Hang separately on further Comet issues. Thanks all!

[2021-03-24 16:13] #194 closed, assigned to Hang-Lei-NOAA

[2021-03-24 17:50] edwardhartnett commented on #102
Seemingly we do have some users interested in pnetcdf. Email from Ufuk Turuncoglu at UCAR:

[2021-03-24 18:08] junwang-noaa commented on #102
Ed. is it possible we move to netCDF-4 with HDF5 layer in PIO? As you know
the netCDF-4 with HDF5 layer has advanced features such as parallelization
and compression, which is more advanced than pnetcdf in my opinion, please
correct me if I am wrong. Do we need to add another dependency of pnetcdf?

On Wed, Mar 24, 2021 at 1:58 PM Edward Hartnett ***@***.***>
wrote:

[2021-03-24 18:35] aerorahul commented on #102
I will add that JEDI also used netcdf4 with HDF5 for parallelisation and compression.

[2021-03-25 10:31] edwardhartnett commented on #102
More info from Ufuk:

[2021-03-25 10:37] edwardhartnett commented on #102
@junwang-noaa to answer your questions:
1 - Yes, PIO also allows you to use netCDF4/HDF5 for output. PIO supports netCDF4/HDF5 files with the netcdf-c library, and netCDF classic format files with either the netcdf-c library, or the pnetcdf library.

2 - Indeed, there are many advanced features of the netCDF4/HDF5 format, including compression, which are not available in the classic formats. Howev

[2021-03-25 12:36] junwang-noaa commented on #102
Ed/Ufuk, if PIO has the capability of netCDF4/HDF5 for output, why won't we
directly use it in CMEPS and CDEPS, at least use it as an option so we can
have a consistent data format in UFS and JEDI , this makes it easier for
downstream developers to use the data too,

On Thu, Mar 25, 2021 at 6:38 AM Edward Hartnett ***@***.***>
wrote:

[2021-03-25 13:04] edwardhartnett commented on #102
Using PIO vs. netCDF does not affect the data format.

PIO gives enhanced capabilities with thousands of processors. It reads and writes netCDF files, so it's OK for some applications to use PIO, and some to use netCDF directly.

With some of my recent changes to PIO and netcdf-c, it's now possible to use the exact same C or Fortran code with both PIO and netCDF. (However, CMEPS and CDEPS do not d

[2021-03-25 13:33] junwang-noaa commented on #102
I thought one is HDF5 and needs netcdf4/hdf5 for parallel reading/writing,
the other is not HDF5 and needs Pnetcdf for parallel reading/writing,
please let me know if it is not the case.

On Thu, Mar 25, 2021 at 9:04 AM Edward Hartnett ***@***.***>
wrote:

[2021-03-25 14:24] edwardhartnett commented on #102
Yes, you are correct, netCDF/HDF5 files are HDF5 and can be read/written with parallel I/O via HDF5.

Classic format files can be read/written with parallel I/O with pnetcdf, or sequentially with netcdf-c.

PIO uses netcdf-c, HDF5, and pnetcdf, so it can do sequential and parallel I/O with classic format and with netCDF/HDF5 files.

As noted earlier, compression is only available with netCDF4/HDF5

[2021-03-25 14:30] aerorahul commented on #102
So the next logical question is: Who is using netcdf classic format with PIO that requires pnetcdf within the realm of UFS and JEDI applications.

[2021-03-25 15:01] junwang-noaa commented on #192
@DeniseWorthen ESMF lib is installed on UFS supported platforms.

[2021-03-25 15:02] edwardhartnett commented on #102
OK, now we've circled back to the beginning of this conversation, where we agreed that pnetcdf should be installed to support PIO with pnetcdf in case anyone needs it. ;-)

Are UFS and JEDI really 100% netCDF-4? If so, that's cool.

However, certainly there are many classic format netcdf files in the world of weather modeling, so it's not unreasonable to think classic format with parallel I/O migh

[2021-03-25 15:10] edwardhartnett opened #195 "Interoperate or use the E4S Extreme-scale Scientific Software Stack?"
Here's a collaborative effort to install science software libraries: https://e4s-project.github.io/

Seems like there is a lot to learn from this project, but also, can we leverage this? Can it help?

Seemingly they have package management systems to install these software packages on HPC systems.

[2021-03-25 15:22] junwang-noaa commented on #102
From Ufuk results, the " pio_rearranger = box" also provides good results.
The question is if we want to add another dependency of pnetcdf in the
UFS/JEDI system. We are trying to limit the dependencies if not required.
Also as you said, PIO has the capability to use netcdf4/hdf5 which has
parallel io and compression feature already, so instead going back to
pnetcdf, could we stay with " pio_rearr

[2021-03-25 15:26] edwardhartnett commented on #102
The rearranger has nothing to do with the format. So you can use the box rearranger with either format. Also adding pnetcdf would not affect your use.

If you object to pnetcdf, then we can leave it out until someone requests it.

[2021-03-25 15:44] uturuncoglu commented on #102
@edwardhartnett @junwang-noaa i set "netcdf" as default in UFS application which were used by S2S. I know that CESM is using pnetcdf for all its components by default. The initial results seems close with "pnetcdf" vs "netcdf with box rearanger" but this is very short run and in the long and high resolution runs pnetcdf results can perform better. So, we need to have benchmark with different optio

[2021-03-25 15:55] WenMeng-NOAA opened #196 "Install upp/10.0.5 on the hpc-stack"
**Please describe the package or library you would like to add to hpc-stack.**
The UPP(EMC_post) has a new release for thread-safe in UPP code.  Please install upp library upp/10.0.5. The tag upp_v10.0.5 can be downloaded from the EMC_post github repository.

**What applications at NOAA will be using this package or library?**
The ufs-weather-model will use it for inline post.

**Is there already

[2021-03-25 15:58] edwardhartnett opened #197 "Add a new template for adding issues for updating a library"
We need to add a template for updating a library, as with #196 so that people don't have to fill out the long form we use when adding a new package. ;-)

[2021-03-25 16:34] junwang-noaa commented on #102
@uturuncoglu, the question is instead of adding another dependency of
pnetcdf to the system and making cmake changes in the code, can we directly
use the more advanced PIO feature with netcdf4/HDF5, which has the parallel
IO and the compression data?

On Thu, Mar 25, 2021 at 11:44 AM Ufuk Turunçoğlu ***@***.***>
wrote:

[2021-03-25 16:40] uturuncoglu commented on #102
@junwang-noaa i am not sure about the compression but parallel IO can be used once we install PIO with pnetcdf support. @edwardhartnett What do we need to turn on compression with PIO? I have no idea about it. The branch in HAFS side has changes for component level PIO initialization and a set of PIO related namelist options can be configured via nems.configure for flexibility.

[2021-03-25 16:40] climbfuji commented on #102
Let me note that a few years back, pnetcdf was several times faster than parallel netcdf4 in extreme scaling applications. I am not sure if this is still the case, but I do know that models like MPAS use pnetcdf for this reason, for example.

[2021-03-25 16:41] edwardhartnett commented on #102
However, it was also the case that most uses of netCDF4 are using bad chunksizes. With good chunksizes, the gap in performance is much smaller.

[2021-03-26 15:39] edwardhartnett commented on #185
We're apparently only half-way there. Can we get a nicer looking list, with all the required info?

[2021-03-26 15:57] kgerheiser commented on #185
What does it need to do? It creates `hpc-stack-contents.log` with the name, version, and url.

[2021-03-26 16:08] aerorahul commented on #185
Not sure what @edwardhartnett wants.
Could have appreciated a review for sure.

[2021-03-27 01:27] edwardhartnett commented on #185
Still need to add:
brief package description
source
operational or not

[2021-03-27 01:29] edwardhartnett commented on #185
@aerorahul in the review you said the code was a partial fix, which it was. Now we just need the rest of the fix, and we can be done. ;-)

[2021-03-27 01:33] aerorahul commented on #185
Adding description seems arbitrary and unnecessary at build time. The README has a link to the package website and the user can go look in detail the package description or whatever that they need to know.
Source is identified from url and is printed in the hpc-contents.log along with the version the stack installed.
If a package is for NOAA operations or not can also stated in the README. Not all

[2021-03-27 14:37] Hang-Lei-NOAA commented on #196
UPP v10.0.5 have been added

[2021-03-27 15:49] edwardhartnett commented on #185
The request came from Steve Earle and seems quite reasonable. Can you help me understand why a simple ascii text report is so hard to generate? My understanding was that this information is all stored in yml files? Seems like this should be pretty easy...

[2021-03-29 12:51] WenMeng-NOAA commented on #196
@Hang-Lei-NOAA Thanks for quickly installation. I would like to confirm with you that the upp/10.0.5 was built with turning on openmp.

[2021-03-29 13:38] Hang-Lei-NOAA commented on #196
Yes, I confirm.

On Mon, Mar 29, 2021 at 8:51 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-03-29 15:20] JesseMeng-NOAA commented on #196
Hang,
Was UPP v10.0.5 also installed on Hera? I got an error message CMake did not find upp/10.0.5
Thanks for double checking.

[2021-03-29 15:27] Hang-Lei-NOAA commented on #196
Hi, Jesse
-bash-4.2$ module use
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
-bash-4.2$ module load hpc
-bash-4.2$ module load hpc-intel
-bash-4.2$ module load hpc-impi
-bash-4.2$ module ava
-----------------------------------------------
--------------------------------------------------------------------
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/mpi/int

[2021-03-29 15:34] JesseMeng-NOAA commented on #196
Hang, Thanks.

[2021-03-29 16:42] kgerheiser commented on #196
Available on Jet and Orion

[2021-03-29 17:16] climbfuji commented on #196
I can do cheyenne and gaea - turn on OpenMP ?

[2021-03-29 17:24] kgerheiser commented on #196
Yes, enable OpenMP. I believe 10.0.5 fixes the race condition

[2021-03-29 17:39] WenMeng-NOAA commented on #196
That's right.

[2021-03-30 13:45] climbfuji commented on #142
I just checked develop, and in develop it is still
[code]

[2021-03-30 14:28] climbfuji commented on #196
I did upp 10.0.5 on cheyenne for Intel and GNU, and on gaea.

[2021-03-30 15:13] WenMeng-NOAA commented on #196
Thanks!

[2021-03-31 13:15] climbfuji commented on #155
I am closing this issue because it referred to two problems, one being the gfortran-10 compiler flags (which I think are still not set correctly for ESMF and possibly others, but not sure), and one to Cheyenne (which has been solved).

[2021-03-31 13:15] #155 closed, assigned to nobody

[2021-03-31 15:34] junwang-noaa opened #199 "Install FMS library"
**Is your feature request related to a problem? Please describe.**
FMS is currently built in UFS. Since it does not change frequently, it would be more efficient to build it as a library and the UFS build system will link it at build time.

**Describe the solution you'd like**
Now according to @aerorahul  FMS is in hpc-stack, please build the FMS library (both real4 and real8 libraries) at a test

[2021-03-31 15:42] aerorahul commented on #199
@junwang-noaa
This is the current build option for FMS from `stack_noaa.yaml`

[code]

It will build the `2020.04.03` tag in both single and double precision libraries with `OpenMP`.

[2021-03-31 15:48] junwang-noaa commented on #199
That is great, thanks. We can test it in UFS once it is available.

[2021-03-31 19:31] climbfuji opened #200 "Install develop on Cheyenne - cdo error"
This is the first of several issues I am going to create wrt installing hpc-stack develop on Cheyenne.

We had `cdo` disabled in `config/stack_ncar.yaml`, because this has failed in the past (for both Intel 19.1.0 and GNU-9.1.0), this time trying with GNU-10.1.0:
[code]

**To Reproduce**
[code]
**Expected behavior**
No errors during installation of cdo.

**System:**
Cheyenne with any Intel or GNU

[2021-03-31 19:47] climbfuji opened #201 "Install develop on Cheyenne with GNU 10 - ESMF errror"
**Describe the bug**
This is the second of several issues I am going to create wrt installing hpc-stack develop on Cheyenne.

This time I believe it is specific to the compiler choice GNU 10.1.0 (or any gfortran >=10). Installing ESMF fails with:
[code]
I think what is needed are the gfortran-20 compatibility flags that have already been added to the NCEPLIBS, etc.

**To Reproduce**
See https://gi

[2021-03-31 19:48] climbfuji commented on #201
I previously said this is a pio error, but it is not - it's ESMF.

[2021-03-31 19:51] aerorahul commented on #201
you can add `export STACK_FFLAGS="-fallow-argument-mismatch"` to the config file when using `gfortran-10` to effect these `FFLAGS` for all packages.

[2021-03-31 19:52] climbfuji commented on #201
Of course, but shouldn't we make it such that the stack build sets this automatically when detecting gfortran >= 10 ?

[2021-03-31 20:11] aerorahul commented on #201
Sure. That will require going to each `build_package.sh` and add `if-then-else` blocks for `gfortran-10`.
It should be done at some time.
Not sure, how that is any different in effect than adding a single `if-then-else` block in the `config_platform.sh` file.
Plus, it is extremely efficient.

[2021-03-31 20:33] climbfuji commented on #201
I hear you. What really needs to be done is to fix the software, not the stack. I will create an issue in ESMF at least, and in the meanwhile add the flags in the Cheyenne config. However, what I would prefer is to add them explicitly for each package (in `config/config_cheyenne_gnu.sh`, no problem) so that we are aware of which packages have problems and not just put a blanket over it.

[2021-03-31 20:35] aerorahul commented on #200
@kgerheiser Do you have Cheyenne access? I don't so it is not possible for me to debug this particular issue.
I am wondering if this a CDO build issue, since liking to hdf5 errors would be present in other packages that depend on HDF5.

[2021-03-31 20:40] aerorahul commented on #201
Two thumbs up to fixing the issue in the software.

A blanket flag is not ideal, I agree.
We can start identifying which packages are an issue.  ESMF clearly is.

An easy way to do so without messing with all the build scripts is by adding:

[code]

in the `config.sh` file.

Or, a more tedious way is to add the following in in each package section of the YAML:
[code]

Note: this is just to identif

[2021-03-31 20:45] kgerheiser commented on #200
No, I don't. I think I've seen this error before, but it seems to be system dependent.

[2021-03-31 20:53] edwardhartnett commented on #200
There are two HDF5 libraries, libhdf5 and libhdf5_hl ("high level"). I think you are missing the hl one...

[2021-03-31 20:56] aerorahul commented on #200
I don't think so @edwardhartnett :
[code]

[2021-03-31 21:55] climbfuji commented on #201
I added this to `config/config_cheyenne_gnu.sh`:
[code]
But now it fails in the final linker step in during `make install`:
[code]

[2021-03-31 22:08] aerorahul commented on #201
Sorry for the stupid question, but does ESMF team support building ESMF with GNU 10?

[2021-03-31 22:09] climbfuji commented on #201
Well, we do build it successfully in nceplibs-external with gnu-10, this was part of the SRW App release (i.e. branches ufs-v2.0.0 for NCEPLIBS-external and NCEPLIBS).

[2021-04-01 02:30] climbfuji commented on #201
A quick update: this is a problem with the later ESMF versions and gnu-10. ESMF 8.0.0 compiles fine with gnu-10.1.0, I tested it using the same code that failed for ESMF 8.1.0 bs27.

[2021-04-01 13:43] edwardhartnett commented on #200
Well OK, I see that you are correct. However, the missing HDF5 functions are in the _hl library, IIRC...

[2021-04-01 13:46] edwardhartnett commented on #201
FWIW I just sent an email to ESMF support asking them whether they support GNU 10. I will post their answer here...

[2021-04-01 13:50] aerorahul commented on #201
phew! Thanks for the update @climbfuji
I am glad this is not a problem with the stack.

[2021-04-01 14:59] climbfuji commented on #200
I recall that sometimes, for unknown reasons and only on some machines, the linker order (first hdf5 then hdf5_hl or vice versa) gets messed up.

[2021-04-01 15:17] edwardhartnett commented on #200
Yes, this is explained here:
https://stackoverflow.com/questions/45135/why-does-the-order-in-which-libraries-are-linked-sometimes-cause-errors-in-gcc

However, the order appears correct, first netcdf, then hdf5_hl, then hdf5.

The linker error is happening in netcdf code (files hdf5open.c and hdf5internal.c are part of the netcdf-c library's libhdf5 layer).

[2021-04-01 16:20] kgerheiser commented on #200
I get a similar error on WCOSS Dell. Except here it fails when in configuration looking for HDF5. All the flags look correct. Not sure why it's not being picked up.

[code]

[2021-04-01 16:22] climbfuji commented on #201
Turns out it is a bug in hpc-stack after all. Will create a PR to get ESMF working with GNU 10 soon. EDIT: bit of a gray zone who to blame really. ESMF is not picking up default `FFLAGS` and `CXXFLAGS`, one has to add that explicitly to `ESMF_F90COMPILEOPTS` etc.

[2021-04-01 17:30] kgerheiser commented on #200
I found the problem for WCOSS. It might be relevant here.

For some reason linker flags that come before the file name when compiling aren't picked up. We set `LDFLAGS` to be `-lhdf5_hl -lhdf5, etc` and then the compile command is `mpiicc <LDFLAGS> conftest.c`, but if you set the `LIBS` variable the command becomes `mpiicc conftest.c <LIBS>`, and it works.

[2021-04-01 17:35] kgerheiser commented on #200
I think our usage is prevalent in a lot of libraries and it's not quite right. Pretty sure `LDFLAGS` should just contain `-L<path>` and `LIBS` should be `-l<lib>`.

[2021-04-01 17:53] climbfuji commented on #200
I agree, thanks for looking into this.

[2021-04-01 21:10] aerorahul commented on #201
@climbfuji Can this be closed now that #202 is merged?

[2021-04-01 21:19] climbfuji commented on #201
Closed via https://github.com/NOAA-EMC/hpc-stack/pull/202.

[2021-04-01 21:19] #201 closed, assigned to nobody

[2021-04-01 21:20] climbfuji commented on #200
@kgerheiser if you are going to fix this in develop, please let me know and I'll give it a try on Cheyenne. Thanks!

[2021-04-02 13:37] MichaelLueken opened #203 "The GSI fails to compile using wrf_io/1.1.1 from hpc/1.1.0"
**Describe the bug**
While compiling the GSI using wrf_io/1.1.1 from hpc/1.1.0, the GSI fails with the following:

../../lib/libgsilib_wrf.a(cplr_wrf_binary_interface.f90.o): In function `get_wrf_binary_interface_mod_mp_inventory_wrf_binary_file_':
cplr_wrf_binary_interface.f90:(.text+0x2600e): undefined reference to `wrf_sizeof_integer_'
../../lib/libgsilib_wrf.a(cplr_wrf_binary_interface.f90.o):

[2021-04-02 13:48] aerorahul commented on #203
@MichaelLueken-NOAA
Thanks for bringing this up.
Since the GSI housed its own version of `wrf_io`, could you open an issue and PR in the [NCEPLIBS-wrfio](https://github.com/NOAA-EMC/NCEPLIBS-wrf_io) with the necessary changes that works for the GSI.  Otherwise, we might  end up iterating.

[2021-04-02 14:47] MinsukJi-NOAA opened #205 "How to maintain hpc-stack up to date with ufs-weather-model"
**Is your feature request related to a problem? Please describe.**
I have a problem keeping a docker container up to date with the ufs-weather-model libraries. For example, esmf beta_snapshot_47 change is in the [pipeline](https://github.com/ufs-community/ufs-weather-model/pull/475) and the corresponding change needs to be made for CI to continue to function. I cannot use the develop branch of the

[2021-04-02 14:53] climbfuji commented on #205
We are doing the same, checking out v1.1.0 and creating a small stack file that installs the new component (e.g. upp 10.0.5) in the existing directory tree (after taking a backup of the existing tree, of course).

[2021-04-02 14:54] MinsukJi-NOAA commented on #205
If noaa r&d machines get updated hpc-stack, shouldn't it be somewhere in the hpc-stack repo? No?

[2021-04-02 15:03] MichaelLueken commented on #203
@aerorahul
The GSI version should have been the version used in NCEPLIBS-wrfio.  Mark Potts created the GSI's libsrc/wrflib version long before the NCEPLIBS version.  Why didn't NCEPLIBS start with Mark's work to ensure that all necessary components for the GSI were included?  The NCEPLIBS group will need to correct this.  I will be more than willing to test the version to ensure that it works wit

[2021-04-02 15:12] aerorahul commented on #203
@MichaelLueken-NOAA
hpc-stack installs the package, and does not maintain the packages it installs.
It is not in the scope of hpc-stack to make code changes in these packages.

This is a bug or missing feature in NCEPLIBS-wrf_io.
Please open an issue there so that the appropriate person/group will take action.

Once the proper code is in place in NCEPLIBS-wrf_io, please open an issue in hpc-stack

[2021-04-02 15:25] aerorahul commented on #183
@WalterKolczynski-NOAA
I can update the `README.md` to provide instructions on the steps to port hpc-stack to a new machine.
First, though the requirements must be satisfied.
Most of us don't have access to exotic clusters and their specific configurations, so porting can be tricky on those.

To get you started, assuming the [Prerequisites](https://github.com/NOAA-EMC/hpc-stack#prerequisites) are

[2021-04-02 15:27] edwardhartnett commented on #203
I have added an issue to NCEPLIBS-wrf_io.

When there is a new version of NCEPLIBS-wrf_io, we can upgrade the version in hpc-stack.

[2021-04-02 18:23] GeorgeVandenberghe-NOAA commented on #203
I have to make sure the post API and the GSI API are compatible.  Otherwise they will have to be made so with communications from both post and GSI  people (worst case).   The WRF API itself is not stable and changes from major release to major release

[2021-04-02 20:19] kgerheiser commented on #205
I think they should be kept in sync to the best of our ability. With ESMF, when bs47 is merged we can make that the default version in hpc-stack. Or maybe a dedicated stack file?

[2021-04-05 14:37] climbfuji commented on #102
Did we come to a conclusion? How was pio 2.5.2 installed on the NOAA RDHPC platforms? With pnetcdf support or without? If with, which pnetcdf version? I need to install PIO on Cheyenne and Gaea and want to follow what was done on hera etc. Thanks!

[2021-04-05 14:49] edwardhartnett commented on #102
@uturuncoglu if you are using the classic PIO API, you can call the fortran function PIO_def_var_deflate() or the C function PIOc_def_var_deflate() when a variable is defined. If you are using netCDF integration, then use the nc_def_var_deflate() as usual in netCDF.

@climbfuji and @junwang-noaa I recommend (as is the point of this issue) that pnetcdf be installed as part of the PIO build, in orde

[2021-04-05 14:59] MinsukJi-NOAA commented on #205
@kgerheiser, i think one issue is that bs47 needs to go into v1.1 instead of develop, but it is frozen. Anyway, I just wanted to raise an awareness, and am happy to close the issue. For the time being, I am keeping track of my changes of hpc-stack v1.1 personally.

[2021-04-05 14:59] #205 closed, assigned to nobody

[2021-04-05 15:44] uturuncoglu commented on #102
@edwardhartnett thanks for the information. this is for compression. Right?

@climbfuji @junwang-noaa yes, having pnetcdf support will be great. BTW, I am waiting for UFS level CDEPS PR (I am not sure about your plan for it) and then I'll make required changes (including pnetcdf support) in the HAFS application and those will eventually sync with UFS model. Also, we need to have CMakeModule suppor

[2021-04-05 16:21] climbfuji commented on #199
Would this be a good opportunity to roll out a new version of hpc-stack (v1.2.0?) created from develop? We have to make so many manual adjustments to hpc-v1.1.0 in order to install it on new platforms / install new packages.

[2021-04-05 16:43] edwardhartnett commented on #102
See also https://github.com/NCAR/ParallelIO/blob/master/cmake/FindPnetCDF.cmake

[2021-04-05 16:48] aerorahul commented on #102
And https://github.com/JCSDA/jedi-cmake/blob/develop/cmake/Modules/FindPnetCDF.cmake

[2021-04-05 17:03] uturuncoglu commented on #102
@edwardhartnett @aerorahul thanks for pointers. I checked the NCAR one before and I think that it was too complex. I did not check the JEDI one. Anyway, we could use either of one to bring PnetCDF support to build. Any preference?

[2021-04-05 17:16] aerorahul commented on #102
@uturuncoglu  The JEDI one provides a complete array of the options along with interface targets.
The usage is then reduced to for e.g.:

[code]

That would be my preference to be added to the CMakeModules used in UFS-weather-model.

It is what MPAS model uses as well, if that makes any difference.

[2021-04-05 21:46] aerorahul commented on #183
@WalterKolczynski-NOAA
See building instructions for a new HPC in the README.md [here](https://github.com/NOAA-EMC/hpc-stack#configuring-for-a-new-hpc)

[2021-04-05 22:00] WalterKolczynski-NOAA commented on #183
Might be a while before I get to this. I have several other higher priority things right now.

[2021-04-06 00:33] junwang-noaa commented on #199
@edwardhartnett Please see the Dom comments. Also do you have a time line when the FMS library will be installed? Thanks.

[2021-04-06 12:45] edwardhartnett commented on #199
@Hang-Lei-NOAA @EricSinsky-NOAA @aerorahul shall we do a v1.2.0 release?

@Hang-Lei-NOAA can you add FMS and install it?

[2021-04-06 12:52] Hang-Lei-NOAA commented on #199
Yes, will do

[2021-04-06 13:51] aerorahul commented on #199
@edwardhartnett @kgerheiser
Would it be possible to include the following in the 1.2.0 tag of hpc-stack (in addition to the above):
- NCEPLIBS-ncio (if a tag is imminent?  There was some updates to documentation going on.)
- NCEPLIBS-wrf_io (so it works with the GSI as well as UPP)
- NCEPLIBS-bufr (its been a while since a tag was created and released; 11.4.0. was the last and it doesn't have the

[2021-04-06 13:55] edwardhartnett commented on #199
I think that's a good idea for ncio, wrf_io, and w3emc. I will defer to @jbathegit on bufr, but more frequent releases are to be encouraged, so I think that should be done as well.

[2021-04-06 13:57] kgerheiser commented on #200
Fixed with #204

[2021-04-06 13:57] #200 closed, assigned to nobody

[2021-04-06 14:13] jbathegit commented on #199
I'm just working on documentation updates at the moment.  I was hoping to get all of this done to include in the next release, but it's been a bit of a grind, and I realize there's new functionality (such as Python ;-) that folks would like to have sooner rather than later.  So how about this - can you give me another week or so to just finish up a few more documentation updates (including to the

[2021-04-06 14:22] aerorahul commented on #199
@jbathegit
My bad.  I "treated" the 11.4.0 as a release rather than a `draft` release as it is.  You are welcome to use 11.4.0, but I think it would be better to skip 11.4.0 and go to 11.5.0 and not let it be draft for long.  I have no strong preference and leave it to you to decide how you wish to manage releases.

I think it is safe to say, we won't be releasing a new hpc-stack tag in this week,

[2021-04-07 13:20] arunchawla-NOAA commented on #199
@edwardhartnett can we get a test stack installation on at least one of the platforms with FMS library available while we are waiting for the official v1.2.0 tag? This will allow the ufs-weather-model code mangers to update and test the build system by switching off FMS build and getting a PR ready for when v 1.2.0 is available

[2021-04-07 14:29] Hang-Lei-NOAA commented on #199
Yes, I will install it on Hera and WCOSS-dell first.

On Wed, Apr 7, 2021 at 9:20 AM arun chawla ***@***.***> wrote:

[2021-04-07 23:47] Hang-Lei-NOAA commented on #199
According to Arun's order, this has been added to current hpc-stack installation of v1.1.0 on hera and Mars.

[2021-04-08 18:23] kgerheiser commented on #199
Done on Orion and Jet

[2021-04-08 18:36] arunchawla-NOAA commented on #199
Thanks @kgerheiser and @Hang-Lei-NOAA

I hate to ask more in the same request, but we also need to upgrade cmake to 3.20.0. It has been released and we are going to ask system admins to do that, but in the mean time can we add that as part of hpc-stack? If you can do on Hera then the @DusanJovic-NOAA can test the ufs-weather-model build for FMS library

[2021-04-08 21:37] Hang-Lei-NOAA commented on #199
Hi, Arun, I have get cmake v3.20.0 installed on hera through hpc-stack
v1.1.0.

On Thu, Apr 8, 2021 at 2:37 PM arun chawla ***@***.***> wrote:

[2021-04-13 13:10] DusanJovic-NOAA commented on #199
Please add AVX2 flag to the FMS compile flags (`-march=core-avx2` for Intel) . It was found during the UFS regression testing that the model is running noticeably slower when compiled with external FMS library than with the FMS built as a submodule.

[2021-04-13 13:24] Hang-Lei-NOAA commented on #199
Will do.

On Tue, Apr 13, 2021 at 9:10 AM Dusan Jovic ***@***.***>
wrote:

[2021-04-13 13:27] kgerheiser commented on #199
@Hang-Lei-NOAA the way to do this would be `export STACK_fms_CFLAGS="-march=core-avx2"`

[2021-04-13 13:42] Hang-Lei-NOAA commented on #199
@Kyle Gerheiser - NOAA Affiliate ***@***.***> I've added it in
the build script

On Tue, Apr 13, 2021 at 9:27 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-04-13 13:44] kgerheiser commented on #199
Oops, those are CFLAGS. Probably want Fortran (`STACK_fms_FFLAGS`) also (or instead).

[2021-04-13 13:48] Hang-Lei-NOAA commented on #199
Thanks, Kyle, I added it as in the libs/build_fms.sh
export CFLAGS="${STACK_CFLAGS:-} ${STACK_fms_CFLAGS:-} -fPIC -w
-march=core-avx2"
export FFLAGS="${STACK_FFLAGS:-} ${STACK_fms_FFLAGS:-} -fPIC -w
-march=core-avx2"
export FCFLAGS="${FFLAGS}"

On Tue, Apr 13, 2021 at 9:44 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-04-13 13:57] aerorahul commented on #199
@Hang-Lei-NOAA
These are machine specific flags; please don't add them in the `libs/build_fms.sh` script.
Their appropriate location is in `config/config_<platform>.sh` for the platform where those flags are valid.
Please add them according to the instructions @kgerheiser provided.
[code]
Please create a branch, create an issue and open a PR, so that this does not need to be re-done during the nex

[2021-04-13 13:58] aerorahul commented on #199
@DusanJovic-NOAA @climbfuji
Which platforms do these flags need to be added; `orion`, `hera`, `wcoss_dell_p3`, `cheyenne`, `gaea?`

[2021-04-13 14:03] Hang-Lei-NOAA commented on #199
I've installed it on both wcoss-dell and hera and changed the script back.
If add them in other places, we need to add

export STACK_fms_CFLAGS="-fPIC -w -march=core-avx2"
export STACK_fms_FFLAGS="-fPIC -w -march=core-avx2"

otherwise the -fPIC -w will be flashed

On Tue, Apr 13, 2021 at 9:59 AM Rahul Mahajan ***@***.***>
wrote:

[2021-04-13 14:10] climbfuji commented on #199
For now (testing), hera and wcoss_dell_p3 should be enough, once we are confident that all the flags etc are as they should be, it needs to go to `orion`, `hera`, `wcoss_dell_p3`, `wcoss_cray` `cheyenne`, `gaea`, `jet`. On `hera` and `cheyenne` for both Intel and GNU, all other platforms just Intel.

[2021-04-13 14:14] kgerheiser commented on #199
We could just add it to the build? AVX2 is a pretty tame flag. Most CPUs since 2014 support those instructions. Or add it to all of the HPC configs.

[2021-04-13 14:20] Hang-Lei-NOAA commented on #199
We can do it anyway. It is a patch.
I just add it with GNU on hera too.

On Tue, Apr 13, 2021 at 10:14 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-04-13 14:23] climbfuji commented on #199
Most but not all - it won't work on all jet partitions, for example.

[2021-04-14 07:19] WalterKolczynski-NOAA opened #207 "wgrib2 module on Hera no longer sets the correct library paths"
**Describe the bug**
WGRIB_LIB and WGRIB2_LIBAPI now point to the wrong location for their respective libraries on Hera (using the lib directory instead of the lib64 directory).

[code]

**To Reproduce**
Load the wgrib2 module on Hera and then do an ls on $WGRIB_LIB and $WGRIB2_LIBAPI

**Expected behavior**
Library paths should point to files that exist

**System:**
Hera

**Additional context**
I

[2021-04-14 11:28] kgerheiser commented on #207
@Hang-Lei-NOAA

[2021-04-14 11:53] Hang-Lei-NOAA commented on #207
Will check and fix it today. Thanks

On Wed, Apr 14, 2021 at 7:28 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-04-14 13:09] Hang-Lei-NOAA commented on #207
It has been corrected

[2021-04-15 00:28] theurich opened #208 "Need ESMF_8_1_1_beta_snapshot_01 for testing"
**Is your feature request related to a problem? Please describe.**
Jun Wang and Moorthi Shrinivas reported performance issues with `ESMF_8_1_0_beta_snapshot_47` when used with threaded model execution. This might be an ESMF regression that went also out with the official 8.1.0 release. To test this hypothesis, we have prepared a new snapshot for a patch release `ESMF_8_1_1_beta_snapshot_01`, that

[2021-04-15 00:37] junwang-noaa commented on #208
nceplibs team, would you please install this snapshot in hpc/1.1.0 on hera and dell for us to do some testing? Thank you!

[2021-04-15 15:52] WenMeng-NOAA opened #209 "Install upp/10.0.6 on the hpc-stack"
**Please describe the package or library you would like to add to hpc-stack.**
A description of package including GitHub repo.
The UPP have a couple updates including some essential bug fixes  for supporting regional inline post at ufs-weather-model.
A new tag upp_v10.0.6 was created at the UPP repository for installing upp/10.0.6 at the hpc-stack.

**What applications at NOAA will be using this p

[2021-04-15 15:55] Hang-Lei-NOAA commented on #209
Will do

On Thu, Apr 15, 2021 at 11:53 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-04-15 15:55] WenMeng-NOAA commented on #209
@junwang-noaa I would like you to be warn of  upp/10.0.6 installation.

[2021-04-15 16:03] WenMeng-NOAA commented on #209
@Hang-Lei-NOAA Thanks!

[2021-04-15 16:10] junwang-noaa commented on #209
Thanks! Once the library is installed, we will use it in ufs-weather-model.

On Thu, Apr 15, 2021 at 12:03 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-04-15 16:13] climbfuji commented on #209
What is the problem that you want to warn us about?

[2021-04-15 16:21] junwang-noaa commented on #209
The issue is that the run to run LAM inline post does not reproduce, it is
fixed in  upp/10.0.6. Once the upp/10.0.6 is installed, we will turn back
on the LAm inline post test in ufs-weather-model.

On Thu, Apr 15, 2021 at 12:14 PM Dom Heinzeller ***@***.***>
wrote:

[2021-04-15 20:15] Hang-Lei-NOAA commented on #209
The uppv10.0.6 have been added on wcoss dell and hera. wcoss cray.

On Thu, Apr 15, 2021 at 12:21 PM Jun Wang ***@***.***> wrote:

[2021-04-15 20:57] edwardhartnett commented on #208
@Hang-Lei-NOAA can you please treat this issue as urgent?

[2021-04-15 21:02] Hang-Lei-NOAA commented on #208
yes, will do it today

On Thu, Apr 15, 2021 at 4:57 PM Edward Hartnett ***@***.***>
wrote:

[2021-04-15 21:18] edwardhartnett opened #210 "how to handle software updates (as with ESMF) that need to happen within 24 hours"
Can we allow the developers of UFS to update, for example, ESMF?

[2021-04-15 21:22] climbfuji commented on #210
My 2c: if a change "needs to happen" within 24h and it is not a hotfix for an operational or real-time parallel (final testing phase for being made operational) model, then something is wrong.

[2021-04-15 21:24] aerorahul commented on #210
I would reiterate that fast updating software e.g. ESMF and UPP with short development cycles should be handled differently.
hpc-stack deployers should not be deploying every single incremental update/push to develop from these repositories.

ESMF and UPP developers should build and provide the test locations of their software until it is stable and a release (not just a git tag)

Thats my 2c.

[2021-04-15 21:28] climbfuji commented on #210
And not in contradiction to what I said, so that's good. I agree with you!

[2021-04-16 01:22] Hang-Lei-NOAA commented on #208
It has been installed on WCOSS-dell.
But cannot be installed on hera today, because of " : Disk quota exceeded"

On Thu, Apr 15, 2021 at 5:02 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2021-04-16 01:34] junwang-noaa commented on #210
@edwardhartnett Can you provide some documentation on how to install ESMF lib in a user's directory and then use it in UFS? Currently we have:

module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc/1.1.0
module load hpc-gnu/9.2.0
module load hpc-mpich/3.3.2
...
module load module load esmf/8_1_0_beta_snapshot_47
...

Where can the developers find informatio

[2021-04-16 01:48] junwang-noaa commented on #210
Thanks to @aerorahul, with his instrcution. Wen and I actually did test upp lib installed in a personal directory for testing purpose. The question there is that we do have upp releases coming out more frequently than most of nceplibs. Also once there is a release we need to use it in the model to fix issues. I feel the suggestion here might be to go back to use UFS/UPP developer installed librari

[2021-04-16 02:04] aerorahul commented on #210
@junwang-noaa
ESMF is built via https://github.com/NOAA-EMC/hpc-stack/blob/develop/libs/build_esmf.sh
I am sure it is quiet easy for UFS/ESMF developers to write a simple script to build ESMF using the modules used in the UFS.

e.g.
[code]

These are the modules used to build ESMF
Followed by a modified version of `build_esmf.sh` such that it can build outside of hpc-stack similar to the process y

[2021-04-16 02:13] junwang-noaa commented on #210
Do we need to add something like "setenv ESMF_ROOT ESMF_local_path" in the
module file after that?

On Thu, Apr 15, 2021 at 10:04 PM Rahul Mahajan ***@***.***>
wrote:

[2021-04-16 02:19] aerorahul commented on #210
@junwang-noaa
The ESMF modulefile looks like [this](https://github.com/NOAA-EMC/hpc-stack/blob/develop/modulefiles/mpi/compilerName/compilerVersion/mpiName/mpiVersion/esmf/esmf.lua)
But, only the variable `ESMFMKFILE` is the one that is used in the UFS to correctly decipher the ESMF compiler and linker flags, library and include paths.

So technically, you only need to set this variable in a modul

[2021-04-16 02:28] climbfuji commented on #210
@junwang-noaa I can help you with this tomorrow if you like, as long as you are doing it on hera and not wcoss.

[2021-04-16 02:39] junwang-noaa commented on #210
@climbfuji Thanks for helping, yes we need to install it on hera. Hang has it on wcoss. But Moorthi may want to test on hera.

[2021-04-16 14:21] junwang-noaa commented on #209
@Hang-Lei-NOAA, thank you! @kgerheiser would you please help install upp 10.0.6 on jet, orion and gaea? Thanks

[2021-04-16 14:44] kgerheiser commented on #209
Done on Jet and Orion

[2021-04-16 15:03] climbfuji commented on #209
I'll do gaea and cheyenne in a bit.

When we get to hpc stack 1.2.0, we should switch to "emc/nems" land on gaea, too.

[2021-04-16 15:07] junwang-noaa commented on #209
Thanks, Dom.

On Fri, Apr 16, 2021 at 11:03 AM Dom Heinzeller ***@***.***>
wrote:

[2021-04-16 17:04] BinLiu-NOAA commented on #192
Hi @Hang-Lei-NOAA,

@BijuThomas-NOAA and I find that the ems-810bs47 version on wcoss_cray was built with
`ESMF_YAMLCPP:           OFF`
However, on other platforms, this option is ON, and we definitely need it to be ON for running HAFS coupled forecast configurations on wcoss_cray. I suspect the S2S application will also need this to be ON. Please help to resolve this if possible.

Thanks!

Bin

[2021-04-16 17:54] Hang-Lei-NOAA commented on #192
Hi, Bin  I will add this on.

On Fri, Apr 16, 2021 at 1:04 PM Bin Liu ***@***.***> wrote:

[2021-04-17 03:45] Hang-Lei-NOAA commented on #192
Both versions have been updated with the ESMF_YAMLCPP=ON

On Fri, Apr 16, 2021 at 1:54 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2021-04-17 04:12] BinLiu-NOAA commented on #192
@Hang-Lei-NOAA Thank you very much for your quick response! We will let you know if we encounter any issues using it on wcoss_cray for our HAFS coupling forecast jobs. Much appreciated!

[2021-04-18 16:29] BinLiu-NOAA commented on #192
@Hang-Lei-NOAA, sorry that I probably had a typo in my previous comments. It turns out the ESMF_YAMLCPP option should be
ESMF_YAMLCPP:           internal
instead of
ESMF_YAMLCPP:           ON
Probably, because of this reason, my HAFS-HYCOM coupling forecast job still failed. Appreciated it if you could help to update the esmf810bs47 install on wcoss_cray when you get a chance. Thanks!

[2021-04-19 02:26] junwang-noaa commented on #192
@Hang-Lei-NOAA Is there anything missing with the newly installed esmf/8_1_0_beta_snapshot_47-debug? All the debug compile jobs failed with the ufs-weather-model develop branch. It was working last Friday morning.

[2021-04-19 13:33] Hang-Lei-NOAA commented on #192
@Bin Liu - NOAA Affiliate ***@***.***> @Jun Wang - NOAA Federal
***@***.***>
I have updated the installations again with the ESMF_YAMLCPP =internal
Please try it again. Let me know if you have any issues

On Sun, Apr 18, 2021 at 10:26 PM Jun Wang ***@***.***> wrote:

[2021-04-19 13:43] junwang-noaa commented on #192
@Hang-Lei-NOAA The esmf810bs47 is currently used by ufs-weather-model, I thought we made it clear: NEVER update a nceplibs library that are currently used in the ufs-weather-model, please always make a new library for developers to test and then we can commit to the model. ufs-weather-model has broken several times because of the updated library.

[2021-04-19 13:49] Hang-Lei-NOAA commented on #192
Hi, Jun, Thanks, I will be more careful and do more coordinations next time
for any changes. It is also required that no more specific installations
for any individual group. So, we are trying to set up general installations
for all. Thanks for understanding.

On Mon, Apr 19, 2021 at 9:44 AM Jun Wang ***@***.***> wrote:

[2021-04-19 14:07] junwang-noaa commented on #192
I still got error:
-- Static ESMF library not found, searching for dynamic library instead
CMake Error at CMakeModules/Modules/FindESMF.cmake:89 (message):
  Neither the dynamic nor the static ESMF library was found
Call Stack (most recent call first):
  CMakeLists.txt:135 (find_package)

We have:
module use /gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0
module load esmf/810b

[2021-04-19 14:14] Hang-Lei-NOAA commented on #192
Hi, Jun

It should be :

/gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/esmf/esmf-810bs47-debug
The NCEPLIBS installation is ~/libname/libname-version/

The modulefile defines like this:
=============================
SURGE-slogin1 > cat 810bs47-debug
#%Module1.0
##
## modulefile
##

#-------resolve conflicts if needed
conflict ESMF/4_0_0rp2
conflict ESMF/7_0_0
conflict ESMF/7

[2021-04-19 14:22] junwang-noaa commented on #192
Hang, it looks to me the libraries might be fine, it is module files 810bs47 and 810bs47-debug that are missing.

[2021-04-19 14:27] Hang-Lei-NOAA commented on #192
Thanks, Jun.
The modulefiles are kept
in /gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules/esmf/
SURGE-slogin1 > ls
/gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules/esmf
810bs47  810bs47-debug  811bs01  811bs01-debug

On Mon, Apr 19, 2021 at 10:23 AM Jun Wang ***@***.***> wrote:

[2021-04-19 14:43] junwang-noaa commented on #192
Hang,

it looks to me this is not the case in the PR of update ESMF to the esmf810bs47. Please see:

https://github.com/ufs-community/ufs-weather-model/commit/b8ed338ca7677216efcbfb9658c6ec041caccdba#diff-dbc61bd9ae3bff9174297a21277a2aa8c82972ec902ae09bf76d029c73d9fa25R66

The esmf module is at:
module use /gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0
module load esmf/810bs4

[2021-04-19 14:55] Hang-Lei-NOAA commented on #192
Hi, Jun
The module use line is wrong. The NCEPLIBS installations always put the
modulefiles under the modules/ directory. Never changed.
This line should be changed into:
module
use /gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules

On Mon, Apr 19, 2021 at 10:44 AM Jun Wang ***@***.***> wrote:

[2021-04-19 15:03] junwang-noaa commented on #192
OK, I changed the module files on cray at /gpfs/hps3/ptmp/Jun.Wang/ufs-weather-model/modulefiles/ufs_wcoss_cray_debug
now I have:
module use /gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules
module load esmf/810bs47-debug

I still got same error

-- Static ESMF library not found, searching for dynamic library instead
CMake Error at CMakeModules/Modules/FindESMF.cmake:89

[2021-04-19 15:25] Hang-Lei-NOAA commented on #192
Hi, Jun,
I looked into the CMakeModules/Modules/FindESMF.cmake
It actually looks for lib files.
I add the variable esmf_lib pointing to the library files.
In addition, I also set the ESMF_LIBSDIR to the library directory.
In this case, users requiring any of them will work. Please test.

Please other users notice this modification, especially users manually set
the path.

On Mon, Apr 19, 2021 at 1

[2021-04-19 15:35] junwang-noaa commented on #192
Hang, I still got the same error.

[2021-04-19 15:46] Hang-Lei-NOAA commented on #192
Jun
Please try it again. I only changed the ESMF810bs47 on surge.

On Mon, Apr 19, 2021 at 11:35 AM Jun Wang ***@***.***> wrote:

[2021-04-19 16:08] junwang-noaa commented on #208
Thanks to Rahul's help, the ESMF_8_1_1_beta_snapshot_01 was installed under emc.nemspara on hera at:

/scratch1/NCEPDEV/nems/emc.nemspara/soft/esmf/tmp/intel-18.0.5.274/impi-2018.0.4/esmf/8_1_1_beta_snapshot_01

to use it in ufs-weather-model, following changes are needed:

1) ufs-weather-model/modulefiles/ufs-common

#module load esmf/8_1_0_beta_snapshot_47

2) in ufs-weather-model/modulefiles/uf

[2021-04-19 18:04] kgerheiser opened #211 "Autotools build of PIO fails when using Intel compiler"
**Describe the bug**
The PIO build was switched from CMake to autotools with #206 to fix the DOWNLOAD_ONLY option. Now I get this error `This module file was not generated by any release of this compiler`.

Which is caused by this

https://github.com/NCAR/ParallelIO/issues/1862

@edwardhartnett do you have a suggestion for a workaround? Might have to go back to the CMake for the time being.

[2021-04-19 23:44] SMoorthi-emc commented on #208
Can someone tell me where this ESMF is installed on Wcoss-Dell?
I don't see the path listed here.
Thanks
Moorthi

[2021-04-19 23:49] Hang-Lei-NOAA commented on #208
It is installed through the hpc-stack:

To try EMC installation on WCOSS-dell:

%module use /usrx/local/nceplibs/dev/hpc-stack/libs/hpc
-stack/modulefiles/stack
%module load hpc/1.1.0
%module load hpc-ips/18.0.1.163
%module load hpc-impi/18.0.1
%module avail
---------------------------------------------------------------------------------
/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc
-sta

[2021-04-19 23:59] SMoorthi-emc commented on #208
Hi hang,  I don't see "esmf/8_1_1_beta_snapshot_01" in the above list.

[2021-04-20 01:27] Hang-Lei-NOAA commented on #208
Hi Dr. Moorthi,

It should be there when you follow the command line. I just copied part of
results.

Thanks
Hang

On Mon, Apr 19, 2021 at 7:59 PM SMoorthi-emc ***@***.***>
wrote:

[2021-04-20 03:01] BinLiu-NOAA commented on #192
@Hang-Lei-NOAA, Just an update that after using this version of esmf on wcoss_cray (Surge):
module use /gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules
module load esmf/810bs47
My HAFS HYCOM coupled forecast test went through successfully. Thanks!

[2021-04-20 03:23] junwang-noaa commented on #192
@Hang-Lei-NOAA Thanks for fixing the ESMF lib issue, the ufs-weather-model runs successfully on cray now.

[2021-04-20 10:50] edwardhartnett commented on #211
Sorry, no answer at the moment.

If you want to submit a fix to the PIO project for the autotools build problem, that would be welcome. Otherwise, we'll just have to wait until I cycle round to PIO again...

[2021-04-20 14:48] junwang-noaa commented on #208
@SMoorthi-emc Do you need more testing?
@theurich If all the testing is done, we are OK to install this version on all the platforms or you will give us a new version?

[2021-04-20 15:17] SMoorthi-emc commented on #208
Jun, I am quite satisfied.  All my runs were ok.
Thanks
Moorthi

On Tue, Apr 20, 2021 at 10:49 AM Jun Wang ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***

[2021-04-20 15:20] edwardhartnett commented on #208
@theurich is there any way our CMake build can tell one snapshot release from another? Apparently their version is all the same?

[2021-04-20 15:22] kgerheiser commented on #208
To add to what @edwardhartnett said. I ran `ESMF_Info` and it gives `ESMF_VERSION_STRING: 8.1.0 beta snapshot`, but with no associated number.

[2021-04-20 15:24] theurich commented on #208
@junwang-noaa - There will be a new version. The 811bs01 was just a quickly modified version to verify that what I was suspecting was indeed the culprit. We will have a 811bs02 shortly, with a few other fixes that we want to push out into the 8.1.1 patch release. I will let you know when 811bs02 is available. Once that has been tested on your side, we are ready to push the official 8.1.1 patch rel

[2021-04-20 15:27] theurich commented on #208
@edwardhartnett @kgerheiser the ESMF_PrinInfo reports:

[code]

[2021-04-20 15:30] theurich commented on #208
@edwardhartnett - for snapshot versioning, see the `esmf.mk` file. If it was built from a Git repo, which is recommended, then you would have the detailed version info available right at the top in variable `ESMF_VERSION_STRING_GIT`:

[code]

[2021-04-20 15:32] kgerheiser commented on #208
Thanks, I forgot about ESMF.mk

[2021-04-20 15:47] BijuThomas-NOAA opened #212 "Failure to read GRIB2 file with G2 from hpc-stack"
G2 (GRIB2 encoder/decoder) from hpc-stack is not reading grib2 files. Specifically, the routine getgb2 from G2, signaling that there is an error (code 96) in reading GRIB2 files. This is happening on all platforms(Jet/Hera/Orion/Wcoss-Cray/Wcoss-Dell).

I have an example(on Jet) that G2(not from hpc-stack, g2/v3.1.0) successfully decoding a GRIB2 file:
/lfs1/HFIP/hwrfv3/Biju.Thomas/Test_G2_getgb2/

[2021-04-20 15:50] kgerheiser commented on #212
What version of Jasper are you loading to create your executable? There was a bug in Jasper (version < 2.0.25) which affected g2.

[2021-04-20 16:01] BijuThomas-NOAA commented on #212
Thanks.  I use jasper/2.0.22. I'll try 2.0.25 and report back

[2021-04-20 16:13] edwardhartnett commented on #212
Can we change g2 CMake build to detect this problem?

[2021-04-20 16:16] BijuThomas-NOAA commented on #212
Wondering if what version of jasper is being loaded for the G2 build?

[2021-04-20 16:20] kgerheiser commented on #212
@edwardhartnett Yes, I believe that can be done by reading in the version.

`Wondering if what version of jasper is being loaded for the G2 build?`

I don't understand the question.

[2021-04-20 16:40] kgerheiser commented on #212
The version of Jasper used at compile time doesn't matter because just the headers are used to fulfill compilation. It's not until the end user's executable is created that whatever version of the user has loaded Jasper is linked in, which is done through the package config file.

[2021-04-20 17:21] edwardhartnett commented on #212
Not sure how that happens. Is this a shared library build?

Seems like the building application should be able to check the version from the jasper header?

[2021-04-20 17:26] kgerheiser commented on #212
It's a static library. The building application doesn't check directly. It's brought in as a dependency of g2. When `find_package(g2)` is called CMake executes `g2-config.cmake` which runs `find_dependency(Jasper)`. So, you add the check in `PackageConfig.cmake.in` (which becomes `g2-config.cmake` when installed) so that any time g2 is used Jasper is checked.

[2021-04-20 17:39] BijuThomas-NOAA commented on #212
Thanks for the explanation. I thought since Jasper is static(libjasper.a), it is used in the compilation time of g2 in addition to the include files.

[2021-04-20 17:47] kgerheiser commented on #212
The g2 library has no knowledge of the Jasper library aside from the necessary function declarations in the header. It is only at the end when an executable is created that the symbols are resolved from whatever `.a` is provided.

[2021-04-20 18:01] BijuThomas-NOAA commented on #212
I have Cmake related issue to test G2 with jasper/2.0.25
Here are the modules I'm loading

module load cmake/3.16.1
module use /lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/modulefiles/stack
module load hpc/1.1.0
module load hpc-intel/18.0.5.274
module load hpc-impi/2018.4.274

module load w3nco/2.4.1
module load sp/2.3.3
module load ip/3.3.3
module load bacio/2.4.1
module load **jasper/2.0.25**
module

[2021-04-20 18:04] kgerheiser commented on #212
Did you start from a fresh build? CMake caches the location of libraries it has found and skips searching again.

[2021-04-20 18:16] BijuThomas-NOAA commented on #212
I removed the build directory and started again. Still, CMake uses  jasper/2.0.22. Even if I do not load any jasper version it uses 2.0.22

[2021-04-20 18:22] kgerheiser commented on #212
It must be picking it up from somewhere. It's not a default path. What are you building?

[2021-04-20 18:27] BijuThomas-NOAA commented on #212
It is a simple Fortran code that calls getgb2 from G2

/mnt/lfs1/HFIP/hwrfv3/Biju.Thomas/Test_G2_getgb2/G2_getgb2_hpc-stack1/check_getgb2.f90

[2021-04-20 18:36] kgerheiser commented on #212
Worked for me. Must be something in your environment. If I don't have Jasper loaded at all it picks up version 1.900.1 from `/usr/lib64` and when I load 2.0.25 it loads that.

[code]

[code]

[2021-04-20 19:08] BijuThomas-NOAA commented on #212
I also see:
-- Found Jasper: /lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/intel-18.0.5.274/jasper/2.0.25/lib64/libjasper.a (found version "2.0.25")
But later,
/apps/intel/parallel_studio_xe_2018.4.057/compilers_and_libraries_2018/linux/bin/intel64/ifort   -O2 -fp-model precise -i4 -r8 CMakeFiles/getgb2.x.dir/check_getgb2.f90.o  -o getgb2.x  /lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/intel-18.0.5.274/bac

[2021-04-20 19:32] kgerheiser commented on #212
I found the problem.

In `g2-targets.cmake` (`/lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/intel-18.0.5.274/g2/3.4.1/lib/cmake/g2`)Jasper is hardcoded to the 2.0.22  path in `INTERFACE_LINK_LIBRARIES`. This should be an imported target without a path. This is because when you link Jasper using `${JASPER_LIBRARIES}` it's an absolute path and `FindJasper.cmake` doesn't provide an imported target (i.e. `

[2021-04-20 20:08] BijuThomas-NOAA commented on #212
Glad to hear that you found the problem. Is the same true for jpeg?.  Since Jasper/2.0.22 has a bug in it, how we can use Jasper/2.0.25 with CMake?

[2021-04-21 12:19] junwang-noaa commented on #199
@kgerheiser @Hang-Lei-NOAA May I ask the status of installing fms with AVX2 on the UFS supported platforms?

[2021-04-21 12:25] Hang-Lei-NOAA commented on #199
Yes, it is done two weeks ago
On Wed, Apr 21, 2021 at 8:19 AM Jun Wang ***@***.***> wrote:

[2021-04-21 12:36] junwang-noaa commented on #199
@Hang-Lei-NOAA Just want to confirm, so fms library is available on dell, cray, hera, jet, orion and gaea? Thanks

[2021-04-21 13:06] kgerheiser commented on #199
On Jet I didn't add the architecture flag because I don't think it's supported on all Jet partitions (correct me if I'm wrong).

[2021-04-21 13:08] Hang-Lei-NOAA commented on #199
Please check it on each platform one by one, and let us know if there is
any issue, since different machines are operated by different people.

On Wed, Apr 21, 2021 at 8:36 AM Jun Wang ***@***.***> wrote:

[2021-04-21 13:18] junwang-noaa commented on #199
Thanks, Kyle and Hang. We will let you know how the testing is going.

[2021-04-21 15:09] climbfuji commented on #199
@kgerheiser Good call to not just add the AVX2 flags on jet. You could add the same flags we use for jet for the ufs-weather-model, or just leave it as-is:
[code]
See https://github.com/ufs-community/ufs-weather-model/blob/develop/cmake/Intel.cmake for the option `SIMDMULTIARCH`. We can add that to the jet hpc stack config for fms, if we want to.

[2021-04-21 15:10] climbfuji commented on #199
@junwang-noaa @Hang-Lei-NOAA @kgerheiser Do I need to install FMS (which version/options?) on gaea and cheyenne?

[2021-04-21 15:13] junwang-noaa commented on #199
Yes, please. We need to use FMS library in ufs-weather-model supported
platforms. Thanks

On Wed, Apr 21, 2021 at 11:10 AM Dom Heinzeller ***@***.***>
wrote:

[2021-04-21 15:17] climbfuji commented on #199
Thanks, if someone can tell me which version / what the config in hpc-stack looks like, that would be great.

[2021-04-21 15:20] kgerheiser commented on #199
The stack file doesn't need to change, but the config file needs the AVX flags.

[code]

[2021-04-21 15:21] climbfuji commented on #199
Thanks, will do as instructed.

[2021-04-21 15:35] theurich commented on #208
The ESMF 8.1.1 release candidate is now available. Just to be clear, this is **not** yet the official 8.1.1, but it is a beta snapshot that we think will be identical to 8.1.1, unless issues are found during testing. The release candidate snapshot is: https://github.com/esmf-org/esmf/releases/tag/ESMF_8_1_1_beta_snapshot_03
One we have confirmation from EMC that 811bs03 is performing as expected,

[2021-04-21 15:42] climbfuji commented on #208
Thanks @theurich . Any changes/special instructions for building, or same as 8.1.0 bs47 and earlier?

[2021-04-21 15:43] junwang-noaa commented on #208
@theurich Thanks for the new version. I will install this test version on hera and dell and then ask developers to test it. Once the esmf8.1.1 release is out, we will ask nceplibs team to install it in hpc-stack.

[2021-04-21 15:47] theurich commented on #208
@climbfuji - Same installation instructions.
@junwang-noaa - Thanks!

[2021-04-21 15:48] junwang-noaa commented on #208
@climbfuji Rahul provided a script to install the test version esmf lib. I put it in:
/scratch1/NCEPDEV/nems/emc.nemspara/soft/esmf/src/build_esmf.sh
You can update it for other platforms.

[2021-04-21 15:48] climbfuji commented on #208
Thanks, I have scripts, too, in case I don't use hpc-stack.

[2021-04-21 16:40] climbfuji commented on #199
FMS module `noaa-gfdl-2020.04.03.lua` is now on Cheyenne for gnu9 (default), gnu10, intel19 (default) and on gaea for intel18 (default).

[2021-04-21 17:10] junwang-noaa commented on #208
ESMF_8_1_1_beta_snapshot_03 is now installed on hera and dell. To use the new esmf lib in ufs-weather-model, please do the following:

1) in ufs-weather-model/modulefiles/ufs-common
[code]

2) in ufs-weather-model/modulefiles/ufs_hera.intel, add a line :
[code]
or in ufs-weather-model/modulefiles/ufs_wcoss_dell_p3, add a line:
[code]

[2021-04-21 17:11] climbfuji commented on #208
Installed 8.1.1 bs03 with and without debug flags using hpc-stack on cheyenne for gnu9, gnu10, intel19, and on gaea for intel18. Why bother doing this manually elsewhere if I maintain those hpc-stack installations anyway, and given that we already have a number of 8.1.0 beta snapshots installed.

[2021-04-21 17:13] junwang-noaa commented on #208
@SMoorthi-emc @EricRogers-NOAA @JamesAbeles-NOAA @GeorgeGayno-NOAA @BinLiu-NOAA Would you please test your applications with the ESMF 8.1.1 release candidate ESMF_8_1_1_beta_snapshot_03? Thanks

[2021-04-21 17:19] junwang-noaa commented on #208
@climbfuji Please see the discussion in issue #210, I think we need to install the test version at a local place, only release or tested versions will go to hpc-stack. If you can maintain these test versions in hpc-stack installations on all the platforms, that would be good too.

[2021-04-21 17:22] climbfuji commented on #208
Fair enough, but as long as I maintain those installations for both installing and testing I am perfectly capable of doing this correctly. I am not overwriting anything in the existing stack installs, just adding yet another beta snapshot just like the exisiting 810bs27 and 810bs47. If I end up in a situation where I would have to overwrite/reinstall something, I will also resort to a different te

[2021-04-21 17:24] BinLiu-NOAA commented on #208
@junwang-noaa, I am building and testing HAFS on wcoss_dell_p3 now to see if this new esmf/8_1_1_beta_snapshot_03 can fix the  resetting thread number to 1 in FV3atm (Starting Threads :            1), which seems to happen in 810bs47 but not in 810bs27.

[2021-04-21 17:47] EricRogers-NOAA commented on #208
This is the correct module load command for this new ESMF module?

module load esmf/8_1_1_beta_snapshot_03

I checked out the latest ufs-weather-model develop branch, and with this
compile line :

./compile.sh wcoss_dell_p3 'SUITES=FV3_GFS_v15_thompson_mynn_lam3km 32BIT=Y
DAPP=ATM' 1

I get this error:

+ CMAKE_CXX_COMPILER=mpiicpc
+ export CMAKE_Fortran_COMPILER=mpiifort
+ CMAKE_Fortran_COMPILER=

[2021-04-21 18:01] junwang-noaa commented on #208
Eric,

No, the esmf/8_1_1_beta_snapshot_03 is not in the hpc-stack because it is a
test version. Please see
https://github.com/NOAA-EMC/hpc-stack/issues/208#issuecomment-824221959on
how to use it in ufs-weather-model.

On Wed, Apr 21, 2021 at 1:48 PM EricRogers-NOAA ***@***.***>
wrote:

[2021-04-21 20:00] SMoorthi-emc commented on #208
I made one coupled run on hera with this version of ESMF, only for 3 hours,
but writing out every time step.
The wall time is very similar to the previous version "snapshot01".
So I think it is working ok.
Moorthi

On Wed, Apr 21, 2021 at 1:13 PM Jun Wang ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / Natio

[2021-04-21 20:30] GeorgeGayno-NOAA commented on #208
@junwang-noaa I tried this snapshot in UFS_UTILS (on Dell) and it worked.

[2021-04-21 20:34] JamesAbeles-NOAA commented on #208
I built the code on Hera and ran a short test using the CONUS grid. The
timings are back to normal.

On Wed, Apr 21, 2021 at 1:13 PM Jun Wang ***@***.***> wrote:

--
Jim Abeles
*IMSG* at NOAA/NWS/NCEP/EMC
301 879-3283

[2021-04-21 21:00] junwang-noaa commented on #208
I tried it on dell, the esmf811bs03 works as expected. The jobs on hera are still waiting in the queue.

[2021-04-21 23:13] SMoorthi-emc commented on #208
What is the module name on hera?
"module load esmf/8_1_1_beta_snapshot_03" did not work.
Moorthi

On Wed, Apr 21, 2021 at 4:31 PM GeorgeGayno-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA

[2021-04-21 23:21] SMoorthi-emc commented on #208
I also tried
"module load ESMF_8_1_1_beta_snapshot_03" and that did not work either.  Please give exact names so that we don't waste our time.
Thanks

[2021-04-21 23:40] SMoorthi-emc commented on #208
I guess I mid-read George's email.  I though he created this new ESMF on hpc-stack.
I already tested the version that Jun created.

[2021-04-22 11:42] BinLiu-NOAA commented on #208
My HAFS test with the new ESMF_8_1_1_beta_snapshot_03 version on wcoss_dell_p3 worked properly, and it does fix the issue of resetting thread number to 1 in FV3atm. Appreciate it if you could please install this newer version of emsf811bsxx on other supported platforms (Orion, Jet, wcoss_cray, etc). Thanks!

[2021-04-22 12:49] edwardhartnett opened #213 "directory name version does not always match version of package?"
This comes from https://github.com/NOAA-EMC/UFS_UTILS/issues/248.

@GeorgeGayno-NOAA reports:

[2021-04-22 12:56] aerorahul commented on #213
This is a bug in sigio release tag.
The release is 2.3.2, but the VERSION file inside that release has not been updated from 2.3.0.

That is what you see when cmake imports sigio.

[2021-04-22 13:06] edwardhartnett commented on #213
OK, I have entered an issue in the sigio project. @GeorgeGayno-NOAA whenever you see such an inconsistency, please enter an issue in the related project so we can fix it.

Are there changed in sigio between 2.3.0 and 2.3.2 that matter to UFS_UTILS? Can UFS_UTILS just require 2.3.0 for now, and be happy if it gets 2.3.2?

[2021-04-22 13:46] GeorgeGayno-NOAA commented on #213
Here the other mismatches. I am using hpc stack 1.1.0.

GFSIO v1.4.1 verses v1.4.0:
`Found gfsio: /gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/gfsio/1.4.1/lib/libgfsio.a (found version "1.4.0")`

SFCIO v1.4.1 verses v1.4.0:
`Found sfcio: /gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/sfcio/1.4.1/lib/libsfcio.a (found version "1.4.0")`

W3

[2021-04-22 13:48] GeorgeGayno-NOAA commented on #213
UFS_UTILS is working with the older version.

[2021-04-22 14:42] junwang-noaa commented on #208
The UFS-weather-model test is done, the running time goes back to previous one.

[2021-04-22 14:59] edwardhartnett commented on #213
OK, @kgerheiser is helpfully fixing all the VERSION files that are wrong, but that doesn't change the state of the current release.

So we have version confusion for a number of packages. Does this confusion matter for UFS_UTILS for any of the packages? That is, are there any cases where UFS_UTILS needs a more recent version than the one being returned by the package?

[2021-04-22 15:00] kgerheiser commented on #213
No, I don't think there is any harm in the version mismatch. I'm not even sure there were any code changes aside from CMake bugs.

[2021-04-22 15:01] edwardhartnett commented on #213
OK, I will close this issue since this is not a hpc-stack issue, but a bunch of outdated VERSION files which are being fixed.

The next release of each package we must be careful to always update the VERSION before the release. If anyone has any ideas about automating that, I would be interested in hearing them...

[2021-04-22 15:01] #213 closed, assigned to nobody

[2021-04-22 15:12] GeorgeGayno-NOAA commented on #213
As @kgerheiser said, UFS_UTILS is working with these mismatches.

[2021-04-22 19:49] junwang-noaa commented on #208
From Eric Rogers: my test of the 3km CONUS LAM is now running with esmf/8_1_1_beta_snapshot_03, and I see the faster timings restored.

[2021-04-22 19:50] junwang-noaa commented on #208
@theurich The esmf/8_1_1_beta_snapshot_03 testing is done, the running time is restored.

[2021-04-22 22:54] theurich commented on #208
Jun - we expect final ESMF 8.1.1 tomorrow. I will let you know when the
patch release is official.

-Gerhard

On 4/22/21 12:51 PM, Jun Wang wrote:

[2021-04-22 23:16] BinLiu-NOAA commented on #208
Does anyone happen to have a version of esmf/811bs01 or esmf/811bs03 (or anything with the esmf/811) on Orion so that we can use now temporarily? Otherwise, we will have to wait for the newer version of esmf/811bsxx to continue our HAFS experiment on Orion. Any suggestion/help will be much appreciated. Thanks!

[2021-04-23 13:29] junwang-noaa commented on #208
@BinLiu-NOAA The esmf/811bs03 is installed on orion. To use it in the model, please do:

1) in ufs-weather-model/modulefiles/ufs-common
[code]

2) in ufs-weather-model/modulefiles/ufs_orion.intel add a line :
[code]

[2021-04-23 13:34] BinLiu-NOAA commented on #208
Thanks a lot, @junwang-noaa! We will use this version of esmf temporarily before the newer version of esmf/811bsxx being installed on Orion hpc-stack location. Thanks!

[2021-04-23 14:28] edwardhartnett commented on #208
@theurich @aerorahul is making a change in our FindESMF.cmake so that it will treat the beta_snapshot version as the forth version number. For example, the beta-47 release will have version number 8.1.0.47.

In this way, we can enforce ESMF versions in our build scripts, so that we can specify a minimum ESMF version, and the build system will not proceed unless that version (or a more recent versi

[2021-04-23 15:05] theurich commented on #208
@edwardhartnett - What you describe should be fine with ESMF versioning. We have no plans to go beyond the 3rd digit for the official versioning.
The only issue I see with the 4th digit approach for the beta snapshots is that it seems counter intuitive that e.g. 8.1.0.47 precedes the official 8.1.0. But that is how it is! How do you plan to handle that, specifically if you are relying on a compari

[2021-04-23 15:48] rjdave commented on #211
@kgerheiser If you just issue a `make clean` and then `make` it will recompile the modules with your chosen compiler.

[2021-04-23 16:07] edwardhartnett commented on #208
I did not know that 8.1.0.47 precedes 8.1.0. This will break our solution. ;-)

@aerorahul perhaps the answer is to subtract 1 from the version for a beta_snapshot release?

[2021-04-23 16:14] aerorahul commented on #208
What happens when they release 9.0.0?
Anyone heard about semantic versioning?

[2021-04-23 16:17] theurich commented on #208
@aerorahul - ESMF uses semantic versioning. That is for the three official digits of the version, and that is why we do NOT include the snapshot number as a digit... because doing so would break the semantic versioning pattern. Doing that was a choice on your side, not ours.

[2021-04-23 16:26] edwardhartnett commented on #208
@theurich can we ask you to do releases instead of snapshot releases?

That is, instead of giving us beta_snapshot47, give us 8.1.0.47? Or 8.1.1?

[2021-04-23 16:36] theurich commented on #208
@edwardhartnett @rsdunlapiv - The way the ESMF development and release process works right now is that we have a develop branch, which is aimed at a future release (right now 8.2.0). During this development we push out snapshots, so that we can get feedback from early testers. E.g. 8.2.0bs05 is the latest snapshot right now. The final release in this process will be 8.2.0 eventually. So anything t

[2021-04-23 16:40] edwardhartnett commented on #208
OK, thanks.

[2021-04-23 17:06] aerorahul commented on #208
@theurich
You are correct about the versioning of ESMF and its releases, and what is being done is proper.  We (I) added the 4th parameter `TWEAK` following CMake's `PROJECT_VERSION` documentation to differentiate between the versions.
I am not aware of any mechanism in cmake that one can request a particular VERSION based on a release candidate `rc` or beta releases, and hence my attempt at using

[2021-04-23 18:44] theurich commented on #208
@junwang-noaa @edwardhartnett @aerorahul @rsdunlapiv - ESMF 8.1.1 patch is officially released now: https://github.com/esmf-org/esmf/releases/tag/ESMF_8_1_1

[2021-04-23 21:07] jbathegit opened #214 "update nceplibs-bufr to v11.5.0"
**Please describe the package or library you would like to add to hpc-stack.**
This is the latest version of the nceplibs-bufr library, which is already part of hpc-stack.  It is available from https://github.com/NOAA-EMC/NCEPLIBS-bufr/releases/tag/bufr_v11.5.0

**What applications at NOAA will be using this package or library?**
Numerous applications on the WCOSS supercomputer and elsewhere.

**W

[2021-04-23 21:48] jbathegit opened #215 "add MADIS library to hpc-stack(?)"
There's a library available from https://madis-data.ncep.noaa.gov/madis_api.shtml (current release version is v4.3) which is used by the GTS decoder suite on the current WCOSS.  For WCOSS2, the NCO SPA office are suggesting that this library should become part of hpc-stack and included as part of that installation on WCOSS2, rather than being installed as part of the GTS decoder suite as it is now

[2021-04-24 03:17] aerorahul commented on #215
@jbathegit
I looked at the build instructions for the madis library and I have to say, putting this into hpc-stack is not going to be trivial.
There is manual intervention required to edit `makefile` and that makes it extremely difficult to make this portable.
If GSL would be willing for us to contribute a cmake build for this library, it will solve our issues; or at the very least allow users to

[2021-04-24 15:42] BinLiu-NOAA opened #216 "Has FFTW already been included in hpc-stack?"
I saw FFTW is listed in the [README.md](https://github.com/NOAA-EMC/hpc-stack). Wondering if FFTW is already included in hpc-stack/1.1.0. If yes, how can we load the fftw module and use it? Thanks!

[2021-04-25 16:11] aerorahul commented on #215
@kgerheiser
Please take a look at [this](https://github.com/NOAA-EMC/hpc-stack/tree/feature/madis) branch.

[2021-04-26 12:15] edwardhartnett commented on #215
Can GSL undertake to fix their build system? Preferably with a CMake build system?

Without that, it is going to be hard to add it to hpc-stack.

[2021-04-26 13:19] junwang-noaa commented on #208
@theurich For the ESMF8.1.1, do you need us to do another round of testing? If it is same as esmf811bs03, then I think we can just install the ESMF 8.1.1 patch, thanks!

[2021-04-26 13:36] Hang-Lei-NOAA commented on #214
Hi, Jeff
I will add this.
Thanks
Hang

On Fri, Apr 23, 2021 at 5:07 PM Jeff Ator ***@***.***> wrote:

[2021-04-26 13:42] kgerheiser commented on #215
That branch looks pretty good @aerorahul. A couple of lines of sed isn't bad.

[2021-04-26 13:50] aerorahul commented on #215
@kgerheiser
Thanks for taking a look.  I will issue a PR.
For some reason the CI is timing out or failing in ESMF 8.1.0 and I can't figure out what is the actual cause.
we have a lot of packages in hpc-stack and some (HDF5 and ESMF in particular) take a very long time to build.

[2021-04-26 14:06] aerorahul opened #218 "`update_modules` function also installs CMake build files in modulefiles directory."
**Describe the bug**
Every build script uses the `update_module` function from `stack_helpers.sh`.
This function is installing `cmake` build files in the module directory, when invoked.
This was seen in the installation directory for `mpich`, `openmpi` and more recently `madis`.
Presumably also will be seen if someone tries to build and install `gnu` from source.

Here is a tree of the `mpich` mod

[2021-04-26 15:29] theurich commented on #208
@junwang-noaa - Code of ESMF 8.1.1 is identical to ESMF811bs03. Only the versioning has been set to official 8.1.1 release.

[2021-04-26 15:36] kgerheiser opened #220 "Update CMake to 3.20.1"
Building the weather model with external FMS requires CMake 3.19+ which will be installed with hpc-stack.

[2021-04-26 15:42] kgerheiser commented on #216
It's in hpc-stack, but it's disabled in all of our config files, and is not installed anywhere. I'm not sure why that is.

[2021-04-26 18:09] jbathegit commented on #215
I reached out to the MADIS developers to ask if they have any plans to add CMake to their build and install process, for either of their upcoming 4.5 or 4.6 versions.  They said they don't at this time but will look into adding it.

Otherwise, if we want to do this ourselves we can certainly offer anything we develop back to them, but with the caveat that we may not have been able to test ourselve

[2021-04-26 21:33] #178 closed, assigned to nobody

[2021-04-26 21:55] YaliMao-NOAA opened #224 "wgrib2 of module wgrib2/2.0.8 under hpc-stack doesn't work when converting a grid file"
**Describe the bug**
When converting a grib file, wgrib2 of module wgrib2/2.0.8  failed to work and got the error message:
warning: empty layer generated

**To Reproduce**
On Venus:
cd /gpfs/dell2/emc/modeling/noscrub/Yali.Mao
module use /usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc/1.1.0
module load hpc-ips/18.0.1.163
module load hpc-impi/18.0.1
 /gpfs/dell2/

[2021-04-26 22:08] YaliMao-NOAA commented on #224
It seems wgrib2/2.0.8 triggers the error message 'empty layer generated" when using the option "-set_grib_type same". However, without the option "-set_grib_type same", the converted file size is much bigger than what wgrib2 of grib_util.v1.1.1 does.

[2021-04-27 14:01] BijuThomas-NOAA commented on #212
Any suggestion on how to use Jasper/2.0.25 during the G2 build using CMake on Jet?

[2021-04-27 14:03] kgerheiser commented on #212
Yes, I will fix the path to point to the correct place. It was down for maintenance last time.

[2021-04-27 14:05] kgerheiser commented on #212
I have fixed it on Jet and Orion. I checked Hera and it looks fine there.

[2021-04-27 14:17] #218 closed, assigned to kgerheiser

[2021-04-27 14:25] BinLiu-NOAA commented on #216
@kgerheiser, Thanks for checking! Is there any plan or is it possible to try to enable building FFTW in hpc-stack. In the HAFS DA workflow, we do need use a FFTW library, currently we are either using the system-side build FFTW module or building FFTW inside the HAFS application package. So, it will be helpful/better if FFTW is available from hpc-stack. Most likely, FFTW is being used in other UFS

[2021-04-27 14:26] kgerheiser commented on #216
Yes, we can do that.

[2021-04-27 14:31] BinLiu-NOAA commented on #216
Thanks @kgerheiser! Feel free to let us know when you have a version of FFTW inside hpc-stack for us to test. @BijuThomas-NOAA and I can give it a test with our HAFS tools, which use the FFTW library. Thanks!

[2021-04-27 15:00] BijuThomas-NOAA commented on #212
Thanks.  The original issue still exists. The g2/3.4.1 with jasper/2.0.25 is not reading grib2 files. Specifically, the routine getgb2 from G2, signaling that there is an error (code 96) in reading GRIB2 files

On the other hand, g2/v3.1.0 with jasper/v1.900.1 reads grib2 files without any issues.
I can provide a simple example if it helps.

[2021-04-27 15:06] kgerheiser commented on #212
Yes, a reproducer would be helpful.

[2021-04-27 15:43] BijuThomas-NOAA commented on #212
/lfs1/HFIP/hwrfv3/Biju.Thomas/Test_G2_getgb2/G2_getgb2_hpc-stack (The FORTRAN code check_getgb2.f90 reads a grib2 file using getgb2 routine from g2/3.4.1 with jasper/2.0.25 )
/lfs1/HFIP/hwrfv3/Biju.Thomas/Test_G2_getgb2/G2_getgb2 (Same but with g2/v3.1.0 loaded with jasper/v1.900.1)

There is compile.sh script for compilation and a script run_getgb2.sh to submit the jobs in each of those directori

[2021-04-27 23:01] YaliMao-NOAA commented on #224
The issue exists only on Dell. wgrib2 of hpc-stack on Hera works well.
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-18.0.5.274/impi-2018.0.4/wgrib2/2.0.8/bin/wgrib2

[2021-04-28 13:44] #215 closed, assigned to nobody

[2021-04-28 16:04] #208 closed, assigned to nobody

[2021-04-28 19:46] arunchawla-NOAA opened #226 "Consistent locations of hpc-stack across platforms"
**Is your feature request related to a problem? Please describe.**

Official installations of hpc-stack have inconsistent paths across platforms. In some places the name hpc-stack comes twice, in other places there are version numbers in the path. While this is not a major issue we should use a clean path

**Describe the solution you'd like**

All installations should just be <prefix>/hpc-path

Wh

[2021-04-29 02:35] junwang-noaa commented on #209
upp/10.0.6 was used in ufs-weather-model in [PR#513](https://github.com/ufs-community/ufs-weather-model/pull/513), this issue can be closed.

[2021-04-29 02:37] junwang-noaa commented on #199
@Hang-Lei-NOAA so we will also need cmake 3.18+ installed on the supported platforms in order to use fms library in the model, may I ask if you installed it? Thanks

[2021-04-29 03:20] WenMeng-NOAA commented on #209
Thanks!

[2021-04-29 03:20] #209 closed, assigned to Hang-Lei-NOAA

[2021-04-29 12:11] Hang-Lei-NOAA commented on #199
Will get cmake3.20 done today according to this and other requests

On Wed, Apr 28, 2021 at 10:38 PM Jun Wang ***@***.***> wrote:

[2021-04-29 13:52] climbfuji commented on #199
Note: FMS was installed and tested successfully on Cheyenne with Intel and GNU, and on Gaea with Intel.

- For Cheyenne/GNU, I had to add the FMS patch that was in ufs-weather-model to hpc-stack, this has been merged into develop. No need to install cmake, because cmake 3.18.4 is available as module and sufficient for FMS
- For Gaea, I had to install cmake, I did that manually outside of hpc-stack

[2021-04-29 14:03] kgerheiser commented on #199
Thanks Dom

[2021-04-29 15:36] aerorahul opened #227 "Enable and install JEDI software dependencies on Orion and Hera."
**Please describe the package or library you would like to add to hpc-stack.**
Install/Update several packages used in JEDI *only* on Orion and Hera.

bufr with python3 enabled (orion python/3.7.5 hera: /contrib/anaconda -- python3) develop or latest tag beyond 11.4.0

eigen 3.3.7
boost headers-only 1.68.0
pybind11 2.5.0
gsl-lite 0.37.0

ecbuild ecmwf 3.6.1
eckit ecmwf 1.16.0
fckit ecmwf 0.9.2
atl

[2021-04-29 15:41] Hang-Lei-NOAA commented on #227
Will process them this week,right after the cmake, esmf g2tmpl and bufr
updates.

On Thu, Apr 29, 2021 at 11:36 AM Rahul Mahajan ***@***.***>
wrote:

[2021-04-29 15:47] aerorahul commented on #227
@Hang-Lei-NOAA you might consider `bufr` with python3 and kill 2 birds with one stone

[2021-04-29 15:50] Hang-Lei-NOAA commented on #227
Okay, great suggestion!

On Thu, Apr 29, 2021 at 11:47 AM Rahul Mahajan ***@***.***>
wrote:

[2021-04-30 12:18] edwardhartnett commented on #220
When I look at the FMS CMakeLists.txt file, I see:

`cmake_minimum_required(VERSION 3.7...3.15 FATAL_ERROR)
`
So this does not seem to require 3.19+. Which package does?

Probably whatever that package is, does not really need 3.19. Probably that programmer just selected the current version on their system as the minimum version, without considering that this would cause extra work as everyone has

[2021-04-30 12:27] climbfuji commented on #220
According to @DusanJovic-NOAA we need 3.18 or higher because it needs to support aliases of aliases. Maybe that for the way FMS is used in the ufs-weather-model and not a limitation imposed by FMS itself.

[2021-04-30 13:11] kgerheiser commented on #220
Yes, it is required for aliases to be used in the weather model.

[2021-04-30 13:26] DusanJovic-NOAA commented on #220
Cmake version 3.18+ is not required for the FMS itself, but, as the issue description says, for the ufs-weather-model.

https://cmake.org/cmake/help/latest/command/add_library.html#alias-libraries

_New in version 3.18: An ALIAS can target a non-GLOBAL Imported Target. Such alias is scoped to the directory in which it is created and below. The ALIAS_GLOBAL target property can be used to check if t

[2021-05-03 12:39] #192 closed, assigned to nobody

[2021-05-04 16:03] aerorahul commented on #227
@Hang-Lei-NOAA @kgerheiser
When can the JEDI developers expect these be installed and available on Hera and Orion?

[2021-05-04 16:04] kgerheiser commented on #227
I'll do Orion today.

[2021-05-04 16:28] kgerheiser commented on #227
I did a test install, and everything built fine, but I see several of the ecmwf utilities (fckit, eckit) pick up Python 2.7.5 when I have Python 3.7.5 loaded. Not sure if that has any effect.

[2021-05-04 16:31] aerorahul commented on #227
@kgerheiser
I think that is fine.  Let me take a look and test.

[2021-05-04 16:38] aerorahul commented on #227
@kgerheiser

The following are not installed:
pybind11 2.5.0
gsl-lite 0.37.0
bufr/11.5.0 is missing.  Please install with python 3.7.5

The following have incorrect repos and versions.
ecbuild, eckit, fckit and atlas are from the jcsda fork and release-stable branch.

Please see the description for correct versions and repos.

[2021-05-04 16:39] Hang-Lei-NOAA commented on #227
I just modified build to get the releases of ecbuild etc directly from
ecmwf. It will be installed on hera today.

On Tue, May 4, 2021 at 12:32 PM Rahul Mahajan ***@***.***>
wrote:

[2021-05-04 16:41] kgerheiser commented on #227
I installed it separately to check before installing it in the final location.

[2021-05-04 16:44] aerorahul commented on #227
Ok.  Can you point me to your test location?

[2021-05-04 16:48] kgerheiser commented on #227
I put it here `/work/noaa/nems/gkyle/hpc-stack/install`. I installed just those handful of libraries by loading the main hpc-stack modules in the config. So, you can't do `module load hpc`, etc. Not sure if you have a good way to use the modules.

[2021-05-04 19:15] kgerheiser commented on #224
I see the problem. The link flags are pointing to a broken version of Jasper.

[2021-05-04 20:12] kgerheiser commented on #227
Done on Orion

[2021-05-04 20:41] Hang-Lei-NOAA commented on #227
Thanks Kyle, Hera is done too.

On Tue, May 4, 2021 at 4:13 PM Kyle Gerheiser ***@***.***>
wrote:

[2021-05-05 13:01] YaliMao-NOAA commented on #224
Now it works. Thank you.

[2021-05-05 13:01] #224 closed, assigned to nobody

[2021-05-05 13:08] #189 closed, assigned to nobody

[2021-05-05 20:34] aerorahul commented on #227
@Hang-Lei-NOAA I have verified that the JEDI software builds and runs on Hera. Thanks!
However, I found that the bufr library built (11.5.0) was built without python API.
hpc-stack currently does not yet provide that unfortunately.

I will verify the same on Orion soon and then if all is in order, close this issue.

[2021-05-05 21:28] Hang-Lei-NOAA commented on #227
Hi, Rahul, It was built with the local  intelpython/3.6.8 on hera. I will
try to build the bufr 1.5.0 again independently with  /contrib/anaconda.

On Wed, May 5, 2021 at 4:34 PM Rahul Mahajan ***@***.***>
wrote:

[2021-05-06 13:32] edwardhartnett commented on #210
To sum up this issue, @junwang-noaa and other developers have been shown how to install their own development version of ESMF for testing.

The hpc-stack team will update ESMF as needed for new releases, but will not be responsible for installing development snapshots for testing.

If we do need to update to a development snapshot in hpc-stack, that causes problems because there's no easy way for

[2021-05-06 13:32] #210 closed, assigned to kgerheiser, junwang-noaa, Hang-Lei-NOAA

[2021-05-06 13:33] edwardhartnett commented on #199
Which repo is using FMS? fv3atm?

Is the CMake build in that repo testing for the presence and correct version of FMS? It needs to.

[2021-05-06 13:46] arunchawla-NOAA commented on #199
UFS-weather-model build system

[2021-05-06 13:57] edwardhartnett commented on #199
But the UFS-weather-model just assembles a bunch of repos. Which of those repos actually use FMS?

[2021-05-06 14:08] junwang-noaa commented on #199
fv3atm and mom6.

On Thu, May 6, 2021 at 9:58 AM Edward Hartnett ***@***.***>
wrote:

[2021-05-06 15:08] edwardhartnett commented on #199
Thanks I added issues to fv3atm and mom6.

I note mom6 is still using the mkmf build system that has plagued many GFDL builds. I offered to convert it to autotools, as I did for the FMS.

[2021-05-06 16:33] edwardhartnett opened #231 "create a test stack that does not build ip2, w3nco, sfcio, nemsiogfs, gfsio and see where things fail"
A request from @arunchawla-NOAA :

We have recently done a hpc-stack release. Let's try removing these packages.

We can discuss at meeting today.

[2021-05-06 16:35] edwardhartnett commented on #231
We should also upgrade UFS_UTILS to our most recent release.

Also maybe we should add netcdf-c-4.8.0? I will open an issue for that...

[2021-05-06 19:10] WenMeng-NOAA opened #232 "Install upp/10.0.7 on the hpc-stack"
**Please describe the package or library you would like to add to hpc-stack.**
The UPP have a couple updates including some essential bug fixes for supporting regional inline post at ufs-weather-model.
A new tag upp_v10.0.7 was created at the UPP repository for installing upp/10.0.7 at the hpc-stack.

**What applications at NOAA will be using this package or library?**
The ufs-weather-model will u

[2021-05-10 15:53] edwardhartnett commented on #108
OK, this issue is coming up. @mkavulich has raised the point that if we are going to have users install NCEPLIBS with the NCEPLIBS project, we should eat our own dogfood and use it in hpc-stack.

NCEPLIBS-external is going to go through some surgery and have some of the more commonly available packages removed. T

[2021-05-10 17:45] DusanJovic-NOAA opened #234 "ufs-weather-model crashes when prebuilt FMS library is used"
**Describe the bug**
Couple of ufs tests fail on wcoss when we switch to using prebuilt FMS library. The error is:
[code]
The trackback shows:
[code]

**To Reproduce**
On wcoss_dell_p3:
[code]

**Expected behavior**
Model should not crash.

**System:**
wcoss_dell_p3

**Additional context**
This test and all other regression tests work on wcoss_cray and gaea.

[2021-05-10 17:47] edwardhartnett commented on #234
Was the pre-build FMS built with netcdf-4?

[2021-05-10 20:15] aerorahul commented on #234
I am sure it was.
Can someone point to the path to `fms.log` on how fms was built on WCOSS-Dell for the stack?
I am wondering if cmake options or compile options were added/removed that are not in the repository.

[2021-05-10 21:09] DusanJovic-NOAA commented on #234
Looks like FMS library is not complied consistently (using the same build options) across all 7 platforms we support. For example:
On Orion:
[code]
while on WCOSS Dell:
[code]

[2021-05-10 21:23] climbfuji commented on #234
The default options in develop (which I used on gaea and cheyenne) are as the ones on orion,
[code]
I hope those are correct (and it looks like they are, dell is the outlier?)

[2021-05-10 21:56] DusanJovic-NOAA commented on #234
In addition to build options we also need AVX2 compiler flag used on all platforms that support AVX2.

[2021-05-10 22:05] climbfuji commented on #234
I added those on gaea and cheyenne for both gnu and intel, yes. In the machine config file.

[2021-05-10 22:25] climbfuji commented on #234
See https://github.com/NOAA-EMC/hpc-stack/blob/develop/config/config_cheyenne_intel.sh for example.

[2021-05-10 23:37] kgerheiser commented on #234
They shouldn't have been built with different options, besides no AVX on Jet.

@Hang-Lei-NOAA did you change anything when you installed it?

https://github.com/NOAA-EMC/hpc-stack/blob/75f718666e23bf38b42226c1c0613b6a68749d6e/config/stack_noaa.yaml#L85

[2021-05-11 00:41] Hang-Lei-NOAA commented on #234
No, just follow hpc-stack

On Mon, May 10, 2021 at 7:37 PM Kyle Gerheiser ***@***.***>
wrote:

[2021-05-11 01:48] Hang-Lei-NOAA commented on #234
I rebuilt the FMS dell using the latest develop branch. The problem is caused by the dell installation hpc-stack is using the release version v1.1.0, which is different from the develop. I will check and update Hera too. Please @DusanJovic-NOAA have a try.

[2021-05-11 02:53] Hang-Lei-NOAA commented on #232
CMake Error at sorc/ncep_post.fd/CMakeLists.txt:192 (add_library):
  Target "upp" links to target "ip::ip_4" but the target was not found.
  Perhaps a find_package() call is missing for an IMPORTED target, or an
  ALIAS target is missing?

CMake Error at sorc/ncep_post.fd/CMakeLists.txt:192 (add_library):
  Target "upp" links to target "ip::ip_4" but the target was not found.
  Perhaps a find_pack

[2021-05-11 03:11] WenMeng-NOAA commented on #232
@DusanJovic-NOAA Do you have any suggestions on Hang's failure of upp lib installation above? I can use  the build script at
tests/compile_upp.sh to build upp lib under tests/install/ . Thanks!

[2021-05-11 13:26] kgerheiser commented on #232
I see `find_package(ip)` is only called if `BUILD_POSTEXEC=ON`. @Hang-Lei-NOAA can you see if that option is being passed to CMake? Maybe it's off and `ip` isn't being searched for?

[2021-05-11 13:43] Hang-Lei-NOAA commented on #232
I did not see this passed in Cmake. So this was off. UPP may need to test cmake before tag

[2021-05-11 13:46] kgerheiser commented on #232
We have this line, which disables building the executable.

https://github.com/NOAA-EMC/hpc-stack/blob/3da1c6b902a09e92ab272564e5dc2128700bf38e/libs/build_nceplibs.sh#L186

But in UPP `ip::ip_4` is linked to regardless.

https://github.com/NOAA-EMC/EMC_post/blob/2ed74d3f3ee237c80152ea76a344906e8a79c686/sorc/ncep_post.fd/CMakeLists.txt#L202

I think the `find_package(ip)` should be taken out of the

[2021-05-11 13:50] DusanJovic-NOAA commented on #232
Yes. `find_package(ip REQUIRED)` should be moved outside `if(BUILD_POSTEXEC)` block. Post library now depends on ip, not just the executable.

[2021-05-11 14:13] Hang-Lei-NOAA commented on #232
Hi, Wen, Please take the suggestion, fix and test cmake, then fix the tag.

[2021-05-11 14:33] BijuThomas-NOAA commented on #212
Wondering if have you had a chance to look at the issue to read GRIB2 files using G2 (getgb2 routine).

[2021-05-11 14:34] WenMeng-NOAA commented on #232
I am confused what kind changes are needed at the UPP side (EMC_post)? Can someone provide me the changes on WCOSS or Hera? Thanks!

[2021-05-11 14:35] kgerheiser commented on #232
I put in a PR

https://github.com/NOAA-EMC/EMC_post/pull/315

[2021-05-11 14:36] WenMeng-NOAA commented on #232
@kgerheiser Thanks!

[2021-05-11 14:57] WenMeng-NOAA commented on #232
@kgerheiser Got it. I will conduct the UPP tests soon. Thanks!

[2021-05-11 15:24] climbfuji opened #236 "Develop (3da1c6b) fails to build udunits when Python is activated"
**Describe the bug**

The Python version is not passed to `update_modules` from `libs/build_udunits.sh` - should it?
[code]

**To Reproduce**
Add the following to to `config/config_cheyenne_intel.sh`:
[code]
then run
[code]

**Expected behavior**
Build hpc-stack without errors.

**System:**
Cheyenne/Intel

[2021-05-11 15:28] aerorahul commented on #236
@climbfuji
I realized this too.
Can you please try the branch [`bugfix/python-not-found`](https://github.com/NOAA-EMC/hpc-stack/tree/bugfix/python-not-found)

[2021-05-11 16:02] climbfuji commented on #236
This branch looks better, will wait until the build finishes.

[2021-05-11 16:25] WenMeng-NOAA commented on #232
The UPP PR #315 was merged. @kgerheiser Thanks!
@Hang-Lei-NOAA The UPP tag upp_v10.0.7 was re-created with the commit cceaa71. Please  try it. Thanks!

[2021-05-11 16:50] climbfuji commented on #236
I got all the way to PIO (2.5.3), this now fails with something I haven't seen before. Have you?
[code]

[2021-05-11 17:00] aerorahul commented on #236
No, I have not seen this before.
It seems an issue with include paths.

[2021-05-11 17:05] climbfuji commented on #236
It says
[code]
But that's when building the tests. Weird though, because `MAKE_CHECK=N` is set.

[2021-05-11 17:14] kgerheiser commented on #236
That's a PIO bug. There's a generated (GCC) `.mod` inside of the source code.

https://github.com/NOAA-EMC/hpc-stack/issues/211

I have a PR incoming to fix it.

[2021-05-11 17:18] climbfuji commented on #236
Thanks, @kgerheiser - great that you already have a fix for it.

[2021-05-11 17:26] DusanJovic-NOAA commented on #234
I tested the FMS installation by running single ufs-weather-model test (fv3_gfs_v16_debug) on both wcoss_dell_p3 and hera, and they finished successfully.

[2021-05-11 17:42] Hang-Lei-NOAA commented on #234
Thanks Dusan.

On Tue, May 11, 2021 at 1:26 PM Dusan Jovic ***@***.***>
wrote:

[2021-05-11 18:36] climbfuji commented on #236
Next error, madis. Seems like the linker order for netcdf and netcdff is reverse of what it should be.
[code]

[2021-05-11 18:38] kgerheiser commented on #236
Could you try swapping the order in these lines?

https://github.com/NOAA-EMC/hpc-stack/blob/3da1c6b902a09e92ab272564e5dc2128700bf38e/libs/build_madis.sh#L64

[2021-05-11 18:47] kgerheiser commented on #234
Can this issue be closed now @DusanJovic-NOAA?

[2021-05-11 18:53] #234 closed, assigned to nobody

[2021-05-11 19:21] #236 closed, assigned to nobody

[2021-05-11 19:37] climbfuji commented on #236
That should do ... will include in my next PR

[2021-05-12 02:16] climbfuji opened #239 "nccmp 1.8.7.0 build fails with GNU-10 - update nccmp to 1.8.9.0"
**Describe the bug**
With GNU-10 (on Cheyenne, but that should be system independent), building `nccmp` fails with
[code]
This is not a bug in `hpc-stack`, but in `nccmp`. The solution is to update `nccmp` to the latest (4 months old) tag 1.8.9.0, which builds fine with Intel 19, GNU 9 and GNU 10 on Cheyenne.

[2021-05-12 13:12] climbfuji opened #240 "eckit (release-stable) fails to build on gaea"
**Describe the bug**
Building eckit fails on gaea with the following error (and many more, similar errors following):
[code]

**To Reproduce**
Steps to reproduce the behavior:
- check out hpc-stack develop, run `setup_modules.sh` and `build_stack.sh` using `stack_noaa.yaml`
- look at the log

**Expected behavior**
eckit builds on gaea so that libraries that depend on it can be built, too (fckit, a

[2021-05-12 13:47] #211 closed, assigned to kgerheiser

[2021-05-12 14:19] aerorahul commented on #240
Why `stack_noaa.yaml` when there is `stack_gaea.yaml` which has the JEDI dependencies turned OFF?
I don't think we are running any JEDI software on a Cray at the moment, so its best to turn this OFF on Gaea.
I will be updating the versions of the JEDI software in the stack in a PR coming up.  JEDI is moving to upstream tags from ECMWF for ecbuild, eckit, fckit and atlas.

See branch feature/update

[2021-05-12 14:21] climbfuji commented on #240
Sure, I was trying to identify all problems on gaea in order to remove the extra gaea stack in the future. See my next PR, the only differences leftt are eckit, fckit, atlas.

[2021-05-12 14:23] aerorahul commented on #240
Ok. Try the versions from the branch feature/update-jedi-versions.
My guess is this is Gaea more than the code.  ECMWF builds these on their Cray machines all the time.

[2021-05-12 14:27] climbfuji commented on #240
I won't have time to work on this in the near future, wanted the issue recorded so that it gets fixed at some point.

Without taking a closer look, my guess is that something parses the output of `uname` and that is different on gaea.

[2021-05-12 15:05] Hang-Lei-NOAA commented on #232
This has been successfully installed on dell and hera through hpc-stack. I am going to cmake build it on cray.

[2021-05-12 15:10] WenMeng-NOAA commented on #232
@Hang-Lei-NOAA Thanks!

[2021-05-12 18:41] kgerheiser commented on #232
Done on Jet and Orion

[2021-05-12 19:05] WenMeng-NOAA commented on #232
@kgerheiser Thanks!

[2021-05-13 21:00] guoqing-noaa opened #244 "Changes for compiling community GSI/EnKF"
**Please describe the package or library you would like to add to hpc-stack.**
Add the lib `gsiwrfio` which is required to compile regional applications of community GSI/EnKF. It needs more codes beyond current `wrf_io` in the NCEPLIBS and it looks like it is not a trivial task to combine "gsiwrfio" and "wrf_io"

https://github.com/comgsi/gsiwrfio

**What applications at NOAA will be using this pa

[2021-05-13 22:31] arunchawla-NOAA commented on #244
why do we have two versions of wrf_io?

[2021-05-13 22:36] guoqing-noaa commented on #244
I don't know how was so.
But the technical differences of two wrf_io are listed in the PR #243
https://github.com/NOAA-EMC/hpc-stack/pull/243#issuecomment-840866789

I definitely hope there are efforts to combine them into one.

[2021-05-13 22:41] arunchawla-NOAA commented on #244
we cannot have multiple versions of wrf_io. Who are the developers of these libraries?

[2021-05-13 22:45] edwardhartnett commented on #244
@GeorgeVandenberghe-NOAA can tell us where wrf_io came from...

[2021-05-14 13:30] kgerheiser commented on #244
I have this PR still open, which should take care of it. It doesn't address multiple copies of the code though.

https://github.com/NOAA-EMC/NCEPLIBS-wrf_io/pull/30

[2021-05-14 13:49] arunchawla-NOAA commented on #244
OK if I am reading this right, once the changes are merged in and GSI compiles with the wrf_io we do not have to worry about gsiwrf_io anymore correct? Once this is working for GSI please let me know so that I can ask the GSI code managers to get rid of gsiwrf_io

We really should not be having multiple copies of libraries around our infrastructure. Should this ticket remain open so we have on rec

[2021-05-14 13:53] GeorgeVandenberghe-NOAA commented on #244
I do not remember the details of its origin.   Someone in the WRF group
prepared it to allow EMC_post to compile without having to use the entire
WRF repository object base which was the way post had previously been built
from the late aughts  to 20181Q.  I was asked to make it a library and I
did so but the urgency of that time (early 2018) was to get the post to
build at all on WCOSS-dell-p3 whe

[2021-05-14 14:02] Hang-Lei-NOAA commented on #244
As Arun pointed out, there is no good to keep two repos. For future
development, the changes should be pulled into the repository as necessary.
After the wrfio ticket is done and the gsiwrfio merged in, we will install
the new wrf_io library to address this ticket.

As George mentoned, the wrf_io was the library originated from ESRL to
replace the old wrf_shared library used in post and HWRF.

On

[2021-05-14 15:37] #220 closed, assigned to kgerheiser

[2021-05-14 15:51] kgerheiser commented on #212
I can reproduce this on my local machine. I will take a closer look.

[2021-05-14 17:27] guoqing-noaa commented on #244
Thanks all for the feedback and good to know the history. I did not develop this gsiwrfio lib, but took it from under the libsrc/ directory of the old GSI/EnKF repository (which successfully builds on wcoss). I am glad this issue was brought up. I don't think I have time to maintain/update this lib according to NCEPLIBS rules (such as adding doxygen documentation and unit tests). I hope it can be

[2021-05-14 18:11] kgerheiser commented on #212
Good news, I believe I found the bug. It's an issue in g2, and unrelated to Jasper.

See here: https://github.com/NOAA-EMC/NCEPLIBS-g2/issues/49

[2021-05-14 18:16] kgerheiser commented on #212
The output is now:

[code]

Which matches the correct output.

[2021-05-14 18:48] kgerheiser commented on #212
The bug notwithstanding, If you change the file unit to be less than 100 (from 201). Your program should run.

[2021-05-14 19:53] BijuThomas-NOAA commented on #212
Great! Much appreciated!

[2021-05-18 18:54] #239 closed, assigned to nobody

[2021-05-18 20:56] climbfuji commented on #240
This now builds, but atlas no longer builds on gaea.

[2021-05-20 15:59] guoqing-noaa commented on #54
I encountered the same bug at Jet. I sent a help ticket to the Jet admin yesterday. I got a response that a new version of lmod will be installed in 2 or 3 weeks.

[2021-05-20 16:27] kgerheiser commented on #54
I have a workaround I've been using where you `export __lmod_vx=""`

[2021-05-20 16:45] guoqing-noaa commented on #54
That's a good workaround. Thanks, @kgerheiser

[2021-05-21 17:36] guoqing-noaa commented on #244
close this as all changes in gsiwrfio had been merged into latest wrf_io (v1.2.0).

[2021-05-21 17:36] #244 closed, assigned to Hang-Lei-NOAA

[2021-05-25 20:24] edwardhartnett opened #247 "eccodes"
At @arunchawla-NOAA 's request
@Hang-Lei-NOAA can you install eccodes on hera so that we can get some people to play with it.

Please notify @AliciaBentley-NOAA and @LoganDawson-NOAA when it's installed on hera.

[2021-05-25 20:29] Hang-Lei-NOAA commented on #247
Yes, I will install it today

On Tue, May 25, 2021 at 4:24 PM Edward Hartnett ***@***.***>
wrote:

[2021-05-26 04:07] Hang-Lei-NOAA commented on #247
The eccodes/2.22.0 has been added to hpc-stack on Hera, with intel compiler.
Please try and give feedback if you have any concerns.

-----------------------------------------------------------
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/mpi/intel/18.0.5.274/impi/2018.0.4
----------------------------------------------------------------------
   atlas/ecmwf-0.24.1         (D)    es

[2021-05-26 18:50] kgerheiser commented on #212
The fixed g2 (v3.4.2) has been installed.

[2021-05-26 18:50] #212 closed, assigned to nobody

[2021-05-26 18:50] kgerheiser commented on #203
This has been fixed with #246

[2021-05-26 18:50] #203 closed, assigned to nobody

[2021-05-26 18:51] kgerheiser commented on #214
We have installed Bufr 11.5.0

[2021-05-26 18:51] #214 closed, assigned to Hang-Lei-NOAA

[2021-05-26 18:52] #207 closed, assigned to nobody

[2021-05-26 18:53] kgerheiser commented on #227
I'm going to close this unless @aerorahul has any issues with it.

[2021-05-26 18:53] #227 closed, assigned to Hang-Lei-NOAA

[2021-05-26 18:54] aerorahul commented on #227
yeah, I will open another with explicit requests.

[2021-05-26 18:59] kgerheiser commented on #171
This has been completed

[2021-05-26 18:59] #171 closed, assigned to Hang-Lei-NOAA

[2021-05-26 19:01] kgerheiser commented on #196
This has been completed

[2021-05-26 19:01] #196 closed, assigned to Hang-Lei-NOAA

[2021-05-26 19:07] WenMeng-NOAA commented on #171
Thanks for installation.

[2021-05-26 19:08] WenMeng-NOAA commented on #196
Thanks for installation.

[2021-05-27 18:13] junwang-noaa opened #248 "Reinstall a hpc-stack package on orion"
**Please describe the package or library you would like to add to hpc-stack.**
After Orion's PM in April, we have seen some ufs-weather-model RT tests failed randomly on orion, while repeating those tests will make them pass. We haven't seen the issue on other platforms. We would like to ask the nceplibs team to install the hpc/1.1.0 on orion in **a different location** (without break current inst

[2021-05-27 20:09] kgerheiser commented on #248
I will do this

[2021-05-27 20:31] junwang-noaa commented on #248
Thanks, Kyle!

[2021-05-27 20:33] Hang-Lei-NOAA commented on #248
Yes, Kyle is responsible for library maintenance on orion. Thanks.

On Thu, May 27, 2021 at 4:31 PM Jun Wang ***@***.***> wrote:

[2021-05-28 13:09] kgerheiser commented on #248
@junwang-noaa I have done a test install at `/apps/contrib/NCEP/test/test-hpc-stack/install/modulefiles/stack` and tested building the weather model.

[2021-05-28 13:16] junwang-noaa commented on #248
Thanks, I will try it and let you know.

On Fri, May 28, 2021 at 9:10 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-06-03 15:42] LoganDawson-NOAA commented on #247
@Hang-Lei-NOAA thanks for installing eccodes

I took a look, and I don't see anything related to the Python API available from eccodes in the library path. I would have expected to see a directory such as the following path if the python API was enabled:
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-18.0.5.274/impi-2018.0.4/eccodes/2.22.0/lib64/**python3.6/site-packages**

I attempted to

[2021-06-03 15:45] Hang-Lei-NOAA commented on #247
Hi, Logan

The python api,  pip3,  was forbidden to download on the noaa machine.
Therefore, it is just the eccodes installation.

Thanks,
Hang

On Thu, Jun 3, 2021 at 11:42 AM Logan Dawson ***@***.***>
wrote:

[2021-06-03 15:50] LoganDawson-NOAA commented on #247
Thanks for that clarification, @Hang-Lei-NOAA

On a larger note, and I'll need to touch base with @arunchawla-NOAA offline about this... is the idea that we'll be using the eccodes Python API to read GRIB data on WCOSS2? If so, that's a new and unexpected approach to me.

I thought we were still planning to use pygrib, which has ECCODES library as a dependency. For this approach on the current WCO

[2021-06-03 15:55] Hang-Lei-NOAA commented on #247
Hi, Logan
BTW, the hpc-stack libraries are used by :
module use
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc
module load hpc-intel
module load hpc-impi

Then you can load what library you want to use.
Thanks

On Thu, Jun 3, 2021 at 11:50 AM Logan Dawson ***@***.***>
wrote:

[2021-06-04 15:28] LoganDawson-NOAA commented on #247
Thanks for the info @Hang-Lei-NOAA.

With some additional context from @arunchawla-NOAA, I wonder if we can try this installation and test from Orion? Since pip3 is required to install the python bindings and that external connection is blocked from Hera, we can't really test this eccodes python interface on Hera.

I have an Orion account and can test reading GRIB data if hpc-stack/eccodes can be

[2021-06-10 17:36] kgerheiser commented on #248
Did anything come of this?

[2021-06-14 15:53] WenMeng-NOAA opened #251 "Install upp/10.0.8 on the hpc-stack"
**Please describe the package or library you would like to add to hpc-stack.**
The UPP have a couple updates including some essential bug fixes for supporting inline post at ufs-weather-model.
A new tag upp_v10.0.8 was created at the UPP repository for installing upp/10.0.7 at the hpc-stack.

**What applications at NOAA will be using this package or library?**
The ufs-weather-model will use it for

[2021-06-15 12:08] Hang-Lei-NOAA commented on #251
This has been added to wcoss dell, cray and hera.

On Mon, Jun 14, 2021 at 11:53 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-06-15 12:12] WenMeng-NOAA commented on #251
@Hang-Lei-NOAA Thanks for quick action. Will it be available on jet and orion?

[2021-06-15 12:13] Hang-Lei-NOAA commented on #251
Kyle will do it.

On Tue, Jun 15, 2021 at 8:12 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-06-15 12:26] junwang-noaa commented on #251
Please also install it on gaea, thanks

On Tue, Jun 15, 2021 at 8:14 AM Hang-Lei-NOAA ***@***.***>
wrote:

[2021-06-15 13:44] kgerheiser commented on #251
Done on Jet and Orion

[2021-06-16 13:09] junwang-noaa commented on #251
@WenMeng-NOAA So the upp lib 10.0.8 needs to updated g2tmpl lib 1.10.0, is that correct? Any other libraries need to be updated for upp 10.0.8? Thanks

[2021-06-16 13:11] Hang-Lei-NOAA commented on #251
G2 lb need to use g2 v3.4.2

On Wed, Jun 16, 2021 at 9:09 AM Jun Wang ***@***.***> wrote:

[2021-06-16 13:26] WenMeng-NOAA commented on #251
That's right.

[2021-06-16 13:28] WenMeng-NOAA commented on #251
In my upp/10.08 testing, g2 lib was 3.4.1.

[2021-06-16 13:45] Hang-Lei-NOAA commented on #251
g2 v3.4.2 was to fix the big data file issue. Should be fine.

[2021-06-16 13:51] WenMeng-NOAA commented on #251
@Hang-Lei-NOAA and @kgerheiser In my UPP testing, I build UPP executable or library with the modulefile under EMC_post/modulefiles/wcoss_dell_p3 (or hera ...). I am not sure if the versions of NCEPLIBs  in your upp lib installation are same as the ones in our UPP testing. I have some concerns about that. Thanks!

[2021-06-16 18:18] climbfuji commented on #251
@junwang-noaa I installed g2 3.4.2, g2tmpl 1.10.0, upp 10.0.8 on gaea and on cheyenne (for intel and gnu).

[2021-06-16 18:42] WenMeng-NOAA commented on #251
Thanks for all of you to quickly install upp/10.0.8.

[2021-06-21 01:57] junwang-noaa commented on #251
Thank you all, upp lib is used in ufs-weather-model. the issue can be closed.

[2021-06-21 01:59] junwang-noaa commented on #248
Kyle, The newly installed hpc-stack library does not resolve the issue, the RT still failed occasionally. You can close the issue. Thanks

[2021-06-21 12:42] #248 closed, assigned to kgerheiser

[2021-06-21 12:42] #251 closed, assigned to Hang-Lei-NOAA

[2021-06-25 15:54] climbfuji opened #257 "Install GOCART dependencies in hpc-stack v1.1.0 on tier-1 platforms"
Opening this issue on behalf of @rmontuoro.

We need to add the dependencies for GOCART to the existing hpc-stack v1.1.0 installations on the tier-1 platforms.

This issue is to (a) provide clear instructions how to do this and (b) keep track of the installation progress.