[2022-03-21 16:52] Hang-Lei-NOAA commented on #407
mapl/2.11.0-esmf-8.3.0b09 has been added

On Mon, Mar 21, 2022 at 9:13 AM Dusan Jovic ***@***.***>
wrote:

[2022-03-22 12:24] DusanJovic-NOAA commented on #407
ufs-weather-model regression tests passed on Hera/Intel. Please install these libraries on all other platforms. including GNU versions.

[2022-03-23 21:00] gspetro-NOAA opened #414 "Create authoritative HPC-Stack ReadTheDocs documentation"
**Is your feature request related to a problem? Please describe.**
Applications that use the HPC-Stack (such as SRW/MRW) often link to external documentation for user reference. Currently, we can only link to the HPC-Stack repository, not to its documentation specifically. Readers would then have to build the docs locally ofter forking/cloning HPC-Stack or use the excerpt of the HPC-Stack docs tha

[2022-03-24 13:53] aerorahul commented on #408
@climbfuji
Will a virtual env. be available in spack stack?

[2022-03-24 14:56] climbfuji commented on #408
All of these packages will be available in spack-stack (they are already). Please see the long email I just sent regarding venv/conda env vs spack-stack modules.

[2022-03-24 18:06] kgerheiser commented on #414
I'll take a stab at this today.

[2022-03-25 02:43] junwang-noaa commented on #407
@kgerheiser @Hang-Lei-NOAA May I ask if the esmf 830b09 and mapl/2.11.0--esmf-8.3.0b09 are installed on other platforms (orion, jet, gaea, dell, cray)?
@jkbk2004 Would you please install the two libraries on Cheyenne too? Thanks

[2022-03-25 05:15] kgerheiser commented on #407
Sorry, just saw that you completed the testing. Will install.

[2022-03-25 13:47] Hang-Lei-NOAA commented on #407
It has been installed on dell and cary.

On Fri, Mar 25, 2022 at 1:16 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-03-25 14:55] climbfuji commented on #407
@jkbk2004 @junwang-noaa Can you clarify please if this version is to be installed in the old/existing tree (i.e. do I need to do that) or will this go only into the updated path (i.e. will EPIC do that)?

@jkbk2004 @mark-a-potts What is your take on changing from SGI MPT to Intel IMPI for Intel? Have you tried that? Timing/performance differences?
And if you want to make the change for Intel, do y

[2022-03-25 18:52] jkbk2004 commented on #407
@climbfuji @junwang-noaa @mark-a-potts I am working on it:mapl-2.11.0/emsf-8.3-0-b09/intel-2022. I will catch up with these updates on gnu10.1 that we are using on Cheyenne by Monday. After then, we will put mpt/impi issue on the list. gnu > 10.1 as well.

[2022-03-25 19:18] climbfuji commented on #407
That's great, thanks for your hard work on this.

[2022-03-25 23:17] kgerheiser commented on #407
Complete on Jet, Orion, and Gaea.

[2022-03-28 13:53] DusanJovic-NOAA commented on #407
Looks like installation on WCOSS Cray is broken:

[code]
This is from a build log of a ufs-weather-model regression test that uses a debug version of the esmf library.

[2022-03-28 14:43] Hang-Lei-NOAA commented on #407
I did not see the detailed loading of esmf in  "/gpfs/hps3/stmp/Dusan.Jovic/
FV3_RT/rt_5782/compile_006/build_fv3_006/CMakeFiles/CMakeOutput.log"

SURGE-slogin1 > module show esmf/8.3.0b09-debug
-------------------------------------------------------------------
/gpfs/hps/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules/esmf/8.3.0b09-debug:

conflict         ESMF/4_0_0rp2
conflic

[2022-03-28 16:45] DusanJovic-NOAA commented on #407
It works now. Thanks.

[2022-03-28 16:47] jkbk2004 commented on #407
@junwang-noaa @DusanJovic-NOAA esmf/v8.3.0b09 update passes all RT tests on Cheyenne. New hpc-stack  installation is module use /glade/scratch/epicufsrt/hpc-stack-v1.2.0_6eb6/modulefiles/stack. @Hang-Lei-NOAA @kgerheiser I have a question about module names. Right now, new esmf and mapl updates are installed on Cheyenne as module load esmf/v8.3.0b09 and module load mapl/v2.11.0. How do I change th

[2022-03-28 16:58] Hang-Lei-NOAA commented on #407
@Jong Kim - NOAA Affiliate ***@***.***> This has to be modified by
the person who installed it. We will coordinate this.

On Mon, Mar 28, 2022 at 12:47 PM JONG KIM ***@***.***> wrote:

[2022-03-28 17:01] climbfuji commented on #407
Are you sure you want to install in `/glade/scratch/`? There is an automatic purger that deletes files older than a certain number of days. It's pretty generous, 120 days at the moment, but CISL adjusts this based on usage: https://arc.ucar.edu/knowledge_base/68878466

The stack should go to the work space imo.

[2022-03-28 17:03] jkbk2004 commented on #407
@climbfuji @mark-a-potts the esmf update works well on Cheyenne. And we have the new hpc-stack installation on the epicufsrt directory.

[2022-03-28 18:55] jkbk2004 commented on #407
@climbfuji Thanks for the note. They set 20TB under scratch/epicufsrt. I will double check.

[2022-03-28 22:40] christopherwharrop-noaa commented on #403
@kgerheiser , @climbfuji - I see this is still open.  I'm needing w3emc 2.9.2 installed on Orion and Hera as well.  Right now, there is no 2.9.x version of w3emc that exists on Hera, Jet, Orion, and Cheyenne.  Some of 2.9.1 and some have 2.9.2.  Would it be possible to update the Orion and Hera hpc-stack installations with the 2.9.2 version?  I'm happy to create a new issue if that would be prefer

[2022-03-28 22:43] climbfuji commented on #403
Just to clarify, it’s on Cheyenne, just not on (some of) the other platforms ...
[code]
Note that “ownership” and location of hpc-stack will be transferred to EPIC in the next few weeks, please coordinate with @jkbk2004 that this will also be available in the new location and for the new compilers.

[2022-03-28 22:49] christopherwharrop-noaa commented on #403
@climbfuji - Yes.  w3emc 2.9.2 is missing on Hera and Orion and I need it added to the "official" hpc-stack installations on those two machines.

[2022-03-29 13:33] kgerheiser commented on #403
Will fix this. There is a bug with the w3emc module with #410 that should be fixed before a new version of w3emc is installed.

[2022-03-29 14:10] christopherwharrop-noaa commented on #403
Thank you @kgerheiser.  This looks like maybe a pretty simple fix.  Do you have an estimate of how long it might take to apply the fix and make sure the same version (2.9.2) is install everywhere?

[2022-03-29 14:11] kgerheiser commented on #403
I'll try to get that done today.

[2022-03-29 14:23] climbfuji commented on #403
Does that mean I should reinstall w3emc 2.9.2 after the fix in Cheyenne (will you retag or create a new tag 2.9.3)?

[2022-03-29 14:39] Hang-Lei-NOAA commented on #403
I believe this is just about the modulefiles.
A temporal fix is to remove the default, IF the old w3emc (mpi) is
installed. But if no old mpi version w3emc, default under w3emc 2.9.x won't
affects.

On Tue, Mar 29, 2022 at 10:23 AM Dom Heinzeller ***@***.***>
wrote:

[2022-03-29 14:39] kgerheiser commented on #403
I think re-installing w3emc/2.9.2 would be the correct thing to do. The bug only shows up in certain workflows that load UPP and w3emc, but still exists.

It's not a change in w3emc, but a change in the modulefile template in hpc-stack to use `depends_on` instead of `load`, so that LMod doesn't attempt to override user's modules that are already loaded. There was a complicated dependency chain in

[2022-03-29 14:40] kgerheiser commented on #403
Or as @Hang-Lei-NOAA says remove the `default` for w3emc 2.9.2

[2022-03-29 14:41] climbfuji commented on #403
Ok, that's easier, will do so.

[2022-03-29 14:53] kgerheiser commented on #407
@jkbk2004 check out PR #417 which gives an `install_as` option to ESMF, and MAPL automatically strips the `v`.

[2022-03-29 14:55] kgerheiser commented on #407
Closing this because ESMF has been successfully installed. Please open a new issue if you have other questions.

[2022-03-29 15:38] christopherwharrop-noaa commented on #376
@climbfuji @kgerheiser @mkavulich - I am now running into the same issue trying to build RRFS on Cheyenne.  What happens is that the hpc-stack module file for NetCDF on Cheyenne is doing:

[code]

The `load("hdf5")` in that module file causes the already loaded HDF5 from hpc-stack to be replaced by the NCAR system default one, which is wrong.  A similar thing happens with NetCDF in a different mod

[2022-03-29 15:41] climbfuji commented on #376
Basically, what you need to do is to insert this block between `module purge` and `module load cmake`, keep everything else as is:
[code]
This should work ...

[2022-03-29 15:42] climbfuji commented on #376
If it doesn't, then we need to mirror additional modulefiles from the CISL module tree to the one under GMTB/tools.

[2022-03-29 15:45] christopherwharrop-noaa commented on #376
Thanks @climbfuji.  Only problem for me now is that I need the MKL module (for GSI) and those lines prevent it from finding it.

[2022-03-29 15:50] climbfuji commented on #376
Try again please. If there is anything else missing, please let me know. You should also check whether the `module unload netcdf` is still needed (it shouldn't be loaded at this point).

[2022-03-29 15:53] christopherwharrop-noaa commented on #376
@climbfuji - Initial test works!  And, no, I do not think the `module unload netcdf` is needed, but I'm going to double check it.  Because I've done a LOT of fooling around trying to debug, and may have corrupted my shell environment, I'm going to redo my test from a fresh login shell and double check it to make sure it all still works.  Stand by...

[2022-03-29 15:56] christopherwharrop-noaa commented on #376
Ok. I think I'm good for what I was doing.  However, I may have hijacked @mkavulich 's original question a little.  I think his point still stands as a general issue and probably still needs to be addressed.  I sure do appreciate the help with the Cheyenne workaround, though.  Many thanks.

[2022-03-29 15:58] kgerheiser commented on #376
#418 should address @mkavulich's original issue. This will let users choose their own version without LMod overriding it.

[2022-03-29 16:12] christopherwharrop-noaa commented on #376
One potential downside to this solution is that those three lines:
[code]
modify the user's environment in a semi-irreversible way.  What I mean is, they change the user's environment such that they can't easily go back to the standard NCAR environment.  I think we will probably soon see all of the App `env` files become module files soon, which, if done correctly, should help with that, but we do

[2022-03-29 16:33] mkavulich commented on #376
@kgerheiser Thank you, #418 looks like a good solution to this problem. "depends_on" looks like a better flag than "prereq", although the latter would also work. I do not like the idea of "module unuse" for the reasons @christopherwharrop-noaa mentioned, it is a destructive operation to the user's environment. Regardless, this issue should be handled at its source here in the modulefiles, not by r

[2022-03-29 17:03] DusanJovic-NOAA commented on #387
I am rebuilding the hpc-stack using alternative MPI library (for testing) on Hera and trying to use it in the UFS. UFS is still loading png module as `png/1.6.35`, but the png module is now named `libpng/X.Y.Z`. I can of course rename the module name in the UFS temporarily while testing, but that's annoying. My question is, is the module `libpng/1.6.35` installed on all platforms, and is it exactl

[2022-03-29 17:29] #410 closed, assigned to kgerheiser

[2022-03-29 17:40] kgerheiser commented on #414
@gspetro-NOAA I've attempted to link the repository, but there's a name conflict because `hpc-stack` already exists.

[2022-03-29 18:11] gspetro-NOAA commented on #414
@kgerheiser I just deleted my project from RTD and added it under a different name, so hopefully hpc-stack is open for you to use now! Let me know if it works. Otherwise maybe you could change the name to EMC-hpc-stack or something similar?

[2022-03-29 18:14] kgerheiser opened #419 "Meta modules incorrectly hardcode compilers"
**Describe the bug**
@mkavulich reported a bug where he was attempting to use a non-standard GCC install, where the compiler was `CC=/usr/local/bin/gcc-11` for example. But `hpc-gnu` hardcodes the compilers as `gcc`. If `SERIAL_CC` (etc) is set, hpc-stack should put that in the module.

[2022-03-29 18:58] kgerheiser commented on #414
It went through. It's building now.

[2022-03-29 18:59] kgerheiser commented on #414
Created the docs here: https://hpc-stack.readthedocs.io/en/latest/

Is there anything else involved? Like if the documentation is updated, does Read The Docs need to be updated manually?

[2022-03-29 20:04] christopherwharrop-noaa commented on #362
@kgerheiser / @climbfuji - I need this one (bufr-11.6.0) on Cheyenne as well.  Would that be easy to do?

[2022-03-29 20:11] gspetro-NOAA commented on #414
I think that's it! Just linked to it in my SRW App docs. Whenever updates are pushed to HPC-Stack, RTD should automatically rebuild the docs, and the "latest" version of the docs will point to the latest build (you can see all of the builds under Builds for the project). To add a "stable" version, which may be important for the SRW App release, it looks like you would have to add a tag to the repo

[2022-03-29 20:17] christopherwharrop-noaa commented on #403
It looks like w3emc-2.9.2 is now only missing on Orion.  Not sure if someone installed it on Hera, or if I was misreading something earlier.  In any case, Orion is the only place now where I am not seeing it installed.

[2022-03-29 22:12] kgerheiser commented on #403
Installed on Orion

[2022-03-29 22:23] christopherwharrop-noaa commented on #403
@kgerheiser - Fantastic!  Thank you.  From my perspective, this issue can be closed.

[2022-03-29 22:42] climbfuji commented on #403
I removed the `default` links in the `w3emc` module directories on Cheyenne as recommended:
[code]
Closing this issue.

[2022-03-29 22:42] #403 closed, assigned to kgerheiser, climbfuji, jkbk2004, Hang-Lei-NOAA

[2022-03-30 19:54] DusanJovic-NOAA commented on #407
[code]

[2022-03-31 02:14] junwang-noaa commented on #407
@kgerheiser @Hang-Lei-NOAA We got following error on jet with ufs-weather-model PR[#1146](https://github.com/ufs-community/ufs-weather-model/pull/1146):

Found Python: /apps/spack/linux-centos7-x86_64/gcc-9.2.0/python-3.7.6-gi3efxgcxqilpjehkqnxrriedsuedoqu/bin/python3.7
Calling CCPP code generator (ccpp_prebuild.py) for suites --suites=FV3_GFS_v16_coupled_nsstNoahmpUGWPv1,FV3_GFS_v16_coupled_p7_rr

[2022-03-31 02:37] Hang-Lei-NOAA commented on #407
This is corrected with NON-debug esmf on Hera for GNU installation.

[2022-03-31 02:45] kgerheiser commented on #407
I'm looking at the issue on Jet, and I'm not sure what's going on. It's nothing to do with lib64 vs lib.

This is the contents of `mapl-import.cmake` which sets `CMAKE_MODULE_PATH` so that GOCART can find `mapl_acg`.

[code]

It sets `lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/intel-18.0.5.274/impi-2018.4.274/mapl/2.11.0-esmf-8.2.1b04/share/MAPL/cmake`

Which contains:

[code]

[2022-03-31 02:52] kgerheiser commented on #407
Was looking in the wrong directory. `mapl-import.cmake` is missing, again.

I'm pretty sure this is a bug in MAPL somehow, or the filesystem, or CMake. I don't know what it only happens on Jet.

[2022-03-31 11:09] junwang-noaa commented on #407
@kgerheiser @Hang-Lei-NOAA Thank you for fixing the issues!

[2022-03-31 13:54] climbfuji commented on #362
@christopherwharrop-noaa Given the switch to the EPIC-maintained hpc-stack in PR https://github.com/ufs-community/ufs-weather-model/pull/1146 - to be committed today or tomorrow - is this still needed in the old location (`/glade/p/ral/jntp/GMTB/...`)?

[2022-03-31 14:11] christopherwharrop-noaa commented on #362
@climbfuji - I don't know anything about old/new location.  I need it installed in the location of the stack that is used by the ufs-community, which it looks like that PR is doing.  Is bufr-11.6.0 installed in the new location?

[2022-03-31 14:15] christopherwharrop-noaa commented on #362
@climbfuji - Wait a second.... That PR is updating modulefiles for the ufs-weather-model, not the app.  So, I need bufr-11.6.0 installed in the location used by [ufs-community/ufs-srweather-app](https://github.com/ufs-community/ufs-srweather-app/blob/develop/env/build_cheyenne_intel.env).  I don't know if there is a PR to update the ufs-srweather-app's env files, but right now they point to the ol

[2022-03-31 14:21] christopherwharrop-noaa commented on #362
@climbfuji - This also raises the question about where to send/open issues.  If the UFS is going to use EPIC-maintained hpc-stack installations on various platforms, where/how do we send issues/requests?  I'm assuming there will be EPIC folks monitoring issues here on the hpc-stack github site?

[2022-03-31 14:27] climbfuji commented on #362
Yes, they will. Also, the srweather app should try to update to the new location as soon as this is possible. The hpc-stack changes in the ufs-weather-model are made in preparation for the SRW App public release as far as I know.

[2022-03-31 14:32] christopherwharrop-noaa commented on #362
I'll ask about it in the SRW App code mgmt meeting today.  Depending on the timeline, it might be ok to just wait.  As it stands, users wanting to run RRFS on Cheyenne can manually edit the `srw_common` file to change the version of bufr to 11.5.0.  Not idea, but not a total disaster either.

[2022-03-31 18:15] junwang-noaa opened #421 "[INSTALL] Install FMS 2022.01"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
FMS

**What is the version/tag of the software?**
2022.01. Release version: https://github.com/NOAA-GFDL/FMS/releases/tag/2022.01

**What compilation options would you like set?**
Same as before (need avx turned on)

**Which machines

[2022-03-31 19:16] climbfuji commented on #421
No longer in my court, please assign cheyenne installs to EPIC. Thanks!

[2022-03-31 19:23] junwang-noaa commented on #421
@jkbk2004 Would you please install FMS 2022.01 on Cheyenne? Thanks

[2022-03-31 19:25] junwang-noaa commented on #378
@Hang-Lei-NOAA @KyleNevins-NOAA  I tested Intel 2022.1.2 on hera it is working fine. Would you please install it on other platforms (dell, cray, jet, gaea)? Thank you!

[2022-03-31 19:48] KyleNevins-NOAA commented on #378
Hi @junwang-noaa, just wanted to check but I think you were looking for @kgerheiser ?

[2022-03-31 20:29] jkbk2004 commented on #421
@junwang-noaa I am working on it. I may add gnu11.2 as well. netcdf upgrade too. I will prepare each case on Cheyenne.

[2022-03-31 21:03] junwang-noaa commented on #378
Sorry, Yes, this is for  @kgerheiser

[2022-03-31 21:24] jkbk2004 commented on #421
@junwang-noaa fms/2022.01 is installed on Cheyenne.

[2022-04-01 00:50] Hang-Lei-NOAA commented on #378
We will expand it on all platforms gradually. Space is still an issue for
some platforms, e.g. wcoss dell, since the removal of old was postponed.

On Thu, Mar 31, 2022 at 5:03 PM Jun Wang ***@***.***> wrote:

[2022-04-01 02:18] climbfuji commented on #362
I installed bufr-11.6.0 for both intel-2021.2.0 and gnu-10.1.0 in the old (GMTB) hpc-stack location. Please give it a try.

[2022-04-01 17:09] jkbk2004 commented on #421
@BrianCurtis-NOAA I am reinstalling for the intel22/gnu11.2 options: Cheyenne.

[2022-04-01 17:13] BrianCurtis-NOAA commented on #421
OK, for UFS build, it get to the final executable linking and gives the following error:
[code]
[code]

I think i've seen this previously when trying a build with FMS 2022, but not sure it's related to FMS at all either. It might be fixed after your rebuild of the stack too.

[2022-04-01 17:18] jkbk2004 commented on #421
@BrianCurtis-NOAA I think I have to handle MODULEPATH_ROOT correctly for the new options. I think I can confirm by monday morning tagup. I will do ufs build test as well.

[2022-04-01 17:20] christopherwharrop-noaa commented on #362
@climbfuji - Thank you!  It looks like it works.  I'm having a bit of trouble with the GNU test because of other reasons (The `find_package(lapack)` in GSI isn't finding BLAS for some reason...) but the Intel one definitely works.

[2022-04-01 23:07] climbfuji commented on #362
If you are using the `module unuse ... export MODULEPATH ... workaround` then maybe it's for the same reason as for Intel MKL previously.

[2022-04-04 01:43] jkbk2004 commented on #421
@BrianCurtis-NOAA I reinstalled /glade/work/epicufsrt/GMTB/tools/hpc-stack-v1.2.0/modulefiles/stack: intel2022.1/gnu11.2/mpt2.25/fms2022.01, ufs seems to build ok

[2022-04-04 14:22] kgerheiser commented on #421
Complete on Orion, Jet, and Gaea.

[2022-04-04 20:00] climbfuji commented on #362
In this case I think we can close this issue as completed?

[2022-04-04 20:09] christopherwharrop-noaa commented on #362
@climbfuji  - It's fine by me, but I wasn't the one who opened it. So you should probably ask @jbathegit if his issues are resolved.

[2022-04-04 20:18] jbathegit commented on #362
As far as I'm concerned we could have closed this last December.  I didn't realize it was still open.

[2022-04-04 20:18] #362 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2022-04-05 05:05] mkavulich commented on #376
Now that #418 has been merged, is there any chance we can get a bug-fix release of hpc-stack to build in place of the current versions? The current hpc-stack on disk for Cheyenne, Hera, etc. still has this old bug so that modules can "hijack" the loaded versions other modules, and it currently makes it so UFS_UTILS can not build by default on Cheyenne (because the default g2 library is too old, an

[2022-04-05 15:15] KateFriedman-NOAA commented on #379
@kgerheiser @Hang-Lei-NOAA Can we get a prod_util v2+ installed in the hpc-stack-gfsv16 installs on Hera and Orion? I ask because the new obsproc/prepobs packages for WCOSS2 use prod_util/2+ and those newer versions now use `ush` instead of `bin`. For example, `JOBSPROC_GLOBAL_PREP` hardcodes `ush` to find the prod_util utilities like `postmsg` but `prod_util/1.2.2` has `bin`:

[code]

[code]

[2022-04-05 15:17] kgerheiser commented on #379
@KateFriedman-NOAA do you know where prod_util comes from? [We have a repo](https://github.com/NOAA-EMC/NCEPLIBS-prod_util), but apparently it's not being used by whoever is maintaining this code.

[2022-04-05 15:22] KateFriedman-NOAA commented on #379
Good question...I think it's NCO that maintains `prod_util`. The v2.0.9 module on WCOSS2 lives in `/apps/ops/prod/nco` space:
[code]

[2022-04-05 15:32] GeorgeVandenberghe-NOAA commented on #379
We have it in the global workflow repository don't we?.  I remember
building it from there in the past and snagged it for my obsolete tarball
NCEPLIBS distribution in mid 2019 after getting sick of trying to keep
track of where it was on the various platforms.  I also did this with
grib_utils and that's the same vintage.

I no longer work with the nceplibs tarball; it's been  (sensibly)
superseded

[2022-04-05 15:46] KateFriedman-NOAA commented on #379
It doesn't live in global-workflow. It may have been in a release package years ago, can't remember. Doesn't live with global-workflow anymore though.

[2022-04-06 14:51] arunchawla-NOAA commented on #150
@kgerheiser and @aliabdolali I have made a request for this software to NCO. Can we install this with hpc-stack and have it tested on RDHPCS ? We should use the release link as nothing else is stable/official release

[2022-04-06 15:01] aliabdolali commented on #150
@arunchawla-NOAA Sure, We have been using this library for a while, so as long as it is compiled the same way I did https://github.com/NOAA-EMC/WW3/wiki/FAQs-page#how-to-install-Metis-and-Parmetis, we are good. I can test the hpc-stack version of it once it is compiled.
The only trick is parmetis/lib/libmetis.a and parmetis/lib/libparmetis.a should be in the same lib directory.

[2022-04-06 15:05] kgerheiser commented on #150
I can do this, yes. I have experience building METIS/ParMETIS.

@aliabdolali the CMake build has the ability to detect them separately. How does WW3 search for them (what ENV var) when using the Bash/Make build?

[2022-04-06 15:30] climbfuji commented on #150
@kgerheiser When we add these packages (here and/or spack-stack), we should make sure to patch them so that they use `integer*8` internally. I ran into that problem a few years ago when I created the mesh decompositions for a global 1km MPAS mesh.

[2022-04-06 15:35] aliabdolali commented on #150
@kgerheiser WW3 needs `METIS_PATH` to be defined as env where both libmetis.a and libparmetis.a exist.

[2022-04-06 15:36] kgerheiser commented on #150
@climbfuji when I added a CMake build to WW3 I setup a Github Action test that uses Spack to install METIS/ParMETIS. These libraries already have packages in the default `builtin` Spack repo. I didn't try running anything though. If `-fdefault-integer-8` is needed I can add that.

[2022-04-06 15:45] climbfuji commented on #150
I think it's about patching `include/metis.h` to set `IDXTYPEWIDTH` and `REALTYPEWIDTH` to 64.

[2022-04-06 21:54] climbfuji commented on #376
Is the solution to simply remove the default symlinks and require the application to explicitly specify the version?

[2022-04-08 14:22] kgerheiser commented on #421
@Hang-Lei-NOAA has this been done?

[2022-04-08 15:59] Hang-Lei-NOAA commented on #421
Yes, it is done.

On Fri, Apr 8, 2022 at 10:22 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-04-08 16:54] KateFriedman-NOAA commented on #379
@kgerheiser Checking to see if it will be possible to get a v2+ version of prod_util in hpc-stack-gfsv16 on Hera and Orion. We'll need a v2+ version in the non-gfsv16 hpc-stack soon after as well for supporting GFSv17+ development. Let me know if I can help. Thanks!

[2022-04-11 20:38] christopherwharrop-noaa opened #426 "Install g2/3.4.3 on WCOSS Dell P3"
**Which software in the stack would you like installed?**
g2

**What is the version/tag of the software?**
3.4.3 (the version used in ufs-community's srw_common module)

**What compilation options would you like set?**
N/A

**Which machines would you like to have the software installed?**
WCOSS Dell P3

**Any other relevant information that we should know to correctly install the software??**
N/A

[2022-04-11 20:40] christopherwharrop-noaa opened #427 "Install w3emc 2.9.2 on WCOSS Dell P3"
**Which software in the stack would you like installed?**
w3emc

**What is the version/tag of the software?**
2.9.2 (Required for new RRFS that uses upcoming refactored GSI build system)

**What compilation options would you like set?**
N/A

**Which machines would you like to have the software installed?**
WCOSS Dell P3

**Any other relevant information that we should know to correctly install the

[2022-04-11 21:47] Hang-Lei-NOAA commented on #427
It has been installed on dell with intel/18.0.5.274

On Mon, Apr 11, 2022 at 4:40 PM Christopher Harrop ***@***.***>
wrote:

[2022-04-11 21:49] Hang-Lei-NOAA commented on #426
We have the latest version g2/3.4.5 on dell with intel/18.0.5.274.
The old compiler is not working with gocart modules, and will be gone by
September, 2022.

On Mon, Apr 11, 2022 at 4:38 PM Christopher Harrop ***@***.***>
wrote:

[2022-04-11 22:03] christopherwharrop-noaa commented on #426
While I appreciate the fact that there is a newer version, the current develop of ufs-srweather-app requires version 3.4.3.  Please install it so users don't have to hand modify their environment configurations.

[2022-04-11 22:05] christopherwharrop-noaa commented on #427
Thank you.

[2022-04-11 22:12] christopherwharrop-noaa commented on #426
@Hang-Lei-NOAA  Perhaps i'm misunderstanding, but I don't understand what gocart has to do with this request since g2 is an NCEPLIBS library for grib2 encoding.

[2022-04-11 23:03] Hang-Lei-NOAA commented on #426
Okay, it is added to intel/18.0.5.274

On Mon, Apr 11, 2022 at 6:12 PM Christopher Harrop ***@***.***>
wrote:

[2022-04-11 23:07] christopherwharrop-noaa commented on #426
@Hang-Lei-NOAA , Thank you!  I really appreciate it.

[2022-04-12 17:16] #427 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-04-12 17:16] #426 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-04-12 17:17] kgerheiser commented on #421
@BrianCurtis-NOAA  is the issue fixed on Cheyenne?

[2022-04-12 17:17] kgerheiser commented on #414
Complete

[2022-04-12 17:17] #414 closed, assigned to nobody

[2022-04-12 17:19] kgerheiser commented on #379
Looking into getting the v2 source.

[2022-04-12 17:22] kgerheiser commented on #407
I think everything is squared away now. If you have anymore issues, you can re-open this.

[2022-04-12 17:22] #407 closed, assigned to kgerheiser, Hang-Lei-NOAA

[2022-04-12 17:23] KateFriedman-NOAA commented on #379
Thanks @kgerheiser ! Appreciate it!

[2022-04-12 17:34] BrianCurtis-NOAA commented on #421
@kgerheiser Yes, all is good with Cheyenne.

[2022-04-12 17:34] #421 closed, assigned to kgerheiser, Hang-Lei-NOAA

[2022-04-12 17:42] Hang-Lei-NOAA opened #430 "Add grib_util v1.2.4 on hpc-stack installations"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
The new release of grib_util v1.2.4.
A bug fix above previous version.

**What is the version/tag of the software?**
v1.2.4
**What compilation options would you like set?**
Need to add the w3emc/2.9.2 into the building script.
The new

[2022-04-12 18:11] Hang-Lei-NOAA commented on #430
This new release has been successfully added on WCOSS dell and Hera.

[2022-04-13 12:11] junwang-noaa commented on #378
@Hang-Lei-NOAA May I ask if the Intel 2022 is available on dell?

[2022-04-13 16:03] kgerheiser commented on #430
Done on Orion, Jet, and Gaea

[2022-04-13 16:11] junwang-noaa opened #432 "[INSTALL] Install the libraries for ufs-weather-model develop branch on wcoss2"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
Please install the libraries on wcoss2 to support ufs-weather-model develop branch.

**What is the version/tag of the software?**
 jasper/2.0.22
png/1.6.35
pio/2.5.2
esmf/8.3.0b09
esmf/8.3.0b09-debug
fms/2022.01
g2/3.4.2
gftl-shared/v

[2022-04-13 16:29] kgerheiser commented on #432
FMS needs a newer version. `2021.04` is the latest.

ESMF is available. Installed in `/para` right now (along with FMS 2021).

[code]

PIO and MAPL (along with associated dependencies) are being reviewed.

And for some of these could we update the develop branch to use `jasper/2.0.25`, `g2/3.4.5`, and `libpng/1.6.37`?

Jasper and g2 are already available everywhere. And we can add `libpng/1.6.37`

[2022-04-13 18:09] junwang-noaa commented on #432
@kgerheiser Thank you very much for the information, please let us know when libpng/1.6.37 is available, we can use fms/2021.04 for testing now, but since we are moving to fms 2022.01 this week, so we will need it when updating ufs-weather-model with wcoss2 porting change.

@DusanJovic-NOAA FYI.

[2022-04-13 18:14] jkbk2004 commented on #432
@junwang-noaa @kgerheiser I agree to merge in fms2022.01 PR first. Then we can address other updates: libpng, hdf5, netcdf.

[2022-04-13 18:23] kgerheiser commented on #432
@junwang-noaa I'll see about getting 2022.01 installed on WCOSS2.

@jkbk2004 yes, that's fine. There are no HDF5/NetCDF updates though.

I think UFS should be updated to use newer g2 (3.4.5), Jasper (2.0.25), PIO (2.5.3), libpng (1.6.37) in the near future, and then they'll be the more up-to-date and consistent with what WCOSS2 already has, and our stack builds by default.

I would expect no diffe

[2022-04-13 22:13] WenMeng-NOAA commented on #432
@arunchawla-NOAA @kgerheiser I would like to get some clarifications. The NCEPlibs installed under /apps/ops/para/libs/modulefiles/mpi/intel/19.1.3.304/cray-mpich/8.1.7 and /apps/ops/para/libs/modulefiles/compiler/intel/19.1.3.304 would support porting ufs-weather-model and UPP develop branch on WCOSS2? These libs are installed at dev site maintained by EIB?

[2022-04-14 13:28] MicroTed commented on #407
I suppose the stack *.yaml files will be updated for this? The latest develop branch appears to need the newer esmf now. On mac (intel, Catalina), this change to stack/stack_mac.yaml works:

[code]

[2022-04-14 14:54] DusanJovic-NOAA commented on #432
Ok. Please make sure g2 (3.4.5), Jasper (2.0.25), PIO (2.5.3), libpng (1.6.37)  are installed everywhere and we'll update UFS.

[2022-04-14 15:11] DusanJovic-NOAA commented on #432
`/apps/ops/para/libs/modulefiles/stack` is empty.

[2022-04-14 19:46] aerorahul opened #435 "[INSTALL] NCEPLIBS-ncio on Hera for GNU + MPICH set"
**Which software in the stack would you like installed?**
NCEPLIBS-ncio v1.0.0

**What is the version/tag of the software?**
[NCEPLIBS-ncio v1.0.0](https://github.com/NOAA-EMC/NCEPLIBS-ncio/tree/v1.0.0)

**What compilation options would you like set?**
GNU 9.2.0 and MPICH 3.3.2

**Which machines would you like to have the software installed?**
Hera

**Any other relevant information that we should

[2022-04-15 14:28] kgerheiser commented on #435
I think this was before NCIO had a tag and that was version "1.0.0". @Hang-Lei-NOAA is out today, but we will re-install it.

[2022-04-18 14:08] Hang-Lei-NOAA commented on #378
@Jun Wang - NOAA Federal ***@***.***> wcoss will be off in a couple
months. We did not install it on dell.

On Wed, Apr 13, 2022 at 8:11 AM Jun Wang ***@***.***> wrote:

[2022-04-18 14:10] #405 closed, assigned to kgerheiser

[2022-04-18 14:48] Hang-Lei-NOAA commented on #435
The ncio/1.0.0 under GNU compiler on hera has been updated.

On Fri, Apr 15, 2022 at 10:28 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-04-18 15:58] aerorahul commented on #435
Thanks @Hang-Lei-NOAA
The updated installation was used and the application built without any errors.
Closing issue.

[2022-04-18 15:58] #435 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-04-19 13:32] DeniseWorthen opened #436 "[INSTALL] GCC >=11.1 on hera and orion"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**

GCC

**What is the version/tag of the software?**

11.1 or greater

**What compilation options would you like set?**
Give a detailed list of compilation options, compiler and MPI flavors and versions, etc.

**Which machines would you

[2022-04-19 14:09] Hang-Lei-NOAA commented on #436
We may not be allowed to install the compiler on target machines.
You need to open help desk ticket with the system manager to add these.

[2022-04-19 14:18] DeniseWorthen commented on #436
@Hang-Lei-NOAA Thanks. This is also being discussed in the Slack channel. Should I close this, since it seems this needs to be handled at the sys-admin level?

[2022-04-19 14:20] aerorahul opened #437 "[INSTALL] Latest version of NCEPLibs-ncio on all platforms"
**Which software in the stack would you like installed?**
NCEPLibs-ncio was updated https://github.com/NOAA-EMC/NCEPLIBS-ncio/pull/53 to include handling of `time_iso` in the model output netCDF file.
A new tag of `NCEPLibs-ncio` needs to be created and installed on all machines in support of cycling applications with GSI.

**What is the version/tag of the software?**
A new tag of NCEPLibs-ncio ne

[2022-04-19 14:24] Hang-Lei-NOAA commented on #436
Yes, please try the sys-admin level. Thanks.

[2022-04-19 14:24] #436 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-04-19 15:26] junwang-noaa commented on #432
@KyleNevins-NOAA May I ask if libpng/1.6.37 is available on wcoss2 now? Also, please see the message from Dusan: "/apps/ops/para/libs/modulefiles/stack is empty."

[2022-04-19 15:29] junwang-noaa commented on #378
@Hang-Lei-NOAA This means we will drop ufs-weather-model develop branch on dell any more when we move to Intel 2022. @arunchawla-NOAA FYI.

[2022-04-19 16:07] arunchawla-NOAA commented on #378
Intel 2022 is not available on wcoss2, we will only have intel 19 there initially
 Does ufs-weather-model need intel 2022 in develop ?

[2022-04-19 16:22] junwang-noaa commented on #378
Yes, there is a slowness issue with impi 18-19. We are trying to move to
Intel 2022 on all the platforms besides the intel 2018/2019 is not
supported on other R&D platforms.

On Tue, Apr 19, 2022 at 12:07 PM arun chawla ***@***.***>
wrote:

[2022-04-19 16:23] Hang-Lei-NOAA commented on #378
We may directly ask helpdesk to install compiler intel/2022.1 on wcoss2.

On Tue, Apr 19, 2022 at 12:22 PM Jun Wang ***@***.***> wrote:

[2022-04-20 12:09] edwardhartnett opened #438 "emapf-c?"
EMC libs crew,
Looks like an ARL library, emapf-c, is used by multiple models, including NWPS. Right now we’ve got copies of it inside the individual packages.
Is this a good candidate for inclusion within hpc-stack?

Steven

On Tue, Apr 19, 2022 at 7:37 PM Arthur Taylor - NOAA Federal <arthur.taylor@noaa.gov> wrote:
Ok.

How do I request the change?  Presumably before any of the next implementati

[2022-04-20 13:51] Hang-Lei-NOAA commented on #438
There should be no technique problem to include it.
But, we need to ask users and developers to see if any necessary changes or additional request on the lib.
Please let us know the contact person for this lib.

[2022-04-20 14:07] DusanJovic-NOAA commented on #432
@kgerheiser Is there a plan to install hpc-stack in /apps/ops/para/libs such that we can:

[code]
In the above comment you suggested that we update pio to 2.5.3, but that version is not available. Any updates on gftl-shared, yafyaml and mapl? Also 8.3.0b09-debug is missing.

General question, will this location (/apps/ops/para/libs/) hold all hpc-stack libraries required by the ufs-weather-model,

[2022-04-20 14:10] ArthurTaylorNWS commented on #438
https://www.arl.noaa.gov/hysplit/cmapf-mapping-routines/
Contact for it, would be either the Albion.Taylor@noaa.gov (the original author -- retired), someone at ARL, or perhaps myself Arthur.Taylor@noaa.gov.

[2022-04-20 14:46] WenMeng-NOAA commented on #432
I echo @DusanJovic-NOAA 's suggestion. From our UPP perspective, it would be better to use libs from hpc-stack for UPP develop branch.

[2022-04-20 14:53] Hang-Lei-NOAA commented on #432
That is not the NCO's way. They only use hpc-stack for the installation,
and then copy, move into their structure.

On Wed, Apr 20, 2022 at 10:46 AM WenMeng-NOAA ***@***.***>
wrote:

[2022-04-20 15:13] DusanJovic-NOAA commented on #432
@Hang-Lei-NOAA Are you saying that libraries in /apps/ops/para/libs are not installed by the hpc-stack team (nceplibs team)?

[2022-04-20 15:18] arunchawla-NOAA commented on #432
NCO uses hpc-stack but installs by themselves. Right now pio is going through NCO review, as soon as that is done it will be installed. After that the NASA libraries will be installed. Once pio is there will you be able to test the ufs-weather-model build ? Not withstanding the gocart related libraries

[2022-04-20 15:21] DusanJovic-NOAA commented on #432
Is somebody from NCO looking at this issue?

[2022-04-20 15:22] edwardhartnett commented on #432
The ufs-weather-model build uses PIO?

[2022-04-20 15:24] Hang-Lei-NOAA commented on #432
We (NCEPLIBS team in EMC) do not have the right to install. We only pass it
to NCO.
Many places in NCO do the review. GDIT review the third party libs. NCO
Steven's team review our nceplibs.

On Wed, Apr 20, 2022 at 11:22 AM Dusan Jovic ***@***.***>
wrote:

[2022-04-20 15:26] arunchawla-NOAA commented on #432
@DusanJovic-NOAA yes, @edwardhartnett yes pio is used by cmeps and esmf also now

[2022-04-20 19:52] mkavulich opened #439 "upp, g2, potentially other libraries out of date in new Cheyenne location for HPC-stack"
**Please describe the package or library you would like to add to hpc-stack.**
With the resolution of #407, the hpc-stack build on Cheyenne was moved to a new location (/glade/work/epicufsrt/GMTB/tools/hpc-stack-v1.2.0_6eb6/modulefiles). However, while this build is more up-to-date than the old location (/glade/p/ral/jntp/GMTB/tools/hpc-stack-v1.2.0/modulefiles) in some libraries (e.g., esmf/v8.3.

[2022-04-20 23:49] jkbk2004 commented on #439
@Hang-Lei-NOAA @mkavulich I am looking into this issue. I will keep you posted.

[2022-04-25 14:50] RussTreadon-NOAA commented on #437
Any updates as to when this issue will be acted upon?   We are unable to run the `analcalc` job in the prototype JEDI GDAS system due to DA app `interp_inc.x` failing with the error
[code]
Implementation of https://github.com/NOAA-EMC/NCEPLIBS-ncio/pull/53 should allow this DA app to successfully to completion.

[2022-04-25 14:51] kgerheiser commented on #437
Sure, I'll create a release today, and we can start installing it.

[2022-04-25 14:56] RussTreadon-NOAA commented on #437
Thanks, @kgerheiser !

[2022-04-25 14:56] Hang-Lei-NOAA commented on #437
@kgerheiser The fix has been merged. make sure to update the number in VERSION, and then release.

[2022-04-25 16:31] junwang-noaa commented on #378
@arunchawla-NOAA Can we ask GRIT to install Intel/2022.1 on wcoss2?

[2022-04-25 16:38] edwardhartnett commented on #378
@kgerheiser and @climbfuji did you have any trouble building HDF5 with the intel compilers? One user has reported problems with this on the netCDF site...

Also, what versions of HDF5 do you build? I assume 1.10.7 and 1.12.1?

[2022-04-25 16:43] kgerheiser commented on #378
@edwardhartnett, no I don't think so. We build using Intel just about everywhere normally with NetCDF 4.7.4 and HDF5 1.10.6. And recently we've also tried NetCDF 4.8.1 and HDF5 1.12.1.

[2022-04-25 16:50] climbfuji commented on #378
No problem at all building those versions on any of the platforms, with Intel versions 18 up to oneapi 2022.0.2 (note: we are still using the classic compilers, not `icx`/`ifx`).

[2022-04-25 17:05] Hang-Lei-NOAA commented on #378
My understanding is that Edward recommend that UFS and GFS upgrade their
NETCDF &HDF5 versions to 1.10.7 and 1.12.1
@Jun Wang - NOAA Federal ***@***.***> please consider this

On Mon, Apr 25, 2022 at 12:50 PM Dom Heinzeller ***@***.***>
wrote:

[2022-04-25 17:11] arunchawla-NOAA commented on #378
GDIT has a huge backlog. I will make a help desk request but do not expect that to happen any time soon till the transition to operations happens formally

[2022-04-25 17:21] WenMeng-NOAA commented on #439
The UPP is configurated as a submodule of FV3 component in ufs-weather-model for supporting in-line post. I would think no upp lib installation needed.

[2022-04-25 18:37] junwang-noaa commented on #378
@Hang-Lei-NOAA The mpiall2all slowness in Intel 2018/2019 has nothing to do with Netcdf/HDF5, It was tested that the mpiall2all is fast in impi 2021/2022. We need impi 2021/2022 to continue the ESMF managed threading capability in UFS.

[2022-04-26 19:23] Hang-Lei-NOAA commented on #437
ncio v1.1.0 is the updated version. has been added into the hpc-stack
installations on Hera and wcoss-dell

On Mon, Apr 25, 2022 at 10:56 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-04-26 19:36] kgerheiser commented on #437
Done on Orion, Jet, and Gaea

[2022-04-26 21:41] christopherwharrop-noaa commented on #437
@kgerheiser Please don't forget Cheyenne.

[2022-04-28 13:56] christopherwharrop-noaa commented on #439
@jkbk2004 / @Hang-Lei-NOAA  The w3emc package also needs updating to include both w3emc-2.9.1 and w3emc-2.9.2 in order to support newer versions of GSI and RRFS SRW which includes the GSI.

[2022-04-28 14:33] christopherwharrop-noaa commented on #439
@WenMeng-NOAA - If UPP is going to be a hpc-stack package, then I think it needs to be updated appropriately.  There could easily be other software that need it outside the context of the FV3 component.

[2022-04-28 14:45] christopherwharrop-noaa opened #443 "Install bufr-11.5.0 and w3emc-2.9.1 on Jet"
**Which software in the stack would you like installed?**
This is a request for specific versions of w3emc and bufr

**What is the version/tag of the software?**
Please install w3emc-2.9.1
Please install bufr-11.5.0

**What compilation options would you like set?**
N/A

**Which machines would you like to have the software installed?**
Jet

**Any other relevant information that we should know to co

[2022-04-28 16:42] WenMeng-NOAA commented on #439
@christopherwharrop-noaa The UPP is now configurated as a submodule of FV3 component in the ufs-weather-model for in-line post processing.

[2022-04-28 16:59] christopherwharrop-noaa commented on #439
@WenMeng-NOAA - Yes, you mentioned that.  My question is what about applications/software outside the scope of ufs-srweather-model that need UPP?  Where do they get it?  If no such usage exists anywhere in the entire UFS ecosystem then maybe UPP doesn't need to be a hpc-stack package.  But unless that is the case, hpc-stack still needs to maintain versions of UPP in its various installations.

[2022-04-28 18:07] WenMeng-NOAA commented on #439
@christopherwharrop-noaa The applications outside of the ufs-weather-model scope can directly checkout the [UPP](https://github.com/NOAA-EMC/UPP) and run standalone post processing (off-line post). The upp lib was used for supporting
in-line post in the ufs-weather-model. Now we changed the configuration of in-line post in ufs-weather-model.

[2022-04-28 18:14] christopherwharrop-noaa commented on #439
@WenMeng-NOAA - Right.  Ok.  The UPP is also a components of the UFS Apps, which use manage_externals to get it.  So, perhaps support for UPP should be removed from hpc-stack?  I'm not sure I know enough about the overall UFS ecosystem to say whether that would be a good idea.  However, it stands to reason that if UPP is part of hpc-stack, then hpc-stack should maintain its installation.

[2022-04-28 18:31] kgerheiser commented on #443
Bufr 11.5.0 has been completed.

w3emc 2.9.2 is available on Jet and elsewhere and is preferable to w3emc 2.9.1. The only change being a minor CMake update.

[2022-04-28 18:35] kgerheiser commented on #439
Once UFS switched to using UPP internally we stopped installing it. If there's still a need for it externally we can still support that, and if it's not maybe it should be removed.

[2022-04-28 19:01] christopherwharrop-noaa commented on #443
@kgerheiser - Thanks for the bufr install.  The w3emc-2.9.1 is needed in anticipation of [GSI PR#327](https://github.com/NOAA-EMC/GSI/pull/327).  I asked @aerorahul whether we could use version 2.9.2 and he was reluctant to commit to that.  I understand the newer version is preferred, but Jet is the only platform missing the old one, and it would take less than 5 minutes to install it.  Given the

[2022-04-28 19:03] christopherwharrop-noaa commented on #439
@kgerheiser - I see what @WenMeng-NOAA was talking about now. Sorry for my misunderstanding earlier.  At this point you've convinced me it isn't needed.

[2022-04-28 19:08] christopherwharrop-noaa commented on #439
@kgerheiser - Just to clarify, though, g2 and w3emc (2.9.1 and 2.9.2 please) still need to be installed in the new hpc-stack location.  I wanted to re-up that since conversation got away from that here.

[2022-04-28 19:26] kgerheiser commented on #443
Roger that. I'll have that done in a bit.

[2022-04-28 19:29] kgerheiser commented on #439
@jkbk2004 handles the Cheyenne build. I don't have access there.

[2022-04-28 19:38] kgerheiser commented on #443
Done

[2022-04-28 19:45] jkbk2004 commented on #439
@kgerheiser @christopherwharrop-noaa I am going to create new PRs on srw to move hpc-stack to epicufsrt so that we can follow up quickly. I am combining hpc-stack sync case between srw and ufs-wm as well. RT test is on-going to confirm.

[2022-04-28 19:54] christopherwharrop-noaa commented on #439
@jkbk2004 - Just to let you know, the current SRW does not use newer w3emc, but we do need those newer ones on Cheyenne for upcoming changes to SRW for RRFS.

[2022-04-28 19:58] jkbk2004 commented on #439
@christopherwharrop-noaa ufs-wm is based on hpc-stack at /glade/work/epicufsrt/GMTB/tools/hpc-stack-v1.2.0_6eb6 but I am mtrying to move to /glade/work/epicufsrt/GMTB/tools/gnu and intel to cover the new requirement. I think I will create srw PRs tomorrow or at least over weekend.

[2022-04-28 20:04] jkbk2004 commented on #439
@christopherwharrop-noaa on ufs-wm side, I like to update jasper/g2/libpng across all platforms. The PR is likely next week. And then srw side, the rest of the story is about fms/esmf and new hpc-stack location and requirements.

[2022-04-28 20:08] christopherwharrop-noaa commented on #439
@jkbk2004 - Ok.  But, this issue is about consistency between the old hpc-stack install and the new one.  What @mkavulich wanted fixed was to make sure that the new location contains the same packages and versions as the old one.  He reported g2 and UPP discrepancies.  I reported w3emc discrepancy.  Can you please tell us what you're planning to do to to make the new location contain the same thin

[2022-04-28 20:12] christopherwharrop-noaa commented on #443
Thank you @kgerheiser .  Greatly appreciated.

[2022-04-28 20:15] jkbk2004 commented on #439
@christopherwharrop-noaa I agree. g2 and upp at new location should stay same as old location. but I am focusing on fms/esmf. srw  env uses fms2021.03 and esmf8.2.0 I think upgrading to fms/2022.01 and esmf8.3.0b09 should have impact on srw side. But I will try to confirm. I don't see any issue with other packages such as w3emc/ncio to add newer version to new location.

[2022-04-28 20:29] christopherwharrop-noaa commented on #443
@kgerheiser - This can be closed.

[2022-04-28 20:31] christopherwharrop-noaa commented on #439
@jkbk2004 - Ok.  Thank you.  Hopefully the g2 and w3emc updates can be done quickly as RRFS and GSI will not build on Cheyenne without those.

[2022-04-28 23:02] #443 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-05-02 14:22] junwang-noaa commented on #378
@kgerheiser May I ask if the hpc-stack with Intel 2022 is installed on jet and gaea? Thanks

[2022-05-02 15:59] kgerheiser commented on #378
Hey @junwang-noaa I am working on that today.

[2022-05-03 13:27] kgerheiser commented on #378
Just about done. A few more libraries to install because of an issue with the firewall on Jet.

[2022-05-03 13:49] Hang-Lei-NOAA commented on #378
Have to get these blocked packages passed to jet through winscp or rsync,
then install.

On Tue, May 3, 2022 at 9:27 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-05-06 14:39] kgerheiser commented on #378
Jet and Orion have 2022.1.2, and Gaea with Intel 2021.3.0 has been completed.

[2022-05-06 15:40] junwang-noaa commented on #378
@kgerheiser Thank you very much! I will run RT test on these platforms.

[2022-05-06 15:44] jkbk2004 commented on #378
@kgerheiser @junwang-noaa I will confirm on Cheyenne as well: module use /glade/work/epicufsrt/GMTB/tools/intel/2022.1/hpc-stack-v1.2.0_6eb6/modulefiles/stack

[2022-05-11 16:27] aerorahul opened #447 "CRTMv2.4.0 does not build on Cactus (or Pluto)"
**Describe the bug**
@GeorgeVandenberghe-NOAA reports that:
[code]

**Expected behavior**
crtm v2.4.0 should build on Cactus.
For that matter, any library from hpc-stack `develop` in `stack_noaa.yaml` should.

**System:**
Cactus
Pluto (I am not sure what system that is.  @GeorgeVandenberghe-NOAA can confirm)

[2022-05-11 16:51] GeorgeVandenberghe-NOAA commented on #447
pluto is the dell phase 3 test system.  it should behave similarly to venus
or mars

On Wednesday, May 11, 2022, Rahul Mahajan ***@***.***> wrote:

hpc-stack on either pluto or cactus

confirm)

https://ci6.googleusercontent.com/proxy/_WbUsABjCSNzBtwvcIHab6o1Vv_6ppfVHxJiauD3f0bFIoyyTpCP9fgLT_4sO7GYYjsOwmt6_fE1YR3mQKlwMMDVjDRmgDAJMpGRp_SXoImSuvZWXyEJp5IlsfS5nimaOU8SvCgBAGKMNyfiLJ17YxcfUyAl9Usms1nrG

[2022-05-11 21:20] WalterKolczynski-NOAA commented on #408
After some investigation, I've found that the ufswm environment is exactly the same as what we are looking for here... but it isn't installed on Hera or Orion. Going to close this one since an existing environment will suffice, and will open a new ticket asking for a ufswm installation.

[2022-05-11 21:20] #408 closed, assigned to Hang-Lei-NOAA

[2022-05-11 21:36] WalterKolczynski-NOAA opened #448 "miniconda not installed properly on Hera"
**Describe the bug**
While the hpc-miniconda/4.5.12 and hpc-miniconda/4.6.14 modules are installed on Hera, the corresponding miniconda/4.5.12 and miniconda/4.6.14 are not, so the module fails to load.

**To Reproduce**
[code]

**Expected behavior**
The hpc-miniconda/* module should load the corresponding miniconda module and miniconda should be available via the conda command.

**System:**
Hera

[2022-05-11 21:43] WalterKolczynski-NOAA opened #449 "[INSTALL] ufswm python environment"
**Which software in the stack would you like installed?**
ufswm python environment

**What is the version/tag of the software?**
1.0.0

**What compilation options would you like set?**
N/A

**Which machines would you like to have the software installed?**
Hera, Orion, Jet, S4

**Any other relevant information that we should know to correctly install the software??**
While the environment is alread

[2022-05-12 15:35] Hang-Lei-NOAA commented on #448
The miniconda3/4.6.14 has been successfully reinstalled with ufswm on Hera.
Both for intel/18.0.5.274 and intel/2022.1.

[2022-05-12 15:36] Hang-Lei-NOAA commented on #449
The miniconda3/4.6.14 has been successfully reinstalled with ufswm python environment on Hera.
Both for intel/18.0.5.274 and intel/2022.1.

[2022-05-17 12:18] WalterKolczynski-NOAA commented on #449
Can confirm miniconda is fixed on Hera and ufswm is available.

usfwm still not available on Orion (or Dell, but not too worried since that machine goes away soon).

[2022-05-19 15:58] christopherwharrop-noaa opened #451 "find_dependency(w3nco) broken in new EPIC Cheyenne GNU installation"
When building GSI on Cheyenne using the newer hpc-stack located under `/glade/work/epicufsrt/GMTB/tools/...` the Intel build succeeds, but the GNU build fails with a `find_dependency(w3nco)` error initiated when loading `nemsio` via `find_package(nemsio)`.  For some reason, it appears that the Intel build can find the necessary config files to resolve `nemsio`'s dependency on `w3nco`, but the GNU

[2022-05-19 17:22] jbathegit opened #452 "[INSTALL] nceplibs-bufr v11.7.0"
**Which software in the stack would you like installed?**
This is the next release version of the nceplibs-bufr library, which is already part of hpc-stack. It is available from https://github.com/NOAA-EMC/NCEPLIBS-bufr/releases/tag/bufr_v11.7.0

**What is the version/tag of the software?**
https://github.com/NOAA-EMC/NCEPLIBS-bufr/tree/bufr_v11.7.0

**Which machines would you like to have the sof

[2022-05-20 14:02] junwang-noaa commented on #378
@kgerheiser with gnu compiler on hera, the g2/3.4.5 and pio/2.5.3 are not available,vwould you pelase install them? I got following error:

but cannot be loaded as requested: "g2/3.4.5", "pio/2.5.3"

@jkbk2004 @MinsukJi-NOAA FYI.

[2022-05-20 14:03] kgerheiser commented on #378
@Hang-Lei-NOAA Hera

[2022-05-20 14:44] Hang-Lei-NOAA commented on #378
g2/3.4.5 and pio/2.5.3 have been added. Thanks!

[2022-05-23 13:15] DavidHuber-NOAA opened #454 "GNU library locations set incorrectly"
**Describe the bug**
The gnu module file sets the library locations to `$base/lib`.  However, there are no libraries located in this directory when built on S4 using the default settings.  It may be that when built without 64-bit support, that libraries are located there, but with 64-bit support they are located in `$base/lib64`.  The libgcc.a static library is located in `$base/lib/gcc/x86_64-pc-

[2022-05-24 14:03] DusanJovic-NOAA opened #455 "bacio v2.4.1 module has incorrect version defined in cmake package config file:"
**Describe the bug**
bacio v2.4.1 module has incorrect version defined in cmake package config file:

[code]

**To Reproduce**
load bacio/2.4.1 module on Hera, then run cmake configuration where bacio version is set to 2.4.1 in find_package, for example:
[code]

**Expected behavior**
I expect that cmake successfully finds bacio version 2.4.1

**System:**
Hera

**Additional context**
N/A

[2022-05-24 14:08] DusanJovic-NOAA commented on #455
Similar issue with `w3nco/2.4.1` module:

[code]

[2022-05-24 14:21] kgerheiser commented on #455
I see. The VERSION file in the repo was incorrect. This has been fixed, but the tags are wrong.

[2022-05-24 15:25] Hang-Lei-NOAA commented on #455
Once new tag released, change the old tag in the repo will be very difficult.
But, I have updated the Hera installations. Please try.

[2022-05-24 16:06] DusanJovic-NOAA commented on #455
Thanks. It works on Hera now.

[2022-05-24 16:40] junwang-noaa commented on #378
@KyleNevins-NOAA @Hang-Lei-NOAA Would you please install hpc-stack with impi 2021.1.3 on hera? We had some issue with a
 ufs-weather-model test using impi 2022.1.2, please see https://github.com/ufs-community/ufs-weather-model/pull/1228. Thank you very much for helping!

[2022-05-25 15:10] Hang-Lei-NOAA commented on #378
Hi, @Jun Wang - NOAA Federal ***@***.***>

Could you please provide me of list of library versions that you required
in 2021.3 installation?
I have moved some of the old installation into my noscrub to release space
for this installation.

On Tue, May 24, 2022 at 2:37 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-05-25 15:17] junwang-noaa commented on #378
@Hang-Lei-NOAA Thanks. Here is the list:
esmf/8.3.0b09
esmf/8.3.0b09-debug
mapl/2.11.0-esmf-8.3.0b09
hdf5/1.10.6
netcdf/4.7.4
pio/2.5.3

[2022-05-25 16:36] DusanJovic-NOAA commented on #455
Same issue on WCOSS2:

[code]
I suspect bacio and w3nco modules are broken on all other platforms. Please check.

[2022-05-25 16:45] jkbk2004 opened #457 "[INSTALL] <Sync up hpc-stack modules on UFS-WM and SRW: across platforms>"
hpc-stack module locations across ufs-wm and srw-app have been separately maintained. Following installations are needed to follow up this synchronization case. This will provide more efficient hpc-stack management on different applications and hpc systems.

hera:
upp/10.0.10, nemsio/2.5.4, w3emc/2.9.2, wgrib2/2.0.8
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/mpi/intel/2022.1.2/i

[2022-05-25 22:51] Hang-Lei-NOAA commented on #457
All required changes have been made/added on Hera installations.

[2022-05-25 22:55] Hang-Lei-NOAA commented on #378
@Jun Wang - NOAA Federal ***@***.***>
The intel/2021.3.0 series has been installed on hera. Please test and let
me know if any changes need to be made.
Since the hera management said that 2022.1 is a more stable and
supported compiler. If intel/2021.3 installations cannot solve your issue.
I prefer to remove them to save space. Please let me know. Regards

On Wed, May 25, 2022 at 11:17 AM Jun Wang

[2022-05-26 02:20] junwang-noaa commented on #378
@Hang-Lei-NOAA Thank you very much! The issue with impi 2022 was identified, we are trying to see if a workaround will resolve the issue. I will let you know if we need the intel/2021.3 soon. Thanks!

[2022-05-26 12:37] kgerheiser commented on #457
Hey @jkbk2004 `w3emc/2.9.1` and `nemsio/2.5.4` are already on Orion and Jet, but they are compiler modules, not MPI.

[2022-05-26 12:42] jkbk2004 commented on #457
@kgerheiser Thanks!

[2022-05-26 12:50] kgerheiser commented on #457
And UPP 10.0.10 is also already there on Orion.

[2022-05-26 13:08] jkbk2004 commented on #457
@kgerheiser Cool! I will double check on hera. Then srw/ufs-wm sync case can move on. Thanks again for checking!

[2022-05-26 21:13] jbathegit commented on #452
@kgerheiser @Hang-Lei-NOAA @jkbk2004 @edwardhartnett

Just wanted to touch base.

This is a new release of NCEPLIBS-bufr.  Will somebody be picking this up at some point, or should I make a request in a different place or via some other method?  Please let me know if this isn't the correct venue (e.g., if we're no longer using hpc-stack?)

[2022-05-27 02:42] Hang-Lei-NOAA commented on #452
@jbathegit Hi, Jeff, I have installed it on Hera. Since wcoss is retiring on June. So, I did not update it. I will submit it to WCOSS2 soon.

[2022-05-27 12:05] jbathegit commented on #452
Great - thanks @Hang-Lei-NOAA!

[2022-05-27 16:19] kgerheiser commented on #454
This is a recurring issue depending on the application. The GNU module needs some Lua logic to look for the library directory.

[2022-05-27 19:28] kgerheiser commented on #452
Hey @jbathegit, I have installed it on Orion, Jet, and Gaea.

[2022-05-27 19:36] kgerheiser commented on #455
@DusanJovic-NOAA my suggestion is to set 2.4.0 as the minimum CMake version, and to not use `EXCACT`. The versions will work identically. The version is taken from the `VERSION` file which is incorrect in those tags. So, any future installs will also have this defect.

[2022-05-27 19:42] jbathegit commented on #452
Thanks @kgerheiser!

So it sounds like the only platform left to install on is WCOSS2, for which @Hang-Lei-NOAA said he would take care of submitting the paperwork soon.

[2022-05-27 23:09] gspetro-NOAA opened #459 "Activate an SRW release version of HPC-Stack docs"
Currently, the [HPC-Stack docs](https://hpc-stack.readthedocs.io/en/latest/) available on readthedocs.org only have a "latest" version. For the SRW release (scheduled for Friday, June 3, 2022), we would like to provide links to a static version of the docs. The easiest solution would likely be to activate docs for the "release/srw-public-v2" branch in the HPC-Stack readthedocs.org account. Within

[2022-05-31 12:32] jkbk2004 opened #460 "[Mapl-v2.12.3 released] <bugfix for UFS/GOCART applications>"
**Which software in the stack would you like installed?**
[Mapl-v2.12.3](https://github.com/GEOS-ESM/MAPL/releases/tag/v2.12.3)

**What compilation options would you like set?**
intel/gnu

**Which machines would you like to have the software installed?**
gaea/intel: /lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles/stack
hera/gnu/intel: /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefile

[2022-06-01 16:19] kgerheiser commented on #459
Done

[2022-06-01 17:16] WalterKolczynski-NOAA commented on #437
I think this needs to be redone with the fixed ncio (see NOAA-EMC/NCEPLIBS-ncio/pull/59)

[2022-06-01 17:22] kgerheiser commented on #437
@WalterKolczynski-NOAA yes, making a release for that right now.

[2022-06-02 14:54] #459 closed, assigned to nobody

[2022-06-03 13:26] JessicaMeixner-NOAA commented on #449
@Hang-Lei-NOAA any estimate of when this might be available on orion?  This is needed for intel/2022.1.2 for the global-workflow PR: https://github.com/NOAA-EMC/global-workflow/pull/831

[2022-06-03 13:58] Hang-Lei-NOAA commented on #449
@Kyle Gerheiser - NOAA Affiliate ***@***.***> Could you please
add it to Orion with the ufswm option, which may need to turn the r2d2 off
but use the ufswm option?

On Fri, Jun 3, 2022 at 9:26 AM Jessica Meixner ***@***.***>
wrote:

[2022-06-08 10:48] MichaelLueken opened #462 "[INSTALL] NCEPLIBS-ncio v.1.1.1 and v1.1.2"
**Which software in the stack would you like installed?**
NCEPLIBS-ncio

**What is the version/tag of the software?**
https://github.com/NOAA-EMC/NCEPLIBS-ncio/releases/tag/v1.1.1

**Which machines would you like to have the software installed?**
The WCOSS2 (Cactus and Dogwood) machines, Hera, Jet, Orion, and Gaea (Any HPC machine that currently has ncio/1.1.0 installed, as this version corrects a

[2022-06-08 10:51] MichaelLueken commented on #437
@WalterKolczynski-NOAA @RussTreadon-NOAA  @kgerheiser I have opened hpc-stack issue #462 to install the new ncio/1.1.1 module on the various HPC machines.

[2022-06-08 10:53] RussTreadon-NOAA commented on #437
Thank you, @MichaelLueken-NOAA

[2022-06-08 12:35] Hang-Lei-NOAA commented on #462
This has been installed on Hera and wcoss. Will prepare the code delivery and send out it to NCO for WCOSS2 installation.

[2022-06-08 12:46] MichaelLueken commented on #462
Thank you very much, @Hang-Lei-NOAA!

[2022-06-08 13:35] RussTreadon-NOAA commented on #462
@Hang-Lei-NOAA , @kgerheiser  - this update also needs to be installed on Orion.   Many DA developers use Orion.   Their parallels are suspended without installation of the updated ncio package.

[2022-06-08 13:49] Hang-Lei-NOAA commented on #462
@Russ Treadon - NOAA Federal ***@***.***>  We will address it
soon.

On Wed, Jun 8, 2022 at 9:36 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-08 13:50] RussTreadon-NOAA commented on #462
Thank you, @Hang-Lei-NOAA .  I have a GSI test case ready to run on Orion when the updated ncio module is available.

[2022-06-08 13:50] kgerheiser commented on #462
I'll have that done in a bit.

[2022-06-08 13:53] RussTreadon-NOAA commented on #462
@kgerheiser , great!   Thank you.

[2022-06-08 13:55] grantfirl opened #463 "Compilation error when trying to install HDF5 on Mac M1 machine"
**Describe the bug**
HDF5 installation fails due to a compilation error using GNU 11.3.0.

**To Reproduce**
On a fresh Macbook Pro with M1 Pro chip, follow the mac_install instructions including prerequisites. When running build_stack.sh, the installation fails (apparently in the NetCDF installation), but upon closer inspection, NetCDF fails because HDF5 failed beforehand. See attached log.

**Exp

[2022-06-08 14:13] kgerheiser commented on #463
That is interesting. I haven't seen an error like that before. Looks like something not compiling correctly for arm64.

[2022-06-08 14:23] kgerheiser commented on #462
@RussTreadon-NOAA NCIO v1.1.1 is available on Orion

[2022-06-08 14:53] RussTreadon-NOAA commented on #462
Sadly, the Orion gsi test failed with the same error as before.   Below are the modules used to build the gsi executable

[code]
Does anyone see mistakes in the combination of loaded modules?

[2022-06-08 15:07] Hang-Lei-NOAA commented on #462
Try load w3emc/2.7.3 instead to see if it helps.

On Wed, Jun 8, 2022 at 10:53 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-08 15:07] MichaelLueken commented on #462
@RussTreadon-NOAA, the GSI global_fv3_4denvar_C192 test was run on WCOSS1 and Hera using hpc/1.1.0 and ncio/1.1.1.  The test successfully ran through without issue on both machines.  Is the failure you are noting from the GSI, or from the DA cycling?  Could you try compiling using hpc/1.1.0 and see if you encounter the issue?

[2022-06-08 16:04] RussTreadon-NOAA commented on #462
Thank you @MichaelLueken-NOAA for confirming ncio/1.1.1 works on Hera.

I dropped back to hpc/1.1.0, retained ncio/1.1.1, and rebuilt.   In doing so, I noticed that the gsi ush/build.sh does not automatically clean the build directory.   Variable BUILD_CLEAN must be set.   I set BUILD_CLEAN=YES, rebuilt, and reran.   The gsi still aborted with the same message as before.

I am running g-w job eobs

[2022-06-08 18:01] MichaelLueken commented on #462
@RussTreadon-NOAA -

The `global_fv3_4denvar_C192` tests that were run on WCOSS1 and Hera were from `gsi develop` [1f6d3aa](https://github.com/NOAA-EMC/GSI/commit/1f6d3aa9c56d5b5aafcf448df2eb55c1b02478a1), as well.  The only difference was replacing `ncio/1.0.0` with `ncio/1.1.1`.

Continuing to see the:

[code]

message while using `ncio/1.1.1` makes no sense.  The original issue was that count (

[2022-06-08 18:06] RussTreadon-NOAA commented on #462
Agreed, @MichaelLueken-NOAA .   I've spent the past few hours setting up the same case on Mars.  I'll run a test once everything is built and all files are in place.

[2022-06-08 19:20] grantfirl commented on #463
@kgerheiser @natalie-perlin Is there any documentation for how to recover from failed installations? Also, on a Mac, since homebrew installs hdf5 just fine, is there any documentation for how to proceed with the rest of the hpc-stack with a homebrew-installed hdf5? If, for example, I change the stack.yaml file to not install hdf5, packages that depend on hdf5 (netcdf) can still not install correct

[2022-06-08 20:20] RussTreadon-NOAA commented on #462
Run eobs on Mars.  It failed just like the Orion eobs.   Try global_fv3_4denvar_C192 on Mars.   This successfully ran to completion.

eobs uses output from getsfcensmean.x and getsigensmeanp.x.    Use ncdump to query ensmean files.    grid_xt, grid_yt, pfull, lat, lon fields are incorrect.  First value is correct but remaining values not printed.   For example, a ncdump of grid_xt from atmf006.ens

[2022-06-08 20:26] RussTreadon-NOAA commented on #462
FYI, @jswhit2.   getsfcensmean.x and getsigensmeanp.x built with ncio/1.1.1 do not correctly process grid_xt, grid_yt, lat, lon.   getsigensmeanp.x also doesn't process pfull correctly.  These fields should just flow through the codes with no change.   Have you tested either of these codes with ncio/1.1.1?   Maybe my Orion setup is messed up.  Still digging.

[2022-06-09 08:21] natalie-perlin commented on #463
@grantfirl  -
these linker errors indeed have been reported earlier. It seems to be related to XCode (version? different way of installing command line tools?).
Need to look more into it. The the  installations for M1 we tested had no issues was for  darwin20.6.0 (BigSur) and gnu/11.2.0  (GNU Homebrew 11.2.0_3 and 11.3.0); attached a successful log for comparison.

Will add documentation on recove

[2022-06-09 11:39] RussTreadon-NOAA commented on #462
Additional testing with EnKF utilities and GSI code suggest ncio subroutine `create_dataset` does not work as intended with `copy_vardata=.true.`

Rerun `global_fv3_4denvar_C192` on Mars with analysis, not increment, output turned  on.   When gsi writes out the full analysis in netcdf form, subroutine `write_atm` in `netcdfgfs_io.f90` copies data from the background to the output via `create_datas

[2022-06-09 13:10] jswhit2 commented on #462
@RussTreadon-NOAA sorry about this.  Looks like we need to add more tests.  I'm on leave now, but I will take a look at this as soon as I can.

[2022-06-09 14:20] grantfirl commented on #463
@natalie-perlin I tried the suggestion to install HDF5 only via `-l hdf5`, but I'm getting the same error.

Regarding CLT, I updated the system information above to reflect what version of CLT was installed. CLT installation was originally invoked when I tried to run a git command on the new machine (an OS popup window came up that guided me to do so). Afterwards, running `brew doctor` said that C

[2022-06-09 14:51] grantfirl commented on #463
One other thing that I have no idea if it matters or not is that in the successful log that you attached, it's calling make from CLT. The Mac instructions say to install make via homebrew, but this installs gmake, so unless one follows homebrew's instructions for invoking gmake via the `make` command (which are given to the user after successful installation and is basically modifying the PATH), t

[2022-06-09 16:23] kgerheiser commented on #463
The difference between `make` and `gmake` shouldn't matter, but that's a good point if the instructions say to download gmake.

If you have an updated OS and the tools installation popped up then, I think you're good.

Looks like it might be an error with GCC 11.3.0 https://github.com/Homebrew/discussions/discussions/3296

A different version of GCC should work. 12.x 11.2 or 10.x.

[2022-06-09 17:13] grantfirl commented on #463
Also, this discussion looks like someone was able to obtain a solution: https://github.com/iains/gcc-11-branch/issues/3

[2022-06-09 17:54] junwang-noaa opened #464 "[INSTALL] ESMF 8.3.0 release"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
ESMF v8.3.0 release branch came out, we need to test and use it in UFS WM.

**What is the version/tag of the software?**
v8.3.0

**What compilation options would you like set?**
No change

**Which machines would you like to have the s

[2022-06-09 17:55] grantfirl commented on #463
It looks like the stack build finished with GCC 12.1. Thanks @kgerheiser and @natalie-perlin for looking into this.

[2022-06-09 17:56] #463 closed, assigned to nobody

[2022-06-09 17:57] grantfirl commented on #463
[build_stack.log](https://github.com/NOAA-EMC/hpc-stack/files/8872769/build_stack.log)

[2022-06-13 18:48] christopherwharrop-noaa commented on #452
@kgerheiser @Hang-Lei-NOAA @jkbk2004  - Can someone please install this on Cheyenne for both GNU and Intel?

[2022-06-14 13:39] kgerheiser commented on #464
ESMF 8.3.0 changes some things regarding PIO, so updates need to be made to the build.

[2022-06-14 13:44] Hang-Lei-NOAA commented on #464
Due to the space limitation, @junwang-noaa Could we remove the intel/2021 installation on Hera ? I have installed it under intel/2022 and intel/2018. no more space available.  In addition, the Dell space is full too. I have installed it under intel/18.0.5.274. Not for the other.

[2022-06-14 14:05] junwang-noaa commented on #464
@Hang-Lei-NOAA Yes, please remove the intel/2021 installation on hera.

Also please hold on installing the ESMF 830 at this moment. We found some issue in ESMF 830 library with UFS when testing with a temporarily installed ESMF version on hera. We may need to have a patch in order to use it in UFS WM. I will let you know when we are ready to install a working version for UFS.

[2022-06-14 14:07] Hang-Lei-NOAA commented on #464
Thanks Jun @junwang-noaa

[2022-06-14 15:46] kgerheiser commented on #464
What kind of issues are you seeing @junwang-noaa?

[2022-06-14 15:57] junwang-noaa commented on #464
Please see https://github.com/NOAA-EMC/fv3atm/issues/129

[2022-06-14 19:22] aerorahul opened #467 "Add `ncdiag` capability"
**Please describe the package or library you would like to add to hpc-stack.**
https://github.com/noaa-emc/gsi-ncdiag

is a netCDF diagnostic package for the GSI.

**What applications at NOAA will be using this package or library?**
GSI
GSI-Monitoring

**Is there already a package or library in hpc-stack that provides this, or related, functionality?**
No

**Additional context**
None

**Will This

[2022-06-14 21:34] christopherwharrop-noaa opened #468 "[INSTALL] nemsio-2.5.4 on Cheyenne's GNU 11.2 stack"
**Which software in the stack would you like installed?**
nemsio

**What is the version/tag of the software?**
2.5.4

**What compilation options would you like set?**
N/A

**Which machines would you like to have the software installed?**
Cheyenne, GNU 11.2 stack

** Additional context
nemsio-2.5.4 is currently needed for the UFS SRW App develop

[2022-06-15 11:05] MichaelLueken commented on #462
@kgerheiser @Hang-Lei-NOAA - @jswhit2 created a fix to address the final issue in write_vardata_code.f90 and this was merged to NCEPLIBS-ncio/develop at [95a0d9b](https://github.com/NOAA-EMC/NCEPLIBS-ncio/commit/95a0d9b56c11bcfb76c9093e13383d3b28cfc462) by @edwardhartnett.  @Hang-Lei-NOAA then created the final tag, [v1.1.2](https://github.com/NOAA-EMC/NCEPLIBS-ncio/releases/tag/v1.1.2).  Please i

[2022-06-15 12:56] RussTreadon-NOAA commented on #462
The following test has been completed on Orion

- install ncio/1.1.2 in a user hpc-stack
- clone g-w develop branch
- update check to clone head of NOAA-EMC/GSI develop.  modify `gsi_common.lua` and `gsi_orion.lua` to use user installed hpc-stack
- build g-w apps.  update link_workflow.sh to properly link to GSI DA apps
- run C96/C48L127 4denvar parallel for two cycles.   All jobs ran to completio

[2022-06-15 12:58] Hang-Lei-NOAA commented on #462
@Russ Treadon - NOAA Federal ***@***.***> @Michael Lueken - NOAA
Affiliate ***@***.***>  Thanks for your test, we will install
it soon.

On Wed, Jun 15, 2022 at 8:57 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-15 13:08] Hang-Lei-NOAA commented on #462
The ncio/1.1.2 has been added on Hera. Please let me know if it is working
fine, we will push it to WCOSS2.

On Wed, Jun 15, 2022 at 8:58 AM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-06-15 13:57] jkbk2004 commented on #468
@christopherwharrop-noaa I installed nemsio-2.5.4 on cheyenne to the hpc-stack ufs-wm uses. can you check? module use /glade/work/epicufsrt/GMTB/tools/gnu/11.2.0/hpc-stack-v1.2.0/modulefiles/stack Please, let me know if I need to follow up more on the hpc-stack on cheyenne.

[2022-06-15 14:59] MichaelLueken commented on #462
@Hang-Lei-NOAA I was able to test ncio/1.1.2 on Hera and both the increment-mode and full analysis-mode tests were submitted.  There were no failures from the increment-mode test and the full analysis-mode test had the analysis contain full arrays.  So, it is working as expected on Hera.  Thanks!

[2022-06-15 15:37] christopherwharrop-noaa commented on #468
@jkbk2004 - Thank you!  That is a BIG help.  Since you asked about more hpc-stack issues for Cheyenne, it would also help to get bufr-11.7.0 installed for both Intel and GNU 11.2.  That is already requested in #452 .  The bufr library is needed for PR being proposed to the UFS SRW App so that GSI can be built.  That will solve all of my issues with Cheyenne.

[2022-06-15 16:01] #467 closed, assigned to Hang-Lei-NOAA

[2022-06-15 16:04] aerorahul opened #469 "[INSTALL] ncdiag on Orion, WCOSS Dell, WCOSS2, Hera (Intel + GNU)"
**Which software in the stack would you like installed?**
[GSI-ncdiag](https://github.com/NOAA-EMC/GSI-ncdiag) has been added to hpc-stack.  See Issue #466.

**What is the version/tag of the software?**
v1.0.0

**What compilation options would you like set?**
Default options in the stack.
See compiler request below.

**Which machines would you like to have the software installed?**
Orion
WCOSS Del

[2022-06-15 16:20] jkbk2004 commented on #468
@christopherwharrop-noaa bufr_v11.7.0 is installed to gnu/11.2.0. I will correct my previous comment. ufs-wm current uses gnu10.1.0. If you need to sync with 10.1.0, let me know. Hopefully, ufs-wm moves to 11.2.0 soon.

[2022-06-15 16:28] christopherwharrop-noaa commented on #468
@jkbk2004 - Thank you again!  I do need bufr-11.7.0 for Intel as well.

I think the Gnu 10.1 stack is broken on Cheyenne as I've had a lot of problems with it when I tried adding the `ncio-1.1.0` library.  And other times I've had to do really weird things, like changing order of modules to unexpected things, to get it to work.  I could not get it to work correctly for my new PR.  The problem does

[2022-06-15 16:48] jkbk2004 commented on #468
@christopherwharrop-noaa both nemsio 2.5.4 and bufr 11.7.0 are installed on intel: module use /glade/work/epicufsrt/GMTB/tools/intel/2022.1/hpc-stack-v1.2.0_6eb6/modulefiles/stack I had to use hpc-stack hash for intel to reproduce ufs-wm baselines. Let me know if you need anything else.

[2022-06-15 16:54] christopherwharrop-noaa commented on #468
@jkbk2004 - Thank you once again.  You've addressed this issue and also my comments in #452 .  I really appreciate your help on this.

[2022-06-15 17:47] DavidHuber-NOAA commented on #469
Could this also be installed on Jet?

[2022-06-15 18:44] Hang-Lei-NOAA commented on #469
It has been on Hera and Wcoss dell.
We install on others soon.

On Wed, Jun 15, 2022 at 1:47 PM David Huber ***@***.***>
wrote:

[2022-06-15 19:00] aerorahul commented on #447
The tag for use in GFS applications is [release/REL-2.4.0_emc](https://github.com/jcsda/crtm/tree/release/REL-2.4.0_emc)

This tag depends on `ecbuild`.  Specifically `test/` depends on `ecbuild` (although it is made optional, but then continues to make use of `ecbuild` features.).

[code]
I also replaced the `FindNetCDF.cmake` with an improved version from [here](https://github.com/NOAA-EMC/CMake

[2022-06-15 23:12] jbathegit commented on #452
Hi @Hang-Lei-NOAA  I just wanted to follow-up - has this new library been submitted for installation onto WCOSS2 yet?  I presume the installation wouldn't actually happen until sometime after the WCOSS2 go-live on the 28th, but I just wanted to confirm that the request has been submitted to NCO and/or the GDIT folks.

Please let me know - thanks!

[2022-06-16 12:25] Hang-Lei-NOAA commented on #452
@Jeff Ator - NOAA Federal ***@***.***> Yes, Jeff, it was sent.
https://docs.google.com/document/d/196WWJ_gh_-LuQd-RcCVL3kh-wbDgtLrMSlwKos81_Qw/edit?pli=1

On Wed, Jun 15, 2022 at 7:12 PM Jeff Ator ***@***.***> wrote:

[2022-06-16 14:00] jbathegit commented on #452
Great - thanks!

[2022-06-16 15:07] RussTreadon-NOAA commented on #462
Any estimate as to when ncio/1.1.2 will be added to hpc-stack on Orion?   I'll rerun the g-w parallel test reported on above once the Orion hpc-stack has ncio/1.1.2.

[2022-06-16 15:11] Hang-Lei-NOAA commented on #462
@Kyle Gerheiser - NOAA Affiliate ***@***.***> Could you please
add the ncio/1.1.2 on orion installation? Thanks.

On Thu, Jun 16, 2022 at 11:07 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-16 15:19] kgerheiser commented on #462
Done on Orion

[2022-06-16 15:24] #468 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-06-16 15:25] kgerheiser commented on #464
Please re-open when you have a fix

[2022-06-16 15:25] #464 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-06-16 15:25] #452 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-06-16 15:36] kgerheiser commented on #469
Done on Jet, Orion, and Gaea.

[2022-06-16 15:37] kgerheiser commented on #439
@jkbk2004 has done a lot of work on Cheyenne. Is this complete?

[2022-06-16 15:38] kgerheiser commented on #437
We have installed ncio v1.1.2 which should fix all known issues

[2022-06-16 15:38] #437 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-06-16 15:39] #430 closed, assigned to kgerheiser, Hang-Lei-NOAA

[2022-06-16 15:48] christopherwharrop-noaa commented on #437
@kgerheiser - Does that include Cheyenne Intel and Gnu 11.2?

[2022-06-16 15:51] christopherwharrop-noaa commented on #462
@kgerheiser - Has it been installed on Jet and Cheyenne (intel and Gnu 11.2) yet?

[2022-06-16 15:57] kgerheiser commented on #462
Yes to Jet, @jkbk2004 Cheyenne.

[2022-06-16 20:21] RussTreadon-NOAA commented on #462
The above mentioned g-w parallel test was repeated on Orion using the official installation of ncio/1.1.2.   Specifics follow
- modify g-w `sorc/checkout.sh` to clone the head of NOAA-EMC/GSI develop
- modify `gsi_common.lua` in `sorc/gsi.fd/modulefiles` to use `1.1.2` as the default for `ncio_ver`
- build DA apps in g-w `sorc/gsi.fd`
- update gsiexe section of `sorc/link_workflow.sh` to be consis

[2022-06-16 23:07] DeniseWorthen opened #470 "ESMF_Scrip2Unstruct fails when using esmf/8.3.0b09"
**Describe the bug**
ESMF_Scrip2Unstruct fails with the error:

[code]

**To Reproduce**

1) Load the UWM modules (from a clone of UFS):
   module use modulefiles
  module load ufs_hera.intel

-> module list
[code]

2) Convert a SCRIP file to mesh with the ESMF_Scrip2Unstruct command

[code]

**Expected behavior**

The ESMF mesh file mesh.glo_30m.nc should be produced.

**System:**

Hera.inel

**A

[2022-06-16 23:21] aerorahul commented on #470
Is this an ESMF bug or a bug with the installation?

[2022-06-17 00:46] kgerheiser commented on #470
I am not familiar with this command. Could you try a different version of ESMF? This doesn't seem like an installation bug.

[2022-06-17 01:09] DeniseWorthen commented on #470
I'm not sure why it isn't working. It has always worked previously using the method I outlined.

[2022-06-17 09:40] DeniseWorthen commented on #470
I tried using some of the other esmf versions which I saw available but they all failed in the same way. I backed up to intel/18.0.5.274 and then the ESMF_Scrip2Unstruct worked correctly :
[code]
Since the ESMF is the same between this and my initial try, I'm not sure where the issue is?

[2022-06-17 10:39] aerorahul commented on #469
Thank you for installing on these machines.
How do we go about WCOSS2 now? @Hang-Lei-NOAA @kgerheiser

[2022-06-17 12:28] Hang-Lei-NOAA commented on #469
We have submitted the code delivery form to NCO about ncdiag/1.0.0.
It was also installed in the hpc-stack official location on Acorn.

On Fri, Jun 17, 2022 at 6:39 AM Rahul Mahajan ***@***.***>
wrote:

[2022-06-21 14:53] RussTreadon-NOAA commented on #462
Based on comments in this issue, ncio/1.1.2 is available on the following machines
- orion
- hera
- jet

ncio/1.1.2 remains to be installed on the following machines
- gaea
- cheyenne
- wcoss2

What's the procedure to get ncio/1.1.2 installed on gaea, cheyenne, and wcoss2?   Do we have an estimate as to when this will be done?

[2022-06-21 15:01] kgerheiser commented on #462
It's on Gaea. @jkbk2004 can install it on Cheyenne. And for WCOSS2 we need to put in a request.

[2022-06-21 15:08] RussTreadon-NOAA commented on #462
Thanks, @kgerheiser.  This is good news.   May we please submit a request to install `ncio/1.1.2` on WCOSS2?   Mike tested `ncio/1.1.2` on Hera.  I tested on Orion.  Tests on both machines were successful.

[2022-06-21 15:12] Hang-Lei-NOAA commented on #462
The request had been made to NCO last week. This was for Code delivery of
ncio 1.1.2 .

On Tue, Jun 21, 2022 at 11:08 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-21 15:17] RussTreadon-NOAA commented on #462
@Hang-Lei-NOAA , thank you for confirming that a CDF for WCOSS2 installation of `ncio/1.1.2` has been submitted.   Was CDF submission captured in another issue?

[2022-06-21 16:46] Hang-Lei-NOAA commented on #462
Yes, I sent it together with ncdiag/1.0.0 lib.
I checked with NCO right now. It’s still no further response.

On Tue, Jun 21, 2022 at 11:17 AM RussTreadon-NOAA ***@***.***>
wrote:

[2022-06-21 16:56] RussTreadon-NOAA commented on #462
OK.  We'll wait.

[2022-06-21 17:34] jkbk2004 commented on #462
@christopherwharrop-noaa Installed 1.1.1 and 1.1.2 on cheyenne: /glade/work/epicufsrt/GMTB/tools/intel/2022.1/hpc-stack-v1.2.0_6eb6 and /glade/work/epicufsrt/GMTB/tools/gnu/11.2.0/hpc-stack-v1.2.0

[2022-06-21 18:17] christopherwharrop-noaa commented on #462
@jkbk2004 - Thank you!

[2022-06-22 03:12] jkbk2004 opened #471 "[MAPL-v2.21.3] <MAPL new version release>"
**Which software in the stack would you like installed?**
1. On-going GOCART update requires the latest MAPL release but a confirmation is needed from UFS-WM and GOCART teams
2. MAPL update to address bug issue found in the UFS/GOCART thread and decomposition ORT tests: [UFS-WM issue #1259](https://github.com/ufs-community/ufs-weather-model/issues/1259)
3. Discussion for additional patch to the la

[2022-06-22 03:13] #460 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-06-22 18:34] rsdunlapiv commented on #470
@DeniseWorthen which versions of ESMF did you try and which one finally worked?  For the failing cases do you get any ESMF log files?

At some point recently the way ESMF initializes MPI was changed as part of the ESMF-managed threading - not sure if that is related to this issue.  @theurich could this be related?

[2022-06-22 18:53] DeniseWorthen commented on #470
@rsdunlapiv I don't get a log file when it fails. It works when I use esmf/8.3.0b09 with intel/18.0.5.274. But it doesn't work w/ the same esmf with the intel/2022.1.2 stack.

The other esmf versions that were available w/ the intel/2022.1.2 didn't work (I'd have to go back and repeat my tests to tell which which ones I tried exactly).

[2022-06-22 18:56] theurich commented on #470
@DeniseWorthen are you saying that the same esmf/8.3.0b09 module works when you have  intel/18.0.5.274 loaded, but not when you have  intel/2022.1.2 loaded? This raises the question, what intel compiler version was this  esmf/8.3.0b09 module built with?

[2022-06-22 19:06] DeniseWorthen commented on #470
@theurich The way I understand the stacks is that the various libraries are built w/ a specific compiler for a given stack. So I assume the esmf 8.3 has been built with the right compiler. I had tried several of the esmf versions in our intel/2022.1.2 stack and none of them worked. So I backed up to when we were using intel/18.0.5.274 and then esmf/8.3.0b09 worked.

[2022-06-22 19:10] theurich commented on #470
@DeniseWorthen - okay makes sense. Thanks.

Are you trying to run ESMF_Scrip2Unstruct from the command line, on a front-end node on Hera directly?
If so, I wonder if that is no longer supported with the later IntelMPI versions. In other words, even if you run the application with a single task, you might have to be on a compute node, and go through srun -n 1, or mpirun -np 1. Could you try this ou

[2022-06-22 19:12] DeniseWorthen commented on #470
@theurich Yes, I am just running from the command line. But I did try launching an interactive job and running from the line command there.

[2022-06-22 19:17] theurich commented on #470
@DeniseWorthen, you might need to go through srun or mpirun just to set up the MPI environment now. Not sure, just an idea.

BTW, I think you can start your executable directly on a compute node resource from any front-end node via srun. So e.g. do:
`srun -A nems -n 1 ESMF_Scrip2Unstruct --help`

[2022-06-22 19:53] DeniseWorthen commented on #470
@theurich That did work

[code]

[2022-06-22 20:47] theurich commented on #470
Great. So my assumption then is that the later IntelMPI versions on Hera require that the parallel environment is set up before any executables can be launched successfully. I think this is a Hera/Intel thing, and not a problem with ESMF or hpc-stack.

[2022-06-22 21:04] DeniseWorthen commented on #470
Yes, thanks for the help. I'll close the issue.

[2022-06-22 21:04] #470 closed, assigned to nobody

[2022-06-23 17:58] ChunxiZhang-NOAA commented on #471
@jkbk2004 Do you know who will install the updated hpc-stack on Hera/Jet/WCOSS(/Dell/Cray)?

[2022-06-23 18:13] jkbk2004 commented on #471
@ChunxiZhang-NOAA Dell/Cray will retire next week. We decided not to pursue Dell/Cray anymore. nceplibs team (Kyle and Hang) can cover Hera/Jet and orion and gaea as well. I can install on cheyenne. Do you want me to check with Weiyan to see his timeline about the release of the patch?

[2022-06-23 18:23] ChunxiZhang-NOAA commented on #471
@jkbk2004 Sure, please check with Weiyan to see if the patch will be released soon. If it will not be released soon, please go ahead and install MAPL-2.21.3. Barry has a fix to the input data which doesn't require the patch to MAPL. With MAPL-2.21.3 and other updates in hpc-stack, we can start PR#1192, which has high priority.

[2022-06-23 18:30] jkbk2004 commented on #471
@ChunxiZhang-NOAA The MAPL PR was just approved now: git action is underway. I think the patch will will be released anytime soon.

[2022-06-23 18:34] ChunxiZhang-NOAA commented on #471
@jkbk2004 Good to know. Hopefully, it will be released by tomorrow.

[2022-06-23 18:36] jkbk2004 commented on #471
@kgerheiser @Hang-Lei-NOAA FYI, I think we need to follow up quickly once the new MAPL patch is released.

[2022-06-27 14:09] htan2013 opened #472 "[INSTALL] Error when install bufr-bufr_v11.5.0"
**Which software in the stack would you like installed?**
HPC-stacks, error met during bufr installation.

**What is the version/tag of the software?**
bufr-bufr_v11.5.0 in HPC-stack

**What compilation options would you like set?**
I use gcc/9.2.0, cmake/3.20.3, openmpi/4.1.2, python/3.6.8

**Which machines would you like to have the software installed?**
The Bebop - Laboratory Computing Resource

[2022-06-27 17:01] Hang-Lei-NOAA commented on #472
looks like it is a problem in build. Let's see if bufr lib code manager Jeff can help.

[2022-06-27 17:05] kgerheiser commented on #472
Looks like an issue with your SSL certificate.

[code]

[2022-06-27 17:25] jbathegit commented on #472
I agree with @kgerheiser that this doesn't look like a library problem, but rather a problem accessing the bufr.tar test file, which is downloaded from a separate (non-GitHub) URL via curl.

[2022-06-27 18:20] htan2013 commented on #472
Thanks for your reply!
Do you know how to find the URL for downloading the bufr.tar file?

Thank you,
Haochen

[2022-06-27 18:45] htan2013 commented on #472
Hi Kyle and Jeff, @kgerheiser @jbathegit

I have tried to install it again, but it stopped at the nemsio:

+ [[ YES =~ [yYtT] ]]
+ prefix=/lcrc/project/OW_UFS/HPC-Stack//gcc-9.2.0-pkmzczt/openmpi-4.1.2/nemsio/2.5.4
+ [[ -d /lcrc/project/OW_UFS/HPC-Stack//gcc-9.2.0-pkmzczt/openmpi-4.1.2/nemsio/2.5.4 ]]
+ [[ N =~ [yYtT] ]]
+ echo 'WARNING: /lcrc/project/OW_UFS/HPC-Stack//gcc-9.2.0-pkmzczt/openmpi-4.

[2022-06-27 18:48] jbathegit commented on #472
https://ftp.emc.ncep.noaa.gov/static_files/public

[2022-06-30 14:57] edwardhartnett opened #475 "can we deprecate this project and stop working on it?"
Now that spack-stack has been released, is there any reason to continue with hpc-stack?

[2022-06-30 15:00] aerorahul commented on #475
Are there templates in place in `spack-stack` to install new versions of libraries or request new libraries on the systems?
Also, what is the ETA on supporting python-virtual environments and/or conda environments via `spack-stack`.  Several of our systems use that functionality.

TIA.

[2022-06-30 15:32] climbfuji commented on #475
For testing new packages and for using Python with venv or pip with spack-stack - see Section 8.2:

https://spack-stack.readthedocs.io/en/spack-stack-1.0.0/MaintainersSection.html#testing-new-packages

[2022-06-30 15:57] BrianCurtis-NOAA commented on #475
We should continue with hpc-stack until spack-stack is installed and implemented into the various projects that use those packages/modules. For example i can see a need for a new lib version arising before spack-stack can be integrated fully into UFSWM.

[2022-06-30 16:03] climbfuji commented on #475
We also need to roll out spack stack on the various HPCs first. Right now, it's on discover and I on orion (building now, it was down the entire day and last night).

[2022-06-30 16:07] aerorahul commented on #475
@climbfuji
An average user should not need to run any spack commands for creating/loading venv's or conda environments.
A user can provide the recipe for the virtual env. (or conda env), and the maintainers should provide a module to load that virtual env (or conda env).
I assume this capability will be restored in spack-stack.

[2022-06-30 16:08] climbfuji commented on #475
I don’t see why a user runs a spack command, not according to the documentation.

[2022-06-30 16:17] edwardhartnett commented on #475
I thought that spack-stack was already installed and working on all our machines. Did I misunderstand?

[2022-06-30 16:59] aerorahul commented on #475
May be we should discuss this offline.
Specifically, I am inquiring if there is ability in `spack-stack` to create virtual envs (or conda envs).  The answer is likely yes.  If so, a user should then just load the modulefile for that virtual env (or conda env).  The user should not have to create the virtual env. individually.

[2022-06-30 19:12] climbfuji commented on #475
Yes, let's take that offline. If you want, please find a time to chat next week, best to include Kyle as well as I don't want to give you wrong/incomplete information.

[2022-07-08 16:05] #472 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA, jbathegit

[2022-07-08 16:11] htan2013 opened #478 "Unable to load NEMSIO when building HPC-Stack"
**Describe the bug**
Hello all, I tried to build HPC-Stack based on [UFS Guide](https://ufs-srweather-app.readthedocs.io/en/release-public-v2/Include-HPCInstall.html?highlight=hdf5#non-container-hpc-stack-installation-and-build-general-linux), step 6.2.4. I use gcc/9.2.0, openmpi/4.1.2, cmake/3.20.3 and python3.9.5 in anaconda. The error I met is:

Lmod has detected the following error: Unable to

[2022-07-08 16:15] kgerheiser commented on #478
I've never seen this before. It looks like an Lua/LMod error where it can't find the LMod function `depends_on()`. What if you try to load that module manually?

[2022-07-08 16:46] htan2013 commented on #478
It is pretty strange since other modules have been loaded.
I tried loading module Lmod before building hpc-stack but the same error occurred.

[2022-07-08 16:58] kgerheiser commented on #478
Looking at your logs this error pops up in multiple places such as NetCDF-Fortran as well.

[2022-07-08 16:59] kgerheiser commented on #478
Can you try `module --version`. I wonder if it's your LMod version.

[2022-07-08 17:21] htan2013 commented on #478
Modules based on Lua: Version 7.4.9  2017-05-02 10:07 -05:00
    by Robert McLay mclay@tacc.utexas.edu

[2022-07-08 18:11] kgerheiser commented on #478
According to this `depends_on` was introduced in 7.5.12 https://lmod.readthedocs.io/en/latest/025_new.html

Your LMod is really old.

[2022-07-08 18:41] htan2013 commented on #478
Hi Kyle, I just test to build the HPC-Stack without using LMOD since we only have 7.4.9 on our HPC.
So the command that I use to build HPC-Stack is "./build_stack.sh -p /lcrc/project/OW_UFS/test_HPC-Stack/ -c config/config_custom.sh -y stack/stack_custom.yaml >& Build.log"

The Build.log is attached. Although I see "Configuring incomplete, errors occurred!" 3 times on gftl_shared, yafyaml, and map

[2022-08-01 18:27] binli2337 opened #480 "FMS release 2022.03"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
Please provide the name of the software you would like installed on the HPCs.  Ensure the software exists in the list of supported software.  If new software needs to be added to the stack, use the [add_package_request.md](./add_packa

[2022-08-01 19:09] DusanJovic-NOAA opened #481 "ESMF v8.4.0b08"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
Please provide the name of the software you would like installed on the HPCs.  Ensure the software exists in the list of supported software.  If new software needs to be added to the stack, use the [add_package_request.md](./add_packa

[2022-08-02 13:13] binli2337 commented on #480
@junwang-noaa

[2022-08-02 13:16] junwang-noaa commented on #480
@Hang-Lei-NOAA @jkbk2004 @kgerheiser May I ask if you can install the fms 2022.03 release on hera, orion, jet, gaea, cheyenne and acorn? Thank you!

[2022-08-02 13:23] Hang-Lei-NOAA commented on #480
@Jun Wang - NOAA Federal ***@***.***> We are doing it today.

On Tue, Aug 2, 2022 at 9:16 AM Jun Wang ***@***.***> wrote:

[2022-08-02 13:36] jkbk2004 commented on #480
Sure! I will work on Cheyenne this afternoon.

[2022-08-03 13:31] kgerheiser commented on #481
Working on this now

[2022-08-03 13:44] kgerheiser commented on #480
Done on Orion, Jet, and Gaea

[2022-08-03 14:18] Hang-Lei-NOAA commented on #481
It has been on Hera, except for an error with the gnu compiler. It is under
debugging.

On Wed, Aug 3, 2022 at 9:31 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-08-03 15:21] kgerheiser commented on #481
Done on Orion, Jet and Gaea.

[2022-08-03 15:33] DusanJovic-NOAA commented on #481
Trying to build ufs on Hera:
[code]
We need mapl build with v8.4.0b08. I wonder if this is really necessary or mapl module just requires exact esmf version?

[2022-08-03 15:43] Hang-Lei-NOAA commented on #481
I will add mapl/2.22.0 with 8.4.0b08

On Wed, Aug 3, 2022 at 11:34 AM Dusan Jovic ***@***.***>
wrote:

[2022-08-03 15:43] kgerheiser commented on #481
The MAPL module requires exact ESMF version. Maybe not necessary, but sometimes it can cause subtle bugs if there's an API change or something like that. It happened once before and since then we've kept them in lockstep.

[2022-08-03 17:27] Hang-Lei-NOAA commented on #481
mapl/2.22.0-esmf-8.4.0b08 is added on Hera

On Wed, Aug 3, 2022 at 11:43 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-08-03 18:23] DusanJovic-NOAA commented on #481
I'm getting compile (link) errors:
[code]

[2022-08-03 18:25] kgerheiser commented on #481
Ah, ESMF 8.3.0 changed the PIO option. It now supports using an external PIO with version > 2.5.7.

[2022-08-03 18:35] Hang-Lei-NOAA commented on #481
@Kyle Gerheiser - NOAA Affiliate ***@***.***> we have to
install the pio/2.5.7 and then rebuild it?

On Wed, Aug 3, 2022 at 2:26 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-08-03 18:37] kgerheiser commented on #481
Maybe, and also update a build setting. I haven't looked into it too deeply yet, but that's a change that I remember in ESMF 8.3.0 that wasn't in v8.3.0b09.

[2022-08-03 18:47] Hang-Lei-NOAA commented on #481
@Kyle Gerheiser - NOAA Affiliate ***@***.***> Thanks, I am
trying to update the installation with compiler intel/2022.1 and let Dusan
test it if it works. I used the latest PIO/2.5.8.

On Wed, Aug 3, 2022 at 2:37 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-08-03 18:48] kgerheiser commented on #481
I think there's more to it than that. The option that's passed to ESMF in the build needs to be updated too.

[2022-08-03 18:54] Hang-Lei-NOAA commented on #481
@Kyle Gerheiser - NOAA Affiliate ***@***.***> Thanks, I will
study the details from ESMF changes.

On Wed, Aug 3, 2022 at 2:48 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-08-03 19:45] kgerheiser commented on #481
I see what's going on now. The internal ESMF PIO is conflicting with the external PIO. We should set ESMF to use an external PIO for consistency.

[2022-08-03 21:52] Hang-Lei-NOAA commented on #481
@Dusan Jovic - NOAA Affiliate ***@***.***> Could you please test
the intel/2022.1 build with PIO/2.5.8 and let me know the result?
The ESMF user guide said that miniversion for PIO is 2.5.7.

On Wed, Aug 3, 2022 at 3:46 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-08-04 14:44] DusanJovic-NOAA commented on #481
UFS WM compiled successfully using pio/2.5.8. Please install debug versions of esmf and mapl.

[2022-08-04 14:54] DusanJovic-NOAA commented on #481
I see debug version of esmf, already installed. Thanks.

[2022-08-04 19:04] kgerheiser commented on #481
@Hang-Lei-NOAA I think we should use PIO 2.5.7 because 2.5.8 doesn't have an actual release yet https://github.com/NCAR/ParallelIO/releases, it matches the version in ESMF, and it matches the version that we're building in Spack.

[2022-08-04 19:35] Hang-Lei-NOAA commented on #481
@Kyle Gerheiser - NOAA Affiliate ***@***.***> Okay, I will use
it. In addition, in the coming a few days, I am planning to use your spack
to install the libraries on Acorn. So that the transition can be smooth
with your help.

On Thu, Aug 4, 2022 at 3:04 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-08-10 14:52] aerorahul commented on #469
This was resolved.

[2022-08-10 14:52] #469 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-08-22 12:55] MichaelLueken opened #483 "gnu/9.2.0 hpc/1.1.0 sigio/2.3.2 library missing on Hera"
**Describe the bug**
While attempting to build the GSI on Hera using gnu/9.2.0, the build failed with the following message:

[code]
Following a `module show sigio/2.3.2`, I looked in:

`/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/gnu-9.2.0/sigio/2.3.2/`

and there is no `lib`, `include`, or `cmake` directory present.  In fact, this directory is completely empty.

**To Reproduce**
Steps to r

[2022-08-22 16:40] Hang-Lei-NOAA commented on #483
Hi, Michael, Please try do not use hpc-stack  build cmake/2.20.0. I just close it for you to test.  You can directly use the system installed cmake/2.20.1

[2022-08-22 17:06] MichaelLueken commented on #483
Hi, @Hang-Lei-NOAA, I was building the GSI using `gnu/9.2.0` with the system installed `cmake/3.20.1` and not hpc-stack build `cmake/3.20.0`:

`   cmake/3.20.1       (L,D)`

The GSI still fails to compile because the GSI requires sigio (the following is from the GSI CMakeLists.txt file:

`find_package(sigio REQUIRED)`

and there is nothing present in the `sigio/2.3.2` directory for the `hpc/1.1.0`

[2022-08-22 17:23] Hang-Lei-NOAA commented on #483
Please try it again. Thanks.
I used to have sigio problem due to lmod and cmake.

-bash-4.2$ ls
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/gnu-9.2.0/sigio/2.3.2/include
sigio_module.mod  sigio_r_module.mod
-bash-4.2$ module load sigio
-bash-4.2$ module show sigio
---------------------------------------------------------------------------------------------------------------------------------

[2022-08-23 10:09] MichaelLueken commented on #483
Hi, @Hang-Lei-NOAA.  Thank you very much!  I was successfully able to compile the GSI with the `hpc/1.1.0` `gnu/9.2.0` settings.

[2022-08-23 10:09] #483 closed, assigned to nobody

[2022-08-24 19:54] KateFriedman-NOAA opened #484 "[INSTALL] ncdiag/1.0.0 on WCOSS2"
**Which software in the stack would you like installed?**

ncdiag

**What is the version/tag of the software?**

1.0.0

**Which machines would you like to have the software installed?**

WCOSS2

**Additional context**

I see it available on Hera and Orion but it's missing from all of the cray-mpich installs on WCOSS2. Please install on both WCOSS2s. Thanks!

[2022-08-24 23:42] Hang-Lei-NOAA commented on #484
This has been installed on wcoss2 acorn a few weeks ago, and passed to NCO in June.

[2022-08-25 13:30] KateFriedman-NOAA commented on #484
Is there a timeline then for when we should expect it on WCOSS2?

[2022-08-26 17:14] binli2337 commented on #480
@jkbk2004 @Hang-Lei-NOAA The FMS2022.03 needs to be reinstalled by adding the cmake flag:

-DCONSTANTS=GFS

For more information, please see https://github.com/ufs-community/ufs-weather-model/issues/1386

[2022-08-29 15:13] Hang-Lei-NOAA commented on #480
Have successfully rebuild on wcoss2 acorn.

On Fri, Aug 26, 2022 at 1:14 PM BinLi-NOAA ***@***.***> wrote:

[2022-08-31 17:09] aerorahul commented on #101
Closed by #324

[2022-08-31 17:09] #101 closed, assigned to jprestop

[2022-09-02 17:56] junwang-noaa opened #485 "[INSTALL] <MAPL/2.23.1>"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
MAPL

**What is the version/tag of the software?**
2.23.1

**What compilation options would you like set?**
The same as current 2.22.0

**Which machines would you like to have the software installed?**
All the HPC platform and Acorn.

[2022-09-02 17:57] junwang-noaa commented on #471
@jkbk2004 Now we have MAPL v2.22.0 installed and we are requesting 2.23.1 can you close this ticket? Thanks

[2022-09-02 17:59] #471 closed, assigned to kgerheiser, jkbk2004, Hang-Lei-NOAA

[2022-09-02 19:27] Hang-Lei-NOAA commented on #485
This mapl/2.23.1 has been installed on official lib area on
Hera, Orion, WCOSS2acorn. Please give a try.

[2022-09-06 19:01] DeniseWorthen opened #486 "Need metis/parmetis installed for UFS"
**Please describe the package or library you would like to add to hpc-stack.**

Metis/Parmetis
Package can be downloaded from https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/parmetis/4.0.3-4/parmetis_4.0.3.orig.tar.gz

**What applications at NOAA will be using this package or library?**
UFS (wave coupled applications) with unstructured meshes.

**Is there already a package or library in

[2022-09-06 19:02] DeniseWorthen commented on #486
@aliabdolali @jkbk2004

[2022-09-07 01:23] lipan-NOAA commented on #485
@Hang-Lei-NOAA Could you point me the location on WCOSS2acorn ?

[2022-09-07 12:07] DeniseWorthen commented on #486
I'm closing this issue. I can build and install the required libraries in my local path. If I set the ``METIS_PATH`` to my personal install, I am then able to build the required application w/in UFS.

[2022-09-07 12:07] #486 closed, assigned to Hang-Lei-NOAA

[2022-09-07 13:01] Hang-Lei-NOAA commented on #485
All official installations are
https://github.com/NOAA-EMC/hpc-stack/wiki/Official-Installations

On Tue, Sep 6, 2022 at 9:23 PM lipan-NOAA ***@***.***> wrote:

[2022-09-15 15:41] lipan-NOAA commented on #485
Tested it on Acorn, compile and run successfully, but RT baseline changed.

[2022-09-16 15:39] lipan-NOAA commented on #485
tested MAPL Version 23.1 with ESMF 8. 4. 0b08 on Hera,  a compile error like:

/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-2022.1.2/impi-2022.1.2/esmf/8.4.0b08/lib/libpioc.a(pioc.c.o):pioc.c:(.text+0x540): first defined here
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-2022.1.2/impi-2022.1.2/pio/2.5.3/lib/libpioc.a(pioc.c.o): In function `PIOc_Set_IOSystem_Error_Handling':
/

[2022-09-16 15:59] Hang-Lei-NOAA commented on #485
For 8.4.0 and later:
All PIO lib should be 2.7.3 and later

On Fri, Sep 16, 2022 at 11:39 AM lipan-NOAA ***@***.***>
wrote:

[2022-09-16 16:36] lipan-NOAA commented on #485
@Hang-Lei-NOAA May you point me the library location ?

[2022-09-19 01:14] Hang-Lei-NOAA commented on #485
Sorry, it is 2.5.7 and later.
You just have to
module load pio/2.5.7

On Fri, Sep 16, 2022 at 12:37 PM lipan-NOAA ***@***.***>
wrote:

[2022-09-20 19:40] GeorgeGayno-NOAA opened #496 "Install NCEPLIBS-ip v4.0 on Tier 1 platforms"
UFS_UTILS was updated to use v4.0 and a draft PR was initiated: https://github.com/ufs-community/UFS_UTILS/pull/695

Can v4.0 be installed on Orion, Jet, Hera and WCOSS2? How long does it typically take NCO to install a library on WCOSS2?

[2022-09-21 18:45] jkbk2004 opened #487 "crtm-2.4.0 installation fails on gaea"
**Describe the bug**
-- Could NOT find MPI_Fortran (missing: MPI_Fortran_LIB_NAMES MPI_Fortran_F77_HEADER_DIR MPI_Fortran_MODULE_DIR MPI_Fortran_WORKS)                                                                                                                          CMake Error at /ncrc/sw/gaea-cle7/uasw/ncrc/envs/20200417/opt/linux-sles15-x86_64/gcc-7.5.0/cmake-3.20.1-w7tkahac22qulhbcbi6io5

[2022-09-21 18:46] jkbk2004 commented on #487
@Hang-Lei-NOAA Were you able to install crtm-2.4.0 on gaea?

[2022-09-21 22:01] GeorgeVandenberghe-NOAA opened #488 "Many issues building hpc-stack on gaea. Too numerous to concisely document but it's not buildable with current release. Last success was 2/21"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**System:**
What system(s) are you running the code on?

**Additional context**
Add any other context about the problem here.

[2022-09-22 16:08] RussTreadon-NOAA opened #489 "[INSTALL] nceplibs-bufr v11.7.1"
**Which software in the stack would you like installed?**
This is the next release version of the nceplibs-bufr library, which is already part of hpc-stack. It is available from https://github.com/NOAA-EMC/NCEPLIBS-bufr/releases/tag/bufr_v11.7.1

**What is the version/tag of the software?**
https://github.com/NOAA-EMC/NCEPLIBS-bufr/tree/bufr_v11.7.1

**Which machines would you like to have the sof

[2022-09-22 16:18] climbfuji commented on #489
bufr@11.7.1 is installed in the latest JEDI containers and will be rolled out with spack-stack-1.1.0 on all supported machines:
https://github.com/NOAA-EMC/spack-stack/issues/339 Note that there will be no update of jedi-stack on hera or other platforms anymore (but I cannot speak for hpc-stack, of course).

[2022-09-22 23:17] jkbk2004 commented on #487
@natalie-perlin If any progress with this issue, please post comments here.

[2022-09-23 00:31] natalie-perlin commented on #487
I'm having the same issue with Gaea. This appears to be issue on a CMake level, as a variable MPI_Fortran is not found to be set:

[code]
The variable MPI_Fortran expected to be set by cmake.
The CRTM2.4 code has the following under ./crtm-v2.4.0/test/cmake/Modules/SetParallelizationLibrary.cmake :

ELSEIF (USE_MPI)
    # Find MPI
    IF (NOT MPI_Fortran_FOUND)
        FIND_PACKAGE (MPI REQUIRED)

[2022-09-23 00:51] jkbk2004 commented on #487
I am not sure if we can give a try with cmake build option: -DCMAKE_PREFIX_PATH=path_to_mpi_lib

[2022-09-23 12:22] DusanJovic-NOAA opened #490 "[INSTALL] ESMF v8.3.1"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
New public release of ESMF v8.3.1 https://github.com/esmf-org/esmf/releases/tag/v8.3.1

**What is the version/tag of the software?**
v8.3.1

**What compilation options would you like set?**
Same as previous versions.

**Which machines

[2022-09-23 16:31] junwang-noaa opened #491 "[INSTALL] HDF5 1.12.2 and Netcdf 4.9.0"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
HDF5 and Netcdf
Some other libraries that have dependency on these two libraries need to be rebuilt. E.g. ESMF (8.3.1 preferred) and MAPL(latest version preferred).

**What is the version/tag of the software?**
HDF5 1.12.2
Netcdf 4.9.

[2022-09-23 16:32] junwang-noaa commented on #491
@GeorgeVandenberghe-NOAA FYI.

[2022-09-23 16:33] KateFriedman-NOAA commented on #491
Thanks for opening this @junwang-noaa. I'm going to follow this issue as well.

[2022-09-23 16:48] junwang-noaa commented on #491
@climbfuji Can we build the two libraries (and associated libraried) in spack stack?

[2022-09-23 16:50] climbfuji commented on #491
It's too late for this release, the code freeze is today and we haven't tested building and installing it anywhere (and there are still PRs that need to be merged for these new versions). We can do that after the spack-stack-1.1.0 as a follow-up.

[2022-09-23 16:52] climbfuji commented on #491
I am recording the next updates for the UFS here: https://github.com/NOAA-EMC/spack-stack/issues/344

[2022-09-23 22:16] natalie-perlin commented on #487
The crtm/2.4.0 installed on Gaea, the module file is
`/lustre/f2/dev/wpo/role.epic/contrib/hpc-stack/intel-2021.3.0/modulefiles/compiler/intel/2021.3.0/crtm/2.4.0.lua`

[2022-09-26 12:01] jkbk2004 commented on #487
@natalie-perlin baseline/crtm-2.4.0 is reproduced ok with turning off MPI/required at netcdf_config line. I am not sure if we can force this feature at hpc-stack installation level or only way is to change in crtm/cmake.

[2022-09-26 17:47] natalie-perlin commented on #487
Yes, we can force to have it commented out from the config file by passing an additional variable, or just hard-wire it and comment out the MPI build for crtm in the ./libs/build_nceplibs.sh

[2022-09-26 18:16] jkbk2004 commented on #480
@Hang-Lei-NOAA can you make sure -DCONSTANTS=GFS is used to install fms-2022.03 on wcoss2? Due to resource issue on hera, we still use same hpc-stack/nwprod that you have installed. Can you make sure about -DCONSTANTS=GFS issue on hera as well?

[2022-09-26 23:43] Hang-Lei-NOAA commented on #480
I replied to you on slack. Yes. Others have used them for weeks.

On Mon, Sep 26, 2022 at 2:17 PM JONG KIM ***@***.***> wrote:

[2022-09-27 16:34] Hang-Lei-NOAA commented on #496
UFS_UTILS have been added on WCOSS2, Hera and orion. I will update the spack stack soon.

[2022-09-29 13:59] jkbk2004 commented on #487
we are merging in [ufs-wm pr 1425](https://github.com/ufs-community/ufs-weather-model/pull/1425)

[2022-09-29 13:59] #487 closed, assigned to nobody

[2022-09-30 14:24] junwang-noaa commented on #491
@edwardhartnett I want to confirm that the netcdf 4.9.0 has the Bit grooming algorithm that we can use in the ufsi-weather-model write grid component, is it correct? Thanks

[2022-09-30 15:26] Hang-Lei-NOAA commented on #491
@junwang-noaa I have added intel installations for the requested sets on Hera hpc-stack offical installations.
The  complete sets:
hdf5 1.12.2
netcdf 4.9.0
netcdf-fortran 4.6.0
netcdf-cxx 4.3.1

You can start from there, then we can add spack-stack soon.

[2022-10-03 20:10] lipan-NOAA commented on #485
@junwang-noaa just want EPIC hpc-stack team know MAPL Version 23.1 with ESMF 8. 4. 0b08 on Hera has an issue, who should I contact ?

[2022-10-11 06:58] Hang-Lei-NOAA commented on #378
@Jun Wang - NOAA Federal ***@***.***> I will try it. May we have to
remove some old stuff to release the space for a new set.

On Tue, May 24, 2022 at 12:41 PM Jun Wang ***@***.***> wrote:

[2022-10-11 06:59] Hang-Lei-NOAA commented on #462
The request had been made to NCO last week.

On Tue, Jun 21, 2022 at 11:02 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-10-11 07:03] Hang-Lei-NOAA commented on #471
This has been added to Hera. Please test it.

On Thu, Jun 23, 2022 at 2:37 PM JONG KIM ***@***.***> wrote:

[2022-10-11 07:05] Hang-Lei-NOAA commented on #407
This is corrected with NON-debug esmf.

On Wed, Mar 30, 2022 at 3:54 PM Dusan Jovic ***@***.***>
wrote:

[2022-10-11 07:37] Hang-Lei-NOAA commented on #407
@Kyle Gerheiser - NOAA Affiliate ***@***.***> Yes, every after
Hera maintenance, there usually has been some new issue. And right now, an
email said that they will not support intel/18 compilers.

On Fri, Mar 18, 2022 at 4:03 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-10-11 08:32] GeorgeVandenberghe-NOAA commented on #379
Does it run with intel 2021?

On Tue, Mar 8, 2022 at 9:29 AM MichaelLueken-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2022-10-11 08:34] Hang-Lei-NOAA commented on #379
I think we have both hpc-stack installations with intel/18.0.5.274 and
intel/2022.1 on Hera and orion for gfsv16.2. I installed them on Hera and
Kyle made them on orion.

On Wed, Mar 9, 2022 at 2:35 PM arun chawla ***@***.***> wrote:

[2022-10-11 08:59] climbfuji commented on #475
Did anyone read the documentation, the release notes, the issues? The slack messages?

[2022-10-11 09:05] Hang-Lei-NOAA commented on #421
This has been completed on WCOSS dell and Hera for all compilers.

On Mon, Apr 4, 2022 at 10:23 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-10-11 09:16] Hang-Lei-NOAA commented on #403
It is added to Hera in both intel/18 and gnu. It was the standard one in
intel/2022 installation.

On Mon, Mar 28, 2022 at 6:50 PM Christopher Harrop ***@***.***>
wrote:

[2022-10-11 09:30] Hang-Lei-NOAA commented on #489
bufr-11.7.1 have been added on Hera and orion.
The orion address has been updated
to:  /apps/contrib/NCEP/hpc-stack/src/hpc-stack
Please update your module use.

On Thu, Sep 22, 2022 at 12:18 PM Dom Heinzeller ***@***.***>
wrote:

[2022-10-11 13:37] edwardhartnett commented on #475
I have not. I am 100% focused on the GRIB libraries and that's where my focus has to stay for the next few months. ;-)

However I am happy that Alex is now here to help...

[2022-10-11 19:42] KateFriedman-NOAA commented on #379
@GeorgeVandenberghe-NOAA The GFSv16 only runs with intel 2018 on the R&Ds. There was an issue moving the GSI to intel 2021/2022 so we stuck with 2018. We're waiting for the GSI/JEDI to resolve this so we can move the entire GFSv17 system to intel 2021/2022.

[2022-10-13 18:41] DusanJovic-NOAA opened #494 "FMS release 2022.04"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
Please provide the name of the software you would like installed on the HPCs.  Ensure the software exists in the list of supported software.  If new software needs to be added to the stack, use the [add_package_request.md](./add_packa

[2022-10-13 19:05] Hang-Lei-NOAA commented on #494
@DusanJovic-NOAA It has been added on Hera.

[2022-10-14 18:53] GeorgeGayno-NOAA commented on #496
@Hang-Lei-NOAA I see v4.0 is installed on Hera. But I don't see it on Jet, Orion and WCOSS2. What is the status of the install on these machines?

[2022-10-14 19:59] Hang-Lei-NOAA commented on #496
@George Gayno - NOAA Affiliate ***@***.***> the ip v4.0.0 had
been added on orion. Please check with the new address:

module use /apps/contrib/NCEP/hpc-stack/libs/hpc-stack/modulefiles/stack

On Fri, Oct 14, 2022 at 2:53 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-10-14 20:02] Hang-Lei-NOAA commented on #496
It should be installed on WCOSS2 early next month: We have a code delivery
list on
https://docs.google.com/spreadsheets/d/1iEYR_Z6vomZDKLfYB6bBz4lAHafnU8EpUUsO3zUjs7c/edit?pli=1#gid=372078992

On Fri, Oct 14, 2022 at 3:59 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-10-14 20:03] Hang-Lei-NOAA commented on #496
Jet, gaea etc have been maintained by EPIC. Please contact @Jong Kim - NOAA
Affiliate ***@***.***> for these machines.

On Fri, Oct 14, 2022 at 4:02 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-10-14 20:09] jkbk2004 commented on #496
@ulmononian can we coordinate about the current status of EPIC's spack-stack installation and test?

[2022-10-14 21:16] GeorgeGayno-NOAA commented on #496
Thanks!

[2022-10-14 21:17] GeorgeGayno-NOAA commented on #496
Great!

[2022-10-17 14:17] climbfuji commented on #496
These installations are all in hpc-stack, correct? Should this issue/discussion be moved to the hpc-stack repository to avoid confusion?

[2022-10-17 14:21] Hang-Lei-NOAA commented on #496
Yes, the ip/4.0.0 had been added into spack-stack.

On Mon, Oct 17, 2022 at 10:17 AM Dom Heinzeller ***@***.***>
wrote:

[2022-10-17 14:28] climbfuji commented on #496
I moved this issue to the hpc-stack repository.

[2022-10-17 20:38] DusanJovic-NOAA opened #497 "[INSTALL] GNU hpc-stack using openmpi library"
**Which software in the stack would you like installed?**
All currently installed libraries in gnu/mpich stack.

**What is the version/tag of the software?**
Same versions as in gnu/mpich stack

**What compilation options would you like set?**
Same compilation options, same compiler, but use openmpi MPI library.

**Which machines would you like to have the software installed?**
Hera and Cheyenne.

[2022-10-17 20:38] DusanJovic-NOAA commented on #497
See: https://github.com/ufs-community/ufs-weather-model/pull/1147

[2022-10-18 18:06] ulmononian commented on #496
for sure. we can meet sometime this week.

[2022-10-18 21:34] edwardhartnett commented on #496
We are also leaving ip-3.3.3 as well, right?

Not all packages can currently use ip-4.0. They need to make some (pretty minor) changes to do so.

[2022-10-19 02:07] Hang-Lei-NOAA commented on #496
Yes

On Tue, Oct 18, 2022 at 5:34 PM Edward Hartnett ***@***.***>
wrote:

[2022-10-20 12:23] DavidHuber-NOAA opened #498 "[INSTALL] g2/3.4.5 on Jet with Intel 18.0.5.274"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
g2

**What is the version/tag of the software?**
3.4.5

**What compilation options would you like set?**
Standard

**Which machines would you like to have the software installed?**
Jet

**Any other relevant information that we should

[2022-10-20 13:43] DavidHuber-NOAA opened #499 "[INSTALL] ESMF/8_0_1 with Intel/18.0.5.274 impi/2018.4.274 on Jet"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
ESMF

**What is the version/tag of the software?**
8_0_1

**What compilation options would you like set?**
Standard

**Which machines would you like to have the software installed?**
Jet

**Any other relevant information that we shoul

[2022-10-20 13:47] jkbk2004 commented on #499
@DavidHuber-NOAA weather model develop branch, we moved to intel/impi/2022.1.2.

[2022-10-20 13:52] DavidHuber-NOAA commented on #499
@HelinWei-NOAA Can GLDAS be updated to compile/run with intel and impi 2022?

[2022-10-20 13:53] jkbk2004 commented on #499
gldas_model.jet is still based on the stack Kyle had maintained. Do we need PR to update or remove- Kyle's old locations? I think we can ask system admin to change Kyle's file ownership? Or simply move to intel/impi/2022.1.2 that EPIC is maintaining

[2022-10-20 14:46] jkbk2004 commented on #491
@Hang-Lei-NOAA can I make sure ESMF and MAPL are only two libs dependent on netcdf?

[2022-10-20 14:54] Hang-Lei-NOAA commented on #491
No, a lot of libs are depends on netcdf. You have to search. e.g. wgrib2,
upp, etc.

On Thu, Oct 20, 2022 at 10:46 AM JONG KIM ***@***.***> wrote:

[2022-10-20 14:56] jkbk2004 commented on #491
So fresh rebuild might be short cut for netcdf4.9.0, right?

[2022-10-20 14:59] Hang-Lei-NOAA commented on #491
Yes

On Thu, Oct 20, 2022 at 10:56 AM JONG KIM ***@***.***> wrote:

[2022-10-20 18:09] DavidHuber-NOAA commented on #499
These are questions beyond me and should perhaps be directed at @Hang-Lei-NOAA and @KateFriedman-NOAA?

[2022-10-20 19:01] jkbk2004 commented on #499
@DavidHuber-NOAA @KateFriedman-NOAA EPIC can support the hpc stack requirement for global workflow on RDHCPs. EPIC manages the hpc stack on Gaea/Orion/Jet/Cheyenne for weather model develop branch and we can extend the support for global workflow requirement. @Hang-Lei-NOAA still manages on hera but we can complete the transition including hera as well.

[2022-10-20 19:08] KateFriedman-NOAA commented on #499
@jkbk2004 Sounds good. For now we need the intel/impi versions that @DavidHuber-NOAA requested for this issue but we'll need the newer versions in the near future as well. The global-workflow generally follows what the weather model needs.

If Kyle's install on Jet could be moved under EPIC ownership and then get the missing modules we need added that would be great!

[2022-10-20 19:10] Hang-Lei-NOAA commented on #499
@jkbk2004 What kind of passing do you expect to have on Hera?
Also please announce the new service location to users on each machine. User are still asking support from us on orion.

[2022-10-24 17:58] DavidHuber-NOAA opened #500 "[INSTALL] PIO/2.5.7 with Intel/IMPI 18.0.4.274/2018.4.274 on Jet"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
PIO

**What is the version/tag of the software?**
2.5.7

**What compilation options would you like set?**
Standard

**Which machines would you like to have the software installed?**
Jet

**Any other relevant information that we should

[2022-10-26 14:12] aliabdolali opened #501 "Add Scotch library with intel and gnu compiler on Hera and Orion"
**Please describe the package or library you would like to add to hpc-stack.**
The Scotch distribution is a set of programs and libraries which implement the static mapping and sparse matrix reordering algorithms developed within the Scotch project. We would like to utilize the graph partitioning capability of Scotch in the WW3 model. Here is the link to the Scotch repository:
https://gitlab.inria

[2022-10-26 15:03] Hang-Lei-NOAA commented on #501
EPIC has handled the installations on Hera and Orion. Jong is the contact person.

[2022-10-26 16:24] DavidHuber-NOAA opened #502 "[INSTALL] ufswm on Jet"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
The ufswm miniconda environment.

**What is the version/tag of the software?**
ufswm/1.0.0

**What compilation options would you like set?**
The standard ufswm.yml environment built with hpc-miniconda3/4.6.12.

**Which machines would

[2022-10-28 23:47] ulmononian commented on #497
@DusanJovic-NOAA just to confirm with you: which pair of gnu / openmpi would you like? @natalie-perlin has installed the stack with gnu-10.2 / openmpi 4.1.2 here: /scratch1/NCEPDEV/nems/role.epic/hpc-stack/libs/gnu-10.2_openmpi. the hpc-stack built with gnu-9.2.0 / openmpi-3.1.4 can be found here: /scratch1/NCEPDEV/nems/role.epic/hpc-stack/libs/gnu-9.2_openmpi-3.1.4.

[2022-11-03 14:48] aliabdolali commented on #501
Hi @jkbk2004 do you have any status updates or a timeline?
@AvichalMehra-NOAA

[2022-11-03 14:53] jkbk2004 commented on #501
@aliabdolali Thanks for reminding! On EPIC side, I think we can follow up by early next week (say Monday). There are a few lib update check list. Doe it work on your side?

[2022-11-03 14:56] aliabdolali commented on #501
@jkbk2004 Yes, it works for us. Thanks in advance.

[2022-11-03 16:00] jkbk2004 commented on #501
@natalie-perlin @ulmononian We need to follow up the scotch instrallation.

[2022-11-03 19:24] aliabdolali commented on #501
I updated the instructions on Hera and Orion.

[2022-11-07 18:25] ulmononian commented on #501
@aliabdolali thank you for providing your installation instructions. i am currently working to add this to the hpc-stack on hera (@natalie-perlin will be handling orion), and will update you once it is added.

to aid in determining which stack to add this to, do you require netcdf-4.9.0 or higher to run scotch w/ your applications?

thank you!

[2022-11-15 15:27] KateFriedman-NOAA opened #506 "[INSTALL] bufr/11.7.0 in GFSv16 stacks on Hera/Orion"
**Which software in the stack would you like installed?**

`bufr`

**What is the version/tag of the software?**

`11.7.0`

**Which machines would you like to have the software installed?**

Hera and Orion

**Additional context**

Please install under GFSv16 stacks:
Hera - /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack-gfsv16/modulefiles/stack
Orion - /apps/contrib/NCEP/hpc-stack/libs/hpc-stack-

[2022-11-15 15:57] Hang-Lei-NOAA commented on #506
@KateFriedman-NOAA These libs have been added into EMC installations.
EPIC may also have them under their locations.

[2022-11-15 16:36] DusanJovic-NOAA commented on #494
Are there any updates on installing fms 2022.04 on Orion, Gaea, Jet, Cheyenne, Acorn?

[2022-11-15 17:13] KateFriedman-NOAA commented on #506
@Hang-Lei-NOAA Awesome, I see them under the gfsv16 installs now on both Hera and Orion:

[code]
[code]

The code that needs it builds without issue on Hera. On Orion I can find and load it fine but at buildtime I get this error:
[code]

Do I just need to wait for the cache to update? Thanks!

I see `bufr/11.7.0` in the other hpc-stack installs already and it's good to know it's in the EPIC instal

[2022-11-15 17:43] Hang-Lei-NOAA commented on #506
@Kate Friedman - NOAA Federal ***@***.***> Please update the
path, sorry the EMC installation moved after Kyle left.
vi
/work/noaa/global/kfriedma/git/release-gfs.v16.3.0/modulefiles/gfs_bufr.orion.lua
prepend_path("MODULEPATH", "/apps/contrib/NCEP/hpc-stack/
libs/hpc-stack-gfsv16/modulefiles/stack")

On Tue, Nov 15, 2022 at 12:13 PM Kate Friedman ***@***.***>
wrote:

[2022-11-15 17:51] Hang-Lei-NOAA commented on #494
fms/2022.04 had been installed on Acorn for weeks, and tested fine.

On Tue, Nov 15, 2022 at 11:36 AM Dusan Jovic ***@***.***>
wrote:

[2022-11-15 18:48] KateFriedman-NOAA commented on #506
@Hang-Lei-NOAA Oh right, thanks for catching that! I updated to the new path in the `module_base.orion.lua` modulefile already but not the `gfs_bufr.orion.lua` modulefile. I have now updated it in `gfs_bufr.orion.lua` and the bufr sounding build works. Thanks!

[2022-11-15 19:49] KateFriedman-NOAA commented on #506
I believe my install request has been satisfied. Thanks @Hang-Lei-NOAA ! Closing this issue as completed.

[2022-11-15 19:49] #506 closed, assigned to jkbk2004, Hang-Lei-NOAA

[2022-11-17 22:27] #382 closed, assigned to nobody