[2021-06-25 16:11] kgerheiser commented on #257
I have done this on Jet and Orion already.

The necessary libraries are:

* MAPL
* Yafyaml
* CMakeModules
* gftl_shared
* esma_cmake

[2021-06-25 20:40] climbfuji commented on #257
I did Cheyenne with Intel 19, GNU 9 and GNU 10 so far.

[2021-06-25 21:44] climbfuji commented on #257
Gaea with Intel 18 should be good, too.

[2021-06-25 21:54] DavidHuber-NOAA opened #258 "Port to S4"
To support the port of the global workflow to SSEC's S4 cluster, hpc-stack should be ported and installed on that system.

[2021-06-27 06:52] edwardhartnett opened #259 "Consider using zlib-ng and more recent HDF5 versions for faster compression"
There is a faster version of the zlib library: https://github.com/zlib-ng/zlib-ng

I am working with the netcdf team at unidata to confirm that this works as a fully backward compatible drop in replacement for zlib.

Initial results look very promising. Once we confirm that it works well, including for parallel IO, we can try this in the UFS. I'll check this out at the end of the summer...

[2021-06-28 17:22] rmontuoro commented on #257
GOCART dependencies are available on Hera

[2021-06-30 13:23] edwardhartnett commented on #259
@junwang-noaa take a look at the results here for an idea of how much this can help:
https://github.com/Unidata/netcdf-c/issues/2022#issuecomment-869792869

[2021-06-30 13:37] junwang-noaa commented on #259
Thanks for letting me know, the results look great! Looking forward to trying it with netcdf in UFS.

[2021-06-30 13:55] edwardhartnett commented on #259
@arunchawla-NOAA take a look at this issue for some good news. ;-) Faster compression is on the horizon...

[2021-06-30 14:05] arunchawla-NOAA commented on #259
Those are some great numbers!! Will be great to test these out when it is available

[2021-07-07 13:50] aerorahul opened #263 "Add cartopy dependencies -- GEOS and Proj"
**Please describe the package or library you would like to add to hpc-stack.**

GEOS - https://trac.osgeo.org/geos/
GEOS (Geometry Engine - Open Source) is a C++ port of the ​JTS Topology Suite (JTS). It aims to contain the complete functionality of JTS in C++.

PROJ - https://proj.org/
PROJ is a generic coordinate transformation software that transforms geospatial coordinates from one coordinate

[2021-07-07 13:53] aerorahul opened #264 "Allow python virtual env. script to load other modules or set environment variables"
**Is your feature request related to a problem? Please describe.**
Some python packages require paths to headers and libraries that may be built or available on the system.
These can be accessed via:
`module load` or `export`.

**Describe the solution you'd like**
Update the yaml section to declare appropriate variables or modules to be loaded.

[2021-07-07 13:57] Hang-Lei-NOAA commented on #263
Will install them on noaa machines soon

On Wed, Jul 7, 2021 at 9:51 AM Rahul Mahajan ***@***.***>
wrote:

[2021-07-07 14:19] DavidHuber-NOAA opened #265 "Incorrect library locations in g2 module file"
**Describe the bug**
The module file for g2 creates the environmental variables G2_LIB4 and G2_LIBd pointing to $base/lib/libg2_4.a and $base/lib/libg2_d.a, respectively.  However, these libraries actually install to $base/lib**64**.

**To Reproduce**
This can be found on orion
[code]

**Expected behavior**
The environmental variables would point to the correct locations.

**System:**
Orion and S4

[2021-07-07 14:30] kgerheiser commented on #265
This is caused by CMake using `CMAKE_INSTALL_LIBDIR`, which depending on platform can be either lib or lib64.

What we need is to be able to dynamically detect lib or lib64. We have an existing solution which processes the module before installing it. In the module we need to change `lib/*` to `{CMAKE_INSTALL_LIBDIR}/*`. We were using a version of g2 which wasn't using `CMAKE_INSTALL_LIBDIR`, but

[2021-07-07 14:33] kgerheiser commented on #263
@Hang-Lei-NOAA the libraries need to be added to hpc-stack with a build script first.

[2021-07-07 14:34] Hang-Lei-NOAA commented on #263
Yes, I see this. Will try build and then add them first.

[2021-07-07 14:36] aerorahul commented on #263
@Hang-Lei-NOAA
I added the build scripts to a branch [feature/cartopy-deps](https://github.com/NOAA-EMC/hpc-stack/tree/feature/cartopy-deps)

[2021-07-07 14:39] Hang-Lei-NOAA commented on #263
Got it, thanks!

On Wed, Jul 7, 2021 at 10:36 AM Rahul Mahajan ***@***.***>
wrote:

[2021-07-07 21:00] edwardhartnett commented on #265
Was there an issue for this?

[2021-07-08 15:24] aerorahul commented on #265
PR #266 resolved this issue.

[2021-07-08 15:24] #265 closed, assigned to nobody

[2021-07-08 15:25] aerorahul commented on #258
@DavidHuber-NOAA
If you have access to S4, would you be willing to contribute a `config/config_s4.sh` that works on S4?
Thanks in advance.

[2021-07-08 15:27] aerorahul commented on #247
I don't see an `eccodes` build script added to hpc-stack.  How was `eccodes` installed on Hera without it being built via hpc-stack?  Did we just violate the rule that we will not do ad-hoc installations without version control.

[2021-07-08 15:32] aerorahul commented on #240
Did we resolve this one way or another?
`stack_gaea.yaml` does not enable building Atlas at the moment.
There is no JEDI development supported on Gaea, so we can disable the others as well `eckit`, `fckit`, `boost`, `eigen`.
Closing since this is not an issue anymore.
Reopen if it is.

[2021-07-08 15:32] #240 closed, assigned to nobody

[2021-07-08 15:33] aerorahul commented on #232
From the discussion above, it seems to be complete.
Closing.
Reopen if it is not the case.

[2021-07-08 15:33] #232 closed, assigned to Hang-Lei-NOAA

[2021-07-08 15:34] aerorahul commented on #199
FMS is being built and installed via hpc-stack.  This issue is out of date or irrelevant now.
Closing.
Reopen if it is still relevant.

[2021-07-08 15:34] #199 closed, assigned to nobody

[2021-07-08 15:36] Hang-Lei-NOAA commented on #247
I have a testing version that added the eccode. After further test, I will
push it to the repo. This was an urgent request from Arun and developer to
add this for testing purposes with existing hpc-stack modules. The testing
has finished. I will remove this eccode module right now, and install it
after pull to the repo.

On Thu, Jul 8, 2021 at 11:28 AM Rahul Mahajan ***@***.***>
wrote:

[2021-07-08 15:36] aerorahul commented on #81
@kgerheiser @edwardhartnett
What do we need to do to close this issue?

[2021-07-08 15:37] kgerheiser commented on #81
can be closed

[2021-07-08 15:40] arunchawla-NOAA commented on #247
All installation and development should be marked in repositories.  We
really cannot do anything outside repositories.  Please factor in time for
doing this right. The work can be forks as a bare minimum, but not being in
repos is as good as not being done because there is no way for us to keep
track

On Thu, Jul 8, 2021 at 11:36 AM Hang-Lei-NOAA ***@***.***>
wrote:

--
---------------------------

[2021-07-08 15:43] Hang-Lei-NOAA commented on #247
Yes, I will correct this as soon as possible.

On Thu, Jul 8, 2021 at 11:40 AM arun chawla ***@***.***>
wrote:

[2021-07-08 16:37] DavidHuber-NOAA commented on #258
Thanks for the reminder @aerorahul.  I wanted to resolve #265 first and do a little more testing on S4 first.  I should have it in today.

[2021-07-08 18:25] #263 closed, assigned to aerorahul, Hang-Lei-NOAA

[2021-07-08 19:30] arunchawla-NOAA opened #269 "HPC-stack with later version of compilers on WCOSS Dell"
**Please describe the package or library you would like to add to hpc-stack.**

HPC-Stack on WCOSS Dell is built with ips 18.001, we need at least ips 18.05 or later (NOTE: ips 19 has known issues and we do not want to go to that version). So please provide a stack with the later version of the compiler on WCOSS Dell

**What applications at NOAA will be using this package or library?**
A list of g

[2021-07-08 20:51] Hang-Lei-NOAA commented on #269
Yes, I will install the whole hpc-stack libraries system on wcoss dell with
ips-18.0.5.274.I have tested it without any technique issues on dell.

On Thu, Jul 8, 2021 at 3:30 PM arun chawla ***@***.***> wrote:

[2021-07-09 00:33] #258 closed, assigned to nobody

[2021-07-09 20:06] Hang-Lei-NOAA commented on #269
Libraries through hpc-stack have been installed on WCOSS-dell with intel
compiler  ips-18.0.5.274.

Enclosed please find and use.

***@***.*** ~]$ module use
/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/modulefiles/stack
***@***.*** ~]$ module load hpc/1.1.0
***@***.*** ~]$ module load hpc-ips/18.0.5.274
***@***.*** ~]$ module load hpc-impi/18.0.1
***@***.*** ~]$ module ava

------

[2021-07-12 02:51] climbfuji commented on #81
This has not been done on all systems if I remember correctly. What about gaea? cheyenne?

What does "hpc systems" refer to? tier-1 platforms for the ufs-weather-model? If so, then gaea and cheyenne must be included.

[2021-07-12 07:37] edwardhartnett commented on #81
Who can do this on gaea and cheyenne? @kgerheiser does not have permissions.

Also, are these cron tasks sending emails when they succeed/fail? If so, I am not getting them...

[2021-07-12 14:17] kgerheiser opened #270 "Update configs to match default installations"
Some of the configs don't have correct defaults. For example, Orion has `intel/2020` enabled by default, but we use `2018.4`. Or there's no `config_jet.sh`.

Some are also missing the AVX flags for FMS, which should be enabled on Hera, Orion, and WCOSS-Dell.

[2021-07-12 14:18] kgerheiser opened #271 "Fix Cron job tests"
The weather model has updated its module structure. Update the logic to work with `ufs_common`, `ufs_common_debug`.

[2021-07-12 14:47] climbfuji commented on #81
I can do both, but we agreed in the past that EMC should take over responsibility on gaea (starting from hpc-stack v1.2.0). I thought that @kgerheiser has access nowadays.

[2021-07-12 14:51] kgerheiser commented on #81
I can takeover Gaea, and I do have access. Though I don't think I have compute capability.

[2021-07-12 15:00] kgerheiser opened #273 "Transfer Gaea responsibilities from Dom to EMC"
@climbfuji currently manages hpc-stack on Gaea. That responsibility should be transferred to EMC.

@climbfuji how do you want to do this?

With the next release of hpc-stack? Or if you want to transfer the current installation to me with `chown`?

[2021-07-12 15:09] climbfuji commented on #81
If compute is needed and you don't have, please let me know and I will set it up instead. I would need instructions for the cron jobs for Cheyenne, too. Thanks ...

[2021-07-12 15:30] climbfuji commented on #273
It would be best if we switch with the release of hpc-stack v1.2.0. If you can already set up the cron job that works of the top of develop, that would be great.

Thanks a lot!

[2021-07-12 16:22] edwardhartnett commented on #81
I don't think I am getting an emails for success or failure. Can you add me to the list of people who get emailed when this runs?

[2021-07-12 17:42] #271 closed, assigned to kgerheiser

[2021-07-12 19:11] kgerheiser commented on #270
Fixed with #272

[2021-07-12 19:11] #270 closed, assigned to kgerheiser

[2021-07-12 19:14] kgerheiser opened #274 "Update UPP, g2, and g2tmpl"
Bring UPP from 10.0.5 to 10.0.8 and g2tmpl from 1.9.1 to 1.10.0 to match what's used in the weather model

Update g2 to version 3.4.3 to fix an issue with duplicate file units

[2021-07-12 23:14] #274 closed, assigned to kgerheiser

[2021-07-15 16:51] aerorahul opened #276 "Build MIniconda and Conda environments capability"
**Is your feature request related to a problem? Please describe.**
No necessarily, but current solutions are limited.
Python virtual environments are the way to isolate and protect from updates in the underlying python packages.
Python virtual environment (`venv`) is implemented in the hpc-stack.  This poses a limitation on machines (`Hera`) where the python distribution is handled by Miniconda.

[2021-07-15 22:34] #276 closed, assigned to nobody

[2021-07-16 18:33] BinLiu-NOAA opened #278 "hpc-stack 1.1.0's wgrib2/2.0.8 cannot convert grib2 files into netcdf format on Orion"
**Describe the bug**
A clear and concise description of what the bug is.
The wgrib2/2.0.8 installed under hpc stack v1.1.0 does not work converting grib2 files into netcdf format files. The same version on Hera worked fine. Also, the system installed version on Orion (/apps/intel-2018/wgrib-2.0.8/wgrib2/wgrib2) works fine as well.

**To Reproduce**
Steps to reproduce the behavior:
On Orion:
module

[2021-07-16 19:13] aerorahul commented on #278
@BinLiu-NOAA
Can you please setup a simple script with the necessary input/output files demonstrating the bug?

[2021-07-16 20:40] aerorahul commented on #278
@BinLiu-NOAA
It does appear that the stack installed wgrib2 was built without netcdf enabled.

@kgerheiser @Hang-Lei-NOAA
We need to update `stack/stack_noaa.yaml` and elsewhere.
[code]

and then in `build_nceplibs.sh`
[code]

Which begs the question, how does this work on Hera since this is deficient in the source code in hpc-stack?
Are we again installing outside of the stack?

[2021-07-16 20:44] climbfuji commented on #278
How about rolling out v1.2.0, finally, or at least v1.1.1 ?

[2021-07-16 21:18] BinLiu-NOAA commented on #278
@aerorahul I don't know why it works on Hera. But, this command does work properly on Hera:
[code]

[2021-07-16 21:45] Hang-Lei-NOAA commented on #278
I compared that the one on orion, wcoss2 and hera.
We may need to add -DUSE_NETCDF4 = ON option for wgrib2 build script to
solve this issue.
Although the option was default in wgrib2, some systems did not take it.

On Fri, Jul 16, 2021 at 5:18 PM Bin Liu ***@***.***> wrote:

[2021-07-16 21:50] aerorahul commented on #278
@Hang-Lei-NOAA
The `wgrib2` tag we are building `v2.0.80cmake-v6` does not have this option as ON as default.
https://github.com/NOAA-EMC/NCEPLIBS-wgrib2/blob/v2.0.8-cmake-v6/CMakeLists.txt

[code]

[2021-07-17 01:30] #278 closed, assigned to nobody

[2021-07-23 14:53] climbfuji opened #280 "Building upp 10.0.8 on macOS fails - cannot find module vrbls2d"
**Describe the bug**
Trying to build UPP 10.0.8 on macOS with GNU 10.2.0. I get:
[code]
as the first error. But this file gets compiled earlier on, no errors:
[code]
Missing include? Did I overlook something? I believe the CI tests cover macOS with a recent GNU compiler.

[2021-07-23 17:24] climbfuji commented on #280
I can build UPP on macOS with the following change:
[code]

[2021-07-26 13:23] kgerheiser commented on #280
Interestingly, I don't get this behavior with GNU 10.3.0 (or 9.4.0).

[2021-07-26 17:59] DeniseWorthen opened #281 "install ESMF820bs14 for ufs-weather across platforms"
**Is your feature request related to a problem? Please describe.**

ufs-weather-model needs to update to esmf_8.2.0 BS 14. This release has been tested on Hera.intel and all regression tests pass (98dfa96)

**Describe the solution you'd like**

Install esmf 8.2.0 bs 14 within hpc-stack v1.1.0 on gaea,hera,jet,orion and dell-p3 and cray.

**Additional context**

[2021-07-26 19:45] edwardhartnett commented on #281
We have discussed this in the past and determined that we should only be updating ESMF to full releases. In other words, not to beta-releases.

If you need an update of ESMF we should ask them to do a full release so it can be properly installed on our systems.

[2021-07-26 19:56] kgerheiser commented on #280
I think I have seen this before. I'm trying to remember exactly what it was, but it's picking up a version of the .mod.  where that variable isn't present. Is it a fresh build?

[2021-07-27 13:23] edwardhartnett opened #282 "Remove w3nco, gfsio, and sfcio from hpc-stack in next release"
In the next release of hpc-stack we need to remove:
NCEPLIBS-w3nco
NCEPLIBS-gfsio
NCEPLIBS-sfcio

[2021-07-27 13:26] edwardhartnett commented on #231
What's the status here? We should remove these and do a 1.2.0 release of hpc-stack...

[2021-07-27 13:27] aerorahul commented on #282
@edwardhartnett

I don't think all the applications that depend on these libraries have migrated to the alternatives and removed them from their dependency list.  It might be a good idea to send out a notification and ask for feedback.  My 2c.

[2021-07-27 13:27] edwardhartnett opened #283 "Release hpc-stack 1.2.0"
Looks like it's time to release 1.2.0.

Some issues that should be resolved first:
#281

[2021-07-27 13:32] edwardhartnett commented on #174
OK, we have a new label and process for adding new packages, which includes the checklist.

What is not clear is how we get NCO approval.

[2021-07-27 13:34] edwardhartnett commented on #247
@Hang-Lei-NOAA what's the status of this issue? Will it be ready for the upcoming hpc-stack 1.2.0 release?

[2021-07-27 13:35] edwardhartnett commented on #185
OK, we still have not finished this and we need to provide a list of packages to Steve for the 1.2.0 release. What is going to happen here?

[2021-07-27 13:36] edwardhartnett commented on #81
@kgerheiser what machines is this cron job working on?

Can you add me to the email list so I can see the results?

What machines do we still want to set up cron jobs on? Can we bump the remaining machines to after the 1.2.0 release of hpc-stack?

[2021-07-27 13:37] edwardhartnett commented on #283
Let's discuss where we are on this issue at the Thurday meeting this week.

[2021-07-27 13:38] kgerheiser commented on #283
I will prepare some release notes

[2021-07-27 13:42] edwardhartnett commented on #282
OK, sounds like we need to keep them in hpc-stack at least for the next release. I will bump this issue to the 1.3.0 release.

[2021-07-27 13:45] edwardhartnett commented on #141
Let's bump this issue to the 1.3.0 release of hpc-stack.

[2021-07-27 13:47] edwardhartnett commented on #94
Let's bump this issue to the 1.3.0 release of hpc-stack so we can get the 1.2.0 release out.

[2021-07-27 13:48] edwardhartnett commented on #117
@kgerheiser any progress on this or shall we bump it to the next release? ;-)

[2021-07-27 13:54] kgerheiser commented on #81
It runs on Hera, Orion, and Jet. I have added you.

[2021-07-27 13:55] edwardhartnett commented on #81
Are we going to add my systems? Or shall we close this issue?

[2021-07-27 13:57] kgerheiser commented on #117
I could never reproduce this issue. It builds fine on my personal machines and in the CI using Clang.

[2021-07-27 14:02] aerorahul commented on #185
I spoke with Steven Earle about this and the report that we are printing in `hpc-contents.log` is acceptable at build time.
He said the description of the package could be added to the modulefile to display what the module consists of when someone types `module show package_name`.  I believe we do that, but if someone wants to expand on it, they are welcome to take it on.

[2021-07-27 14:03] Hang-Lei-NOAA commented on #247
No, it's not.
I hasn’t prepare this pr.

On Tue, Jul 27, 2021 at 9:34 AM Edward Hartnett ***@***.***>
wrote:

[2021-07-27 14:18] edwardhartnett commented on #247
OK, we will bump this to the 1.3.0 release.

[2021-07-27 14:19] edwardhartnett commented on #185
OK, great. I will close this issue.

[2021-07-27 14:19] #185 closed, assigned to aerorahul

[2021-07-27 14:20] edwardhartnett commented on #117
@climbfuji can you try again and see if you can reproduce this issue?

[2021-07-27 14:32] arunchawla-NOAA commented on #231
Looks like we cannot connect this issue with v 1.2.0 as we need this for operations now. We should push this to 1.3.0 -- but we need to start planning for removing old libraries that are not needed

[2021-07-27 16:05] kgerheiser commented on #283
I went through the project and the history and came up with this:

https://github.com/NOAA-EMC/hpc-stack/releases/tag/untagged-ef1a7afe14075cf69408

I think that covers all the major updates.

[2021-07-27 19:02] climbfuji commented on #280
Yes, fresh build. Maybe the cmake version makes the difference. From the latest release 3.21.0, it seems like the already existing lines `target_include_directories(${LIBNAME} INTERFACE ...` do not have the same effect as `PUBLIC` or `PRIVATE`, i.e. they don't apply for the build of the library itself?

https://cmake.org/cmake/help/latest/command/target_include_directories.html#command:target_incl

[2021-07-27 19:18] climbfuji commented on #81
We should try to get this going on Cheyenne after the downtime this week.

[2021-07-27 19:21] kgerheiser commented on #81
See instructions here: https://github.com/NOAA-EMC/hpc-stack/tree/develop/cron-ci

It's pretty simple to setup. You just fill out `setup-cron.sh` and set a few working directories. Then, set Cron to run that script at whatever interval.

[2021-07-27 19:31] kgerheiser commented on #280
I really think it's picking up an older version of the module before `teql` was added.

`teql` variable is pretty new, being added in this commit a few months ago:

https://github.com/NOAA-EMC/EMC_post/pull/280/files#diff-a53766ecc5593f0dd792ed2995f37764aac9acc08d2bdae228f0535333c0a370R31

Are you also building `nceppost`? We removed that entry a while ago, but that would conflict with `upp` when

[2021-07-27 19:38] climbfuji commented on #280
I checked the -I flags, the include directory with the vrbls2d.mod file wasn't there. When I added the lines suggested above (probably identical to changing INTERFACE to PUBLIC), the include line is there.

[2021-07-27 19:40] kgerheiser commented on #280
But it doesn't complain about not being able to find the module. It finds a `vrbls2d.mod` somewhere, but it doesn't have `teql` in it.

[2021-07-27 19:41] climbfuji commented on #280
Ahhh - I think it finds the one of the existing/old UPP version in HPC stack. Because it's all installed in a flat structure (w/o modules).

[2021-07-27 19:48] kgerheiser commented on #280
Looking at other libraries we use `PUBLIC` instead of `INTERFACE` in that line. I'm thinking it should be changed. I can't think of a good reason why it should be `INTERFACE`.

[2021-07-27 19:50] climbfuji commented on #280
I certainly support that suggestion.

[2021-07-28 13:09] arunchawla-NOAA commented on #281
@edwardhartnett I understand why we want to install full releases and the ESMF team has updates its release policy to do more than one release per year. But we will need some beta snapshots installed to do detailed testing with the full model on multiple platforms as ESMF touches multiple parts of the UFS. We need this beta snapshot for the coupled UFS model. Basic level tests have already been do

[2021-07-28 13:26] edwardhartnett commented on #281
OK, if we must, we must.

I believe the problem is that we have no good way of distinguishing beta releases in our FindESMF.cmake code. So we cannot build into the build system the checking to ensure that we have the version we need.

[2021-07-29 13:18] Hang-Lei-NOAA commented on #269
Finished.

[2021-07-29 13:18] #269 closed, assigned to Hang-Lei-NOAA

[2021-07-29 14:41] climbfuji commented on #280
Closed via https://github.com/NOAA-EMC/EMC_post/pull/351.

[2021-07-29 14:41] #280 closed, assigned to nobody

[2021-07-29 16:50] edwardhartnett commented on #117
I will bump this issue to the next release...

[2021-07-29 16:53] climbfuji commented on #117
Agreed, I will try this again when I install the next release on my mac.

[2021-07-29 19:03] edwardhartnett opened #285 "Add new version of w3emc with combined library in addition to old version without combined"
As discussed in meeting.

[2021-07-29 19:06] edwardhartnett opened #286 "Do a new release of NCEPLIBS-g2c"
We need a new release of g2c.

[2021-07-29 19:26] aerorahul opened #287 "Provide a mechanism to selectively overwrite packages."
**Is your feature request related to a problem? Please describe.**
Not a problem, but the workaround is a hack.

in `config_<platform>.sh` we currently provide an option to `OVERWRITE=YES|NO`.  This checks for each and every package.  Sometimes it is useful to overwrite some packages and not others.

**Describe the solution you'd like**
- Add `overwrite` option in the yaml section for packages tha

[2021-07-29 19:40] aerorahul opened #288 "[INSTALL] NCEPLIBS-wrf_io v1.2.0"
**Which software in the stack would you like installed?**
[NCEPLIBS-wrf_io](https://github.com/NOAA-EMC/NCEPLIBS-wrf_io)

**What is the version/tag of the software?**
[v1.2.0](https://github.com/NOAA-EMC/NCEPLIBS-wrf_io/tree/v1.2.0)

**What compilation options would you like set?**
Use the default options provided in the yaml file.

**Which machines would you like to have the software installed?**

[2021-07-29 19:44] climbfuji commented on #288
Cheyenne is down this week, will do after it comes out of maintenance. Will do gaea today.

[2021-07-29 20:00] kgerheiser commented on #288
I think it's everywhere except Gaea.

[2021-07-29 20:01] ryanlong1004 opened #289 "HDF5 Dependency when Stack Build Option turned Off"
**Describe the bug**
The HDF5 stack looks like it may be hard coded into build_netcdf.sh.  I disabled the stack in the yaml file (see image), but I think the HDF5 directory is hardcoded as a flag in the netcdf build.

[code]

**To Reproduce**
Run through the setup as per the README.md.  Run setup.sh and then try to build out the stacks.

**Expected behavior**
Skip over the HDF5 stack, as the build

[2021-07-29 20:03] kgerheiser commented on #289
But NetCDF depends on HDF5? You want to use an existing HDF5 build?

[2021-07-29 20:16] kgerheiser commented on #176
I'm going to close this issue given the response here: https://github.com/NOAA-EMC/hpc-stack/issues/176#issuecomment-788977880

[2021-07-29 20:16] #176 closed, assigned to nobody

[2021-07-29 20:17] kgerheiser commented on #140
We are on to 10.0.8.

[2021-07-29 20:17] #140 closed, assigned to nobody

[2021-07-29 20:19] kgerheiser commented on #158
We have NCIO installed.

[2021-07-29 20:19] #158 closed, assigned to kgerheiser, Hang-Lei-NOAA

[2021-07-29 20:20] kgerheiser commented on #197
Rahul added this in #284

[2021-07-29 20:20] #197 closed, assigned to edwardhartnett

[2021-07-29 20:20] kgerheiser commented on #257
This is done.

[2021-07-29 20:20] #257 closed, assigned to rmontuoro

[2021-07-29 20:21] aerorahul commented on #289
Have you tried setting the following in your `config_<platform>.sh` if you are disabling building HDF5 via the stack?
[code]

[2021-07-29 20:23] kgerheiser commented on #172
Is this related to #176? I don't know what this package is.

[2021-07-29 20:41] arunchawla-NOAA commented on #172
There has been no further information provided. Please close the ticket

[2021-07-29 21:05] climbfuji commented on #288
Installed on gaea.

[2021-07-29 21:12] #172 closed, assigned to nobody

[2021-07-29 21:44] ryanlong1004 commented on #289
@kgerheiser thanks, I wasn't sure if it was a dependency or not.

It looked like HDF5 was required looking at the code, but in the .yaml file you could choose "NO" to not have it build.

I can't build HDF5 because of an error I think is in their repo (https://github.com/HDFGroup/hdf5/issues/867).

[2021-07-29 21:44] #289 closed, assigned to nobody

[2021-07-29 21:48] kgerheiser commented on #289
Where are you trying to build? I can help you set the options correctly. It works on a bunch of different machines including desktop Linux/macOS.

I would guess that it's a simple misconfiguration problem rather than a problem with HDF5 itself.

If you just want NetCDF. You want to enable `zlib`, `HDF5`, and `NetCDF`, and an MPI.

Can you post the exact way you setup your config and what commands

[2021-08-01 20:22] junwang-noaa commented on #283
@edwardhartnett @kgerheiser I want to confirm, will the esmf820bs14 be in release 1.2.0? Thanks.

[2021-08-02 13:31] kgerheiser commented on #281
I have installed it on Orion and Jet.

[2021-08-02 13:55] edwardhartnett commented on #283
Yes it will.

[2021-08-02 14:11] edwardhartnett commented on #281
@kgerheiser this beta version will be part of the 1.2.0 hpc-stack release, right?

[2021-08-02 14:12] kgerheiser commented on #281
Yes

[2021-08-02 14:24] climbfuji commented on #281
@edwardhartnett @kgerheiser I realized that the Cheyenne config files need to be updated before the 1.2.0 release. A tiny PR, will create in a few minutes. The new compiler versions for Intel and GNU are already used by the ufs-weather-model, but we didn't update hpc-stack yet.

[2021-08-02 15:59] climbfuji commented on #281
I didn't realize that ESMF 8.2.0 bs14 only goes into v1.2.0, so I installed it in v1.1.0 on Gaea (Intel) and Cheyenne (both Intel and GNU). Doesn't hurt.

[2021-08-02 16:00] kgerheiser commented on #281
That's fine. That's what I did too.

[2021-08-02 16:04] climbfuji commented on #288
I also installed it on Cheyenne for Intel and GNU after the machine came out of the week-long maintenance. I think this issue can be closed now.

[2021-08-02 16:13] aerorahul commented on #288
@MichaelLueken-NOAA
NCEPLibs-wrf_io tag v1.2.0 has been installed under the stack on all machines.
Please test the GSI with it and if possible begin deprecating `GSI-libsrc` git submodule from the GSI.

If there are any concerns with the library, please open a Bug Report issue.

[2021-08-02 16:13] #288 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-08-02 21:03] edwardhartnett commented on #259
@kgerheiser sez:

Nice! Some questions/comments:

* Does this disable MPI? That will not work - proving that this works with parallel I/O is necessary, because that's how fv3atm uses it.

* You say:
`"Cannot build both zlib_ng and zlib in a flat installation"
`
In the upcoming meeting can you explain what this means?

* There are many versions of HDF5 to try. We need to test performance of netCDF

[2021-08-02 21:36] kgerheiser commented on #259
I am in the process of making test build of hpc-stack on Orion that will use zlib-ng, and then I'll do some basic testing just to see that everything works.

No, I didn't disable MPI. I assume you see my latest commit. I was just disabling build MPI in that specific configuration where I turned it on while I was testing.

"Cannot build both zlib_ng and zlib in a flat installation"
Ideally, UFS pro

[2021-08-04 14:44] edwardhartnett commented on #259
OK, so based on meeting today, we want:
HDF5-1.8.22 (https://portal.hdfgroup.org/display/support/HDF5%201.8.22)
HDF5-1.10.6 (https://portal.hdfgroup.org/display/support/HDF5+1.10.6)
HDF5-1.10.7 (https://portal.hdfgroup.org/display/support/HDF5+1.10.7)
HDF5-1.12.1 (https://portal.hdfgroup.org/display/support/HDF5+1.10.7)

netcdf-c-4.7.4
netcdf-c-4.8.0
netcdf-c master
netcdf-c-4.8.1 (when it comes o

[2021-08-05 14:07] edwardhartnett commented on #259
We also need to add the szip library to the testing mix. See https://support.hdfgroup.org/doc_resource/SZIP/ for details.

This can be built into all the HDF5 builds wiht the --with-szlib flag to configure. (Note that sometimes it's referred to as szlib, sometimes szip.)

NASAites used to swear by szip back in the day, so let's see what it can do for us.

[2021-08-05 14:37] Hang-Lei-NOAA commented on #285
For this coexisting lib, we need to change the new version name. In hpc-stack, we can keep only one version for each library in stack file.

[2021-08-05 14:50] Hang-Lei-NOAA commented on #285
I have tested with present 'develop' branch with the combined version v2.9.0. The installation is good. Therefore, this function is okay.

[2021-08-05 14:56] edwardhartnett commented on #285
Can we close the issue?

[2021-08-05 14:57] Hang-Lei-NOAA commented on #285
Yes

[2021-08-05 14:57] #285 closed, assigned to kgerheiser, Hang-Lei-NOAA

[2021-08-05 15:19] edwardhartnett commented on #286
Release has been done...

[2021-08-06 19:32] #286 closed, assigned to edwardhartnett

[2021-08-07 16:36] Hang-Lei-NOAA opened #292 "Adjust hpc-stack to adopt the latest system updates in WCOSS2 machine (Acron)"
**Is your feature request related to a problem? Please describe.**
Recently, the lmod and wcoss2 system have been updated. The lmod file "startLmod" has been removed. The default PrgEnv-intel has been changed with the newly installed compiler, cray-pe has been renamed into craype. etc.
Current hpc-stack does not work on wcoss2.

**Describe the solution you'd like**
Update and test with these new s

[2021-08-09 21:49] #292 closed, assigned to Hang-Lei-NOAA

[2021-08-10 13:47] Hang-Lei-NOAA opened #294 "NCO reported wgrib2 issue in MPMD-style parallel run"
**Describe the bug**
Diane Stokes from NCO reported following:
A couple of users have reported trouble running wgrib2 in MPMD-style parallel scripting on Acorn. suspect a conflict with the mpi build of wgrib2 and parallel processing of the scripts that call it. Scott Scallion of MDL suspects the same. He reports:

I am running into an issue submitting an mpmd job of 4 tasks. I get the following er

[2021-08-10 13:48] Hang-Lei-NOAA commented on #294
To locate the issue,
Following Wesleys' suggestions, we put 7 combinations of different serial netcdf and different iploates builds from NCEPLIBS-w3emc repo for users to locate the problem.

--------------------------------------------------------------------------------- /lfs/h1/emc/nceplibs/noscrub/Hang.Lei/library/NCEPLIBS-wgrib2/modulefiles -----------------------------------------------------

[2021-08-10 13:49] Hang-Lei-NOAA commented on #294
Guang's tests shows that non of this solved the MDMP issue. Therefore, we need to explore new approach to locate the problem.

[2021-08-10 13:49] Hang-Lei-NOAA commented on #294
Pass it to Kyle for using Wesley's original wgrib2 package.

[2021-08-10 13:54] arunchawla-NOAA commented on #294
Can you please say how the operational wgrib2 library is currently built on WCOSS ?

[2021-08-10 14:04] Hang-Lei-NOAA commented on #294
Yes, I investigated this on WCOSS dell.
/gpfs/dell1/nco/ops/nwprod/lib/wgrib2/v2.0.8/NCEPLIBS-wgrib2
This was from the library sets that we passed to NCO along with GFS15 delivery. It was installed not through hpc-stack, but directly from NCEPLIBS repos.
After NCO build the code in NCEPLIBS-wgrib2, they copy to the current nwprod lib directory for use.

[2021-08-10 14:10] arunchawla-NOAA commented on #294
What options were used to build this ?

[2021-08-10 14:31] Hang-Lei-NOAA commented on #294
As I saw from their script, they may used:
cmake -DMAKE_FTN_API=ON -DUSE_IPOLATES=0 -DUSE_SPECTRAL=OFF -DUSE_NETCDF4=OFF -DUSE_PNG=OFF -DUSE_JASPER=OFF -DCMAKE_INSTALL_PREFIX=${final_install_dir}  ..
The testing installation which I put in the wgrib2/2.0.81 has the same setting.
We may find out the release notes passed to NCO for accurate result.
@kgerheiser Could you please find out the release n

[2021-08-10 18:29] arunchawla-NOAA commented on #294
ok so this looks like it is being built with NETCDF3 ? What about the ip library ?

[2021-08-10 18:37] Hang-Lei-NOAA commented on #294
Yes, it is likely to built with netcdf3 option.
There is a story for ip lib. Two month ago, ip is not linked with nceplibs-wgrib2.  there reports an issue with wgrib2. Kyle and I have to reconstruct this ip option in wgrib2. ip and ip2 represents two ipolation types.

[2021-08-10 18:48] arunchawla-NOAA commented on #294
ok so it looks like it needs to be built with ip and NETCDF3 for operations use. Is that right?

[2021-08-10 19:15] Hang-Lei-NOAA commented on #294
Following Wesley's suggestion, it should be built with netcdf3, either ip or ip2 depending on the file's ipolation type.

As a normal feeling, when we meet these parallel run issue(like this one MDMP run). There is also the possibility that the system env or parallel compiler settings could cause this kind of problem. This is beyond our scope. Therefore, we are following the developer Wesley's sug

[2021-08-10 22:41] kgerheiser commented on #259
I have a full zlib-ng suite on Orion here: `module use /work/noaa/stmp/gkyle/hpc-stack-zlib-ng/install/modulefiles/stack`

I tested it with the weather model and obtained bitwise identical results compared to its current libraries.

There are all the HDF5's you mentioned, but only NetCDF 4.7.4. I have a compile error building NetCDF 4.8.0.

[code]

[2021-08-11 04:26] edwardhartnett commented on #259
Are you building with CMake or autotools?

Can I have the exact build command you are using?

[2021-08-12 16:36] KateFriedman-NOAA opened #296 "[INSTALL] ncio to hpc/1.1.0 on Jet"
**Which software in the stack would you like installed?**
ncio

**What is the version/tag of the software?**
ncio/1.0.0

**What compilation options would you like set?**
Same as on other platforms.

**Which machines would you like to have the software installed?**
Jet

**Any other relevant information that we should know to correctly install the software??**
n/a

**Additional context**
n/a

Thank

[2021-08-12 16:45] kgerheiser commented on #296
Done

[2021-08-12 16:56] kgerheiser opened #297 "NCIO points to develop"
NCIO uses the develop branch instead of the 1.0.0 tag.

[2021-08-12 17:57] KateFriedman-NOAA commented on #296
Thank you!

[2021-08-12 17:57] #296 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-08-12 18:44] #294 closed, assigned to kgerheiser

[2021-08-12 18:57] KateFriedman-NOAA opened #299 "Inconsistency with ncio module settings between WCOSS-Dell and R&D platforms"
**Describe the bug**

The ncio module variable names in the WCOSS-Dell copy differ from the ones on Hera, Jet, and Orion; specifically NCIO_INC and  NCIO_LIBDIR. The WCOSS-Dell module uses NCIO_INCLUDE instead of NCIO_INC and NCIO_LIBRARIES instead of NCIO_LIBDIR. See the module show info for ncio/1.0.0 on Hera and WCOSS-Dell below. Orion and Jet match Hera for the most part.

[code]

[code]

**Ex

[2021-08-12 19:07] kgerheiser commented on #299
The module should match what's here (`NCIO_INC`, `NCIO_LIBDIR`):

https://github.com/NOAA-EMC/hpc-stack/blob/develop/modulefiles/mpi/compilerName/compilerVersion/mpiName/mpiVersion/ncio/ncio.lua

@Hang-Lei-NOAA

[2021-08-12 19:33] aerorahul commented on #299
@KateFriedman-NOAA
What build is failing?
The global-workflow does not use `NCIO_INC`, `NCIO_LIBDIR` from the NCIO modulefile.
It uses `ncio_ROOT`, so removing that hack in the workflow should be sufficient.

[2021-08-12 19:41] Hang-Lei-NOAA commented on #299
Get it matched @kgerheiser

[2021-08-12 20:06] KateFriedman-NOAA commented on #299
@aerorahul I removed the hack from build_workflow_utils.sh, added the ncio/1.0.0, landsfcutil/2.4.1, and wgrib2/2.0.8 module loads to modulefiles/workflow_utils.wcoss_dell_p3 (see diff below) and then tried building (see build output with error below as well). I did the same change on Orion, Hera, and Jet...all three builds worked without error.

[code]

Build output:

[code]

[2021-08-12 20:09] kgerheiser commented on #299
Looks like you need a `ncio::ncio` in a `target_link_libraries()` somewhere in CMake.

[2021-08-13 03:23] #297 closed, assigned to nobody

[2021-08-13 14:16] arunchawla-NOAA commented on #281
Is this already done ?

[2021-08-13 14:21] kgerheiser commented on #281
It's done on Orion, Jet, Gaea, and Cheyenne.

@Hang-Lei-NOAA Hera and WCOSS?

[2021-08-13 14:30] KateFriedman-NOAA commented on #299
Ok, @aerorahul helped me investigate this...the ncio module on WCOSS-Dell is wrong. I'm loading ncio/1.0.0 however the module that the cmake build is expecting is not found (expecting module_ncio.mod but get module_fv3gfs_ncio.mod):

[code]

Showing the same include location on Orion for reference:
[code]

Please reinstall the ncio module on WCOSS-Dell. Thanks!

[2021-08-13 14:34] climbfuji commented on #281
We just discussed this in the code manager meeting. We will need the new ESMF version as part of the hpc-stack v1.2.0 roll-out (no longer needed in v1.1.0). This should also include a new (yet to be created) tag of FMS 2021.03. The FMS tag will be created next week.

We are hoping to have hpc-stack v1.2.0 with ESMF 8.2.0 bs14 and FMS 2021.03 available on all platforms by the end of next week. @kge

[2021-08-13 14:37] kgerheiser commented on #281
Sure, that works for me.

[2021-08-13 14:39] Hang-Lei-NOAA commented on #281
I am updating dell and Hera

On Fri, Aug 13, 2021 at 10:37 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-08-13 14:43] Hang-Lei-NOAA commented on #299
Hi, Kate, I am install the v1.2.0 version of hpc-atck, please use this one this afternoon.
The one in hpc-stack v1.0.0 will also be updated

[2021-08-13 14:45] aerorahul commented on #299
@Hang-Lei-NOAA
You mean the hpc-stack v1.1.0 on Dell, correct?

[2021-08-13 14:46] Hang-Lei-NOAA commented on #299
Yes, sorry for the typo.

[2021-08-13 15:34] kgerheiser commented on #273
Getting acquainted with Gaea after not using it for a while. @climbfuji do you know where I should install hpc-stack? I know I know you wanted to put it somewhere else.

[2021-08-16 12:32] edwardhartnett commented on #281
I believe this has been done. Can we close this ticket?

[2021-08-16 12:34] edwardhartnett commented on #259
I have been testing with zlib-ng and have found it works everywhere zlib does, so far. So that's good.

@kgerheiser in our I/O testing with UFS we do not need to test HDF5-1.8.x. As I (re-)discovered, the 1.8.x series cannot do parallel I/O with compression. This is a very necessary feature of UFS, so there's no point investigating HDF5-1.8.x any further for UFS I/O improvements.

[2021-08-16 12:35] edwardhartnett commented on #226
@Hang-Lei-NOAA @kgerheiser @aerorahul is this something we should address in hpc-stack-1.3.0? If so, let's discuss now and we will have plenty of time to implement and test it.

[2021-08-16 12:36] edwardhartnett commented on #191
@kgerheiser I think you told me that the autotools of PIO is not working for you with hpc-stack. Is that true?

[2021-08-16 12:41] edwardhartnett commented on #120
Well the background is that Kyle grabbed a snapshot of CRTM and we released it as an NCEPLIBS library (https://github.com/noaa-emc/emc_crtm). At the time, the CRTM team did not have a repo/branch to release.

Since then they have done a lot of work on their repo. Can we now install CRTM directly from their repo?

If so, we can retire emc_crtm. But I assume this is something that would need testing

[2021-08-16 12:54] climbfuji commented on #281
Not exactly. As described in a previous comment here (https://github.com/NOAA-EMC/hpc-stack/issues/281#issuecomment-898500998), we need to update hpc-stack v1.2.0 before it gets rolled out the first time (or as a follow-up after installing the default versions in v1.2.0, please advise) to include:
- FMS 2021.03 (tag will be created this week)
- ESMF 8.2.0 bs14

While ESMF 8.2.0 bs14 has been insta

[2021-08-16 13:07] edwardhartnett opened #300 "Should hpc-stack updates happen during off-hours?"
During the recent hpc-stack-1.2.0 update there were problems caused by updating hpc-stack during work time:

@Hang-Lei-NOAA  writes:

@Hang-Lei-NOAA also suggests:

This is a good suggestion. Also it would be good if we could find some way to announce to everyone before the update.

Hang also reports:
 `for hpc-stack, the libs under v1.1.0 and v1.2.0 for the same compiler version are installed in

[2021-08-16 13:13] Hang-Lei-NOAA commented on #300
Yes, the hpc/1.1.0 are still available after adding v1.2.0.
Both 1.1.0 and 1.2.0 code for the same compiler are in the same directory.
Therefore, update some libs in v1.2.0 may interrupt the installation in
v1.1.0 for a short time.
After the installation, under the same compiler, the v1.1.0 and v1.2.0 are
equal.
All  the modules under the same directory are accessible by both hpc/1.1.0
and hpc/1.2

[2021-08-16 13:20] aerorahul commented on #300
@Hang-Lei-NOAA
If the installation of v1.2.0 is in the same directory as v1.1.0, why is there an interruption expected?
When installing v1.2.0 of the hpc-stack in the same location as v1.1.0 and for the same compiler+mpi, were packages that did not need an update e.g. `netcdf/4.7.4`, `hdf5/1.10.6`, etc get overwritten?

[2021-08-16 13:20] arunchawla-NOAA commented on #300
when we move to v1.2.0 are we updating libraries that are otherwise unchanged ?

[2021-08-16 13:25] Hang-Lei-NOAA commented on #300
@Ruhual yes, most of libs are not necessary to update
This time that ncio is needed for the bug.
Boi also find issues for grib associated libs, these need to be updated.

On Mon, Aug 16, 2021 at 9:21 AM arun chawla ***@***.***>
wrote:

[2021-08-16 13:25] aerorahul commented on #300
@arunchawla-NOAA
They should not.
The installation path of the stack is like a growing tree.
Every subsequent installation is an addition to the installation path, and not a replacement (except where a replacement of a package is warranted; e.g. corrupted installation, faulty installation, etc).
Otherwise, this path should keep on growing and the entire limbs should be pruned at the `mpi` or `comp

[2021-08-16 13:26] aerorahul commented on #300
@Hang-Lei-NOAA
I understand that most libs are not necessary to be updated.
The question is, is that what was done or was the whole tree replaced?
And if @BoiVuong-NOAA found issues or bugs were found in ncio, then they need to make a release with the bug fix and that bugfix release should be installed before "silently" updating the installation.

[2021-08-16 13:28] arunchawla-NOAA commented on #300
should we just have one stack location ? hpc-stack. The software itself can be versioned and grow as a function of time but the entire stack does not need to be reinstalled whenever the software is updated, only if the underlying library changes ?

[2021-08-16 13:30] edwardhartnett opened #301 "Should new versions of hpc-stack be installed separately so they can co-exist with older versions?"
@Hang-Lei-NOAA asks:

[2021-08-16 13:30] Hang-Lei-NOAA commented on #300
Boi reported the issue in grib_util. For the grib series, the problem in grib_util was associated with g2. The g2 was updated several times. This include changing the jasper lib v2.2.5, and adding new functions. Now, the new function was failed. We need to recompile to make it right.

[2021-08-16 13:31] Hang-Lei-NOAA commented on #300
not a whole tree need to be updated

[2021-08-16 13:33] aerorahul commented on #300
@Hang-Lei-NOAA
I apologize I don't follow:
Was the whole tree updated: Yes/No?

[2021-08-16 13:34] Hang-Lei-NOAA commented on #300
No , just part of.

[2021-08-16 13:34] Hang-Lei-NOAA commented on #300
I should not make it silent, and need to make announcement before updating, as Edward suggested

[2021-08-16 13:35] aerorahul commented on #300
Then I am further confused as to how the packages of yafyaml disappeared from the path on wcoss_dell_p3 on Friday.

[2021-08-16 13:38] Hang-Lei-NOAA commented on #300
There is never this package there for intel/18.0.1.163
They just mistakenly load. These two package for GEO updated were not compiled with intel/18.0.1.163.
That is why Arun ask me to test and build it with intel/18.0.5.274.
Kyle further tested and show that "If there's a failure in ufs_common it doesn't bubble up to the machine module, but if you try to load ufs_common directly it will give the e

[2021-08-16 13:38] edwardhartnett commented on #300
Hang also reports:

[2021-08-16 13:42] aerorahul commented on #300
Ok.  So it is a different compiler version.  Got it.

[2021-08-16 13:42] Hang-Lei-NOAA commented on #300
Now, I have copied all from the backup. Before we give  a clear map, I will not update the v1.2.0. In the same time, We also need to wait the FMS new release.

[2021-08-16 13:43] arunchawla-NOAA commented on #300
ok, so the problem was that they were trying to load packages that were installed with intel/18.0.5 but were using intel/18.0.1 .. ?

[2021-08-16 13:43] Hang-Lei-NOAA commented on #300
Yes

[2021-08-16 13:45] BrianCurtis-NOAA commented on #300
If this from Friday's discussion. when you use `module load` on something that contains other `module load` statments, if one of them fails it does not propagate that message to the user and fails silently. So yes the yafyaml was trying to get loaded, but it kept failing silently so we did not know there was an issue.

Also, if you enable github discussions, this is a great candidate for that.

[2021-08-16 13:48] climbfuji commented on #300
My suggestion is to install new major releases in a separate directory, but to make incremental updates such as a new wgrib2 or ESMF library for the same hpc-stack version in the existing directory (each time, take a backup beforehand). I will do this on Cheyenne at least, and
[code]
will become
[code]
with additional library version updates as needed. If ESMF needs to be updated within v1.2.0, I'

[2021-08-16 13:50] #300 closed, assigned to kgerheiser, aerorahul, edwardhartnett, Hang-Lei-NOAA

[2021-08-16 14:25] edwardhartnett commented on #301
There is some discussion between @aerorahul and @climbfuji regarding this question: https://github.com/NOAA-EMC/hpc-stack/discussions/303

In one sense, separate installs are unnecessary, since the existing hpc-stack grows to accommodate new versions. Therefore, there need be only one hpc-stack installation.

On the other hand, hpc-stack accomplishes a binning of the dependent libraries into a hpc

[2021-08-16 14:25] #301 closed, assigned to kgerheiser, aerorahul, edwardhartnett, Hang-Lei-NOAA

[2021-08-16 14:28] kgerheiser commented on #191
That was the case, and the CMake build is used now.

[2021-08-16 18:11] edwardhartnett opened #305 "Create mailing list to notify of upgrades and changes"
We would like to have a mailing list we can use to notify everyone that the hpc-stack installation has changed on a particular machine.

@arunchawla-NOAA @kgerheiser @Hang-Lei-NOAA this was decided in our meeting today...

[2021-08-16 18:15] edwardhartnett opened #306 "Make installed software read-only to discourage accidental rewrites?"
It has been suggested that we make our installed hpc-stack read-only to prevent accidental overwrites.

Another, more sophisticated solution would be to use a unix group which had write permissions. hpc-stack updaters would have to specifically invoke the group name to get the permissions.

@arunchawla-NOAA this was one of the items mentioned at today's meeting...

[2021-08-16 19:37] KateFriedman-NOAA commented on #299
@Hang-Lei-NOAA Checking on the status of this. I opened fresh terminals to WCOSS-Dell today (to avoid old cache) but don't yet see the updated ncio/1.0.0 module, it's still the wrong name:

[code]

Thanks!

[2021-08-16 19:53] Hang-Lei-NOAA commented on #299
Hi, Kate, It is updated now. It was updated last Friday, but I recovered
the whole system back for other reasons.

On Mon, Aug 16, 2021 at 3:37 PM Kate Friedman ***@***.***>
wrote:

[2021-08-16 20:09] KateFriedman-NOAA commented on #299
@Hang-Lei-NOAA I see the updated module name on WCOSS-Dell now and my workflow_utils build (using ncio/1.0.0) now works. Thanks!

[2021-08-16 20:18] #299 closed, assigned to nobody

[2021-08-17 14:49] GeorgeVandenberghe-NOAA opened #307 "HPC stack build on Jet Failed 8/16"
HPCSTACK build on Jet 8/17/2021  from the following script FAILED in bufrlib build

git clone https://github.com/NOAA-EMC/hpc-stack.git h0816
cd h0816

export P=/tmp/hpcstackF

rm -rf $P
./setup_modules.sh -p $P  -c config/config_jet.sh
./build_stack.sh -p  $P  -c ./config/config_jet.sh -y ./stack/stack_noaa.yaml

ld/test/CMakeFiles/CMakeDirectoryInformation.cmake" is newer than depender "/hom

[2021-08-17 14:51] mlee03 opened #308 "[INSTALL] FMS 2021.03"
**Which software in the stack would you like installed?**
FMS

**What is the version/tag of the software?**
tag 2021.03

**What compilation options would you like set?**
with FMS specific CMake flags:  -DGFS_PHYS=ON -D64BIT=ON -DOPENMP=ON

**Which machines would you like to have the software installed?**
On all machines supported for the UFS Weather Model

**Any other relevant information that we

[2021-08-17 14:53] mlee03 commented on #308
@junwang-noaa, this issue is opened up for the upcoming FMS 2021.03 PR in the UFS Weather Model repository.  Also tagging @bensonr

[2021-08-17 14:54] aerorahul commented on #307
@GeorgeVandenberghe-NOAA
Does jet allow `wget` or `curl` from the WWW?
The error shows:
***curl: (28) Connection timed out after 30001 milliseconds make[2]: *** [test/bufr.tar] Error 28***

[code]

[2021-08-17 15:21] aerorahul commented on #307
@GeorgeVandenberghe-NOAA
After the bufr library is built, the bufr build system tries to download the test data.
https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/9408871c8b7b9283f7442e58448874184bf2eb96/test/CMakeLists.txt#L49
That is where the failure is occurring on Jet.
May be this should be removed from `ALL` targets and be executed only when tests are run (which they are not in hpc-stack by def

[2021-08-17 15:45] junwang-noaa commented on #308
Thanks, Mikyung. @edwardhartnett  @kgerheiser @Hang-Lei-NOAA May I ask when the FMS 2021.03 can be installed on UFS supported platforms? Thank you!

[2021-08-17 16:02] GeorgeVandenberghe-NOAA commented on #307
So if I don't have connectivity and want to just get the library built without testing since this NOAA platform doesn't support the testing capability,  how do I get rid of the test?

[2021-08-17 16:23] GeorgeVandenberghe-NOAA commented on #307
I am concerned we might have to build HPC_STACK as a guest on some other machine somewhere with different security requirements and lack of connectivity.  Finding an alternate way to get bufr.test into this package in the build is not trivial.  Being able to create a tarball on well connected machine A and untar it on machine B inside firewalls, without good connectivity and build with everything

[2021-08-17 16:30] aerorahul commented on #307
@GeorgeVandenberghe-NOAA

hpc-stack does provide a mechanism where one can "download" the source code on a machine with connectivity, rsync/scp manually to firewalled machine, and then use it.  The option is called `DOWNLOAD_ONLY=YES|NO` in `config.sh`.
See the documentation of hpc-stack regarding the use of `DOWNLOAD_ONLY` [here](https://github.com/NOAA-EMC/hpc-stack/#using-the-download_only-opti

[2021-08-17 16:39] GeorgeVandenberghe-NOAA commented on #307
I've used that download only capability and it works great but it is defeated when there are additional downloads embedded within a build script downloaded from the repository and not activated until the build is executed.  Yeah.. that problem is in the repository, not HPC_STACK, agreed but it still is a real problem when we have to do a build on some foreign machine with poor connectivity and it'

[2021-08-17 16:45] aerorahul commented on #307
If you want to solve the `PIO` problem, turn off everything in `stack.yaml` that `PIO` does not need.
You are probably wasting your time beating around problems that have no relevance to the issue you are trying to solve.

To download just the source code for a package is one thing.  To download everything that the individual packages will download when they start to build is another and way more

[2021-08-17 16:45] #307 closed, assigned to nobody

[2021-08-17 16:50] GeorgeVandenberghe-NOAA commented on #307
Acknowledged.  THis is outside of HPC_STACK and needs to be addressed in the packages it builds.  I concur with the close.

[2021-08-19 14:05] kgerheiser commented on #308
Complete on Jet and Orion

[2021-08-19 14:07] climbfuji commented on #308
@kgerheiser just to confirm - you installed hpc-stack v1.2.0 with FMS 2021.03 and ESMF 8.2.0bs14 on both?

[2021-08-19 14:54] climbfuji commented on #308
@kgerheiser for gaea, I suggest to install hpc-stack as user emc.nemspara somewhere under `/lustre/f2/pdata/ncep_shared/` - maybe `/lustre/f2/pdata/ncep_shared/hpc-stack` ? Note that there is already a directory `/lustre/f2/pdata/ncep_shared/emc.nemspara/hpcstack/s1228/` (without the `-` in `hpc-stack`), not sure what that is used for.

[2021-08-19 15:04] kgerheiser commented on #308
@climbfuji I installed them in the existing 1.1.0 tree. I think I'm coming around to @aerorahul's suggestion to maintain a single stack.

[2021-08-19 15:06] climbfuji commented on #308
That's totally up to you, I am just wondering if you rolled it out as part of v1.2.0 - i.e. are these modules available when you load hpc-stack/1.2.0, or when you load hpc-stack/1.1.0 ?

[2021-08-19 15:09] kgerheiser commented on #308
They are part of `hpc/1.1.0`.

[2021-08-19 15:11] aerorahul commented on #308
loading of `hpc/1.1.0` and `hpc/1.2.0` is meaningless.
This module exports the variable `HPC_OPT` which is the same for both/all/any "hpc-stack versions" when the stack is installed in the single location.

This is a confusion brought about by giving a version to hpc-stack,  as we know the installed stack is dynamic collection of packages.

There is no real need for `hpc/1.1.0`, `hpc/1.2.0`, etc.

[2021-08-19 15:18] Hang-Lei-NOAA commented on #308
@Rahul Mahajan - NOAA Federal ***@***.***> I added v1.2.0 to
dell. is that could be the reason for the issue?
Should we recover the one before v1.2.0 updates?

On Thu, Aug 19, 2021 at 11:11 AM Rahul Mahajan ***@***.***>
wrote:

[2021-08-19 15:28] aerorahul commented on #308
I doubt that is the issue.

[2021-08-19 15:29] aerorahul commented on #308
you could load 1.1.0 and still have the stack from 1.2.0 available if both are installed in the same tree.
The packages are made available when the compiler suite is loaded.

[2021-08-19 15:29] Hang-Lei-NOAA commented on #308
Okay, I will recover the original one for comparison and determine the
issue.

On Thu, Aug 19, 2021 at 11:28 AM Rahul Mahajan ***@***.***>
wrote:

[2021-08-19 15:31] Hang-Lei-NOAA commented on #308
Yes, that is what I did. It works on Hera, but dell has problem for unknown
reason.
Dell's issue may need further analysis.

On Thu, Aug 19, 2021 at 11:29 AM Rahul Mahajan ***@***.***>
wrote:

[2021-08-19 15:35] aerorahul commented on #308
That is why I don't think this is a stack issue, but rather a manifestation of either how LMod is set up on WCOSS and/or something else with how the UFSWM meta module is being interpreted.

[2021-08-23 14:27] kgerheiser commented on #273
I installed hpc-stack on Gaea at `module use /lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles/stack`.

I have ESMF 8.1.1 + FMS 2020.04.03, along with the newer versions requested.

@climbfuji wondering if FMS is supposed to be installed with AVX on Gaea? I don't see it in the config and just want to double check.

[2021-08-23 14:50] climbfuji commented on #273
This is a good question. I remember vaguely that there were problems (reproducibility) when using the AVX2 flags on Gaea for FMS, but it's been a while. At least the previous version of the FMS library was installed without AVX2 (2020.04.03).

[2021-08-23 20:10] BijuThomas-NOAA opened #310 "path for g2 library on WCOSS-CRAY"
**Describe the bug**
G2_LIB4 variable pointing to non-existant library /usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/g2/g2-3.4.3/lib/libg2_4.a
However, /usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/g2/g2-3.4.3/lib64/libg2_4.a exist.

module show g2/3.4.3
setenv		 G2_LIB4 /usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/g2/g2-3.4.3/lib/libg2_4.a
setenv		 G2_LI

[2021-08-23 20:21] kgerheiser opened #311 "Remove version from hpc module?"
The version assigned to the top-level `hpc` module doesn't make sense with an evolving set of libraries. The version doesn't correspond to a single point in history as more libraries are installed.

@aerorahul suggested naming it `default.lua`

Also, with the current layout there's only one set of libraries and one hpc module. Whether you're loading `default` or `1.2.0` or `1.1.0` it will point to

[2021-08-23 21:47] climbfuji commented on #311
This is a very good idea. Once we have moved to this way of versioning, I will also move from versioned hpc-stack directories on Cheyenne to a single directory tree (but not beforehand).

[2021-08-23 22:30] climbfuji commented on #273
The regression tests passed against the existing baseline, means that AVX2 was definitely off for the previous release (see https://github.com/ufs-community/ufs-weather-model/pull/762)

Note that the PR still uses the old stack location, because we didn't want to switch to the version-less hpc-stack as part of the update-FMS PR.

[2021-08-24 12:37] WenMeng-NOAA opened #312 "[INSTALL] Install upp/10.0.9"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
upp library

**What is the version/tag of the software?**
10.0.9

**What compilation options would you like set?**

**Which machines would you like to have the software installed?**
On all machines supported for the UFS Weather Model

[2021-08-24 12:56] Hang-Lei-NOAA commented on #312
We will add it to hpc-stack installations.

On Tue, Aug 24, 2021 at 8:37 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-08-24 18:54] kgerheiser commented on #312
Complete on Jet and Orion

[2021-08-24 19:00] WenMeng-NOAA commented on #312
@Hang-Lei-NOAA @kgerheiser Thanks!

[2021-08-24 19:08] Hang-Lei-NOAA commented on #312
Done. for Dell and Hera.

On Tue, Aug 24, 2021 at 3:00 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-08-24 21:07] climbfuji commented on #312
Installed on Cheyenne (in the new hpc-stack v1.2.0 directory tree, if that ever gets used).

[2021-08-25 13:23] jduckerOWP opened #313 "[INSTALL] ESMF 8_2_0 latest snapshot on Hera cluster"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
ESMF 8_2_0

**What is the version/tag of the software?**
beta_snapshot_16

https://github.com/esmf-org/esmf/tree/ESMF_8_2_0_beta_snapshot_16

**What compilation options would you like set?**
Similar compilation options as available on

[2021-08-25 13:32] Hang-Lei-NOAA commented on #313
We have just installed  beta_snapshot_14 on everywhere.
Is this a large difference from the bs 14?

On Wed, Aug 25, 2021 at 9:23 AM jduckerOWP ***@***.***> wrote:

[2021-08-25 13:41] jduckerOWP commented on #313
Yes, there was a bug in the ESMF code for the NUOPC Connector. I was working with ESMF Locstreams on NUOPC caps and there was significant issues with model components communicating locstream metadata when they are ran on their own independent threads. Essentially, the NUOPC Connector is not communicating locstream metadata correctly and internal fixes to ESMF libraries had to be done by UCAR. The

[2021-08-25 13:53] Hang-Lei-NOAA commented on #313
Since this snapshot version is only requested on Hera and not required by
standard modeling systems, we could add it to the test version at
module use
/scratch2/NCEPDEV/nwprod/hpc-stack/test/hpc-stack/modulefiles/stack
for you to test it.
In the future, when a later major release is made, the fix will be included
and will be added into the official installations.

On Wed, Aug 25, 2021 at 9:41 AM j

[2021-08-25 14:31] jduckerOWP commented on #313
This solution seems sufficient to me for now. Colleagues at UCAR wanted me to test my special case scenarios for NEMS configurations based on their latest bug fixes to ESMF. Therefore, it would be proper to just add it as a test version for module use on the Hera cluster. If you can go ahead and install it on the pathway you specified on Hera, that would be great. Thank you very much for your time

[2021-08-25 14:33] Hang-Lei-NOAA commented on #313
This has been added to the test installation of hpc-stack on hera.
Close.

[2021-08-25 14:33] #313 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-08-25 14:48] kgerheiser commented on #310
@Hang-Lei-NOAA can you fix this?

[2021-08-25 14:49] kgerheiser commented on #312
Install complete

[2021-08-25 14:49] #312 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-08-25 14:50] kgerheiser commented on #308
Install complete

[2021-08-25 14:50] kgerheiser commented on #283
We have a v1.2.0 tag.

[2021-08-25 14:50] #283 closed, assigned to kgerheiser, aerorahul

[2021-08-25 14:51] Hang-Lei-NOAA commented on #310
Yes, it has been fixed.

On Wed, Aug 25, 2021 at 10:48 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-08-25 14:51] kgerheiser commented on #310
Thanks @Hang-Lei-NOAA

[2021-08-25 14:51] #310 closed, assigned to nobody

[2021-08-25 14:55] WenMeng-NOAA commented on #312
Thanks  all of you for the quick action.

[2021-08-25 15:48] jduckerOWP commented on #313
I just want to make sure I understand what has been installed on the Hera hpc-stack, but you've gone ahead and installed ESMF 8_2_0_beta_snapshot_16? I've been looking into /scratch2/NCEPDEV/nwprod/hpc-stack/test/hpc-stack/modulefiles/stack and I haven't seen anything added to this pathway yet. On the Hera cluster, I originally use the follow commands to load EMSF source code onto my slurm job:

m

[2021-08-25 15:54] Hang-Lei-NOAA commented on #313
Since this snapshot version is only requested on Hera and not required by
standard modeling systems, we could add it to the test version at
module use /scratch2/NCEPDEV/nwprod/hpc-stack/test/hpc-stack/modulefiles/stack
module load hpc
module load hpc-intel
module load hpc-impi
module load esmf/8_2_0_beta_snapshot_16

On Wed, Aug 25, 2021 at 11:48 AM jduckerOWP ***@***.***>
wrote:

[2021-08-25 16:01] junwang-noaa commented on #308
@kgerheiser and @Hang-Lei-NOAA As we discussed yesterday, we need a new installation of FMS with AVX turned on on hera. For this update, can you install an EMC patch version of FMS on all the platforms (maybe fms/2021.02.emcp1? This version is the same as current on other platforms, except hera. This way we can update the FMS version in ufs-weather-model. Please do not change the current build as

[2021-08-25 16:03] Hang-Lei-NOAA commented on #308
Hi, Jun,
Only Hera needs the update. Others are already the AVX enabled ones.

On Wed, Aug 25, 2021 at 12:01 PM Jun Wang ***@***.***> wrote:

[2021-08-25 17:09] junwang-noaa commented on #308
Hang, that is correct. But in ufs-weather-model, all the hpc-stack libraries are located in the file: https://github.com/ufs-community/ufs-weather-model/blob/develop/modulefiles/ufs_common. So we hope to use a new FMS version, and keep the current fms/2021.03 as is.

[2021-08-25 17:27] kgerheiser commented on #308
@junwang-noaa is there a better way to do this? I don't like having to create duplicate libraries with a different name on every other system just because of Hera.

Could you do something like `module unload fms`, `module load fms/2021.03-avx` in `ufs_hera`?

[2021-08-25 18:17] junwang-noaa commented on #308
Well, we hope to avoid doing that. Is the module fms/2021.03-avx ready on hera?

[2021-08-25 18:21] kgerheiser commented on #308
No

[2021-08-25 20:08] junwang-noaa commented on #308
Would you please let me know when fms/2021.03-avx will be available on hera? Thanks

[2021-08-25 20:35] kgerheiser commented on #308
Are you ok doing it like that then?

[2021-08-25 20:37] Hang-Lei-NOAA commented on #308
I am adding that now on Hera

On Wed, Aug 25, 2021 at 4:35 PM Kyle Gerheiser ***@***.***>
wrote:

[2021-08-25 21:29] Hang-Lei-NOAA commented on #308
@Jun Wang - NOAA Federal ***@***.***>
2020.04.03-avx
2021.03-avx
have been added on hera for both compilers.

On Wed, Aug 25, 2021 at 4:37 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2021-08-27 03:09] junwang-noaa commented on #308
@Hang-Lei-NOAA can you double check if the 2021.03-avx is actually built with avx, I got identical results to the current test using the fms/2021.03 without avx.
 My code is at:
/scratch1/NCEPDEV/nems/Jun.Wang/nems/vlab/20210826/ufs-weather-model
in the tests/log_hera.intel/compile_001.log, I see:
[code]

[2021-08-27 11:56] Hang-Lei-NOAA commented on #308
Hi, Jun
This was built with avx.The log file is at
/scratch2/NCEPDEV/nwprod/hpc-stack/src/develop/log/fms.log.2021-08-25_2054
files are compared, size differs a lot.
-bash-4.2$ diff 2021.03/include_r8/axis_utils_mod.mod
2021.03-avx/include_r8/axis_utils_mod.mod
Binary files 2021.03/include_r8/axis_utils_mod.mod and
2021.03-avx/include_r8/axis_utils_mod.mod differ
-bash-4.2$ diff 2021.03/lib/
cmake

[2021-08-27 12:27] junwang-noaa commented on #308
Now I am totally confused. How was the FMS/2021.03 built then? In the ufs-weather-model fms PR, I tested two libraries with and without avx. The one without avx gave us identical results to previous baseline, while the one with avx changes results. Now the fms build with avx gives me the same results as previous baseline, what's the problem???

Here is the email on testing the two libraries:

Hang

[2021-08-27 12:38] Hang-Lei-NOAA commented on #308
I guess that there are some setting issues in your test, the installed with
AVX is comparable with the testing one:

-bash-4.2$ ll
/scratch1/NCEPDEV/nems/Kyle.Gerheiser/hpc-stack-fms/fms-2021.03-avx/lib/libfms_r8.a
-rwxr-xr-x 1 Kyle.Gerheiser nems 17732836 Aug 24 16:01
/scratch1/NCEPDEV/nems/Kyle.Gerheiser/hpc-stack-fms/fms-2021.03-avx/lib/libfms_r8.a
-bash-4.2$ ll
/scratch2/NCEPDEV/nwprod/hpc-sta

[2021-08-27 14:00] junwang-noaa commented on #308
@Hang-Lei-NOAA is the current fms/2021.03 installed on vanus(prod) yet?

[2021-08-27 14:02] Hang-Lei-NOAA commented on #308
Hi Jun, it has not been installed yet. Plan to do after issue fixed.

On Fri, Aug 27, 2021 at 10:00 AM Jun Wang ***@***.***> wrote:

[2021-08-27 15:34] junwang-noaa commented on #308
OK, I was looking at the wrong test case. it's the cpld_control test that has different results and I was looking at control test.

[2021-08-27 15:39] Hang-Lei-NOAA commented on #308
Thanks!

On Fri, Aug 27, 2021 at 11:35 AM Jun Wang ***@***.***> wrote:

[2021-08-27 16:04] junwang-noaa commented on #308
@Hang-Lei-NOAA Can you access venus to install fms 2021.03?

[2021-08-27 16:24] Hang-Lei-NOAA commented on #308
Jun, I will install them today

On Fri, Aug 27, 2021 at 12:05 PM Jun Wang ***@***.***> wrote:

[2021-08-27 19:05] Hang-Lei-NOAA commented on #308
Jun, we have a disk quota limit trouble in adding the debug version on hera.
I have removed a lot of old files, but still has it. May have to wait for a
while.

On Fri, Aug 27, 2021 at 12:24 PM Hang Lei - NOAA Affiliate <
***@***.***> wrote:

[2021-08-27 20:10] Hang-Lei-NOAA commented on #308
After Kyle and I removed a lot of files, these have been added in the
installations.

On Fri, Aug 27, 2021 at 3:05 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2021-08-30 17:12] kgerheiser opened #314 "EMC_Post repo being renamed to UPP"
EMC_Post is being renamed to UPP on Github next week (Sept 6)

[According to Github](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/renaming-a-repository) this will have no impact on hpc-stack as the current remote will continue to work, but it should be changed when the switch is made.

This line will need to be changed: https://github.com/NOAA-EMC/hpc-s

[2021-09-02 20:54] kgerheiser opened #316 "Typo in Jet config"
Module load `make/3.20.1` should be `cmake/3.20.1`

https://github.com/NOAA-EMC/hpc-stack/blob/6eb6ab3d24713c2ed550efa132c2faf5342fe339/config/config_jet.sh#L24

[2021-09-04 00:57] #316 closed, assigned to kgerheiser

[2021-09-07 14:46] kgerheiser opened #319 "Add MAPL under ESMF in module hierarchy"
MAPL should be under ESMF in the module hierarchy to ensure that the builds are compatible. UFS ran into an issue where they were using ESMF 8.2.0 beta 14 while MAPL was built with ESMF 8.1.1 and it caused errors due to a change in the ESMF API.

[2021-09-08 13:31] edwardhartnett opened #320 "Add CI job to build develop branch of hpc-stack and ufs-weather-model and ufs_utils"
Add CI job to build develop branch of hpc-stack and ufs-weather-model and ufs_utils

[2021-09-08 13:47] aerorahul commented on #320
Why should hpc-stack build the UFS-weather model?
by that extension, we should add CI jobs for everything that depends on hpc-stack.

[2021-09-08 13:58] edwardhartnett commented on #320
Because ufs-weather-model is our most important user.

Currently the develop branch of hpc-stack does not build with the develop branch of ufs-weather-model, because FMS needs to be updated in hpc-stack. That's the kind of thing we need to catch on a daily basis.

[2021-09-08 14:23] arunchawla-NOAA commented on #320
Since the develop branch of ufs-weather-model tests against installed versions of hpc-stack would we expect these to work ? Wouldn't the stack have to be leading the ufs-weather-model ?

[2021-09-08 14:40] edwardhartnett commented on #320
I would expect the develop branch of hpc-stack to work on the develop branch of ufs-weather-model. As ufs-weather-model evolves and requires new packages and versions, those should be updated on the develop branch of hpc-stack.

So the develop branch of hpc-stack should always be able to build the develop branch of ufs-weather-model. If it can't (like right now) then it needs to be updated. We can

[2021-09-08 14:44] aerorahul commented on #320
That cannot be true. E.g Jedi needs hdf5 1.12.0 and the stack is not just for ufs.

[2021-09-08 14:45] aerorahul commented on #320
Any ufs specific tests should be in the ufs. The stack is free to move beyond the ufs.

[2021-09-08 14:50] edwardhartnett commented on #320
@aerorahul I don't understand. If Jedi needs hdf5-1.12.0 and UFS needs hdf5-1.10.6, then won't both of them in installed by hpc-stack?

[2021-09-08 15:16] aerorahul commented on #320
hpc-stack only installs one at a time.
Besides, I don't think adding ufs CI as a dependency to get hpc-stack PR approved is appropriate.

[2021-09-08 15:35] edwardhartnett commented on #320
Let's discuss at the hpc-stack meeting tomorrow...

[2021-09-08 17:42] kgerheiser opened #322 "Undefined references to zlib when building g2c tests on Orion"
G2C builds test executables now and when linking there are undefined references to zlib from PNG.

Need to add `module try-load zlib` to: https://github.com/NOAA-EMC/hpc-stack/blob/2acd48dca44d28ed1fe42bc2a3454d726739b990/libs/build_nceplibs.sh#L70

[2021-09-08 23:46] #322 closed, assigned to kgerheiser

[2021-09-09 18:26] edwardhartnett commented on #314
Looks like the switch to UPP has been made...

[2021-09-09 18:29] edwardhartnett commented on #308
Has the latest FMS been installed everywhere? Can we close this issue?

[2021-09-09 18:30] Hang-Lei-NOAA commented on #308
Yes, I think so

On Thu, Sep 9, 2021 at 2:29 PM Edward Hartnett ***@***.***>
wrote:

[2021-09-09 18:31] junwang-noaa commented on #308
Yes, this issue can be closed.

On Thu, Sep 9, 2021 at 2:29 PM Edward Hartnett ***@***.***>
wrote:

[2021-09-09 18:51] #320 closed, assigned to kgerheiser

[2021-09-09 18:52] edwardhartnett commented on #320
Removed after discussion...

[2021-09-09 21:08] #308 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-09-09 21:08] kgerheiser commented on #281
This is done

[2021-09-09 21:08] #281 closed, assigned to kgerheiser

[2021-09-09 21:10] #188 closed, assigned to nobody

[2021-09-09 21:13] kgerheiser commented on #100
We will not be maintaining hpc-stack on WCOSS2, but the config files exist and NCO is using it for NCEPLIBS.

[2021-09-09 21:13] #100 closed, assigned to nobody

[2021-09-09 21:15] kgerheiser commented on #94
Going to close this. I think we're fine with the files we support. Mac, custom, and NOAA are general purpose while we have other more specialized stacks.

[2021-09-09 21:15] #94 closed, assigned to nobody

[2021-09-10 13:06] edwardhartnett opened #327 "Can I add a config/config_linux_gnu.sh?"
Can I add a config/config_linux_gnu.sh?

[2021-09-10 13:19] kgerheiser commented on #327
What do you propose to have in it? I think a `config_linux_gnu` is a little too broad and there's not much configuration to do besides setting the compiler.

Perhaps a specific OS like Ubuntu 20 with the default compilers.

Otherwise,  you can set the HPC_* env variables and use `stack_custom.sh`.

[2021-09-10 13:30] kgerheiser opened #328 "Install MAPL v2.7.3-esmf820bs14"
With the merge of #325 MAPL can now be configured with `install_as` and `esmf_version`.

Let's install MAPL with `install_as: v2.7.3-esmf820bs14` and `esmf_version: 8_2_0_beta_snapshot_14` to match `ufs_common` in the weather model.

In the future we do not need to use the `install_as` option as the MAPL module is generated with the ESMF version in its name, but since it's already in ufs_common le

[2021-09-10 13:40] climbfuji commented on #328
Gaea has this version already, Cheyenne not yet ...

[2021-09-10 13:42] Hang-Lei-NOAA commented on #328
Hera has it too and will install it on dell

On Fri, Sep 10, 2021 at 9:40 AM Dom Heinzeller ***@***.***>
wrote:

[2021-09-10 14:58] kgerheiser commented on #328
Done on Orion and Jet

[2021-09-13 15:13] BinLiu-NOAA opened #329 "g2/3.4.3 G2_LIB4 and G2_LIB4 not exist on Orion"
**Describe the bug**
On Orion for the hpc-stack g2/3.4.3 installation, the G2_LIB4 and G2_LIB4 variables point to the wrong (non-existing) files.

The following two items
setenv("G2_LIB4","/apps/contrib/NCEP/libs/hpc-stack/intel-2018.4/g2/3.4.3/lib/libg2_4.a")
setenv("G2_LIBd","/apps/contrib/NCEP/libs/hpc-stack/intel-2018.4/g2/3.4.3/lib/libg2_d.a")
should be
setenv("G2_LIB4","/apps/contrib/NCEP/li

[2021-09-13 15:19] kgerheiser commented on #329
Fixed

[2021-09-13 16:19] #329 closed, assigned to nobody

[2021-09-13 16:33] BinLiu-NOAA commented on #329
@kgerheiser, Thanks for your quick response! And it works fine on Orion now.

[2021-09-13 16:37] BinLiu-NOAA commented on #278
@aerorahul or @kgerheiser or @Hang-Lei-NOAA, I understand this has been fixed in the hpc-stack repository. I was wondering if one of you can help update the Orion installation of wgrib2/2.0.8 under hpc-stack so that this function (converting grib2 into netcdf files) can work on Orion.

Thanks!

[2021-09-13 17:48] kgerheiser commented on #278
Wgrib2 has been through some changes in how it's built since this issue was opened. I just did a test install and it seems to have worked:

[code]

It is built using the `USE_NETCDF3` option. Not sure if `USE_NETCDF4` is necessary.

Could you try it out and see if that executable works for you?

[2021-09-13 17:56] BinLiu-NOAA commented on #278
@kgerheiser, thanks for building a temporary version and conducting a test with the grib2 to netcdf conversion. I also tried your new built wgrib2 version from my end. And it works fine.

With that, do you plan to update the existing wgrib2 version under hpc-stack on Orion, or install it in another temporary location for us to use?

Thanks!

[2021-09-13 18:21] kgerheiser commented on #278
I think we'll upgrade to a new version of wgrib2 with version 3.0.2 which includes the new build and NetCDF.

[2021-09-13 19:03] climbfuji commented on #328
On Cheyenne, I simply did
[code]
because there is no `v2.7.3` that was built with ESMF 8.1.1.

[2021-09-13 19:04] climbfuji commented on #328
All done?

[2021-09-15 20:48] aerorahul opened #330 "[INSTALL] Deploy Intel 2020 + IMPI 2020 stack on Orion"
**Which software in the stack would you like installed?**
All currently used software from `stack_noaa.yaml` on Orion for Intel 2020 and IMPI 2020 combination.

**What is the version/tag of the software?**
The entire stack for Intel 2020 and IMPI 2020 combination.

**What compilation options would you like set?**
Intel 2020 and IMPI 2020 combination.

**Which machines would you like to have the so

[2021-09-16 13:02] jswhit commented on #330
Thanks @aerorahul for creating this issue

[2021-09-16 13:04] jswhit commented on #330
For posterity, here is the orion-help email thread that prompted this request:

[code]

[2021-09-16 13:17] Hang-Lei-NOAA commented on #330
We are working on this task today.

On Thu, Sep 16, 2021 at 9:05 AM Jeff Whitaker ***@***.***>
wrote:

[2021-09-16 13:22] kgerheiser commented on #330
Building now. Will take a bit to build everything.

[2021-09-16 18:51] kgerheiser commented on #330
Done with the versions in `stack_noaa.yaml`.  Just have to load `module load hpc-intel/2021.2` Let me know if you need additional versions of anything.

[2021-09-20 13:53] jduckerOWP opened #331 "Install latest ESMF SnapShot on Hera Cluster for HPC stack"
**Which software in the stack would you like installed?**
ESMF

**What is the version/tag of the software?**
Latest ESMF 8.1.1 Beta Snapshot

https://github.com/esmf-org/esmf/tree/fix/locstream-regrid

**What compilation options would you like set?**
Same compiler options as needed on Hera cluster

**Which machines would you like to have the software installed?**
Hera cluster

**Any other relevant

[2021-09-20 13:56] kgerheiser commented on #331
Do you mean 8_2_0?

This is the latest beta:

https://github.com/esmf-org/esmf/releases/tag/ESMF_8_2_0_beta_snapshot_19

[2021-09-20 13:57] Hang-Lei-NOAA commented on #331
Hi, The pointed branch is not a formal release. You have to bring it back and tag it first. Thanks

[2021-09-20 14:40] climbfuji commented on #328
@kgerheiser I think this can be closed?

[2021-09-20 14:41] kgerheiser commented on #328
Yes

[2021-09-20 14:41] #328 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-09-20 17:31] jduckerOWP commented on #331
Go ahead and close this issue for now. UCAR is still working on some internal work with their automated testing infrastructure before they release a new beta snapshot tag. I have a module loaded on Hera cluster already for testing that will work for now. When they release the new beta snapshot in the near future, I will create a new case to get this installed on hpc stack. Thanks.

[2021-09-20 17:31] #331 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-09-21 18:35] kgerheiser commented on #319
Fix with #325

[2021-09-21 18:35] #319 closed, assigned to kgerheiser

[2021-09-21 18:38] kgerheiser opened #332 "wgrib2 module missing in MPI hierarchy for CMake build"
**Describe the bug**
wgrib2 should be able to be built with CMake using `is_nceplib`, but the module was removed from the MPI hierarchy

**To Reproduce**
Attempt to use CMake build of wgrib2 such as in stack_ufs_weather_ci.yaml with modules

**Expected behavior**
Module should be installed

**System:**
All

[2021-09-23 20:45] ChunxiZhang-NOAA opened #334 "Does hpc-stack support AWS cloud?"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
Please provide the name of the software you would like installed on the HPCs.  Ensure the software exists in the list of supported software.  If new software needs to be added to the stack, use the [add_package_request.md](./add_packa

[2021-09-23 20:48] climbfuji commented on #334
Please fill out the description of the issue next time, if possible. Yes, hpc-stack builds on AWS as well as any other generic Linux or macOS systems.

[2021-09-23 20:53] ChunxiZhang-NOAA commented on #334
Great, Is it difficult to build it?
I am wondering if there is an existing built hpc-stack available for AWS cloud?

[2021-09-23 20:53] climbfuji commented on #334
I hope you attended the SRW App training today, during which I covered this.

[2021-09-23 20:58] ChunxiZhang-NOAA commented on #334
Ah I missed it. Do you mind sharing the PPT if you have?

[2021-09-23 21:00] climbfuji commented on #334
Shared it with you. It's a high-level overview, but it is really easy to build.

[2021-09-23 21:06] ChunxiZhang-NOAA commented on #334
Received. Thank you so much.

[2021-09-27 22:55] climbfuji opened #335 "Overwrite Y/N logic should be redesigned to ignore existing installations"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when ... I spend an entire day setting up the correct libraries for a given ufs-weather-model hash on a new system, because I can
(a) either go through each line in the yaml file manually and check what needs to be changed
(b) or install the default stack (`stack_noaa.yaml`) and then any missing items

For (b

[2021-09-29 13:19] WenMeng-NOAA opened #337 "[INSTALL] Install upp/10.0.10"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
upp/10.0.10.

**What is the version/tag of the software?**
The tag upp_v10.0.10 was created at NOAA-EMC/UPP repository.

**What compilation options would you like set?**
Give a detailed list of compilation options, compiler and MPI fl

[2021-09-29 13:27] Hang-Lei-NOAA commented on #337
Okay, will do it.

On Wed, Sep 29, 2021 at 9:20 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-09-29 13:41] climbfuji opened #338 "hpc-stack on expanse uses expat library in user directory"
**Is your feature request related to a problem? Please describe.**

https://github.com/NOAA-EMC/hpc-stack/pull/336 ported hpc-stack to expanse. As part of this PR, @climbfuji had to install the `expat` library in his own directory tree, because the default `expat` library didn't work (it caused the `udunits` build to fail).

**Describe the solution you'd like**
Pointing to a library installed by t

[2021-09-29 14:02] climbfuji commented on #337
Done on Cheyenne for Intel and GNU, and on Gaea for Intel (in the old location `/lustre/f2/pdata/esrl/gsd/ufs/hpc-stack-v1.1.0` which is still used by the ufs-weather-model).

@kgerheiser When are we going to switch to the stack maintained by EMC on gaea?

[2021-09-29 15:11] kgerheiser commented on #337
Done on Jet and Orion (and my Gaea build). @climbfuji I'm ready to make the switch whenever.

[2021-09-29 15:50] climbfuji commented on #337
Can you remind me of the location, please?

[2021-09-29 16:11] kgerheiser commented on #337
`/lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles/stack`

[2021-09-29 16:25] WenMeng-NOAA commented on #337
Thanks all of you to get upp/10.0.10 quickly installed.

[2021-09-29 16:34] edwardhartnett commented on #338
Also you should file an issue with the udunits GitHub site...

[2021-09-29 16:49] climbfuji commented on #338
I don't think that the problem is with `udunits`. If I do `nm /expanse/lustre/scratch/domh/temp_project/expat-2.4.1/lib/libexpat.so` I get a ton of symbols, including the one `configure` is looking for (`XML_StopParser`).

If I do the same for `/usr/lib64/libexpat.so.1` or `/lib64/libexpat.so.1` on Expanse (note that there is no `libexpat.so`), then I get `no symbols`.

However, I found a few more

[2021-09-29 17:29] Hang-Lei-NOAA commented on #337
Installed on dell, hera, and wcoss cray.

On Wed, Sep 29, 2021 at 12:26 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-09-29 20:23] climbfuji opened #339 "Unable to build wgrib-2.0.8 on Expanse"
**Describe the bug**

On Expanse with the following compilers, wgrib2-2.0.8 cannot be built:
[code]
The YAML entry is:
[code]
The error is:
[code]

The solution would be to use a newer version of Jasper (the hpc-stack install of jasper-2.x.y works fine), but as far as I understand wgrib2 requires jasper-1.900.1. The reason for this error is a missing `include float.h` statement in `jpc_enc.c`, whi

[2021-09-29 22:04] #314 closed, assigned to kgerheiser

[2021-09-30 11:34] #338 closed, assigned to climbfuji

[2021-09-30 11:46] climbfuji commented on #337
@kgerheiser when I switch to this stack on gaea, the following three tests fail with differences in the inline-post output only (the raw model output is identical). Any ideas? Something with UPP or one of the prerequisites for it?
[code]

[2021-09-30 12:32] WenMeng-NOAA commented on #337
@climbfuji The inline post outputs in GRIB2 would have changed results due to post code changes. It would be fine as long as the numbers of records are not changed.

[2021-09-30 12:42] climbfuji commented on #337
You are correct that it must be due to UPP. Note, however, that the differences arise from switching one installation of hpc-stack using UPP 10.0.9 to another installation also using UPP 10.0.9 - it's not about changing the UPP version. I suspect that UPP 10.0.9 was built using a different prerequisite library in the two hpc stack locations.

[2021-09-30 15:13] kgerheiser commented on #337
Hmmm, not sure. I've done similar tests (new g2, Jasper which I don't expect to make a difference in output) on Orion and Hera semi recently where all tests pass. Is there something common about those specific tests or just that they use UPP?

[2021-09-30 15:16] climbfuji commented on #337
They all use UPP for regional inline post - global inline post is giving the same results. I think it is ok to accept that there are differences and switch, but it would be good to know why.

[2021-09-30 15:56] WenMeng-NOAA commented on #337
Sometime, the grib2 data from UPP are not bitwise identical (might be grib2 head message changes). In that case, we use a grib2 utility cmp_grib2_grib2_new to field by field  data comparison.  As long as no correlation less than 1, it would be fine. You may get com_grib2_grib2_new from /home/Wen.Meng/bin. The usage is:
cmp_grib2_grib2_new file1_grib2 file2_grib2

[2021-09-30 17:18] climbfuji commented on #337
Thanks, Wen! That tool works great. All variables that are not zero everywhere are identical (correlation is 1), and those that are zero everywhere in one file are zero everywhere in the other file, too. So I think this is good.

[2021-10-01 18:44] arunchawla-NOAA opened #343 "[INSTALL] Need ESMF 7.1 on acorn via hpc-stack"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
Please add ESMF 7.1 on acorn through hpc-stack (this is needed in operations and we want to make sure this works with hpc-stack)

**What is the version/tag of the software?**
7.1

**What compilation options would you like set?**

Plea

[2021-10-01 19:46] GeorgeVandenberghe-NOAA commented on #343
We're going to need ESMF/7.x on Cactus too for the modeling systems

On Fri, Oct 1, 2021 at 2:45 PM arun chawla ***@***.***> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-10-01 20:56] GeorgeVandenberghe-NOAA commented on #343
THis looks doable by editing stack/stack_noaa.yaml and changing the version tag for ESMF.   I haven't looked into simply adding
a version yet but replacement works.

update.. It did not make completely clean

make info_mk ESMF_APPSDIR=/tmp/hpcstackF/bin ESMF_LDIR=/tmp/hpcstackF/lib ESMF_LIBDIR=/tmp/hpcstackF/lib ESMF_MODDIR=/tmp/hpcstackF/mod ESMF_INCDIR=/tmp/hpcstackF/include
make[2]: Entering di

[2021-10-01 21:41] kgerheiser commented on #343
@GeorgeVandenberghe-NOAA I tried it on Cactus with some success. The build completes, and it installs `libesmf.a`, and associated headers/modules, but there's a failure with undefined references to MPI calls (Bcast, etc) when linking ESMF_InfoC.

[2021-10-01 22:04] GeorgeVandenberghe-NOAA commented on #343
Okay I'll give it another crack this weekend or Monday.  There is an issue with CC not properly including MPI libraries when it's used as a loader so I'll get through that and see if I get a cleaner build.  It used to build on Acorn August 2020.

[2021-10-01 22:29] kgerheiser commented on #343
Yep, that's exactly what it is.

[2021-10-02 01:41] GeorgeVandenberghe-NOAA commented on #343
The repair or mitigation is to get this into the CC load arguments

-Wl,-rpath=/pe/intel/compilers_and_libraries_2020.4.304/linux/compiler/lib/intel64
-I/opt/cray/pe/mpich/8.1.9/ofi/intel/19.0/include
-L/opt/cray/pe/mpich/8.1.9/ofi/intel/19.0/lib
-Wl,--as-needed,-lmpifort_intel,--no-as-needed
-Wl,--as-needed,-lmpi_intel,--no-as-needed
-Wl,--as-needed,-limf,--no-as-needed -Wl,--as-needed,-lm,--no-a

[2021-10-02 04:13] Hang-Lei-NOAA commented on #343
(1) There are many ESMF 7.1 releases in the repo. So, first ,Tested several
ESMF_7.1 release tags on Acorn, with gmake
gmake distclean
gmake script_info  2>&1 | tee info.out
gmake              2>&1 | tee make.out
gmake install      2>&1 | tee install.out
gmake installcheck 2>&1 | tee check.out

7_1_0r works, versions after that also works.
Pick out release of esmf/7_1_0rp1_beta_snapshot_08 is the

[2021-10-02 04:16] Hang-Lei-NOAA commented on #343
Will work with Jim and Eric to make sure it works with NAM team.

On Sat, Oct 2, 2021 at 12:12 AM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2021-10-02 13:03] GeorgeVandenberghe-NOAA commented on #343
What did you have to do to the ESMF build shell in ./libs of the stack to get it to build?
CC won't build MPI executables out of the  box.

[2021-10-03 02:42] climbfuji commented on #343
@kgerheiser @GeorgeVandenberghe-NOAA I am pretty sure you only need to set `ESMF_OS` and `ESMF_COMM` correctly. If you look in `libs/build_esmf.sh` around line 108, there are default settings that depend on the name of the MPI library being loaded. Since you are loading `cray-mpich`, it will default to the following(which is correct for gaea and older cray systems):
[code]
As you can see, there is

[2021-10-04 12:50] Hang-Lei-NOAA commented on #343
Yes, Like Dom commented. Acorn builds used these settings in the script.
These have been included in the develop branch.

On Sat, Oct 2, 2021 at 10:42 PM Dom Heinzeller ***@***.***>
wrote:

[2021-10-04 13:24] arunchawla-NOAA commented on #343
@Hang-Lei-NOAA have you built using this as part of current hpc-stack build on acorn ? If yes then I will ask NAM team to test this out to make sure it is working for them before giving to NCO and GDIT

[2021-10-04 13:26] Hang-Lei-NOAA commented on #343
Yes, Arun, I built and install it through hpc-stack on acorn.

On Mon, Oct 4, 2021 at 9:25 AM arun chawla ***@***.***> wrote:

[2021-10-04 16:11] #273 closed, assigned to kgerheiser, climbfuji

[2021-10-07 14:32] kgerheiser opened #345 "Serial w3emc module needs to use CMAKE_INSTALL_LIBDIR"
**Describe the bug**
The w3emc module hardcodes "lib" when w3emc uses CMAKE_INSTALL_LIBDIR which could be lib64

**To Reproduce**
Build w3emc 2.9.1 with modules

**Expected behavior**
Module should point to correct libdir

**System:**
Acorn

[2021-10-07 15:16] aerorahul commented on #330
@jswhit
Were you able to use this installation for your needs?
We can re-open or open another one if an update is needed to any specific library or component.

[2021-10-07 18:06] #345 closed, assigned to kgerheiser

[2021-10-12 22:42] arunchawla-NOAA commented on #334
close this ?

[2021-10-12 22:43] arunchawla-NOAA commented on #343
close this ?

[2021-10-12 22:45] arunchawla-NOAA opened #348 "[INSTALL] MAPL/2.8.7"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
MAPL

**What is the version/tag of the software?**
v 2.8.7

**What compilation options would you like set?**
use the current supported compilers for ufs-weather-model

**Which machines would you like to have the software installed?**

[2021-10-13 02:02] Hang-Lei-NOAA commented on #343
Okay

[2021-10-13 02:02] #343 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA, GeorgeVandenberghe-NOAA

[2021-10-13 02:08] #334 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-10-13 02:09] #330 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-10-13 13:56] Hang-Lei-NOAA commented on #348
MAPL/2.8.7 has been installed on hera using the updated hpc-stack code with esmf/8_2_0_bs_14.
After loading hpc-stack libs:
-bash-4.2$ module load mapl/2.8.7-esmf-8_2_0_bs_14
-bash-4.2$ module show mapl/2.8.7-esmf-8_2_0_bs_14

   /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/mpi/intel/18.0.5.274/impi/2018.0.4/mapl/2.8.7-esmf-8_2_0_bs_14.lua:

help([[]])
conflict("mapl")
setenv("MAP

[2021-10-13 14:56] kgerheiser commented on #348
done on Orion

[2021-10-13 20:37] kgerheiser opened #349 "HPC_MPI unset when building nccmp"
**Describe the bug**
With this PR that builds serial netcdf (https://github.com/NOAA-EMC/hpc-stack/commit/bdecd1b15bd5a320cbc5dfd0b181e0264fad16b4), HPC_MPI is unset when building the serial builds, but then that variable is used in nccmp, cdo, and nco.

See: https://github.com/NOAA-EMC/hpc-stack/blob/b501323ec3030a2721350e87d41f708f8441a462/libs/build_nccmp.sh#L18

Instead, this:

https://github.

[2021-10-18 21:13] kgerheiser opened #350 "CRTM fix installed with mv instead of cp causing subsequent installs to fail"
**Describe the bug**
When installing CRTM fix files the files are moved instead of copied. So, if you attempt to install CRTM again the fix files in the `pkg` dir aren't there anymore.

Instead of `mv`, the files should be copied with `cp`:

https://github.com/NOAA-EMC/hpc-stack/blob/b501323ec3030a2721350e87d41f708f8441a462/libs/build_nceplibs.sh#L241

**To Reproduce**

Install fix files twice wit

[2021-10-19 03:39] #349 closed, assigned to nobody

[2021-10-19 03:39] #350 closed, assigned to nobody

[2021-10-22 16:46] rmontuoro commented on #348
A new release of MAPL ([2.9.0](https://github.com/GEOS-ESM/MAPL/releases/tag/v2.9.0)) is available. It includes a few bug fixes and eliminates Python's dependency on Pandas, making it easier to install on NOAA computing platforms. This release supersedes 2.8.7 and it should be our current installation target.

Additional releases are planned within the next few days to potentially improve performa

[2021-10-22 16:59] kgerheiser commented on #348
Ok, will do @rmontuoro

[2021-10-22 19:18] Hang-Lei-NOAA commented on #348
This (including v2.8.7 and v2.9.0) has been added on wcoss dell and hera

On Fri, Oct 22, 2021 at 12:59 PM Kyle Gerheiser ***@***.***>
wrote:

[2021-10-25 14:18] kgerheiser commented on #348
MAPL 2.9.0 has been installed on Orion

[2021-10-25 23:52] rmontuoro commented on #348
@kgerheiser - It looks like there's an extra `-debug` suffix in the ESMF prerequisites enforced in the following MAPL module files on Orion:
-`2.8.7-esmf-8_2_0_bs_14.lua`
-`2.9.0-esmf-8_2_0_bs_14.lua`
[code]
Has MAPL been built using the ESMF debug version? If not, could you please remove the extra `-debug` at your earliest convenience? We are planning to use MAPL 2.9.0 in P7.2 experiments which a

[2021-10-26 01:04] kgerheiser commented on #348
~~What is the issue? The module enforces the version of ESMF, but it can be regular _or_ debug. They are static libraries and the only dependence on ESMF is the build time interface which doesn't change between regular and debug.~~

Ah, I see, will fix.

[2021-10-26 01:08] rmontuoro commented on #348
@kgerheiser - Thanks!

[2021-10-26 01:10] kgerheiser commented on #348
Fixed

[2021-10-26 01:12] rmontuoro commented on #348
Thank you!

[2021-10-26 01:15] rmontuoro commented on #348
@kgerheiser - unfortunately the module does not work since it is pointing to the following MAPL install directory which does not exist:
[code]

[2021-10-26 01:20] kgerheiser commented on #348
Fixed

[2021-10-26 15:12] climbfuji commented on #348
I built mapl 2.9.0 on Cheyenne with Intel 2021.2 and ESMF 8.2.0 bs14 (prod, not debug). I had to explicitly set the version in the config, because `build_stack.sh` didn't like the default module.

I could **not** build it with GNU (10.1.0) due to the following error:
[code]

[2021-10-26 15:39] Hang-Lei-NOAA commented on #348
I have the same issue with GNU 9.2.0 on hera to build MAPL/2.9.0.
Other versions are fine with GNU.
Was trying to change the compiler flag, but still cannot over.

On Tue, Oct 26, 2021 at 11:12 AM Dom Heinzeller ***@***.***>
wrote:

[2021-10-26 16:33] rmontuoro commented on #348
Thank you, @climbfuji and @Hang-Lei-NOAA. I've created an [issue](https://github.com/GEOS-ESM/MAPL/issues/1141) on the NASA repository describing this problem.

[2021-10-26 17:12] rmontuoro commented on #348
@climbfuji, @Hang-Lei-NOAA - This problem was recently fixed in MAPL (see PR [#1113](https://github.com/GEOS-ESM/MAPL/pull/1113)) Could you please try building the current `HEAD` of `develop`? If it works, NASA will issue a new release including this bugfix.

[2021-10-26 17:47] Hang-Lei-NOAA commented on #348
Hi, Raffaele,
The develop branch works without any issue with gnu.

On Tue, Oct 26, 2021 at 1:13 PM Raffaele Montuoro ***@***.***>
wrote:

[2021-10-26 21:15] climbfuji commented on #348
I can also build the head of develop with GNU 10.1.0 on Cheyenne.

[2021-10-29 14:04] DusanJovic-NOAA opened #354 "[INSTALL] ESMF/8.2.0"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
ESMF v8.2.0

**What is the version/tag of the software?**
https://github.com/esmf-org/esmf/releases/tag/ESMF_8_2_0

**What compilation options would you like set?**
use the current supported compilers for ufs-weather-model

**Which ma

[2021-10-29 14:17] kgerheiser commented on #354
Should MAPL be updated as well so it's built with ESMF 8.2.0?

[2021-10-29 14:32] Hang-Lei-NOAA commented on #354
MAPL is not working with cray-intel compiler (gnu) on wcoss-cray. Others
have been installed.

On Fri, Oct 29, 2021 at 10:18 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-10-29 14:35] kgerheiser commented on #354
Yes, but if we're installing a new version of ESMF MAPL should also be re-built to use 8.2.0, right? There was an issue where MAPL/ESMF didn't match, so they should be kept in sync.

[2021-10-29 14:36] Hang-Lei-NOAA commented on #354
Yes, that is correct.

On Fri, Oct 29, 2021 at 10:35 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-10-29 14:42] DusanJovic-NOAA commented on #354
Yes, please install MAPL/2.8.7 using ESMF/8.2.0.

[2021-10-29 14:43] DusanJovic-NOAA commented on #354
You can start with Hera first, and we can run UFS tests to confirm everything works.

[2021-10-29 14:47] Hang-Lei-NOAA commented on #354
These have been added on hera, you can directly test.
Should also be available on other platforms.
We have 2.8.7-esmf-8_2_0_bs_14.lua  2.9.0-esmf-8_2_0_bs_14.lua as recent
versions.

On Fri, Oct 29, 2021 at 10:44 AM Dusan Jovic ***@***.***>
wrote:

[2021-10-29 16:55] rmontuoro commented on #354
MAPL [2.11.0](https://github.com/GEOS-ESM/MAPL/releases/tag/v2.11.0) was released today. It requires upgrading to gFTL-shared [v1.3.3](https://github.com/Goddard-Fortran-Ecosystem/gFTL-shared/releases/tag/v1.3.3).

I'd recommend upgrading to this release on all platforms.

[2021-10-29 16:56] climbfuji commented on #354
Should we do this instead of reeinstalling map 2.8.7 with the new ESMF? Does this release contain the GNU bug fixes?

[2021-10-29 17:14] rmontuoro commented on #354
@climbfuji - Yes, this is my recommendation. MAPL 2.11.0/gFTL-shared v1.3.3 builds properly with GNU.

[2021-10-29 21:05] climbfuji commented on #354
**Cheyenne/GNU**
[code]
**Cheyenne/Intel**
[code]

[2021-10-30 01:31] kgerheiser commented on #354
Done on Orion, Gaea, and Jet.

[2021-10-30 01:51] Hang-Lei-NOAA commented on #354
Done on Hera, WCOSS-dell, WCOSS2-acorn.

On Fri, Oct 29, 2021 at 9:31 PM Kyle Gerheiser ***@***.***>
wrote:

[2021-10-30 02:22] kgerheiser commented on #348
Think we've got MAPL 2.11.0 on all machines.

[2021-10-30 02:22] #348 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-10-30 02:22] #354 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-10-30 03:05] kgerheiser commented on #339
This is an issue with wgrib2 itself. We have to get Wesley to upgrade to a newer version of Jasper to fix this.

[2021-10-30 03:06] #337 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-10-30 03:07] kgerheiser commented on #327
Closing this unless there's more to add.

[2021-10-30 03:07] #327 closed, assigned to edwardhartnett

[2021-10-30 15:38] edwardhartnett commented on #339
Due to the brittle nature of the wgrib2 build, it's lack of public repository, and the fact there is no testing, we recommend that wgrib2 not be used for any additional operational processing.

The NCELIBS-g2c library, which does the heavy lifting for wgrib2, may be used. It is being subjected to testing right now.

Please try to avoid using wgrib2 moving forward.

[2021-10-31 01:04] kgerheiser commented on #339
@edwardhartnett the wgrib2 executable is heavily used for doing command line operations on grib2 files. Also, wgrib2 uses its own built in grib processing. G2C is an option in wgrib2 but it's used for testing.

[2021-10-31 12:43] edwardhartnett commented on #339
We have requested that wgrib2 be brought into the modern era, but to no avail. And meanwhile it causes problem after problem. So we have to start moving away from it.

I have started adding tests to the g2c library and hope in time that can be extended to cover more of the functionality of wgrib2.

In the meantime, new uses of wgrib2 should be avoided, because that is just digging the hole deeper.

[2021-11-01 13:20] DusanJovic-NOAA commented on #354
I do not see `esmf/8_2_0` available on Hera:
[code]

[2021-11-01 13:24] DusanJovic-NOAA commented on #354
[code]
loading `esmf/8_2_0` incorrectly loads `esmf/8_2_0_beta_snapshot_14-debug`

[2021-11-01 13:30] Hang-Lei-NOAA commented on #354
I will check it.

On Mon, Nov 1, 2021 at 9:24 AM Dusan Jovic ***@***.***> wrote:

[2021-11-01 13:33] DusanJovic-NOAA commented on #354
`mapl/2.11.0-esmf-8_2_0_bs_14`
Also, we need mapl/2.11.0 built using esmf/8_2_0 not esmf/8_2_0_beta_snapshot_14

[2021-11-01 15:18] DusanJovic-NOAA commented on #354
We also need esmf 8.2.0 built with gnu and debug version for both intel and gnu.

[2021-11-01 15:52] rmontuoro commented on #348
@kgerheiser - Could you please point me to the location of the hpc-stack libraries (including MAPL) on WCOSS2?

[2021-11-01 15:59] Hang-Lei-NOAA commented on #348
hpc-stack by EMC is only on Acorn:
/lfs/h1/emc/nceplibs/noscrub/hpc-stack/libs/hpc-stack
NCO install on other wcoss2 machines

On Mon, Nov 1, 2021 at 11:52 AM Raffaele Montuoro ***@***.***>
wrote:

[2021-11-01 16:14] rmontuoro commented on #348
Thanks, @Hang-Lei-NOAA

[2021-11-02 18:25] GeorgeVandenberghe-NOAA opened #355 "bufr/v11.5.0 does not build on jet with v1.2.0 or development head of hpc-stack fails in bufr build (thought I reported this before but couldn't find it)"
On Jet, the hpc-stack build fails in the bufr build with
/misc/apps/cmake/3.20.1/bin/cmake -E touch src/CMakeFiles/bufr_d_DA_f.dir/moda_bitmaps.F.o.provides.build
_**curl: (28) Connection timed out after 30000 milliseconds**_
make[2]: *** [test/bufr.tar] Error 28
make[2]: Leaving directory `/mnt/lfs4/HFIP/hfv3gfs/gwv/hpcstack/h1102/pkg/bufr-bufr_v11.5.0/build'
make[1]: *** [test/CMakeFiles/get_buf

[2021-11-02 18:38] GeorgeVandenberghe-NOAA commented on #355
The remedy is to just modify pkg/bufr-bufr_v11.5.0/test/CMakeLists.txt
to just not build any of the tests.  Is there another remedy?.  The problem is connectivity on some systems e.g. jet
to the test database.

[2021-11-02 19:28] kgerheiser commented on #355
It was fixed in the develop branch, not sure if there's been a release since then.

Also, this isn't really an hpc-stack issue, it's a bufr issue.

[2021-11-02 21:44] climbfuji opened #356 "DOWNLOAD_ONLY option broken in build_madis.sh"
**Describe the bug**
Using the `DOWNLOAD_ONLY=Y` option with `madis` being enabled in the stack yaml file gives:
[code]

[2021-11-02 21:50] kgerheiser commented on #356
The download code should be moved before running nc-config.

[2021-11-03 13:38] climbfuji opened #357 "DOWNLOAD_ONLY option broken in build_gftl_shared.sh"
[code]

[2021-11-03 13:40] climbfuji opened #358 "DOWNLOAD_ONLY option not working for several packages that use `git fetch --tags`"
**Describe the bug**
The following logic doesn't work when DOWNLOAD_ONLY is selected and is used in several of the build scripts:
[code]
What works is:
[code]

[2021-11-03 13:42] climbfuji opened #359 "DOWNLOAD_ONLY options must be tested before committing code changes"
**Is your feature request related to a problem? Please describe.**
Using your own words ... I'm always frustrated when I have to create several issues when trying to use an option that is documented and supported (`DOWNLOAD_ONLY`).

**Describe the solution you'd like**
One of the CI tests should test this option so that problems are caught before the code is committed.

[2021-11-03 17:54] climbfuji opened #361 "stack file that corresponds to current hash of ufs-weather-model"
I'm always frustrated when I have to spend a ton of time adjusting one of the stack files so that it provides what the current ufs-weather-model requires. Can there be a stack file that is kept up to date with the ufs-weather-model? Or should such a stack yaml file reside in the ufs-weather-model repo? Or elsewhere?

[2021-11-03 17:55] aerorahul commented on #361
I thought the ufs-weather-ci.yaml file was supposed to be in sync w/ the UFS CI.

[2021-11-03 17:55] kgerheiser commented on #361
That's what https://github.com/NOAA-EMC/hpc-stack/blob/develop/stack/stack_ufs_weather_ci.yaml is for, but I admit I've been lax about keeping it up-to-date.

[2021-11-03 17:56] climbfuji commented on #361
Ahh ... if we were able to build the head of ufs-weather-model develop as part of the CI process, then we would catch the problems?

[2021-11-03 17:57] aerorahul commented on #361
Then we will have to build the develop of GSI, JEDI, and who knows what as part of the CI process.

[2021-11-03 17:59] climbfuji commented on #361
Hmmmm .... any process that requires a human being to go and check manually is bound to fail. So maybe we should build all of the supported application every night.

[2021-11-03 18:01] aerorahul commented on #361
Does netcdf build every application every night?
Does esmf do that?

[2021-11-03 18:03] climbfuji commented on #361
They don't. But the applications that use them might. So maybe that is more of a task for the ufs-weather-model developers (which includes myself, I am wearing many hats) to have an automatic build of hpc-stack and the ufs-weather-model.

[2021-11-03 18:04] climbfuji commented on #361
How about we just bounce this to EPIC ;-)

[2021-11-03 18:58] WalterKolczynski-NOAA commented on #361
This is going to come to a head with the NCO requirements to have a single version file for all modules in an application. Global workflow has already been talking about needing to coordinate module versions for all its the many components. A single file managed at this level that all components are expected to use would help that immensely.

[2021-11-03 19:02] arunchawla-NOAA commented on #361
maybe we worry about this with spack ?

[2021-11-03 19:25] WalterKolczynski-NOAA commented on #361
That works too, as long as all components have a centralized lib version to use. I can't keep track of all the systems that are being bandied about right now. I don't think I'd heard of spack before today.

[2021-11-05 15:38] #359 closed, assigned to nobody

[2021-11-05 15:38] #358 closed, assigned to nobody

[2021-11-05 15:38] #357 closed, assigned to nobody

[2021-11-05 15:38] #356 closed, assigned to nobody

[2021-11-05 15:39] kgerheiser commented on #355
Fixed with #356 where bufr will disable tests unless MAKE_CHECK is on

[2021-11-05 15:39] #355 closed, assigned to nobody

[2021-11-05 15:39] kgerheiser commented on #141
Fixed with #360

[2021-11-05 15:39] #141 closed, assigned to nobody

[2021-11-08 01:27] BinLiu-NOAA commented on #329
@kgerheiser, could you please fix the same issue for Jet when you get a chance? Thanks!

[code]

[2021-11-08 13:41] kgerheiser commented on #329
Fixed

[2021-11-08 13:59] BinLiu-NOAA commented on #329
Thanks, @kgerheiser!

[2021-11-09 21:53] jbathegit opened #362 "[INSTALL] nceplibs-bufr v11.6.0"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
This is the next release version of the nceplibs-bufr library, which is already part of hpc-stack. It is available from https://github.com/NOAA-EMC/NCEPLIBS-bufr/releases/tag/bufr_v11.6.0

**What is the version/tag of the software?**

[2021-11-09 22:45] aerorahul commented on #362
@jbathegit

We append `CMAKE_INSTALL_PREFIX/bin` to the `PATH` variable in the modulefile.
All bufr utilities are thus available on the command-line once the module is loaded

Adding variables such as `DEBUFR` and `XBFMG` is discontinued practice.  We didn't have these before and I don't recommend adding it now.
Users in their scripts should not have to rely on these variables in the environment.

[2021-11-09 22:54] jbathegit commented on #362
OK, I'm fine with that approach, and in which case you can skip my request to add those new envvars.  If the bin subdirectory is prepended to $PATH, then the `which` command will certainly do the trick to locate those executables, as you noted.

Please do make sure to remove all of the _DA envvars though.  Those are defined in the existing module file for v11.5.0, but they'll no longer exist with

[2021-11-17 15:42] kgerheiser opened #363 "w3emc build should come after nemsio"
**Describe the bug**
w3emc 2.7.3 depends on nemsio, but `build_lib w3emc` comes before nemsio.

**To Reproduce**
Build w3emc 2.7.3

**Expected behavior**
w3emc should build

[2021-11-17 15:56] kgerheiser commented on #363
Nemsio now depends on w3emc creating a circular dependency if w3emc 2.7.3 is used. The solution is to use w3emc 2.9.2.

[2021-11-17 15:56] #363 closed, assigned to nobody

[2021-11-19 15:21] DusanJovic-NOAA opened #366 "[INSTALL] g2tmpl v1.10.0 on WCOSS Dell p3"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
g2tmpl

**What is the version/tag of the software?**
1.10.0

**What compilation options would you like set?**
ips-18.0.5.274

**Which machines would you like to have the software installed?**
WCOSS Dell.

**Any other relevant informat

[2021-11-19 16:13] DusanJovic-NOAA opened #367 "[INSTALL] g2tmpl v1.10.0 on Gaea"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
g2tmpl

**What is the version/tag of the software?**
1.10.0

**What compilation options would you like set?**
intel-18.0.6.288

**Which machines would you like to have the software installed?**
Gaea.

**Any other relevant information

[2021-11-19 16:20] kgerheiser commented on #367
Done

[2021-11-19 16:59] climbfuji commented on #367
Thanks, @kgerheiser. @DusanJovic-NOAA the stack on gaea is now maintained by EMC (Kyle), I am not involved anymore. The only piece of "software" that is relevant for the UFS WM that is still under my purview on gaea is the infamous "init_lmod" system that initializes the LUA module environment. We need to take care of this before I switch to JCSDA in the first months of the new year.

[2021-11-19 17:35] Hang-Lei-NOAA commented on #366
This was installed on dell p3 with intel/18/0/1/163.
Now, it is installed on dell p3 with the new compiler intel/18.0.5.274.

[2021-11-19 21:41] kgerheiser commented on #362
Done on Jet, Orion, Gaea.

[2021-11-19 21:49] #367 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-11-19 21:49] kgerheiser commented on #362
I manually removed the `_DA` variables, but there should be a way to automate it. I think it's possible to do an `if` within the `.lua`, but I have to figure out the specifics.

[2021-11-19 23:42] #366 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2021-11-30 16:00] lgannoaa opened #370 "hpc-stack module netcdf/4.7.4 and others contain error message in module_base.wcoss_dell_p3"
module_base.wcoss_dell_p3 using hpc-stack found error message:
---
module load netcdf/4.7.4
Lmod has detected the following error:  Cannot load module "netcdf/4.7.4" without these module(s) loaded:
   hdf5
---
This requirement is from /gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/modulefiles/mpi/ips/18.0.1.163/impi/18.0.1/netcdf/4.7.4.lua
  prereq("hdf5")

A check with all official

[2021-11-30 16:02] kgerheiser commented on #370
These seem like legitimate errors. NetCDF depends on HDF5, nemsio depends on bacio and w3nco, etc.

[2021-11-30 16:05] aerorahul commented on #370
The errors are specific to WCOSS Dell P3, where `LMOD_EXACT_MATCH=yes` is set in the module `EnvVars`.
The error comes from `module load netcdf/4.7.4` even if `HDF5` is loaded.
This is because in the `netcdf/4.7.4.lua` modulefile, there is a `prereq(hdf5)`.  Notice that there is no version in the `hdf5` pre-requisite.  LMod will try to load the `default`, but that has been disabled on WCOSS Dell P

[2021-11-30 16:13] aerorahul commented on #370
@kgerheiser look in `config.wcoss_dell_p3.sh` for example
![Screen Shot 2021-11-30 at 11 07 46 AM](https://user-images.githubusercontent.com/11394126/144083725-dded83ab-54d0-49bd-a75a-63fb726aed0e.png)

[2021-11-30 16:14] kgerheiser commented on #370
Yes, @aerorahul is correct. I forgot about that peculiarity on WCOSS-Dell.

[2021-11-30 16:15] aerorahul commented on #370
We also don't load the `EnvVars` module which sets this:
[code]

[2021-12-01 16:47] jbathegit commented on #362
@aerorahul  @kgerheiser

I just took a look at the new bufr/11.6.0 module on WCOSS2, and it still contains setenv commands for BUFR_INC[48d]_DA and BUFR_LIB[48d]_DA.  As a reminder, there are no longer any _DA builds with v11.6.0+ so could we please get those environment variable definitions removed from that module?

Or is there someone else I/we should talk to about this?

[2021-12-17 14:32] climbfuji commented on #81
@mark-a-potts Since EPIC will be taking care of Cheyenne in the future, this might be of interest to you. Cheyenne doesn't have automated, cron-based testing of building hpc-stack yet.

[2021-12-20 15:08] mark-a-potts commented on #81
Thanks for the tip. I started testing this out this morning, but ran into an issue of szip missing while building stack_ufs_weather_ci.yaml. Obviously, I can enable the szip build in that yaml file, but shouldn't that be built by default anyway? Is this the yaml file I should be using or should I just stick with stack_noaa.yaml?

[2021-12-20 15:14] climbfuji commented on #81
I always thought that `szip` should be built.

[2021-12-20 16:05] edwardhartnett commented on #81
Is anyone using szip to produce netCDF data? I'm pretty sure we don't want to do that...

[2021-12-20 16:21] climbfuji commented on #81
Building `szip` is turned off in the CI stack yaml file, but it's on in the NOAA yaml file. I checked that both have the szip option for hdf5 disabled:
[code]
In which package is the build failing?

[2021-12-20 16:25] kgerheiser commented on #81
PIO does a `module load szip` that should be a `try-load`, is that the error you got?

[2021-12-20 17:07] mark-a-potts commented on #81
Yes, that is where it is failing. PIO.

[2021-12-20 17:12] kgerheiser opened #371 "PIO always tries to load szip"
**Describe the bug**
PIO loads szip, even when it's not built.

**To Reproduce**
Build PIO without szip

**Expected behavior**
szip is optional and should not cause PIO build to fail

[2022-01-04 14:38] #371 closed, assigned to kgerheiser

[2022-01-11 13:57] Hang-Lei-NOAA opened #373 "Add crtm v2.4.0 changes into hpc-stack and install it on all platforms"
**Please describe the package or library you would like to add to hpc-stack.**
The crtm v2.4.0 EMC version has been released and tested in the past several weeks with Haixia, Ben and Hang. It has been added on hera installation of hpc-stack. Now the testing result on hera has confirmed with the expected. The major changes are on the fix files. The existing hpc-stack script has no problem on code b

[2022-01-18 00:42] mkavulich opened #376 "Inconsistent handling of prerequisite modules in lua modulefiles, some of which result in unintended behavior on some platforms"
**Describe the bug**

**The short summary: using `load(modulename)` in Lua modulefiles will not necessarily get you the module you expect. This is currently causing failures of the Short Range Weather Application on Cheyenne, and could theoretically result in unexpected behavior on any platform, up to and including build and runtime failures**

Many NCEPLIBS have dependencies on each other, this i

[2022-01-18 03:17] climbfuji commented on #376
Mike,

we do this before we build the stack, you may want to do the same when building the app:

module purge
module unuse /glade/u/apps/ch/modulefiles/default/compilers
export MODULEPATH_ROOT=/glade/p/ral/jntp/GMTB/tools/compiler_mpi_modules
module use /glade/p/ral/jntp/GMTB/tools/compiler_mpi_modules/compilers

Basically what this is doing is replacing CISL’s compiler modules with identical ones

[2022-02-03 15:30] junwang-noaa opened #378 "[INSTALL] Install hpc-stack with Intel 2021.3.0 and impi 2021.3.0"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
The hpc-stack used by ufs-weather-model.

**What is the version/tag of the software?**
hpc/1.1.0
with Intel 2021.3.0 and impi 2021.3.0, following libraries are required:

jasper/2.0.22
zlib/1.2.11
png/1.6.35

hdf5/1.10.6
netcdf/4.7.4

[2022-02-03 16:32] aliabdolali commented on #150
could you please provide me an update on this request on WCOSS2 and Hera?

[2022-02-04 16:56] kgerheiser commented on #378
FYI I don't see an `intel/2021.3` on Orion, just `intel/2021.2`.

[2022-02-04 17:07] Hang-Lei-NOAA commented on #378
This is starting on Hera. I will wait for the quota limit is being
increased, and then install it on hera.

On Fri, Feb 4, 2022 at 11:56 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-02-04 17:11] junwang-noaa commented on #378
Thanks. Intel 2021.2 is fine, we need to move to Intel 2021.x version.

[2022-02-08 18:24] KateFriedman-NOAA opened #379 "[INSTALL] Library modules to support GFSv16.2.0 on Hera/Orion"
In order to support the new GFSv16.2.0 (WCOSS2 port version) on Hera and Orion we need the same library module versions available. Below I list the versions that are currently being used in the new operational GFSv16.2.0 and which ones are missing on Hera/Orion.

**Which software (and version) in the stack would you like installed?**

Hera & Orion:
- ~~gempak/7.14.1~~
- ~~cmake/3.20.2~~
- esmf/8.0

[2022-02-08 18:28] kgerheiser opened #380 "[INSTALL] ESMF 8.2.1b04 (and MAPL 2.11.0-esmf-8.2.1b04)"
**Which software in the stack would you like installed?**

ESMF v8.2.1b04 needs to be installed

**What is the version/tag of the software?**
`v8.2.1b04`

This tag is different than other ESMF tags and `libs/build_esmf` line 72 was changed to  `software="v$version"`

Then built with the following options:
[code]

**What compilation options would you like set?**
Release/debug

**Which machines woul

[2022-02-08 18:40] kgerheiser commented on #379
Some comments about a few of these packages:

* gempack - that's not something we have a package for
* cmake - we don't usually handle this and prefer to use the system CMake. Orion has `cmake/3.22.1` and Hera `cmake/3.20.1`. I would expect them to be sufficient.
* libpng - We call the module `png` and have `1.6.35` instead of `1.6.37`. We can install 1.6.37 if necessary.

Otherwise the other pack

[2022-02-08 18:45] WenMeng-NOAA commented on #379
@KateFriedman-NOAA

That's the correct version used by GFS V16.

[2022-02-08 18:46] Hang-Lei-NOAA commented on #379
In addition, for this purpose, on Hera, the compiler will still be
intel/18.0.5.274.
We are also adding an installation of stack with intel/2021.

On Tue, Feb 8, 2022 at 1:40 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-02-08 18:47] WenMeng-NOAA commented on #379
I have been working on UPP changes. I will provide the UPP tag for installing upp/8.1.0 when it is ready.

[2022-02-08 19:12] arunchawla-NOAA commented on #379
Thanks guys! We want to match the libraries in operations that will be on WCOSS2 with the ones on HERA and Orion (plus the additional libraries we need on the development platforms for the next gen systems) under hpc-stack so we can remove the old installations. I dont think we have to worry about gempak as that is not run in dev mode

We will live with intel/18.0.5.274 for now. And intel/2021 whe

[2022-02-08 19:45] WenMeng-NOAA commented on #379
The variable "Z_LIB" is not defined in module zlib/1.2.11 on the hpc-stack on Hera.

[2022-02-08 20:11] KateFriedman-NOAA commented on #379
Noted, thanks! Won't need based on what @arunchawla-NOAA said above.

Also noted, thanks!

Yes, please install `1.6.37`. Looks like the NCO hpc-stack install calls this `libpng` to make life more interesting. I will adjust the module name for the non-WCOSS2 platforms to be `png`.

Excellent, thanks!

[2022-02-08 20:14] climbfuji commented on #379
The official name for the PNG library is libpng (http://www.libpng.org/pub/png/libpng.html), spack also knows it by this name. Maybe `png` should be changed to `libpng` in hpc-stack and the codes that use it.

[2022-02-08 20:17] kgerheiser commented on #379
@climbfuji that's a pretty good idea. Just re-name it libpng, install it as a new package and use that.

[2022-02-08 20:19] KateFriedman-NOAA commented on #379
I would prefer it be renamed to libpng as well, since that is what we have on WCOSS2 and I'd prefer to use the same name everywhere. Thanks!

[2022-02-08 21:12] YaliMao-NOAA commented on #379
Based on the discussions above, may I confirm all modules across different computers must have the same name and version numbers? In other words, will we use the same build.ver and run.ver for all computers?

[2022-02-09 14:36] KateFriedman-NOAA commented on #379
@YaliMao-NOAA Yes, we will use the same build.ver and run.ver files for all machines but we will need to accommodate some differences. Therefore, for the workflow side, I am now creating $target.ver files (e.g. orion.ver) which will set the hpc-stack module variables/versions to support those machines. I am going to source them after sourcing build.ver or run.ver, so the stack module names/version

[2022-02-09 14:38] KateFriedman-NOAA commented on #379
@kgerheiser We also load the following modules on WCOSS2, are they from hpc-stack and if so, can we get these versions on Hera/Orion too? Thanks!

- udunits/2.2.28
- imagemagick/7.0.8-7
- libjpeg/9c

[2022-02-09 16:10] YaliMao-NOAA commented on #379
@KateFriedman-NOAA It's a smart solution to introduce $target.ver to differentiate the platforms.
On Hera and Orion, will 'module purge' be kept not changed to 'module reset'?

[2022-02-09 18:03] KateFriedman-NOAA commented on #379
@YaliMao-NOAA Yes, `module reset` is only for WCOSS2 right now. Please keep using `module purge` elsewhere. Thanks!

[2022-02-09 18:14] WenMeng-NOAA commented on #379
The module zlib/1.2.11 settings on WCOSS2 and Orion/Hera are not consistent.
WCOSS2:
[code]
Hera:
[code]
The UPP for GFSV16 needs "ZLIB_LIB" for GNU makefile building.

[2022-02-09 18:19] kgerheiser commented on #379
@WenMeng-NOAA you are looking at the wrong module on Orion (` /apps/prod/lmodules/intel/19.1.3.304/zlib/1.2.11`) compared to the hpc-stack zlib.

[2022-02-09 18:39] WenMeng-NOAA commented on #379
@kgerheiser  On Orion, Here are what I check on Orion:
[code]
Please let me know the correct path. Thanks!

[2022-02-09 19:37] WenMeng-NOAA commented on #379
@kgerheiser The UPP is looking for variable "ZLIB_LIB" for GNU makefile building. It is defined on WCOSS2 but not on Orion/Hera.

[2022-02-09 21:01] KateFriedman-NOAA commented on #379
@kgerheiser Similar to Wen's comment, I need `JASPER_LIB` and `PNG_LIB` on Orion (and likely Hera). There may be more, I'm still working through builds on Orion. We need the same module variables as WCOSS2 stack versions.

[2022-02-09 21:03] arunchawla-NOAA commented on #379
It looks like the external packages have not been installed using hpc-stack but using spack

[2022-02-09 21:34] WenMeng-NOAA commented on #379
The UPP also got building failure in netcdf as:
[code]
My working version on hera is at /scratch1/NCEPDEV/stmp2/Wen.Meng/post_gfsv16_hpc/UPP/sorc. The GNU make file is
/scratch1/NCEPDEV/stmp2/Wen.Meng/post_gfsv16_hpc/UPP/sorc/ncep_post.fd/makefile_module_hpc. The build script is
/scratch1/NCEPDEV/stmp2/Wen.Meng/post_gfsv16_hpc/UPP/sorc/build_ncep_post.sh. Please advise the fix. Thanks!

[2022-02-09 21:37] arunchawla-NOAA commented on #379
@WenMeng-NOAA , @KateFriedman-NOAA solved this problem, reach out to her.

[2022-02-09 21:49] KateFriedman-NOAA commented on #379
@WenMeng-NOAA Not sure if it's related but I had to make the following change to the gaussian_sfcanl makefile to get it building on Orion with the static libraries there:
https://github.com/KateFriedman-NOAA/global-workflow/commit/de03082baea517dcb7759b4d24d94e5bb865a55d

[2022-02-09 22:32] WenMeng-NOAA commented on #379
@KateFriedman-NOAA our solution works for UPP. Thanks!

[2022-02-10 14:01] junwang-noaa commented on #378
@jkbk2004 FYI.

[2022-02-10 22:43] AlexanderRichert-NOAA opened #382 "NetCDF fails with enable_pnetcdf"
**Describe the bug**
Compiling NetCDF fails with "...hpc-stack/libs/build_netcdf.sh: line 64: PNETCDF_ROOT: unbound variable". The lines containing "[[ $enable_pnetcdf =~ [yYtT] ]]" in libs/build_netcdf.sh should, I think, all check whether $mpi is defined so that the script won't try to use it when compiling serial NetCDF.

**To Reproduce**
Steps to reproduce the behavior:
-Clone repo
-Run build

[2022-02-10 23:09] jkbk2004 commented on #378
Here is the test result of intel2021.2 with the control/butterfly case of -DAPP=ATM. Package options in the intel22021.2 run can be stayed only for the updates on the compiler and cmake. Will continue to follow up.
[https://docs.google.com/presentation/d/1h91HqW80W3onXFS0brYIh-K7Dl42h4HK7R3fJIvK2CA/edit#slide=id.p](url)

[2022-02-10 23:20] jkbk2004 commented on #378
[control-intel21.pdf](https://github.com/NOAA-EMC/hpc-stack/files/8044945/control-intel21.pdf)

[2022-02-10 23:21] jkbk2004 commented on #378
Here is the test result of intel2021.2 with the control/butterfly case of -DAPP=ATM. Package options in the intel22021.2 run can be stayed only for the updates on the compiler and cmake. Will continue to follow up.
[control-intel21.pptx](https://github.com/NOAA-EMC/hpc-stack/files/8044951/control-intel21.pptx)

[2022-02-11 00:51] jkbk2004 commented on #378
Here is the test result of intel2021.2 with the control/butterfly case of -DAPP=ATM. Package options in the intel22021.2 run can be stayed only for the updates on the compiler and cmake. Will continue to follow up.
[control-intel21.pptx](https://github.com/NOAA-EMC/hpc-stack/files/8045265/control-intel21.pptx)

[2022-02-11 15:59] KateFriedman-NOAA commented on #379
@kgerheiser Is it possible to get these two modules available on Hera and Orion too?
[code]

[2022-02-11 20:24] RussTreadon-NOAA opened #383 "Orion crtm/2.3.0 does not define CRTM_FIX"
**Describe the bug**
`crtm/2.3.0` on WCOSS2 defines `CRTM_FIX`.  `crtm/2.3.0` associated with `hpc/1.1.0` on Hera defines `CRTM_FIX`.   `crtm/2.3.0` associated with `hpc/1.1.0` on Orion does **not** define `CRTM_FIX`.   This absence means developers must use other means to define `CRTM_FIX` on Orion.  `crtm/2.3.0` is the version used by the current operational GFS.   Many scripts assume `CRTM_FIX`

[2022-02-11 20:40] gspetro-NOAA opened #384 "Improve HPC-Stack Documentation"
Create HPC-Stack documentation that can be integrated with the Sphinx documentation for UFS applications, such as the SRW and MRW. The current README.md doc method does not allow for this.

[2022-02-14 15:08] WenMeng-NOAA commented on #379
Given the time line of submitting new tag with changes of using NCEPLIBs from the hpc-stack on Hera/Orion, I would like to know the status of updating the hpc-stack on Hera/Orion with:

- add ZLIB_LIB
- add JASPER_LIB
- add LIBPNG_LIB
- install wgrib2/2.0.7

Thanks!

[2022-02-14 18:07] YaliMao-NOAA commented on #379
On Hera and Orion:
1) How to rename png as libpng on WCOSS2?
2) g2/3.4.5 is not installed, can g2/3.4.3 be used instead?
3) w3emc/2.9.2 is not installed, can w3emc/2.9.1 be used instead?

On Hera, netcdf/4.7.4 is not installed, the installed 4.7.4 version is netcdf_parallel, not netcdf.

[2022-02-14 21:39] kgerheiser commented on #380
This has been completed

[2022-02-14 21:39] #380 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2022-02-15 16:04] kgerheiser commented on #383
This is an oversight. The installed fix files were added to the package build after the library was already installed.

I will add them, but note they will be the big endian files (maybe I have that mixed up) that we've been using.

[2022-02-15 16:22] kgerheiser commented on #382
I've got a fix coming up

[2022-02-15 16:28] kgerheiser commented on #376
@mkavulich does @climbfuji's suggestion help?

[2022-02-15 17:17] kgerheiser opened #387 "Re-name "png" "libpng""
Part of #379

PNG should be re-named libpng. It is the official name of the packages and is what it's named in Spack.

Now, should png be kept around in addition to libgpng for a time for compatability?

[2022-02-15 17:20] kgerheiser opened #388 "Add module variables for GFS v16.2"
Part of #379

These module variables are requested for compatibility with WCOSS2.

[code]

[2022-02-15 17:27] arunchawla-NOAA commented on #387
The longer we leave it the more people will delay doing anything about it. Maybe leave it only for 1 week or so ?

[2022-02-15 17:29] climbfuji commented on #387
But not that any version of the ufs-weather-model or other models/tools that do `module load png` will break when you remove it. Not sure if we can ask all developers to update their branches immediately, and to have all utilities that use `libpng` as `png` be modified at the same time.

[2022-02-15 17:46] arunchawla-NOAA commented on #387
ok probably keep them along for a while, irritating but no worse than multiple versions or beta snapshots ?

[2022-02-15 20:31] #335 closed, assigned to nobody

[2022-02-15 21:35] kgerheiser commented on #379
@YaliMao-NOAA are you using hpc-stack? `netcdf_parallel` isn't one of our libraries, and `netcdf/4.7.4` is definitely installed.

@KateFriedman-NOAA I'm working on getting the libraries/modules ready, and I think we can have them installed within the next day or so.

bufr_dump/2.0.0
util_shared/1.4.0

We don't have packages for these. If they are something you need, we could probably add them. Whe

[2022-02-16 02:43] kgerheiser opened #390 "Duplicate symbols in NCO build"
Need to add `CPPFLAGS="-DHAVE_NETCDF4_H"` to indicate we're using external NetCDF-4.

See http://nco.sourceforge.net/build_hints.shtml

[2022-02-16 02:50] #387 closed, assigned to kgerheiser

[2022-02-16 16:45] kgerheiser commented on #379
@KateFriedman-NOAA I'm having issues building NCO 4.7.9 (#390, #391). I'm actually surprised that NCO was able to build NCO (heh) with these version combinations.

Would it be possible to use a different version? I think I can hack around it if necessary, but it'll take me a little while.

[2022-02-16 17:08] KateFriedman-NOAA commented on #379
I'll check on this and let you know, thanks!

[2022-02-16 17:09] KateFriedman-NOAA commented on #379
util_shared/1.4.0

Will check on these too and get back to you...caught up in some WCOSS2 issues today so may take a day or so to check.

[2022-02-17 20:00] KateFriedman-NOAA commented on #379
So we are using `NCO/4.7.0` in ops on WCOSS-Dell right now...is that version easier to build?

@JessicaMeixner-NOAA The waveprep jobs load the nco module...does the module version matter? I see `nco/4.8.1` and `nco/4.9.3` available on Orion and we're currently using `nco/4.8.1` in `feature/ops-orion` so my guess is that version might be ok to use for now to support the `dev_v16` branch (?). Let me

[2022-02-17 20:03] arunchawla-NOAA commented on #379
what is util-shared ? is that the old library ?

[2022-02-17 20:05] KateFriedman-NOAA commented on #379
@BoiVuong-NOAA @EdwardSafford-NOAA @YaliMao-NOAA The `jgfs_wave_prdgen_bulls` job, `wafs_blending` jobs, and GSI monitoring jobs load the `util_shared` module on WCOSS2. Do you know where that came from? Thanks!

@YaliMao-NOAA The `wafs_gcip` job loads the `bufr_dump` module on WCOSS2...do you know where that module came from and if it's required to support WAFS elsewhere? Thanks!

[2022-02-17 20:08] KateFriedman-NOAA commented on #379
@arunchawla-NOAA On WCOSS2 it sets the following:
[code]

[2022-02-17 20:12] JessicaMeixner-NOAA commented on #379
I don't know of a need for a particular version, as long as it runs, I'd say we're good to go.  For wave related things I have the most trouble change versions of jasper and g2, not had issues w/nco versions before (but I guess there's always a first for everything).

[2022-02-17 20:14] arunchawla-NOAA commented on #379
Ok so for running experiments do we need anything from util_shared ? these seem to be old things that I would rather not carry on hpc-stack

[2022-02-17 20:14] BoiVuong-NOAA commented on #379
util-shared  is an utilities not a library.

[2022-02-17 20:30] KateFriedman-NOAA commented on #379
Ok, given that, for now I will set my hera.ver/orion.ver files to use existing `nco` modules (most likely what `feature/ops-orion` uses. We have the needed `jasper` version available and @kgerheiser is installing the needed `g2` module so we should be ok for those. Thanks @JessicaMeixner-NOAA !

[2022-02-17 20:34] KateFriedman-NOAA commented on #379
I agree, don't want to clutter hpc-stack up if it's not needed. If we drop support for WAFS and the bulk of the downstream jobs (e.g. gempak and awips) on the non-WCOSS2 platforms (at least for now) then the need for the `bufr_dump` and `util_shared` modules goes away. Do we want to make that decision now?

My only concern about not having `bufr_dump` would be if obsproc needs it. @ShelleyMelchior

[2022-02-17 20:38] arunchawla-NOAA commented on #379
we do not need to do gempak and awips grids on non wcoss platforms. In general I would like us to lose the dependency on util_shared

[2022-02-17 20:45] KateFriedman-NOAA commented on #379
Ok, that sorts out the need for `util_shared`. @kgerheiser ignore the request for `util_shared`, thanks!

@arunchawla-NOAA How about WAFS? I don't think we need WAFS off WCOSS2 either, although @YaliMao-NOAA has supported it building on Hera and Orion in recent versions. That would drop the need for `bufr_dump`, assuming obsproc doesn't need it.

[2022-02-17 21:05] YaliMao-NOAA commented on #379
@KateFriedman-NOAA Thank you for bringing it up.
util_shared is required to be able to use 'make_NTC_file.pl' to send out admin messages for blended WAFS products.
bufr_dump is used for GCIP.

[2022-02-17 22:08] ShelleyMelchior-NOAA commented on #379
bufr_dump is only useful if the dump processing can run on a system. In order for dump processing to work there need to be live (or staged) bufr tanks. If there is plan for there to be tanks on Hera or Orion, and for dump files to be processed from those tanks, then you need bufr_dump.

[2022-02-17 22:08] ShelleyMelchior-NOAA commented on #379
FWIW, there are no plans from obsproc pov to do any dump processing on Hera or Orion.

[2022-02-17 22:11] arunchawla-NOAA commented on #379
that is correct, I do not think we need these on either HERA or Orion. Thanks @ShelleyMelchior-NOAA !

[2022-02-18 13:10] YaliMao-NOAA commented on #379
Does WAFS need to support real-time run on Hera and Orion? When I ran WAFS on Hera or Orion, I used to have a canned data set.

Not only live BUFR data, how about DCOM data? Will DCOM data be saved on Hera or Orion real time? Two WAFS blending jobs need UK unblended data at DCOM.

[2022-02-18 16:11] KateFriedman-NOAA commented on #379
@YaliMao-NOAA I believe we've decide not to support WAFS in developer runs on non-WCOSS2 platforms, similar to dropping support for other downstream products like gempak and awips that aren't needed outside of ops. @arunchawla-NOAA can further confirm this. Thanks!

[2022-02-18 16:13] KateFriedman-NOAA commented on #379
Got it, we won't be running that off WCOSS2 so we won't need `bufr_dump` on Hera/Orion. Thanks @ShelleyMelchior-NOAA !

[2022-02-18 16:14] arunchawla-NOAA commented on #379
No WAFS on developer runs on non-wcoss2 platforms specially since these have operations based product requirements

[2022-02-18 16:16] kgerheiser commented on #379
Thanks everyone for their input. I will finish up #392 and related PRs by using a different version of NCO and adding the module variables. Then, we can get it rolled out.

[2022-02-18 16:52] YaliMao-NOAA commented on #379
@arunchawla-NOAA @KateFriedman-NOAA Thank you for the confirmation.
In case I need to run WAFS on a canned data set on Hera or Orion, can I load non-hpc-stack modules, such as bufr_dump and util_shared, along with hpc-stack modules to make it work?

[2022-02-18 17:18] kgerheiser commented on #379
@YaliMao-NOAA yes, you can do that.

[2022-02-18 17:51] YaliMao-NOAA commented on #379
@kgerheiser Thank you for the confirmation!

[2022-02-18 19:09] arunchawla-NOAA commented on #379
@kgerheiser and @Hang-Lei-NOAA we use esmf 8.1.0 and esmf 8.0.1 for operations. In hpc-stack we removed these libraries in favour of the newer installations. However, we need these to support operations. @junwang-noaa and @DusanJovic-NOAA are we missing any other modules needed for the model ?

[2022-02-23 14:26] kgerheiser commented on #379
@KateFriedman-NOAA @WenMeng-NOAA  I have a test install on Orion with all the requested changes. Could you take a look at it before I install it in its permanent home?

`_LIB` module variables, NCO 5.0.6, and the versions you asked for.

[code]

[code]

[2022-02-23 15:42] KateFriedman-NOAA commented on #379
@kgerheiser Thanks for this test install! @WenMeng-NOAA @MichaelLueken-NOAA @junwang-noaa @DusanJovic-NOAA @YaliMao-NOAA @GeorgeGayno-NOAA @HelinWei-NOAA @malloryprow Please look at Kyle's test install on Orion and let him know if anything is missing/incorrect for your respective component codes. Thanks!

@kgerheiser I loaded the following from your test location with the indicated `module use` pa

[2022-02-23 16:20] kgerheiser commented on #379
That's a good catch. We don't normally test with Bufr 11.4.0 and it uses `lib` instead of `lib64`.

[2022-02-23 16:26] junwang-noaa commented on #379
@kgerheiser We are requesting upp/8.1.0, but I saw upp/10.0.8 in the list. Can you install upp/8.1.0?

[2022-02-23 16:31] kgerheiser commented on #379
Are there build instructions for how to build UPP with make? The hpc-stack build is based on using CMake, so it will take some re-configuring to support the Makefile build.

[2022-02-23 16:35] WenMeng-NOAA commented on #379
I was able to build UPP with Kyle's testing version of hpc-stack on Orion. @kgerheiser @junwang-noaa I have been waiting for the official hpc-stack 1.2.0 installed on Hera and Orion, then provide new upp tag for installing upp/8.1.1 on Hera and Orion. The upp/8.1.* use GNU makefile.

[2022-02-23 16:38] WenMeng-NOAA commented on #379
The instruction of building upp/8.1.0 on wcoss2 can be found at
https://docs.google.com/document/d/19_ymg7UOfr0MNQPAPwP-JBeSnESOTGzSnkjCnvPJ9bg/edit
It would be the similar procedure for Hera and Orion.

[2022-02-23 16:52] GeorgeGayno-NOAA commented on #379
@kgerheiser installation on Orion works with UFS_UTILS.

[2022-02-23 17:45] kgerheiser commented on #379
The bufr issue has been fixed

[2022-02-23 17:45] kgerheiser commented on #379
@WenMeng-NOAA I don't have access to that doc.

[2022-02-23 17:50] WenMeng-NOAA commented on #379
@kgerheiser Add you access.

[2022-02-23 18:17] KateFriedman-NOAA commented on #379
Thanks @kgerheiser! I see this now in that module:
[code]
...and my associated gfs_bufr/tocsbufr codes now build.

[2022-02-23 19:11] MichaelLueken commented on #379
@KateFriedman-NOAA @kgerheiser

@RussTreadon-NOAA was able to test the hpc/1.2.0 test build on Orion using [gfsda.v16.2.0.1](https://github.com/NOAA-EMC/GSI/blob/feature/gfsda.v16.1.5_wcoss2_port) and all 28 DA components successfully built without any problems.

[2022-02-23 20:13] HelinWei-NOAA commented on #379
GLDAS was built successfully with hpc/1.2.0 test build on Orion

[2022-02-23 22:39] kgerheiser commented on #379
I have been able to successfully build UPP 8.1.0.

[2022-02-24 14:15] junwang-noaa commented on #378
@Hang-Lei-NOAA May I ask if the disk issue is resolved? When hpc-stack with intel/impi 2021 can be installed?

[2022-02-24 14:26] kgerheiser commented on #378
@Hang-Lei-NOAA is on leave this week

[2022-02-24 15:27] kgerheiser commented on #379
I'm ready to install this.

Should this stack exist in its own space? Like a `module use .../hpc-stack/gfsv16/modulefiles/stack`, or should it be added to the existing library locations?

[2022-02-24 15:34] WenMeng-NOAA commented on #379
`module use .../hpc-stack/gfsv16/modulefiles/stack` would be better for UPP supporting features for GFS V16 only, e.g. wgrib2/2.0.7.

[2022-02-24 15:35] KateFriedman-NOAA commented on #379
Awesome, thanks @kgerheiser !

My vote would be for the latter (existing library locations). While this was set up from a need to support GFSv16 it doesn't have to be limited to that model. Will let others weigh in, I'm ok with the consensus decision.

[2022-02-24 16:00] DavidHuber-NOAA commented on #379
If this is installed in an existing location, will there be an issue with selecting the prerequisite libraries for each install?  For example, the UPP install loads the g2tmpl module.  This install is asking for g2tmpl/1.9.1 but both the 1.9.1 and 1.10.0 g2tmpl modules are available, so 1.10.0 would be loaded for the install, correct?

[2022-02-24 16:03] kgerheiser commented on #379
Good point @DavidHuber-NOAA. Yes, that would be an issue if you don't carefully order your module loads.

[2022-02-24 16:36] WenMeng-NOAA commented on #379
That's my concern. g2tmp/1.10.0 aims for GFSV17 implementation not GFS V16.

[2022-02-24 16:51] DavidHuber-NOAA commented on #379
@kgerheiser While it is true that you need to be careful about load order when using the hpc-stack modules, what I meant was that the hpc-stack install scripts also load the default modules.

Taking the upp/g2tmpl example, see the [dependency loads for the UPP in build_nceplibs.sh](https://github.com/NOAA-EMC/hpc-stack/blob/59e8a753227a86a0cdec9d16942dda6f71815eb4/libs/build_nceplibs.sh#L131).  Si

[2022-02-24 16:53] kgerheiser commented on #379
Yes, it would build using the default modules. However, the `default` is updated whenever a new package is installed so if a new g2tmpl is installed that would become the default and UPP would build with 1.9.1, for example.

[2022-02-24 16:55] DavidHuber-NOAA commented on #379
Ah, that makes sense.  Thanks for clarifying.

[2022-02-25 14:00] junwang-noaa commented on #379
@kgerheiser I am building the GFS.v16 using the module files you listed on orion, I got the error message:

ifort: error #10236: File not found:  '/opt/modules/intel-2018.4/crtm/2.3.0/lib/libcrtm.a'

The module file is: /work/noaa/nems/junwang/gfs_v16/20220223/ufs-weather-model/modulefiles/orion.intel/fv3.lua with crtm loaded as:

crtm_ver=os.getenv("crtm_ver") or "2.3.0"
load(pathJoin("crtm", crt

[2022-02-25 15:32] BinLiu-NOAA opened #395 "[INSTALL] fms/2021.04"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
Please provide the name of the software you would like installed on the HPCs.  Ensure the software exists in the list of supported software.  If new software needs to be added to the stack, use the [add_package_request.md](./add_packa

[2022-02-25 15:50] kgerheiser commented on #379
@junwang-noaa looks like you're picking up the wrong crtm module at `/opt/modules`.

Manually running

[code]

[code]

[2022-02-28 16:55] kgerheiser commented on #378
@junwang-noaa it was recommended by an RDHPCS admin that we should use Intel 2022. 2021 contains the log4j vulnerability.

[2022-02-28 16:59] junwang-noaa commented on #378
Sure. If you have the library installed with Intel 2022, we can do some testing with ufs-weather-model. Currently we have one platform (cheyenne) running with Intel 2021.02 and it works fine, we haven't tried Intel 2022 yet.

[2022-02-28 17:03] Hang-Lei-NOAA commented on #378
Hi, Jun
I will install the library installed with Intel 2022 on hera this afternoon
and evening, and you can try it tomorrow.
Thanks,
Hang

On Mon, Feb 28, 2022 at 12:00 PM Jun Wang ***@***.***> wrote:

[2022-02-28 17:17] jkbk2004 commented on #378
@kgerheiser @junwang-noaa @Hang-Lei-NOAA let me know if intel2022 option is available on orion
. I can quickly launch out RT test.

[2022-02-28 17:17] kgerheiser commented on #378
@Hang-Lei-NOAA just FYI, Hera will be undergoing maintenance tomorrow.

[2022-02-28 17:40] kgerheiser commented on #378
The 2022 compilers aren't available on Orion, but I put in a request to have them installed.

[2022-02-28 20:19] #388 closed, assigned to kgerheiser

[2022-02-28 22:18] kgerheiser commented on #378
Orion admins are in the process of installing the new compilers.

[2022-03-01 13:48] DavidHuber-NOAA opened #396 "proj build fails to locate sqlite3"
**Describe the bug**
When attempting to build proj 7.1.0 on S4 with the 2022 compilers, CMake is unable to locate the sqlite3 package that was also installed by hpc-stack.  Instead, it finds the system version, which is too old to support proj.  I have reproduced the same error on Orion with the version 2018 compilers.  The HPC-stack clone on Orion can be found here: /work/noaa/nesdis-rdo2/dhuber/

[2022-03-01 14:21] kgerheiser commented on #396
Probably just need to set a way for CMake to find it.

CMake has a built-in find module https://cmake.org/cmake/help/latest/module/FindSQLite3.html

@DavidHuber-NOAA are you building with modules?

[2022-03-01 14:23] kgerheiser commented on #379
I think installing it in its own location might be the move, just to avoid mixing up libraries and versions, and installing otherwise outdated packages (i.e. wgrib2 2.0.7, g2tmpl, etc). Will do that on Orion today now that the related PR has been merged.

[2022-03-01 14:25] KateFriedman-NOAA commented on #379
@kgerheiser Based on others replies/concerns I agree. Will you be doing the same separate install on Hera? Thanks!

[2022-03-01 14:26] kgerheiser commented on #379
Yes, but I believe it's down for maintenance today.

[2022-03-01 15:02] DavidHuber-NOAA commented on #396
@kgerheiser It looks like @natalie-perlin has a fix for this in #394.  Merging her branch onto my Orion clone allowed proj to build.  I'm good with closing this issue when that branch is merged.

[2022-03-02 14:08] DavidHuber-NOAA commented on #396
Fixed with the merge of #394.

[2022-03-02 14:08] #396 closed, assigned to nobody

[2022-03-02 15:30] kgerheiser opened #398 "Cannot build NCO on Hera because of missing Antlr library"
**Describe the bug**
NCO fails to build on Hera because of missing Antlr libraries/headers. I found a workaround by adding `--enable-ncap2=no` to the configure arguments to disable the C++ library. And as we don't use C++, I think this is the best solution.

**To Reproduce**
Build stack_gfsv16 on Hera

**System:**

Hera

**Additional context**
Add any other context about the problem here.

[2022-03-02 15:37] junwang-noaa commented on #379
@kgerheiser I still got some error on orion with the new libpng/1.6.37 lib:
/work/noaa/stmp/gkyle/hpc-stack-gfsv16/install/intel-2018.4/libpng/1.6.37/lib64/libpng.a(pngrutil.c.o): In function `png_handle_iCCP':
pngrutil.c:(.text+0xf46): undefined reference to `inflateValidate'
/work/noaa/stmp/gkyle/hpc-stack-gfsv16/install/intel-2018.4/libpng/1.6.37/lib64/libpng.a(pngrutil.c.o): In function `png_d

[2022-03-02 15:50] kgerheiser commented on #379
So, that's an error on linking to zlib. Can you point me towards what you're building, and the full error message including the link line (presumably a couple lines above your error).

[2022-03-02 16:21] junwang-noaa commented on #379
Thanks for the suggestion. After setting ZLIB_LIB, instead of Z_LIB, the issue is resolved. Thanks

[2022-03-02 18:48] kgerheiser commented on #398
Fixed with #399

[2022-03-02 18:48] #398 closed, assigned to nobody

[2022-03-02 18:48] kgerheiser commented on #390
Fixed with #392

[2022-03-02 18:48] #390 closed, assigned to kgerheiser

[2022-03-02 19:10] Hang-Lei-NOAA commented on #379
The installation based on hera new compiler has been added on

 /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack-gfsv16/modulefiles/stack

Please give it a try.

On Wed, Mar 2, 2022 at 11:22 AM Jun Wang ***@***.***> wrote:

[2022-03-02 19:11] kgerheiser commented on #379
The build is ongoing on Orion. Will be done shortly.

[2022-03-02 19:15] junwang-noaa commented on #379
What is the intel compiler version for the build on hera and orion?

On Wed, Mar 2, 2022 at 2:11 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-03-02 19:16] kgerheiser commented on #379
It's 2018.4 on Orion and 18.0.5.274 on Hera

[2022-03-02 19:20] KateFriedman-NOAA commented on #379
Thanks @Hang-Lei-NOAA ! I'll try it with the global-workflow `dev_v16` branch and report back.

[2022-03-02 19:21] WenMeng-NOAA commented on #379
I can't find intel 2018 on Hera.
[code]

[2022-03-02 19:22] kgerheiser commented on #379
@WenMeng-NOAA try `module --ignore_cache avail` it can take time for the modules to appear in LMod.

[2022-03-02 19:56] KateFriedman-NOAA commented on #379
I tried that and still don't see the 2018 copies:
[code]

If I do a listing under there I only see the 2022.1.2 file:
[code]

@Hang-Lei-NOAA is the 2018 version still being installed? Thanks!

[2022-03-02 20:06] junwang-noaa commented on #379
@kgerheiser @Hang-Lei-NOAA @KateFriedman-NOAA Just let you know that hera admin was suggesting us moving to the newer Intel compiler as Intel stopped supporting Intel 2019. Here is the message:

"According to this document from Intel, even the Intel 2019 has been off support as of end of 2021:

https://www.intel.com/content/www/us/en/developer/articles/release-notes/intel-parallel-studio-xe-suppor

[2022-03-02 20:09] kgerheiser commented on #379
Sorry, a bit of a miscommunication there. I installed with 2018.4 on Orion and Hang did 2022.2. If everyone is ok with 2022.1 I will re-build.

[2022-03-02 20:12] KateFriedman-NOAA commented on #379
Keep the 2018 for now @kgerheiser ...need to make sure 2022 will work for the v16 components...

@junwang-noaa Ok...since I'm not a code developer my next question is...will our current GFSv16.2.0 components work with the newer Intel version? Are any code changes needed to move to this newer version? This is a question for everyone @MichaelLueken-NOAA @WenMeng-NOAA @HelinWei-NOAA @GeorgeGayno-NOAA

[2022-03-02 20:14] GeorgeGayno-NOAA commented on #379
@KateFriedman-NOAA What version of netcdf do you want me to use? Currently, (on Hera) I am pointing to a parallel version: https://github.com/ufs-community/UFS_UTILS/blob/3c5a3508cb3d7cda6f728bb20c0bf2d533268381/modulefiles/fv3gfs/global_cycle.hera.lua#L27

Should I use the hpc-stack version?

[2022-03-02 20:21] KateFriedman-NOAA commented on #379
@GeorgeGayno-NOAA Please use the `netcdf/4.7.4` version and not the parallel version anymore. And yes, please use the hpc-stack version. For supporting GFSv16.2.0 on Hera/Orion we will all be using these special `hpc-stack-gfsv16` hpc-stack installs that Hang and Kyle are installing for us now. WCOSS2 ops will remain as is. GFSv17 will use the newer/non-special hpc-stack installs. Thanks for check

[2022-03-02 20:24] WenMeng-NOAA commented on #379
The UPP executable is able to be built with hpc-intel/2022.1.2 and hpc-impi/2022.1.2 on Hera.

[2022-03-02 20:37] KateFriedman-NOAA commented on #379
@Hang-Lei-NOAA I see `wrf_io/1.2.0` but we're setting `export wrf_io_ver=1.1.1` elsewhere (available on WCOSS2 and Orion currently). Can we get `wrf_io/1.1.1` in the Hera `hps-stack-gfsv16` stack or do you know if `wrf_io/1.2.0` will work similarly?

All of the other needed module versions that global-workflow loads appear to be available. Thanks!

[2022-03-02 22:20] kgerheiser commented on #379
@KateFriedman-NOAA I would expect wrf_io v1.2.0 to work.

v1.1.1 was updated to v1.2.0 because the GSI build wasn't working with v1.1.1. We fixed that, and released 1.2.0 which is compatible with both UPP (@GeorgeVandenberghe-NOAA ran some tests) and GSI.

[2022-03-02 22:31] kgerheiser commented on #379
I have also finished compiling on Orion at `module use /apps/contrib/NCEP/libs/hpc-stack-gfsv16/modulefiles/stack`.

In there you will find modules for `hpc-intel/2022.1.2` and `hpc-intel/2018.4`. You can test and compare as you wish, and depending on which version we go with I'll remove the unused one.

[2022-03-02 23:30] Hang-Lei-NOAA commented on #379
I could add the requested intel version for GFSv16.2 project. Is it intel
18.0.5.274?

On Wed, Mar 2, 2022 at 5:31 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-03-03 00:09] Hang-Lei-NOAA commented on #379
@KateFriedman-NOAA <https://github.com/KateFriedman-NOAA>  I have added an
installation based on intel 18.0.5.274 under the same location :
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack-gfsv16/
You will see both intel-18.0.5.274 and intel-2022.1.2. Please decide which
works best for you.

In addition to this, I will finish the update of the official installation
on  /scratch2/NCEPDEV/nwprod/hp

[2022-03-03 02:31] WenMeng-NOAA commented on #379
UPP still uses crtm/2.3.0 for GFS V16.2.

[2022-03-03 13:53] Hang-Lei-NOAA commented on #383
The Hera crtm v2.3.0has been updated.

[2022-03-03 14:10] Hang-Lei-NOAA commented on #395
The fms/2021.04 was added on hera for a try.

[2022-03-03 14:17] Hang-Lei-NOAA opened #400 "Update the CRTM installation"
**Is your feature request related to a problem? Please describe.**
(1) CRTM team has updated one fix file specific for GSI use in EMC. Need to do two special operations on fix files of crtm_v2.4.0 installations.   (2) update script to keep the pre-downloaded fix file, for some machine as Hera. wget is forbiden. Therefore, pre-download is the only way.

**Describe the solution you'd like**
       T

[2022-03-03 14:34] KateFriedman-NOAA commented on #379
Noted, thanks! We're still going to be using `crtm/2.3.0` for the GFSv16.2.0 system but it's good to have the newer one for GFSv17 work.

Ok good, thanks @kgerheiser !

Thanks @Hang-Lei-NOAA , appreciate you installing that on Hera! ~~Since this install is for supporting the v16.2.0 and should match the ops version I prefer to stick with the 2018 install. I will test the 2018 install for the g-w b

[2022-03-03 15:33] kgerheiser commented on #395
I have installed FMS 2021.04 on Orion, Jet, and Gaea.

[2022-03-03 15:37] climbfuji commented on #395
What about Cheyenne, should I do that?

[2022-03-03 15:39] kgerheiser commented on #395
@climbfuji are you still maintaining that? If so, then yes.

[2022-03-03 15:40] climbfuji commented on #395
EPIC is supposed to take over, but maybe that hasn’t happened yet. @mark-a-potts ?

[2022-03-03 16:05] KateFriedman-NOAA commented on #379
Alrighty, just spoke with @arunchawla-NOAA offline and am pulling back on my request to stick with the 2018 versions.

@junwang-noaa @MichaelLueken-NOAA @WenMeng-NOAA @GeorgeGayno-NOAA @HelinWei-NOAA @YaliMao-NOAA Let's all try to build our respective v16.2.0 components on Hera/Orion using the newer 2022 intel version that @Hang-Lei-NOAA and @kgerheiser installed for us and see if we run into any

[2022-03-03 16:46] Hang-Lei-NOAA commented on #379
@Kate Friedman - NOAA Federal ***@***.***> no worries. We are
here to support what you guys need.

On Thu, Mar 3, 2022 at 11:06 AM Kate Friedman ***@***.***>
wrote:

[2022-03-03 17:02] christopherwharrop-noaa opened #402 "Install latest w3emc on Jet"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
w3emc

**What is the version/tag of the software?**
The latest version.  As long as it is >= 2.9.1

**What compilation options would you like set?**
Default

**Which machines would you like to have the software installed?**
Jet

**Any

[2022-03-03 17:11] kgerheiser commented on #402
Complete on Jet

[2022-03-03 17:13] climbfuji commented on #395
I'll do that later today ...

[2022-03-03 17:13] kgerheiser commented on #402
2.9.2 btw, which has a minor CMake difference compared to 2.9.1

[2022-03-03 17:15] christopherwharrop-noaa commented on #402
@kgerheiser I see it!  Thank you for such amazing turn around.

[2022-03-03 17:15] #402 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2022-03-03 17:21] christopherwharrop-noaa opened #403 "Install latest w3emc on Cheyenne"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
w3emc

**What is the version/tag of the software?**
2.9.2

**What compilation options would you like set?**
Default

**Which machines would you like to have the software installed?**
Cheyenne

**Any other relevant information that we

[2022-03-03 17:21] kgerheiser commented on #403
We will install it across all platforms.

[2022-03-03 17:22] climbfuji commented on #403
Will do tonight on cheyenne when I do FMS ...

[2022-03-03 17:22] christopherwharrop-noaa commented on #403
@kgerheiser - Thank you!

[2022-03-03 17:24] christopherwharrop-noaa commented on #403
Thanks @climbfuji !

[2022-03-03 17:31] WenMeng-NOAA commented on #379
@KateFriedman-NOAA @Hang-Lei-NOAA @kgerheiser I have been testing UPP on Hera and see the following error from wgrib2/2.0.7:
[code]
Can you take a look at it?

[2022-03-03 17:33] kgerheiser commented on #379
@WenMeng-NOAA that's a configuration issue on our end. I had set wgrib2 to build with ip2 (not ip).

[2022-03-03 17:36] WenMeng-NOAA commented on #379
@KateFriedman-NOAA @kgerheiser @Hang-Lei-NOAA I have been testing UPP on Orion and have runtime failure as"
[code]

The loaded modules for runtime are:
[code]
Please advise the fix.

[2022-03-03 17:38] kgerheiser commented on #379
That's an ugly bug.Looks like it's coming from MPI. ~~Is that with 2018 or 2021?~~ I see it coming from 2022. And could I ask you to try the opposite compiler with `module swap hpc-intel/2022.1.2 hpc-intel/2018.4`

[2022-03-03 17:42] WenMeng-NOAA commented on #379
@kgerheiser Would I swap hpc-intel from 2022.1.2 to 2018 for both compiling and runtime?

[2022-03-03 17:44] kgerheiser commented on #379
Yes. You can just load the hpc-intel/2018.4 compiler as you normally would. Everything besides MPI is the same underneath.

[2022-03-03 17:51] kgerheiser opened #405 "Update nccmp to 1.9.10"
Let's update to the newest release of nccmp 1.9.10. We already build it, but it's good to keep up-to-date once in a whie. @DusanJovic-NOAA was testing nccmp for UFS NetCDF file comparison and found it to be significantly faster than the Python script.
[code]

**Describe the solution you'd like**
Add nccmp 1.9.10

[2022-03-03 18:04] HelinWei-NOAA commented on #379
@KateFriedman-NOAA GLDAS was built successfully on Hera/Orion using the newer 2022 intel version.

[2022-03-03 18:15] #400 closed, assigned to Hang-Lei-NOAA

[2022-03-03 18:24] WenMeng-NOAA commented on #379
@kgerheiser UPP is working with intel/2018.4 on Orion. But I saw the same IPOLATES package issue for wgrib2/2.0.7.

[2022-03-03 18:36] KateFriedman-NOAA commented on #379
@Hang-Lei-NOAA @kgerheiser I am able to successfully build the GFSv16.2 global-workflow-owned codes on both Hera and Orion using the new `hpc-stack-gfsv16` 2022 intel stack install (`hpc/1.2.0`, `hpc-intel/2022.1.2`, `hpc-impi/2022.1.2`). These execs:

[code]

I'm not using `wgrib2/2.0.7` in any of those builds though so I can't comment on @WenMeng-NOAA's issue.

Note, if one of the GFS components

[2022-03-03 18:38] kgerheiser commented on #379
The wgrib2 problem is fixed with #404, but it's concerning that there's an MPI failure with Intel 2022. @WenMeng-NOAA could I ask you to try the same test on Hera with both versions of Intel.

[2022-03-03 18:49] Hang-Lei-NOAA commented on #379
wgrib2/2.0.7 has been updated on hera. Should be fine now.

On Thu, Mar 3, 2022 at 1:36 PM Kate Friedman ***@***.***>
wrote:

[2022-03-03 19:25] GeorgeGayno-NOAA commented on #379
@kgerheiser and @Hang-Lei-NOAA I am trying to compile a program using the stack version of netcdf (4.7.4). At the link step, there are numerous undefined references. This happens on both Orion and Hera. Here is an example:

[code]

[2022-03-03 19:27] WenMeng-NOAA commented on #379
@GeorgeGayno-NOAA You might try:
NETCDF_LDFLAGS = -L$(NETCDF)/lib -lnetcdff -lnetcdf -L$(HDF5_LIBRARIES) -lhdf5_hl -lhdf5 $(ZLIB_LIB)

[2022-03-03 19:28] kgerheiser commented on #379
@WenMeng-NOAA's solution looks correct. @GeorgeGayno-NOAA guessing it's the link order.

[2022-03-03 19:34] KateFriedman-NOAA commented on #379
NETCDF_LDFLAGS = -L$(NETCDF)/lib -lnetcdff -lnetcdf -L$(HDF5_LIBRARIES) -lhdf5_hl -lhdf5 $(ZLIB_LIB)

I second what @WenMeng-NOAA said, I had to add something similar for a few g-w codes on Hera/Orion.

[2022-03-03 19:34] GeorgeVandenberghe-NOAA commented on #379
Okay,  checking this on Jet,  how do I switch out the compiler in these modules

module use /lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/modulefiles/stack
module load hpc/1.1.0
module load hpc-intel/18.0.5.274
module load hpc-impi/2018.4.274

module load jasper/2.0.22
module load zlib/1.2.11
module load png/1.6.35

module load hdf5/1.10.6
module load netcdf/4.7.4

module load bacio/2.4.1
module load c

[2022-03-03 19:35] GeorgeVandenberghe-NOAA commented on #379
My above comment applies to Jet.

[2022-03-03 19:56] WenMeng-NOAA commented on #379
@kgerheiser The wgrib2/2.0.7 issue was solved on Hera but not on Orion. I use intel/2018 on Orion.

[2022-03-03 20:22] kgerheiser commented on #379
@WenMeng-NOAA the wgrib2 fix has been applied on Orion.

@GeorgeVandenberghe-NOAA what are you trying to test on Jet? After you load the hpc-stack modules you can load `intel/2022.1.2`, and I think that should do what you want. You'll still be able to use intel/2018 modules but also be able to use Intel 2022 yourself.

[2022-03-03 20:48] WenMeng-NOAA commented on #379
Here are my UPP testing status:
Hera: working with both intel/2022 and intel/18.0.5.274
Orion: working with intel/2018.4

[2022-03-03 21:06] kgerheiser commented on #379
@WenMeng-NOAA is it easy to reproduce the error you're seeing? I would like to try running it. I've also put in a ticket to Orion admins.

[2022-03-04 01:03] GeorgeVandenberghe-NOAA commented on #379
I tried switching compiler and impi levels to the 2022 versions on Jet  and rebuilt UPP.  It ran fine with both the new impi and the new intel compiler in the runtime environment.   The old impi was in the build environment but I think those calls are shared and the runtime envionment is what's relevant.   Point is IT DOES NOT LOOK LIKE THE ORION FAILURES with the 22 stack are occurring with impi/

[2022-03-04 02:27] WenMeng-NOAA commented on #379
@kgerheiser The failure is reproducible. My UPP version is at /home/wmeng/ovp/ncep_post/post_gfsv16_hpc/UPP on Orion.
The runtime log is /home/wmeng/ovp/ncep_post/post_gfsv16_hpc/UPP/out.post.fv3gfs. The job card is /home/wmeng/ovp/ncep_post/post_gfsv16_hpc/UPP/run_post_fv3gfsv16_ORION.sh.

[2022-03-04 03:41] climbfuji commented on #403
w3emc 2.9.2 now available on Cheyenne for Intel and GNU:

Intel
[code]
GNU
[code]

[2022-03-04 03:41] climbfuji commented on #395
fms 2021.04. now available on Cheyenne for Intel and GNU:

Intel
[code]
GNU
[code]

[2022-03-04 11:44] BinLiu-NOAA commented on #395
Thanks to all for installing this newer version of fms/2021.04! My build on Orion, Hera, and Jet using this fms/2021.04 went through successfully. Meanwhile, will someone also help to install it on wcoss cray and dell?
BTW, I noticed that currently on Hera, ufs-weather-model actually uses the fms/2021.03-avx version. @junwang-noaa or others, is there a reason to use a different fms installation (f

[2022-03-04 13:53] climbfuji commented on #395
2021.03 on hera was accidentally installed w/o AVX2 flags. We didn't want to go back and change it retrospectively, as this would have invalidated previous baselines. Therefore the correct installation was added later as 2021.03-avx. Hopefully this time round 2021.04 was compiled with AVX2.

[2022-03-04 14:12] BinLiu-NOAA commented on #395
@climbfuji, Thanks for the information/context about the fms/2021.03-avx! And, agreed, if fms/2021.04 is properly installed on all supported platforms, then it can be unified to use the same version inside ufs_common. Thanks!

[2022-03-04 14:37] kgerheiser commented on #379
The failure is coming from a call to MPI_INIT

https://github.com/NOAA-EMC/UPP/blob/30fcea8fcb8e753ad0c251ff21a7d6b353629686/sorc/ncep_post.fd/SETUP_SERVERS.f#L80

[code]

[2022-03-04 14:39] Hang-Lei-NOAA commented on #395
It was installed on wcoss-dell.
I will add the individual version on cray today

On Fri, Mar 4, 2022 at 6:44 AM Bin Liu ***@***.***> wrote:

[2022-03-04 14:40] kgerheiser commented on #395
@Hang-Lei-NOAA what do you mean by "individual version"?

[2022-03-04 14:42] Hang-Lei-NOAA commented on #395
It was added without using hpc-stack

On Fri, Mar 4, 2022 at 9:40 AM Kyle Gerheiser ***@***.***>
wrote:

[2022-03-04 14:43] kgerheiser commented on #395
Ah, that typo of "cary" confused me

[2022-03-04 14:44] kgerheiser commented on #384
Fixed with #385

[2022-03-04 14:44] #384 closed, assigned to nobody

[2022-03-04 14:48] kgerheiser commented on #379
@WenMeng-NOAA the Orion sysadmins found a typo in their Intel/2022.1.2 modulefile. Could you give it a rebuild and try again?

[2022-03-04 15:18] WenMeng-NOAA commented on #379
@kgerheiser With rebuilt UPP executable, I still got failure at runtime. Here are runtime loaded modules:
[code]
Please let me know anything I should try.

[2022-03-04 15:29] GeorgeVandenberghe-NOAA commented on #379
Try compiling and running the code below with the post build environment

         program simple
           use mpi
          integer*8 size,s1,s2
         real, allocatable ::  a(:,:),b(:,:)
         call mpi_init(ier)
         call mpi_comm_size(mpi_comm_world,nsize,ier)
         call mpi_comm_rank(mpi_comm_world,nrank,ier)
         mbyte=262144
         mco=500
         allocate(a(mbyte,mco))

[2022-03-04 16:37] christopherwharrop-noaa commented on #403
I was successful in my build on Cheyenne after the install.  Thank you.  This can be closed.  I'd just do it, except @kgerheiser mentioned installing the new `w3emc` on all platforms, so wasn't sure if he'd want this closed yet or not.  I'll leave that up to @kgerheiser and @climbfuji .

[2022-03-04 19:32] kgerheiser commented on #379
@GeorgeVandenberghe-NOAA the test program ran successfully.

`srun -A nems -N 8 --ntasks-per-node=12 ./test`

[2022-03-04 20:50] kgerheiser commented on #379
@WenMeng-NOAA how do I compile the post executable? There are a bunch of different makefiles. I was able to run your test, but I would like to try adding some debug flags.

[2022-03-04 20:55] WenMeng-NOAA commented on #379
@kgerheiser You run the build script under sorc/build_ncep_post.sh. The makefile for GFSV16 on Orion is ncep_post.fd/makefile_module_hpc.

[2022-03-04 22:02] kgerheiser commented on #379
No luck with debug flags. I'm going to re-build everything from the ground up (in a personal location) to see if that helps.

[2022-03-05 00:47] kgerheiser commented on #379
I'm thinking this is a logic error in UPP. The code fails just a couple lines into the program, and it's not doing anything interesting except calling `MPI_init()`, where it fails.

It makes it just a few lines into the `WRFPOST.f` program where it calls `SETUP_SERVERS`. https://github.com/NOAA-EMC/UPP/blob/0168fbb0028d42d684d65ec9d4fdc524f99393f1/sorc/ncep_post.fd/WRFPOST.f#L187

And then fails o

[2022-03-07 14:53] kgerheiser commented on #379
Received some more feedback from Orion admins and they found another bug in their module. Going to test against a new build. This bug should be reproducible. It fails just several lines into the program and does nothing but call MPI_Init().

[2022-03-07 15:32] GeorgeVandenberghe-NOAA commented on #379
The following post build works fine on Orion and the built executable runs
to completion when the module swapping in bold below is also done in the
runscript.  So I haven't been able to
replicate the error on Orion.

#%Module######################################################################
# Wen Meng 01/2021, Set up config. with the hpc-stack NCEPLIBS.
########################################

[2022-03-07 15:40] kgerheiser commented on #379
@GeorgeVandenberghe-NOAA I was using the repo @WenMeng-NOAA pointed me to (`/work/noaa/stmp/gkyle/post_gfsv16_hpc`), and using the run script `/work/noaa/stmp/gkyle/post_gfsv16_hpc/UPP/run_post_fv3gfsv16_ORION.sh`. I am not familiar with how post works, but I was able to get the error when using that run script.

[2022-03-07 15:53] WenMeng-NOAA commented on #379
@kgerheiser and @GeorgeVandenberghe-NOAA From my testing of GFS V16.2 on Orion, UPP is working with interl/2018 but not intel/2022.1.2. I also tested on Hera, UPP is working with both  interl/18 and interl/2022/1.2 on Hera.

[2022-03-07 15:56] kgerheiser commented on #379
@WenMeng-NOAA is it possible to distill the run script to just the part where it runs the executable? Ideally, I could just run `srun ncep_post` from a directory that contains the necessary input.

[2022-03-07 16:43] kgerheiser commented on #379
I ran the executable directly (`srun -A nems -N 6 --ntasks-per-node=12 ./ncep_post`) and it gets past the MPI_init() phase fine, but when run with `sbatch run_post_fv3gfsv16_ORION.sh` the error occurs. I think it's something in the run script causing this.

[2022-03-07 17:01] GeorgeVandenberghe-NOAA commented on #379
A run directory is on /work/noaa/noaatest/gwv/post/da.    One just has to
cd to the directory and execute the post.
#!/bin/bash

#SBATCH -J  GFSV16
#SBATCH -A noaatest
#SBATCH -o test.out
#SBATCH -e test.out
#SBATCH --account=noaatest
#SBATCH --nodes=3
#SBATCH --tasks=20
#SBATCH --cpus-per-task=1

#SBATCH
#SBATCH -p orion
#SBATCH -t 0:20:00

module load  slurm

module unload intel
module load inte

[2022-03-07 17:09] kgerheiser commented on #379
@GeorgeVandenberghe-NOAA the directory is unreadable for me. Could you adjust the permissions?

`ls: cannot open directory /work/noaa/noaatest/gwv/post/: Permission denied`

[2022-03-07 17:14] WenMeng-NOAA commented on #379
@GeorgeVandenberghe-NOAA The PP version supporting gfs v16.2 is at
https://github.com/NOAA-EMC/UPP/tree/release/gfs_v16

This version uses GNU makefile to build UPP executable "ncep_post". The build scripts under sorc/build_ncep_post.sh

[2022-03-07 17:21] GeorgeVandenberghe-NOAA commented on #379
fixed

On Mon, Mar 7, 2022 at 12:10 PM Kyle Gerheiser ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2022-03-07 17:58] WenMeng-NOAA commented on #379
@GeorgeVandenberghe-NOAA Could you provide me the location of your UPP version?
I did another test on UPP develop branch with NCEPLIBs from /apps/contrib/NCEP/libs/hpc-stack-gfsv16/modulefiles/stack, interl/2022.1.2 and got the same failure.

[2022-03-07 18:03] WenMeng-NOAA commented on #379
@kgerheiser You might look at the run scripts run_post_fv3gfsv16_ORION.sh-2018 and run_post_fv3gfsv16_ORION.sh-2022 at
/home/wmeng/ovp/ncep_post/post_gfsv16_hpc/UPP. The only difference is NCEPLIBs version, one uses interl/2018 and another uses interl/2022.1.2.

[2022-03-07 18:13] GeorgeVandenberghe-NOAA commented on #379
I pulled it from the UPP master 3/4 PM.

This is the build module

%Module######################################################################
# Wen Meng 01/2021, Set up config. with the hpc-stack NCEPLIBS.
##############################################################################

proc ModulesHelp { } {
puts stderr "Loads modules required for building upp"
}
module-whatis "Loads UPP prerequ

[2022-03-07 19:12] WenMeng-NOAA commented on #379
@GeorgeVandenberghe-NOAA Could you give read permission of files from your testing run directory /work/noaa/noaatest/gwv/post/da:
[code]

[2022-03-07 19:56] GeorgeVandenberghe-NOAA commented on #379
Done.    I strongly suspect a modules issue in your running shell as does
Kyle.   My running shell loads the whole hpcstack/2018 environment
and then switches compiler and mpi level.   The building module does this
also.   This is a valid substitution; lower level libraries in the rest of
hpc_stack should
work with the higher level of MPI and the compiler.

The running job is ./bjob.   The build d

[2022-03-07 20:51] kgerheiser commented on #379
@WenMeng-NOAA @GeorgeVandenberghe-NOAA I potentially found a fix. I replaced `ulimit -s1900000000` with `ulimit -s unlimited` in `run_post_fv3gfsv16_ORION.sh` and I see the `MPI_init()` being called correctly.

It fails right afterwards because it can't open some grib2 file, but I think that's just a configuration error on my end.

In `outpost_gfs_2021082406_postcntrl_gfs.xml` I saw this error `ER

[2022-03-07 22:07] WenMeng-NOAA commented on #379
That's the root cause. Now UPP can be run through with intel/2022.1.2. @kgerheiser and @GeorgeVandenberghe-NOAA Thanks for debugging this UPP issue.

[2022-03-07 22:58] kgerheiser commented on #379
With UPP fixed are there any more outstanding issues with this? @KateFriedman-NOAA

[2022-03-08 14:20] KateFriedman-NOAA commented on #379
Let me double check with the GFS component CMs, most have replied that intel 2022 works for them now. @junwang-noaa @MichaelLueken-NOAA @WenMeng-NOAA @GeorgeGayno-NOAA @HelinWei-NOAA @YaliMao-NOAA Any outstanding issues with your respective components using intel 2022 on Hera or Orion? If not, do you have updated versions of your components that are ready for me to test within the GFS on Hera/Orio

[2022-03-08 14:28] MichaelLueken commented on #379
@KateFriedman-NOAA While the GSI will compile with Intel 2022, it will not run.  So, we will need to move forward with Intel 2018.

[2022-03-08 14:31] kgerheiser commented on #379
@MichaelLueken-NOAA why doesn't it run?

[2022-03-08 14:40] kgerheiser commented on #379
@KateFriedman-NOAA I would say yes about setting the stack size to unlimited. You can keep increasing it to some number that works, but this eliminates the possibility of running into it again. UFS_UTILS, for example, already sets it to unlimited in its regression tests.

[2022-03-08 14:47] KateFriedman-NOAA commented on #379
Cool, will do, thanks @kgerheiser !

[2022-03-08 14:58] MichaelLueken commented on #379
@kgerheiser The GSI segfaults in setuprad.  This was an issue with Intel 2021 and appears to still be an issue with Intel 2022.  The issue is in the GSI source code, which will require changes (once the issue is properly identified) to correct.

[2022-03-08 15:03] junwang-noaa commented on #379
@kgerheiser I am trying to load g2tmpl/1.9.1 and crtm/2.3.0 with intel 2022.1 version on orion, but somehow g2tmpl/1.10.1 and crtm/2.4.0 are loaded, do you know what happened?

Orion-login-3[183] junwang$ module purge
Orion-login-3[185] junwang$ module use -a /work/noaa/nems/junwang/gfs_v16/20220223/test/ufs-weather-model_atmonly/NEMS/src/conf
Orion-login-3[186] junwang$ module load modules.nems
O

[2022-03-08 15:07] kgerheiser commented on #379
You must have a polluted MODULEPATH because I run the commands manually from a clean environment and get the correct versions.

[code]

[2022-03-08 15:15] kgerheiser commented on #379
@MichaelLueken-NOAA is this something we could attempt to debug some? Throw in some debug compiler flags and maybe it'll reveal itself as a simple array out-of-bounds, or something like that.

[2022-03-08 15:25] junwang-noaa commented on #379
@kgerheiser I have this:
Orion-login-3[223] junwang$ module purge
Orion-login-3[224] junwang$ module use /apps/contrib/NCEP/libs/hpc-stack-gfsv16/modulefiles/stack
Orion-login-3[225] junwang$ module load hpc/1.2.0
Orion-login-3[226] junwang$ module load hpc-intel/2022.1.2
Orion-login-3[227] junwang$ module load hpc-impi/2022.1.2
Orion-login-3[228] junwang$ module load g2tmpl/1.9.1
Orion-login-3[22

[2022-03-08 15:29] kgerheiser commented on #379
@junwang-noaa you must have a different stack in your `MODULEPATH`, there is no way to cross versions like that if you start with a clean environment. Try `echo $MODULEPATH`, see the 2018 stack path, and `module unuse <path>`. Or start with a fresh shell.

[2022-03-08 15:55] MichaelLueken commented on #379
@kgerheiser Unfortunately, the GSI can't encounters a divide by zero failure due to a compiler bug in the CRTM when attempting to run using debug compiler flags.  The CRTM failure occurs before the issue associated with setuprad, making it much more difficult to find the issue.

@KateFriedman-NOAA Are we supposed to be making changes to the GFSv16.2.0 source code to make the updated hpc-stack modu

[2022-03-08 15:58] junwang-noaa commented on #379
@kgerheiser You are right. I have intel 2018 module path in my MODULEPATH. I am retesting it, thanks.

[2022-03-08 16:04] KateFriedman-NOAA commented on #379
@MichaelLueken-NOAA How extensive would the code changes be? We're supposed to avoid code changes in the v16.2.0 versions but if we have to move to intel 2022 on Hera/Orion and code changes are required then this can't be avoided. @arunchawla-NOAA thoughts?

[2022-03-09 03:42] kgerheiser commented on #395
Looks like it's installed everywhere. Going to close this unless there are any outstanding issues.

[2022-03-09 03:42] #395 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2022-03-09 19:16] MichaelLueken commented on #379
@KateFriedman-NOAA I was able to build my bug fixed version of CRTM v2.3.0 using Intel 2022 without issue.  I replaced the hpc-stack CRTM with my corrected version, recompiled the DA components in debug mode, and submitted the test.  The test ran through to completion without issue.  Recompiling the GSI without debug options, and still using the corrected CRTM v2.3.0 library, I resubmitted the tes

[2022-03-09 19:34] arunchawla-NOAA commented on #379
It looks like we will need to have an intel 18.5 stack to support gfs v16.2.0 on orion and hera, but we should create an issue to solve this problem with intel 2022.1, perhaps by the time gfs v16.2.1 comes along we can move to intel 2022.1 compiler. This is not an issue with intel 19 compilers on wcoss2 Mike ?

[2022-03-10 14:45] KateFriedman-NOAA commented on #379
@arunchawla-NOAA What would the "intel 18.5" stack have compared to the current intel 2018 stack that Hang/Kyle have installed for us? The fixed crtm version? @MichaelLueken-NOAA

[2022-03-10 14:53] MichaelLueken commented on #379
@arunchawla-NOAA There is no need for an intel 18.5 stack on Orion/Hera.  Kyle and Hang have Intel 2018 hpc-stack built libraries on both machines.  There is no need to add a fixed crtm version, since the fix is already in crtm/2.4.0 (though, the GSI hasn't been updated to use crtm/2.4.0 as of this time).  As for the Intel 2019 on WCOSS2, the GSI has been running fine on that machine with the 2019

[2022-03-10 15:01] KateFriedman-NOAA commented on #379
@MichaelLueken-NOAA Gotcha...if we stick with the intel 2018 stack on Hera/Orion should I point global-workflow to use `crtm/2.4.0`? Any remaining issues if we stick with intel 2018 for v16.2 on Hera/Orion?

@junwang-noaa @WenMeng-NOAA @GeorgeGayno-NOAA @HelinWei-NOAA @YaliMao-NOAA Given the issues with the GSI moving to the newer intel we are going to have to stick with the intel 2018 stack on He

[2022-03-10 15:01] Hang-Lei-NOAA commented on #379
The intel/2018 compiler on Hera is called as intel/18.0.5.274 versus the
other old compiler intel/18.0.1.163, It is briefed as intel/18.5.
On orion, the intel/2018 compiler is called as intel/2018.4
I think Arun use the hera name.
The crtm v2.3.0 is different from v2.4.0. However, all fix files have been
added to the old v2.3.0 (fixed/update) and v2.4.0 installations.

On Thu, Mar 10, 2022 at 9:54

[2022-03-10 15:04] KateFriedman-NOAA commented on #379
Ok, sounds like we should be ok to stick with `crtm/2.3.0` then. Thanks @Hang-Lei-NOAA ! Please confirm @MichaelLueken-NOAA , thanks!

[2022-03-10 15:08] Hang-Lei-NOAA commented on #379
Ben, Haixia and I, we worked together till last Friday, finally get the
last issue for crtm v2.4.0 fixed.
So, now the GSI tests based on crtm v2.3.0 and v2.4.0 get the same result.

On Thu, Mar 10, 2022 at 10:05 AM Kate Friedman ***@***.***>
wrote:

[2022-03-10 15:11] KateFriedman-NOAA commented on #379
Oh ok, excellent! Will see which version @MichaelLueken-NOAA tells me to use for the GSI within the GFS and will go forward with that version for GFSv16.2 on Hera/Orion. Thanks @Hang-Lei-NOAA !

[2022-03-10 15:21] junwang-noaa commented on #379
@KateFriedman-NOAA I tested Intel 2022 version on hera/intel with atm only configuration, the model works fine. I will test atm only with Intel 2018 version and get wave component updated when the changes are ready.

[2022-03-10 15:22] WenMeng-NOAA commented on #379
@KateFriedman-NOAA UPP supporting GFS V16.2.0 uses crtm/2.3.0.

[2022-03-10 15:37] KateFriedman-NOAA commented on #379
Thanks @junwang-noaa ! I can start testing cycling with intel 2018 and atmos-only (waves turned off) next week if you have something that works while waiting for wave updates. Let me know, thanks!

Gotcha, thanks for confirming @WenMeng-NOAA !

[2022-03-10 17:47] MichaelLueken commented on #379
@KateFriedman-NOAA We should continue pointing at crtm/2.3.0 until the GSI repository has been updated to handle crtm/2.4.0.

[2022-03-10 18:07] KateFriedman-NOAA commented on #379
Roger that, will stick wtih `crtm/2.3.0'. Thanks @MichaelLueken-NOAA !

[2022-03-15 01:43] junwang-noaa commented on #379
@KateFriedman-NOAA I tested the Intel 2018 hpc-stack in my branch: https://github.com/junwang-noaa/ufs-weather-model/tree/modulefileRnD. It works for atmos-only runs on hera and orion. Please let me know if you have any questions.

[2022-03-15 01:56] junwang-noaa commented on #378
@Hang-Lei-NOAA May I ask if the library installed with Intel 2022 is available on hera? Thanks.

[2022-03-15 02:00] jkbk2004 commented on #378
@junwang-noaa @Hang-Lei-NOAA I tried to install hpc-stack with intel22 on /work/noaa/epic-ps/jongkim/stacks/libs-intel2022.1.2. I may go ahead to do butterfly test on orion first. I am trying to install hpc-stack with intel2022 on Cheynne as well.

[2022-03-15 02:06] junwang-noaa opened #407 "[INSTALL] Install ESMF 8.3.0bs09"
Note: Please search to see if an issue already exists for the software you are requesting to be installed.

**Which software in the stack would you like installed?**
ESMF
**What is the version/tag of the software?**
8.3.0bs09
**What compilation options would you like set?**
Same as previous version
**Which machines would you like to have the software installed?**
Dell, cray, hera, jet , gaea, orio

[2022-03-15 02:06] junwang-noaa commented on #407
@jkbk2004 FYI.

[2022-03-15 02:08] jkbk2004 commented on #407
@junwang-noaa https://github.com/esmf-org/esmf/releases/tag/v8.3.0b09

[2022-03-15 02:20] Hang-Lei-NOAA commented on #378
@Jong Kim - NOAA Affiliate ***@***.***> @Jun Wang - NOAA Federal
***@***.***>  Library installed with Intel 2022 is available on
hera. For both gfsv16.2 and standard official installations. If extra
versions are needed, please let me know

On Mon, Mar 14, 2022 at 10:00 PM JONG KIM ***@***.***> wrote:

[2022-03-15 15:18] junwang-noaa commented on #407
@rsdunlapiv @theurich FYI.

[2022-03-15 15:43] junwang-noaa commented on #378
@Hang-Lei-NOAA I got the following error when loading the libraries with intel 2022 on hera in ufs-weather-model develop branch:

module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc/1.1.0
module load hpc-intel/2022.1.2
module load hpc-impi/2022.1.2

error:
Lmod has detected the following error: These module(s) or extension(s) exist
but cannot be loaded as

[2022-03-15 15:49] jkbk2004 commented on #378
@junwang-noaa intel2022 hpc-stack on Cheyenne: /glade/scratch/jongkim/stacks/libs-intel2022.1.2/modulefiles/stack. I will run the butterfly test on both Orion and Cheyenne.

[2022-03-15 16:01] Hang-Lei-NOAA commented on #378
@Jun Wang - NOAA Federal ***@***.***> the new installation with
intel/2022.1.2 was only installed with the latest hpc-stack module
versions. so, for jasper, please  module load jasper/2.0.25
all available libs are:
----------------------------------------------------------------------
/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/mpi/intel/2022.1.2/impi/2022.1.2
-------------------

[2022-03-15 16:19] WalterKolczynski-NOAA opened #408 "Add global workflow miniconda environment"
**Please describe the package or library you would like to add to hpc-stack.**
We would like a python virtual environment for global workflow
[code]

**What applications at NOAA will be using this package or library?**
global-workflow

**Is there already a package or library in hpc-stack that provides this, or related, functionality?**
miniconda

**Additional context**
None

**Will This Package be

[2022-03-15 17:03] junwang-noaa commented on #378
@Hang-Lei-NOAA We need to evaluate the impact of intel compiler version change before we can use the modules in ufs-weather-model. I do see new versions of jasper, g2, pio and crtm, do you know if they will change results compared to previous versions? If yes, then we still need the previous versions.

Also the gftl-shared/v1.3.3, esmf/8_2_1bs04 and MAPL/2.11.o are still missing.

[2022-03-15 17:06] climbfuji commented on #408
Pinging @kgerheiser because all this will be available in the spack stack once it's ready (already required by the jedi applications).

[2022-03-15 17:32] Hang-Lei-NOAA commented on #378
@Jun Wang - NOAA Federal ***@***.***> You can try this new versions
to see of the result are changed. e.g.GSI tested crtm 2.4.0. the results
are matching the 2.3.0.
But, per your request, I will add old versions of jasper, g2, pio and crtm,
and gftl-shared/v1.3.3, esmf/8_2_1bs04 and MAPL/2.11.0 today.

On Tue, Mar 15, 2022 at 1:03 PM Jun Wang ***@***.***> wrote:

[2022-03-15 18:43] KateFriedman-NOAA commented on #379
Thanks @junwang-noaa ! I may try this before the WW3 stuff is sorted out, will let you know if I encounter any issues when I do try it.

[2022-03-16 01:04] Hang-Lei-NOAA commented on #378
@Jun Wang - NOAA Federal ***@***.***> all old versions and
previously mentioned extra versions, have been added on hera installation.
Please try it.

On Tue, Mar 15, 2022 at 1:31 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-03-16 02:04] jkbk2004 commented on #378
@junwang-noaa @Hang-Lei-NOAA I am checking the difference of intel2021 and intel2022 on Cheyenne. The result seems to be identical. It is interesting. I will double check.  Orion que is very slow again.

[2022-03-16 02:12] Hang-Lei-NOAA commented on #378
As the Hera manager Raghu mentioned, the intel/2022 addressed some bugs in
the intel/2021. Should be the same result.

On Tue, Mar 15, 2022 at 10:04 PM JONG KIM ***@***.***> wrote:

[2022-03-16 02:14] jkbk2004 commented on #378
@Hang-Lei-NOAA Yeah, it seems like that's the case.

[2022-03-16 14:29] KateFriedman-NOAA commented on #379
@junwang-noaa I built your `modulefileRnD` on Hera/Orion successfully. I built with `WW3=N`. Please see the following logs and confirm no issues in the build:

Hera: /scratch1/NCEPDEV/global/Kate.Friedman/git/dev_v16/sorc/logs/build_fv3.log_modulefileRnD_2
Orion: /work/noaa/global/kfriedma/git/dev_v16/sorc/logs/build_fv3.log_modulefileRnD

Thanks!

[2022-03-16 14:47] junwang-noaa commented on #379
@KateFriedman-NOAA Thanks for testing. I checked the compile log files, it looks to me the model was built successfully.

[2022-03-16 14:54] KateFriedman-NOAA commented on #379
Thanks @junwang-noaa ! I will begin testing with this copy on Hera/Orion. Will report any runtime issues.

[2022-03-18 00:57] junwang-noaa commented on #407
@kgerheiser @Hang-Lei-NOAA May I ask if you can install the library on hera first so that we can start testing in ufs-weather-model? Thanks

[2022-03-18 02:23] Hang-Lei-NOAA commented on #407
@Jun Wang - NOAA Federal ***@***.***> the correct tag name should
be v8.3.0b09, it has been installed on hera

On Thu, Mar 17, 2022 at 8:58 PM Jun Wang ***@***.***> wrote:

[2022-03-18 02:28] jkbk2004 commented on #407
@Hang-Lei-NOAA note that the current ufs-wm develop branch is using esmf v8.2.1b04 tag

[2022-03-18 03:09] aerorahul opened #409 "[INSTALL] w3emc/2.9.1 on WCOSS Dell P3"
**Which software in the stack would you like installed?**
w3emc/2.9.1

**What is the version/tag of the software?**
w3emc/2.9.1

**What compilation options would you like set?**
In the current hpc-stack area on WCOSS Dell P3 as determined by:
[code]

**Which machines would you like to have the software installed?**
WCOSS Dell P3

**Any other relevant information that we should know to correctly in

[2022-03-18 03:27] kgerheiser commented on #409
@Hang-Lei-NOAA

Is this missing on other machines @aerorahul? I'll take a look but just curious if you specifically noticed it's missing there compared to others.

[2022-03-18 11:51] Hang-Lei-NOAA commented on #409
It has been added on WCOSS dell installations.

On Thu, Mar 17, 2022 at 11:27 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-03-18 12:22] aerorahul commented on #409
Thanks @Hang-Lei-NOAA
The library is now found.
Resolving issue.

[2022-03-18 12:22] #409 closed, assigned to kgerheiser, climbfuji, Hang-Lei-NOAA

[2022-03-18 12:23] aerorahul commented on #409
No, I don't think so.
I found it on orion and hera.
I have not checked WCOSS Cray.

[2022-03-18 12:37] Hang-Lei-NOAA commented on #409
I checked on hera. It was added on hera with intel/18.0.5.274.
The w3emc/2.9.2 was added with intel/2022.1.

On Fri, Mar 18, 2022 at 8:23 AM Rahul Mahajan ***@***.***>
wrote:

[2022-03-18 16:33] aliabdolali commented on #150
There are two versions of Parmetis and Metis:
1) The official release (parmetis-4.0.3.tar.gz as of 4.0.3, 3/30/2013). We have been using it since the beginning of our development on Theia and then Hera. I compiled it locally and everybody is using it.
Here are the instructions on WW3 [wiki/FAQ](https://github.com/NOAA-EMC/WW3/wiki/FAQs-page#how-to-install-metis-and-parmetis).  USACE uses the same.

[2022-03-18 16:40] junwang-noaa commented on #407
@Hang-Lei-NOAA We can't ESMF 830bs09 on hera, currently we are using the following modules in ufs-weather-model develop branch

module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc/1.1.0
module load hpc-intel/18.0.5.274
module load hpc-impi/2018.0.4

@DusanJovic-NOAA FYI,

[2022-03-18 17:58] kgerheiser commented on #150
Hi, @aliabdolali, sorry that this was kind of forgotten about. The issue I see with the new repos is that there is no tag or release in ParMETIS, and the METIS tag `v5.1.1-DistDGL-v0.5 ` was tagged at some unofficial point for some machine learning library.

Might be better to continue using the release on the main website until there's a release on the Github repo. I've built these libraries befo

[2022-03-18 18:17] arunchawla-NOAA commented on #150
Looking at the repos it does not seem things are being actively developed here. As Kyle said, there are no releases or tags. How well is this supported ?

[2022-03-18 18:20] arunchawla-NOAA commented on #150
The libraries have also not been updated in a long time. It is not clear to me how well this work is currently supported

[2022-03-18 19:22] Hang-Lei-NOAA commented on #407
@Jun Wang - NOAA Federal ***@***.***> ESMF 830bs09 build has error
with intel/18.0.5.274 compiler at final step. I am diagnosing the problem
now.

On Fri, Mar 18, 2022 at 12:40 PM Jun Wang ***@***.***> wrote:

[2022-03-18 19:32] rsdunlapiv commented on #407
@Hang-Lei-NOAA if you cannot figure out the issue, please put the error log here so we can take a look.  @theurich

[2022-03-18 19:36] Hang-Lei-NOAA commented on #407
Thanks Rocky. The build was successful for intel/2022.1
Here is the failed log file with intel/18.0.5 on
Hera. /scratch2/NCEPDEV/nwprod/hpc-stack/src/v1.2.0/logesmf.log.2022-03-18_0300

The error brief is:
=================================
mpiifort    -m64 -mcmodel=small -pthread -threads -Wl,--no-as-needed
 -qopenmp
-L/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-18.0.5.274/impi-2018.0.

[2022-03-18 19:46] rsdunlapiv commented on #407
@Hang-Lei-NOAA here is an example of a recent Hera build that worked.  Maybe you can use this to see if your configuration is different:

[Modules](https://github.com/esmf-org/esmf-test-artifacts/blob/77450f936803a5ccf1c3b7dfd368ba45fd037d70/develop/hera/intel/18.0.4/g/intelmpi/2018.4.274/out/module-build.log)
[Build log](https://raw.githubusercontent.com/esmf-org/esmf-test-artifacts/77450f936803a

[2022-03-18 19:53] kgerheiser opened #410 "Use depends_on instead of load/prereq in modules"
Installing a new version of w3emc on WCOSS-Dell broke some application modules because of how `load()` chooses the default version. We have a few instances of `try_load()` as well, but that doesn't do what we think it does. It is just identical to `load()` except that it doesn't throw an error if the module is not loaded. `depends_on()` is the correct function, which only loads the module if it's

[2022-03-18 20:03] kgerheiser commented on #407
@Hang-Lei-NOAA's error seems to be related to a core ifort library not linking correctly.

[2022-03-18 20:08] kgerheiser commented on #407
I'll give it a try and see if I can spot anything.

[2022-03-18 20:24] BinLiu-NOAA commented on #407
In case it might be useful as a reference, I build this esmf/8.3.0b09 tag on Hera with hpc-stack about two weeks ago. And you can find the build log and directory here:
/scratch1/NCEPDEV/hwrf/save/Bin.Liu/hpc_stack_202203/build_stack.log

Bin

[2022-03-18 21:28] kgerheiser commented on #407
@Hang-Lei-NOAA I had no issue building it with `intel/18.0.5.274`. I recommend making sure you have a clean environment when you install. It's possible something in your environment was mixed up.

[2022-03-18 22:07] Hang-Lei-NOAA commented on #407
@Kyle Gerheiser - NOAA Affiliate ***@***.***> @Rocky Dunlap
***@***.***> @Bin Liu - NOAA Affiliate ***@***.***> @Jun Wang -
NOAA Federal ***@***.***> Thanks for all of your effort. After
cleaning out, I have successfully added it. It may be due to my hera
environmental issues. I am surprised to see so.

On Fri, Mar 18, 2022 at 5:29 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-03-21 13:13] DusanJovic-NOAA commented on #407
Loading mapl failed after I switched esmf to 8.3.0bs09
[code]

[2022-03-21 15:22] aliabdolali commented on #150
@arunchawla-NOAA I can ask the developers, but I'd like to see what would be the decision on our end, do we want to go with the old stable version (fully tested on our RDHPC), or a has from the GitHub/develop branch (a hash)? I heard from Avichal we'd prefer a recent version with support. Can we first check if we can compile the code from Github on WCOSS2? I am still not able to compile it locally

[2022-03-21 15:33] arunchawla-NOAA commented on #150
Ali, we cannot install anything on wcoss2. However, I would be wary of installing anything from GitHub that does not have a release or a tag. We have no way of knowing the level of testing without a release