[2020-09-15 21:20] benjamin-cash opened #21 "Cannot find -lhdf5_hl, -lhdf5 when building ufs-s2s-model prototype5.0 on stampede2"
I installed hpc-stack on stampede2 and attempted to use it in place of NCEPLIBS-develop in my successful build of prototype5.0. It failed with the following:

mpiifort  -o /work/02441/bcash/stampede2/s2s_p5_port/NEMS/exe/NEMS.x MAIN_NEMS.o module_NEMS_UTILS.o module_MEDIATOR_methods.o module_MEDIATOR.o module_MEDIATOR_SpaceWeather.o module_EARTH_INTERNAL_STATE.o module_EARTH_GRID_COMP.o module_NEM

[2020-09-15 21:23] kgerheiser commented on #21
~~You need to update your FindNetCDF.~~

~~See Dusan's PR to make ufs-weather-model work (and his modifications to FindNetCDF.cmake): https://github.com/ufs-community/ufs-weather-model/pull/193/files~~

[2020-09-15 21:33] aerorahul commented on #21
@kgerheiser The S2S model does not use CMake, so the PR from @DusanJovic-NOAA is of no help here.
The bug is in how the S2S model GNUMake sets the NetCDF include and lib paths.
I believe @binli2337 has a fix/solution.

[2020-09-15 21:35] kgerheiser commented on #21
Oh, ok. I didn't look super closely and thought it was the same problem I had yesterday.

[2020-09-15 21:43] aerorahul commented on #21
@benjamin-cash
I don't know how the S2S model builds on Stampede.  Does it use the file `conf/configure.fv3.cheyenne.intel`?
If so, replace lines 78-84 below:

[code]

with

[code]

[2020-09-15 21:48] benjamin-cash commented on #21
@aerorahul It uses a file based on conf/configure.fv3.hera.intel. I found those lines and made the changes, testing now.

[2020-09-15 22:00] benjamin-cash commented on #21
That failed with a bunch of cannot open include file 'netcdf.inc' errors in ../drifters/drifters_io.F90. It also looks like ./comp_ice.backend.libcice has my old esmf.mk path, so probably that needs to be changed as well?

[2020-09-15 22:02] benjamin-cash commented on #21
There are also errors like this:
mpiicc -Duse_libMPI -Duse_netCDF -DSPMD -DUSE_LOG_DIAG_FIELD_INFO  -DUSE_GFSL63 -DGFS_PHYS -Duse_WRTCOMP -DNEW_TAUCTMAX -DINTERNAL_FILE_NML -DNO_INLINE_POST -DMOIST_CAPPA -DUSE_COND -DOPENMP -DCCPP  -I -xCORE-AVX2 -qno-opt-dynamic-align -D__IFC -sox -fp-model source -O2 -debug minimal -qopenmp -I/work/02441/bcash/stampede2/s2s_p5_port/FV3/ccpp/include   -c ../mpp/n

[2020-09-15 22:20] aerorahul commented on #21
seems like include paths are missing.
Can you post the output of:
[code]
here?

[2020-09-15 22:22] benjamin-cash commented on #21
login4.stampede2(987)$ nc-config --includedir
/work/02441/bcash/stampede2/intel-18.0.2/impi-18.0.2/netcdf/4.7.4/include
login4.stampede2(988)$ nc-config --libs
-L/work/02441/bcash/stampede2/intel-18.0.2/impi-18.0.2/netcdf/4.7.4/lib -lnetcdf
login4.stampede2(989)$ nc-config --flibs
-L/work/02441/bcash/stampede2/intel-18.0.2/impi-18.0.2/netcdf/4.7.4/lib -lnetcdff

[2020-09-15 22:24] aerorahul commented on #21
Not entirely what I was expecting.
And `nc-config --all`

[2020-09-15 22:26] benjamin-cash commented on #21
Looking back through the build log, it looks like at some point the new modules got purged and replaced with the older setup. I'm going to break for dinner and then I will keep looking to see where that might have happened.

[2020-09-15 22:28] aerorahul commented on #21
Likewise. Happy to help you out tomorrow. Initiate a call on slack.

[2020-09-15 23:21] benjamin-cash commented on #21
login4.stampede2(1009)$ nc-config --all

This netCDF 4.7.4 has been built with the following features:

  --cc            -> mpiicc
  --cflags        -> -I/work/02441/bcash/stampede2/intel-18.0.2/impi-18.0.2/netcdf/4.7.4/include  -I/work/02441/bcash/stampede2/intel-18.0.2/impi-18.0.2/hdf5/1.10.6/include
  --libs          -> -L/work/02441/bcash/stampede2/intel-18.0.2/impi-18.0.2/netcdf/4.7.4/lib -l

[2020-09-15 23:35] aerorahul commented on #21
From the looks of it, it appears to be a share library.

Could I ask how you built the stack?
What config.sh and what stack.yaml did you use?

[2020-09-15 23:43] MinsukJi-NOAA commented on #21
@aerorahul, are -lhdf5 and -lnetcdf needed separately? Or does it depend on the version of netcdf?

[2020-09-15 23:46] aerorahul commented on #21
NETCDF builds with HDF5.
It is needed.

[2020-09-15 23:47] aerorahul commented on #21
I am also realizing that these flags are probably not set properly in the ESMF linker.
I am certain this is not a stack issue, but rather a S2S model issue.

[2020-09-15 23:51] MinsukJi-NOAA commented on #21
Do you know if `ESMF_F90LINKPATHS` is defined from hpc-stack?

[2020-09-16 00:00] aerorahul commented on #21
The modulefile for ESMF defines ESMFMKFILE.
It does not explicitly define any specific PATHS.

[2020-09-16 01:38] arunchawla-NOAA commented on #21
Looks like we need to update the GNU build system to work with hpc-stack @binli2337 did you not have branch that works ? Maybe we need a PR back to the S2S model repo

[2020-09-16 02:11] MinsukJi-NOAA commented on #21
I tried adding `HDF5_LIBRARIES`: `NETCDF_LIB += -L$(NETCDF)/lib -lnetcdff -lnetcdf -L$(HDF5_LIBRARIES)` in configure.*, but it instead gave me `g2` errors:
[code]

[2020-09-16 02:56] aerorahul commented on #21
@MinsukJi-NOAA
Look at [these](https://github.com/binli2337/ufs-s2s-model/compare/develop...binli2337:hpc3) differences from the branch [hpc3](https://github.com/binli2337/ufs-s2s-model/tree/hpc3) from @binli2337.

It doesn't address these g2 errors though.

Looking at the `configure.fv3.<platform>` files, I suspect more variables used in the S2S GNUMake may be missing.
Can you check if your `NCEP

[2020-09-16 12:24] MinsukJi-NOAA commented on #21
@aerorahul @binli2337, modifying `EXTLIBS = $(NCEPLIBS) $(ESMF_F90LINKPATHS) $(ESMF_LIB) $(LDFLAGS) $(NETCDF_LIB)` in cofigure.fv3.* did not help.

[2020-09-16 12:47] MinsukJi-NOAA commented on #21
@aerorahul, I do see undefined `JASPER_LIB` being used in `NCEPLIBS`. I will try `$JASPER_ROOT/lib64/libjasper.a`. Regarding, `-lhdf5` and `-lhdf5_hl`, it's still not clear how it can be fixed.

[2020-09-16 12:52] MinsukJi-NOAA commented on #21
This is how it's currently done.
`NCEPLIBS = $(POST_LIB) $(NEMSIO_LIB) $(G2_LIB4) $(G2TMPL_LIB) $(BACIO_LIB4) $(SP_LIBd) $(W3EMC_LIBd) $(W3NCO_LIBd) $(CRTM_LIB) $(JASPER_LIB) -lpng -lz`

[2020-09-16 13:02] aerorahul commented on #21
The `-lpng -lz` need paths to `PNG_ROOT/lib64` and `ZLIB_ROOT/lib` if they are not in system locations.

What does the variable `EMSF_F90LINKPATHS` report?

[2020-09-16 13:05] MinsukJi-NOAA commented on #21
I am trying to figure out where `EMSF_F90LINKPATHS` is set.

[2020-09-16 13:16] aerorahul commented on #21
@MinsukJi-NOAA Look at one of the older modulefiles for ESMF. It is possible that modulefile is setting that variable.
That information is in `ESMFMKFILE`.
Several places "include" this file, but I am not sure how the variables are set.

[2020-09-16 13:19] aerorahul commented on #21
These variables are set in a file `ESMFMKFILE=esmf.mk`

[2020-10-06 19:32] aerorahul commented on #21
@benjamin-cash Is this issue still relevant?

[2020-10-06 19:35] benjamin-cash commented on #21
No, I have just borrowed the functioning setup Minsuk has on stampede so it isn't holding me up. I don't know if/how the issue hpc-stack not working with s2s was resolved, but I can go ahead and close this specific issue.

[2020-10-06 19:35] #21 closed, assigned to nobody

[2020-10-06 19:51] MinsukJi-NOAA commented on #21
This issue was solved by using the approach taken here: https://github.com/ufs-community/ufs-s2s-model/pull/191
Files related to porting to stampede 2 will be checked into the S2S repo: https://github.com/ufs-community/ufs-s2s-model/pull/213

[2020-10-20 17:30] kgerheiser opened #29 "Dangerous use of `tmpnam` when using Jasper"
Update Jasper to use version 2.0.22 which includes a fix for this (and other security issues)

[2020-10-20 20:23] Hang-Lei-NOAA opened #31 "Update the nceppost with request by using the 10.0.0 version"
Wen has added the nceppost with UPP version of 10.0.0. She request the installation test through hpc-stack.
We will first try it from the EMC_POST/develop branch, on each machine.
If it is okay, she needs to create a release to formally included in the hpc-stack.

A branch has been created to this issue
feature/postupdate

[2020-10-21 14:32] aerorahul commented on #29
#30 closed this issue

[2020-10-21 14:32] #29 closed, assigned to nobody

[2020-10-21 15:07] Hang-Lei-NOAA opened #32 "NCO required updated on hpc-stack and working on wcoss 2"
NCO requires us to do following changes on hpc-stack to meet their first implementation requirements.
1. Building only nceplibs libraries, and with their machine installed thrid party libraries.
2. change the installation folder intel-version into intel/version.

I have prepared a testing version on this for them to do initial test now.
and will push it to a feature branch in the repo for all to r

[2020-10-23 17:53] climbfuji opened #33 "Bug or not? Installing hpc-stack for two compilers in same directory structure leads to errors"
Not sure if this is a bug or intended.

I installed hpc-stack for the GNU compiler on cheyenne in
[code]
This creates the following directories underneath:
[code]
In a second step, I tried to install hpc-stack for the Intel compiler in the same directory structure, which then adds
[code]
as expected. `./build_stack.sh` however fails with the error
[code]
Obviously the intel stack is trying to inst

[2020-10-23 18:04] aerorahul commented on #33
As you noticed, eigen library is compiler independent. So there is no point in installing eigen for GNU and then for Intel.
There is a global switch in `config.sh` named `OVERWRITE=Y|N` which prevents overwriting existing packages.
When a user wishes to install with a different compiler set, they should disable the `core` packages in the `stack.yaml` that they may have installed under the same ins

[2020-10-23 18:16] climbfuji commented on #33
Thanks, Rahul. The easiest way is 1. - a one-character change - if a user is doing what I am doing, i.e. installing the same version of the stack for two different compilers at the same time (i.e. with an identical OS / identical system libraries / default gnu compiler). I am doing that now, closing the issue.

[2020-10-23 18:16] #33 closed, assigned to nobody

[2020-10-23 18:45] climbfuji opened #34 "Question: installing hpc-stack on gaea"
I will need to install hpc-stack on gaea.

All modules generated by hpc-stack are lua modules, which gaea doesn't understand. gaea knows tcl modules, and so does every other system.

What is the strategy for supporting gaea (after all, it is a NOAA RDHPC system)?

The quick-and-dirty `lua2tcl.py` script I added to NCEPLIBS won't work out of the box for the hpc-stack modules I guess, and it's reall

[2020-10-23 20:58] Hang-Lei-NOAA opened #36 "grib_util modulefile need fix"
The grib_util.lua file need to add " " to the last column.

https://github.com/NOAA-EMC/hpc-stack/blob/develop/modulefiles/compiler/compilerName/compilerVersion/grib_util/grib_util.lua

setenv("CNVGRIB",   pathJoin(base, "bin", cnvgrib))
setenv("COPYGB",    pathJoin(base, "bin", copygb))
setenv("COPYGB2",   pathJoin(base, "bin", copygb2))
setenv("DEGRIB2",   pathJoin(base, "bin", degrib2))
setenv(

[2020-10-23 21:22] aerorahul commented on #36
I can include these in #35 after the current action is completed.

[2020-10-23 21:23] Hang-Lei-NOAA commented on #36
Okay, thanks!

[2020-10-26 07:16] aerorahul commented on #34
@climbfuji
I was able to build hpc-stack on Gaea without using modules.
Please see the branch: [feature/gaea](https://github.com/NOAA-EMC/hpc-stack/tree/feature/gaea)

To build:
[code]

My build of hpc-stack on Gaea is at:
`/lustre/f2/dev/Rahul.Mahajan/opt/`

[2020-10-26 13:11] climbfuji commented on #34
Good to know, thanks for trying. We'll need modules though for building the applications that use hpc-stack. I asked the gaea admins if they can add lua module support on the machine, waiting to hear back.

[2020-10-26 13:47] aerorahul commented on #34
It would be good to have module support, but we should atleast test the model with hpc-stack sans modules on Gaea to expose any issues.

[2020-10-26 16:28] aerorahul commented on #36
fixed in #35

[2020-10-26 16:28] #36 closed, assigned to nobody

[2020-10-26 19:45] aerorahul commented on #34
@climbfuji
I built UFS utils using my installation of HPC-stack on Gaea.  A PR in ufs-utils repo is issued at https://github.com/NOAA-EMC/UFS_UTILS/pull/188
I also built the UFS (with S2S) using my installation of HPC-stack on Gaea.  Attached is a [git-diff](https://github.com/NOAA-EMC/hpc-stack/files/5441069/gaea-hpc-stack.txt)

[2020-10-26 19:48] climbfuji commented on #34
That's great. I already approved your ufs_utils PR. I'll wait for the gaea admins to come back to me before installing the stack following your branch and setting the environment variables as you did.

[2020-10-26 19:52] aerorahul commented on #34
This exercise what just to make sure that we can build the UFS and its dependencies with the software from hpc-stack on Gaea.
I am not the person maintaining the hpc-stack installation on Gaea.

[2020-10-26 19:58] climbfuji commented on #34
But I am at the moment (at least I have been maintaining older software installations to build the ufs-weather-model). I'd be more than happy to pass this on to someone else, though.

[2020-10-26 20:03] aerorahul commented on #34
I figured it would be you.
Since Gaea is not NOAA Tier-1 I doubt the EMC NCEPlibs team would be taking that over anytime soon.

[2020-10-26 20:10] climbfuji commented on #34
I know, and it's not a top priority to get off my list. Way more important would be to elevate jet to tier-1 and hand it over to EMC. Jet is the only system with multiple generations of CPUs on different partitions, i.e. the only system where we can test that no dangerous `-xHOST` compile options are used and that features like `SIMDMULTIARCH` in the ufs-weather-model work as expected. What is mor

[2020-10-26 20:22] climbfuji opened #39 "libjpeg not built statically if requested and not used by applications depending on it"
Cheyenne has a default (OS) shared library `libjpeg.so` in `/usr/lib64/`, but on the login nodes only. While the stack can be built, running the ufs-weather-model on the compute node then fails with a shared library load error.

When trying to fix this, I found that
(a) libjpeg is always built dynamically, regardless of the `SHARED` entry in the YAML stack config file
(b) when libjpeg is built by

[2020-10-26 20:24] aerorahul commented on #39
@climbfuji
I just noticed this too when I built the stack on Gaea.
`feature/gaea` fixes this.  I will issue a PR.

[2020-10-27 14:36] climbfuji commented on #39
Fixed in https://github.com/NOAA-EMC/hpc-stack/pull/38.

[2020-10-27 14:36] #39 closed, assigned to nobody

[2020-10-31 02:16] Hang-Lei-NOAA opened #40 "GFS developers require hpc-stack provide a version to match GFSv16 operation libraries"
Fanglin, Jun and Kate send requests to have hpc-stack provide GFSv16 operational standard libraries.

This include match all libraries that NCEPLIBS group sent to NCO and used in GFSv16 associated component development.
LIst of major modules asked to change include: netcdf/hdf5, UPP.
Asked to match all other used library modules.
Install the testing versions on all NOAA platforms.
Testing standard

[2020-11-03 15:14] aerorahul commented on #40
Please list those libraries and their versions in this issue.

[2020-11-03 16:50] junwang-noaa opened #41 "install esmf810bs36 in hpc stack"
ESMF team has updated esmf to esmf810bs36, we need this library to be built in hpc stack in both regular and debug mode to test the new features in this esmf version. We need the lib on hera/orion/dell

[2020-11-03 16:56] rsdunlapiv commented on #41
ESMF snapshots come out fairly frequently, so we should have a process to request this.  Should we plan to create an issue whenever we need a new snapshot built?

[2020-11-03 19:31] Hang-Lei-NOAA commented on #41
I will added these to the testing versions of hpc-stack

[2020-11-04 02:58] Hang-Lei-NOAA commented on #40
After NCEPLIBS team discussion on meeting of Tag up on Libraries processes.
1.The nceplibs latest versions have no code or function changes from the GFSv16 implementation versions that we send to NCO recently. Therefore, we will keep the latest version of nceplibs in the testing versions of hpc-stack for GFSv16 developers to test. If any issue raise, we will solve.
2. Post to UPP changes have been

[2020-11-04 20:12] Hang-Lei-NOAA commented on #41
They (both debug and normal of 810bs36) are added.

[2020-11-05 10:55] edwardhartnett opened #42 "templates for issue reporting"
As this is going to be (along with NCEPLIBS) one of the two projects that exterior users are pointed at, we want to have some standard questions in the issue which can be set up with a github template. I've done this for NCEPLIBS.

I will put up a PR with some questions. @aerorahul @kgerheiser @DusanJovic-NOAA and others: what questions should be asked?

Here's what I have for NCEPLIBS bug reports

[2020-11-05 10:57] edwardhartnett opened #43 "update README"
The README can be updated. See https://github.com/NOAA-EMC/NCEPLIBS/issues/120

[2020-11-05 11:01] edwardhartnett opened #44 "who is the code manager(s) for hpc-stack?"
On the other repos we have identified a code manager.

Who is the code manager or managers for this hpc-stack repo? Is there a consensus on who this should be?

The code manager will take primary responsibility for monitoring and prioritizing issues, reviewing and merging PRs, and planning and executing releases.

[2020-11-05 11:03] edwardhartnett opened #45 "What is the current release of hpc-stack?"
When I look on the releases page I see one release, v1.0.0-beta1.

Isn't hpc-stack already in use? In which case, we should have an actual 1.0.0 release, instead of just a beta. ;-)

[2020-11-05 11:21] edwardhartnett commented on #42
OK, I thought GitHub was going to open a PR with my proposed templates, but instead it just put them in immediate effect. Well, who am I to argue with GitHub?

So they are in use. If anyone wants to discuss, or propose changes, please do so in this issue...

[2020-11-05 11:21] #42 closed, assigned to edwardhartnett

[2020-11-05 11:22] edwardhartnett opened #47 "We need CI for hpc-stack"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/130.

We need CI for this project.

[2020-11-05 11:36] edwardhartnett opened #48 "Some questions about netCDF install..."
I am looking at the netCDF install script and I have some questions.

1 - You install netcdf-cxx? Does anyone use that? It is very lightly maintained...
2 - You use --enable-pnetcdf? That surprises me too. Is anyone at NOAA using this feature (i.e. parallel I/O with classic format files with the pnetcdf layer).
3 - You use --enable-cdf5. This is not necessary since version 4.7.? as it is now enabl

[2020-11-05 11:39] edwardhartnett commented on #47
Oh, never mind, it's already there! ;-)

[2020-11-05 11:39] #47 closed, assigned to kgerheiser

[2020-11-05 14:36] aerorahul commented on #48
@edwardhartnett

1. netcdf-cxx is used in JEDI applications and hpc-stack supports UFS as well as JEDI applications.
2. `--enable-pnetcdf` is/was used in one of the JEDI applications.  It is disabled for NOAA applications (see `stack_noaa.yaml`)
3. this script `build_netcdf.sh` predates 4.7.x., when we were experimenting with 4.63 (i believe)
4. Ok.
5. Ok.
6. Where is DAP used in NOAA or JEDI appl

[2020-11-05 14:44] edwardhartnett commented on #48
DAP allows remote access to data. It requires curl.

It's significant functionality, but lots of times internet is restricted on HPC machines away. So probably best to have it off in this case.

There is a new option to configure --with-mpiexec= which allows you to substitute another command. For example you could use --with-mpiexec=aprun. But for that to work, aprun has to accept a -n argument wi

[2020-11-05 14:44] #48 closed, assigned to nobody

[2020-11-05 14:53] GeorgeVandenberghe-NOAA opened #49 "What should our modules set. For example what should a NETCDF module set"
From George's email:

[2020-11-05 15:09] aerorahul commented on #49
Using NetCDF as an example, at a minimum this:

[code]

where `prefix` is the installation prefix.

Sometimes it is necessary to prepend to the variable `CMAKE_PREFIX_PATH` for cmake to look in if a package does not provide a cmake package config or a `FindPKG.cmake`

[2020-11-05 15:10] edwardhartnett commented on #49
The CMake build system should not be involved in this. It should not set (or require) environment vars.

The modules are where this belongs and that's why I transferred the issue here from NCEPLIBS.

There is a good reason to keep the include and lib directories separately (i.e. not derive everything from a NETCDF_ROOT). The reason is that the headers and library are not always stored under the sa

[2020-11-05 15:14] aerorahul commented on #49
I did say at a minimum.

CMake's `find_package` looks for `PKG_ROOT` variable first to determine `PKG_LIBRARIES` and `PKG_INCLUDES`. Almost all of the packages that are found via cmake use this, so it is imperative for cmake to work, ,`PKG_ROOT` be defined in the environment.

[2020-11-05 15:29] GeorgeVandenberghe-NOAA commented on #49
Thanks Ed about lib and include argument.  I probably wouldn't have made this mistake in the 90s when that stuff was put in one of several global admin maintained directories (/lib /usr/lib, /opt/lib, /usr/include and whatnot) and not in a package root.  We almost
always put that stuff in package installation roots now but yeah it doesn't have to be that way and may not be in the future.

I am not

[2020-11-05 15:36] GeorgeVandenberghe-NOAA commented on #49
So  I concur, add library and include settings to the requirements for a standard package module as Jeff Ator and Rahul also suggest.

I have encountered an issue where some packages set  $PACKAGE_INC to $PACKAGE/Include  and others set it to -I$PACKAGE/include.   It's a nuisance when a build system expects one way and it's set the other.  It's also an issue for libraries but I haven't seen it as

[2020-11-05 15:40] GeorgeVandenberghe-NOAA commented on #49
Also an HPC-STACK module can assume a cmake build.   A generalized admin maintained module cannot, at least not yet and so, needs to set more  environment variables.

[2020-11-05 15:45] aerorahul commented on #49
@GeorgeVandenberghe-NOAA
It is exactly the kind of thing; `PACKAGE_INC` or `PACKAGE_INCLUDE` or `PACKAGE_INCLUDES` or `-I$PACKAGE/include` that made me make the comment that define `PACKAGE_ROOT` and be done with it.  CMake understands `PACKAGE_ROOT`.  Rather than define these various ways and adapt to those in the hand-written makefiles for the different machines, wouldn't it be better/consistent

[2020-11-05 15:49] GeorgeVandenberghe-NOAA commented on #49
I agree Rahul.  But an admin  maintained general system module has to support non cmake builds for awhile until everybody adapts.

[2020-11-05 15:50] aerorahul commented on #49
Educate the admin on how the software they provide is being used.
It is a two way street.

[2020-11-05 15:57] GeorgeVandenberghe-NOAA commented on #49
You can plan and probably complete a sabbatical before admins finally fix
module inconsistency issues :-)

On Thu, Nov 5, 2020 at 10:51 AM Rahul Mahajan <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2020-11-05 21:25] aerorahul opened #50 "Figure out and fix failing CI test for udunits."
**Describe the bug**
The udunits CI test on macOS is failing.

**To Reproduce**
Create a branch and push.  This will trigger the CI.
Watch it fail.

**Expected behavior**
The test should have passed.

**System:**
Have not experienced this bug on any of the systems we are currently running on.

**Additional context**
Issue has been opened with udunits at https://github.com/Unidata/UDUNITS-2/issues/

[2020-11-05 21:27] aerorahul commented on #44
It is for @arunchawla-NOAA to annoint.

[2020-11-06 01:31] edwardhartnett commented on #44
OK we will go with @kgerheiser  for the time being...

[2020-11-06 01:31] #44 closed, assigned to edwardhartnett

[2020-11-06 01:38] edwardhartnett opened #51 "Turn on branch protections for develop branch."
Turn on branch protections for develop branch. See https://github.com/NOAA-EMC/NCEPLIBS/issues/154

[2020-11-06 02:33] aerorahul commented on #51
Done.

[2020-11-06 13:28] edwardhartnett commented on #51
But you did not turn on required status checks. I have done that as well.

[2020-11-06 13:28] #51 closed, assigned to edwardhartnett

[2020-11-07 00:56] aerorahul commented on #50
The failing build is udunits with clang on macOS.
Github updated the macOS runner and it contains Xcode 12.  It seems clang v12 introduced errors for implicit declarations.
Need to investigate further.

[2020-11-09 13:38] kgerheiser commented on #50
Do you think there's any relation to https://github.com/NOAA-EMC/NCEPLIBS-external/issues/85?

Maybe the common factor is Xcode 12?

[2020-11-09 14:58] aerorahul opened #52 "Add Dockerfiles and stack.yamls for UFS containers on AWS"
NOAA PSL is exploring the use of hpc-stack to enable UFS on AWS with the use of Docker and Singularity containers
In associated PR's, Docker Doxyfiles for Intel using Intel OneAPI will be added/contributed.
Thanks to @slawrence87544

[2020-11-09 15:01] edwardhartnett commented on #52
Doxyfiles are part of the doxygen documentation system. Does docker re-use the same word? If so, that's confusing!

Or do you mean that we need new documentation doxyfiles for the containers?

[2020-11-09 15:03] aerorahul commented on #52
argh. I meant dockerfiles.  My coffee hasn't kicked in yet. apologies.

[2020-11-09 15:54] slawrence87544 commented on #52
Hi Rahul, Edward,
    I'd like to enter an issue into zenhub, but I don't have the correct
permissions for that action.  If EMC is willing to give me permissions for
zenhub actions on the NOAA-EMC/hpc-stack repo, that I'll create an issue
today.  As Rahul mentioned, our FMD group of PSL lab is attempting to bring
a reanalysis project into the cloud.  Part of that project involves running
the ufs-s

[2020-11-09 16:27] edwardhartnett commented on #52
@slawrence87544 I'm not sure what zenhub is, but this repo is on github. ;-) If you go here:
https://github.com/NOAA-EMC/hpc-stack/issues

you should see a green button in the upper-right that says "New Issue", which you can use on future occasions to create an issue.

[2020-11-11 02:01] GeorgeVandenberghe-NOAA opened #53 "building UFS-weather-model from repository on WCOSS2 using hpc-stack"
I am trying to build ufs-weather-model on WCOSS2.   I built hpc-stack witl all third party dependencies on
/lfs/h2/emc/nceplibs/noscrub/gwv/hpcstack/install
and then ran the following fv3 module

module unload cpe-cray cce
module load cpe-intel intel
setenv CMAKE_C_COMPILER cc
setenv CMAKE_CXX_COMPILER CC
setenv CMAKE_Fortran_COMPILER ftn
setenv CMAKE_Platform wcoss2

module use /lfs/h2/emc/ncepli

[2020-11-11 02:36] aerorahul commented on #53
The build did not even commence. Cmake does not build; it configures. The cmake configuration failed to find MPI.
I suspect that just loading cray-mpich module is not enough on a cray.

[2020-11-11 02:58] GeorgeVandenberghe-NOAA commented on #53
So how do I fix this?   I am concerned for tomorrow when NCEP signs a
contract to work on some weird cloud system and we have
to get this working.    I got make based fv3gfs builds working in a day
with the global workflow taking another day
I can't do that on WCOSS2

Somewhere the MPI find test is doing
Run Build Command(s):/usr/bin/gmake cmTC_32f2d/fast && /usr/bin/gmake -f
CMakeFiles/cmTC_32f2d

[2020-11-11 03:09] aerorahul commented on #53
@GeorgeVandenberghe-NOAA Commented:

[2020-11-11 03:12] aerorahul commented on #53
This is a Cray issue. What this is suggesting is that cc, CC and ftn which are wrappers are not appropriately defining the include paths to MPI.
Can you build a simple parallel hello world program?

[2020-11-11 03:28] GeorgeVandenberghe-NOAA commented on #53
Yes I can build and run mpi programs and, in particular the older make
based  fv3 currently about to go into production.  I have run fv3 on wcoss2
and it scales well btw.  The cmake find test is using icc rather than cc

Finding where to  fix this is the problem

On Tuesday, November 10, 2020, Rahul Mahajan <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

[2020-11-11 04:09] aerorahul commented on #53
I meant, can you write a simple CMakeLists.txt for a simple hello world?
I noticed you are loading the module `hpc-cray-mpich/8.0.15`
What is that module loading exactly? It should be loading `cray-mpich/8.0.15`.  Please check.

Or, just try this:
[code]
Put the above text in a file called `CMakeLists.txt`

Then load the Cray environment:

[code]

[code]

[2020-11-11 15:07] arunchawla-NOAA opened #54 "Installing hpc-stack on JET"
**Is your feature request related to a problem? Please describe.**

UFS weather model is not running Regression Tests on JET. We need that support as multiple research communities depend on it.

**Describe the solution you'd like**

We need hpc-stack installed on JET so that a compatible UFS weather model build support is available

**Additional context**

This is a critical need so please elevate

[2020-11-12 13:23] GeorgeVandenberghe-NOAA commented on #53
Hi George,

Here is how I got ufs-weather-model to build on acorn.

module unload cpe-cray cce
module load cpe-intel intel cmake
module use
/lfs/h2/emc/nceplibs/noscrub/hpc-stack/test/noaa/modulefiles/stack
module load hpc hpc-intel hpc-cray-mpich
module load bacio bufr crtm g2 gfsio grib_util hpc-cray-mpich ip
landsfcutil sfcio sigio sp w3nco nemsio netcdf hdf5 esmf w3emc upp png
cd ufs-weather-m

[2020-11-12 13:33] GeorgeVandenberghe-NOAA commented on #53
Okay, I just confirmed that not only does the code compile, it runs the
simple test case as well. I did have to slightly modify the input.nml by
removing "do_sfcperts    = .F." to get it to run, however.

-M

On 11/10/20 9:58 PM, George Vandenberghe - NOAA Affiliate wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov

[2020-11-12 13:34] GeorgeVandenberghe-NOAA commented on #53
Guys . I am out for the foreseeable future.  My GFE  laptop has been
destroyed again by another upgrade overnight and will  longer boot

On Thursday, November 12, 2020, Mark A. Potts <mpotts@redlineperf.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cel

[2020-11-12 14:03] edwardhartnett opened #55 "Improvement in issues process"
Some suggested process improvements from @arunchawla-NOAA

[2020-11-12 14:16] arunchawla-NOAA commented on #54
This issue is a pre requisite for the corresponding issue on ufs-weather-model

https://github.com/ufs-community/ufs-weather-model/issues/271

Please inform that issue when this is done

[2020-11-12 15:12] kgerheiser commented on #54
Working on it now

[2020-11-12 15:25] kgerheiser commented on #54
There is a bug in Jet's LMod installation when I attempt to build.

`/apps/lmod/7.8/init/bash: line 16: __lmod_vx: unbound variable`

This is a bug in LMod:

https://bugzilla.redhat.com/show_bug.cgi?id=1594964

https://github.com/TACC/Lmod/issues/384

It was fixed in version 7.8.6, but Jet is running version 7.8

I'm not sure if there's a workaround other than updating LMod

[2020-11-12 15:35] malloryprow opened #56 "Installation Request: g2c/1.6.0 on WCOSS"
I am working with NCO to get MET (https://github.com/dtcenter/MET) version 9.1.0 into operations. It was discovered when compiling MET with g2c/1.5.0 on both the Dell and Cray lead to a problem to arise. When MET is compiled with g2c/1.6.0, the problem goes away. I am requesting for g2c/1.6.0 to be installed on all WCOSS machines.

[2020-11-12 16:47] GeorgeVandenberghe-NOAA commented on #53
This is what I get on acorn with Rahu;ls simple test.   Typing, cutting and
pasting are horrible on my  platform and my GFE laptop is dead

* module load cmake/3.16.5-intel*
*module unload cpe-cray cce*
*module load cpe-intel intel*
*module load cray-mpich*
*export CMAKE_C_COMPILER=cc*
*export CMAKE_CXX_COMPILER=CC*
*export CMAKE_Fortran_COMPILER=ftn*

*cd build*
*cmake ..*
George.Vandenberghe@alo

[2020-11-12 16:51] aerorahul commented on #53
Thanks @GeorgeVandenberghe-NOAA
This confirms my suspicion that cmake needs more info for finding MPI on a Cray.

@mark-a-potts had a work-around:
Try these flags `-DCOMPILER=intel  -DMPILIB=mpich` i.e.
[code]
If that does not work, then add `-DMPI=ON` and try again.

[2020-11-12 19:31] edwardhartnett commented on #56
@Hang-Lei-NOAA @BoiVuong-NOAA what's the current version of g2c in hpc_stack?

[2020-11-12 19:34] Hang-Lei-NOAA commented on #56
In the testing version hpc-stack installed all dell, wcoss2, hera and
orion, it is v1.6.2
above the required one.

On Thu, Nov 12, 2020 at 2:32 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-12 19:38] Hang-Lei-NOAA commented on #56
On WCOSS Dell
module use /usrx/local/nceplibs/dev/hpc-stack/test/hpc-stack/modulefiles/stack
module load hpc/1.0.0-beta1
module load hpc-ips/18.0.1.163
module load hpc-impi/18.0.1

This testing version contains g2c_v1.6.2
It is a version that we fixed the issue caused by jasper update upon v1.6.0
It should well solve your issue.

[2020-11-12 19:44] aerorahul commented on #56
@Hang-Lei-NOAA Can you please open a PR so that hpc-stack `develop` can build `g2c`

[2020-11-12 19:45] malloryprow commented on #56
Thanks for the paths @Hang-Lei-NOAA! The MET installation is going to be going in under nwprod. Do you know if NCO allows these modules to be used by software going in under nwprod?

[2020-11-12 19:46] Hang-Lei-NOAA commented on #56
Okay, I try to bring the testing version back to develop soon.

[2020-11-12 19:47] Hang-Lei-NOAA commented on #56
The testing version of hpc-stack is addressing NCO concerns, they have been testing it on WCOSS2 and Dell with using their third party libs.

[2020-11-12 19:47] aerorahul commented on #56
That should be a separate PR.

[2020-11-12 19:48] Hang-Lei-NOAA commented on #56
Okay, I will make it in a separate PR.

[2020-11-12 20:17] arunchawla-NOAA commented on #54
Do we need to get JET help desk involved?

[2020-11-12 22:01] kgerheiser commented on #54
That would be the actual solution.

I've come up with a workaround by copying, and then fixing the erroneous file, and then I find/replace all instances where we `source` that file and instead my fixed version instead.

[2020-11-13 00:45] #52 closed, assigned to nobody

[2020-11-13 03:42] aerorahul commented on #34
@climbfuji
We built hpc-stack on Gaea without modules -- that worked.  We were able to build UFS and UFS-utils with the hpc-stack (without modules)
We asked Gaea sys-admins if they would install lmod -- they said no.
You installed lmod on Gaea. Thanks! -- what was the result of using lmod and then installing hpc-stack?  Will that work for us?
Where do we go from here regarding Gaea?

[2020-11-13 03:48] Hang-Lei-NOAA commented on #56
The g2c_v1.6.2 does not contain any functional changes above v1.6.0. The 1.6.0 only works with old jasper versions, and report bug with new jasper versions. We updated it to work with new jasper version and Documentation is also added by Ed. The use of g2c/1.6.2 is equal to g2c/1.6.0 in MET.

[2020-11-13 14:09] climbfuji commented on #34
I need to look where we installed it so far - it needs to go in a central location. Now that jet seems to be on its way to tier-1 and not managed by me, I can take care of gaea and use the existing shared folder for the UFS. Let me install the latest version of hpc-stack (or a tag?) in the right place if they are not there yet.

Each user wanting to use the lua modules will have to run one command

[2020-11-13 14:42] #56 closed, assigned to Hang-Lei-NOAA

[2020-11-13 14:58] aerorahul opened #58 "Renaming master to main"
Github (and the wider community) are moving away from the master branch name to main.
This is in accordance with [this](https://github.com/github/renaming) Github repo.

Since the `master` branch in this repo is a name-only, the impact is minimal.

**Describe the solution you'd like**
Follow advice in the link above.

[2020-11-13 15:00] aerorahul opened #59 "Move out containers"
**Is your feature request related to a problem? Please describe.**
Containers and container specific files will be moved out of this repository and placed in [emc-containers](https://github.com/NOAA-EMC/emc-containers)
This will allow better organization and testing for containers as their use and need continue to grow at EMC.

**Describe the solution you'd like**
Move container related files to t

[2020-11-13 15:38] edwardhartnett commented on #58
Do we use the master branch on this repo?

Maybe we just should not have one?

If we do have one, we should be updating it from develop, but we never do. So it just points to an old version of develop, which is not particularly helpful.

When I first encountered the "develop" branch on all the repos here, I thought this is a mis-use of the develop branch. We are using it like the master branch, so

[2020-11-13 15:41] edwardhartnett commented on #59
I like the idea but then we need to bring emc-containers into the documentation fold with interlinked README, and we need to make me an admin of that repo.

So after this, would hpc-stack require the containers be installed? Or does hpc-stack only optionally use the containers? Or are the containers only used in testing hpc-stack?

[2020-11-13 15:46] aerorahul commented on #58
@edwardhartnett
We haven't yet made use of `master` on this repo yet.  I cannot speak to other repos, as they were set-up before my arrival here.

I intend to use `master` or `main` to sync with releases and tags as described in the git flow paradigm c.f. [here](https://nvie.com/posts/a-successful-git-branching-model/)

[2020-11-13 15:50] aerorahul commented on #59
@edwardhartnett
The `emc-containers` repo contains recipes to create containers; Docker and/or Singularity.
The containers (depending on the container), uses hpc-stack as the mechanism for building the third-party libraries, NCEP libraries etc for the application.

emc-containers may depend on hpc-stack, but hpc-stack has no dependency on emc-containers.

Yes, appropriate README's will be updated.

[2020-11-13 15:56] edwardhartnett commented on #58
OK, that makes sense.

[2020-11-13 16:04] aerorahul opened #60 "Remove all branches except develop and master/main."
As per NOAA-EMC policy (I cannot find a link to that policy), only the main branches will be available on this repository.
Users are encouraged to fork the repository to create local branches and issue a PR when ready.

This repository will become read-only to the public and all PR's will need approvals.

The following branches will be removed on **Nov 30, 2020** ; owners please take note and sync

[2020-11-13 16:07] edwardhartnett commented on #60
I would like to hear more of this policy actually.

I believe the repo is already read-only to the public and PRs already need approval. Do you mean something additional?

[2020-11-13 16:12] aerorahul commented on #60
I was told, that no one (including admins) should create branches on the noaa-emc repos.  Developers should fork and push branches to their forks and issue PR's.

[2020-11-13 16:43] kgerheiser commented on #54
I have built it on Jet at: `module use /lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/v1.0.0-beta1/modulefiles/stack`

[2020-11-13 16:43] #54 closed, assigned to kgerheiser

[2020-11-13 20:18] #59 closed, assigned to aerorahul

[2020-11-13 21:27] aerorahul commented on #58
Done. Closing.

[2020-11-13 21:27] #58 closed, assigned to aerorahul

[2020-11-15 00:06] climbfuji opened #64 "Install feature/hpc-stack-nco on Cheyenne"
We need to install the version of the hpc-stack in branch feature/hpc-stack-nco on Cheyenne (so that we get upp and not nceppost) for the ufs-weather-model.

The develop branch of hpc-stack has received updates (https://github.com/NOAA-EMC/hpc-stack/pull/38) for compiling on Cheyenne, with several bugfixes and improvements to use static libraries and compile/look for libjpeg etc. These updates are

[2020-11-16 15:13] arunchawla-NOAA commented on #64
what is hpc-stack-nco?

[2020-11-16 15:14] arunchawla-NOAA commented on #64
we should follow a version controlled stack. I am worried if they are not properly versioned

[2020-11-16 16:10] aerorahul commented on #50
I think so @kgerheiser. Xcode 12 might be exposing a bug in udunits.
I will turn off udunits in macOS for the time being.  Since it is not a critical package, it should not impact any of the UFS or JEDI applications.  We will keep this issue open till a new version of udunits is available.

[2020-11-16 16:27] edwardhartnett commented on #50
You should also contact unidata or at least post on udunits issues list. Do not assume that someone is actively maintaining this - I'm not sure anyone is.

[2020-11-16 16:53] kgerheiser commented on #31
What exactly is the problem?

[2020-11-16 17:41] climbfuji commented on #64
Closed via https://github.com/NOAA-EMC/hpc-stack/pull/62.

[2020-11-16 17:41] #64 closed, assigned to nobody

[2020-11-16 18:16] aerorahul commented on #31
EMC_Post is built as nceppost in hpc-stack.  The library it builds is called `libnceppost.a` and the module files export the variable `nceppost_ROOT` so that the UFS can find it via `find_package(nceppost)`.

EMC_Post is now producing the library as `libupp.a`.  `nceppost` was always going to be temporary stop gap measure until EMC_Post finalized what they want the library (and executable) to be c

[2020-11-16 18:21] malloryprow commented on #56
I'm a little confused here. Can the loading the hpc stack be used in code that will be installed under nwprod? On the current production machine (Venus), I am not seeing anything under /usrx/local/nceplibs/dev/hpc-stack/test/hpc-stack/modulefiles/stack. We need to have g2c/1.6.0 or g2c/1.6.2 accessible on both the prod and dev machine as the MET code is going to be installed in operations (under n

[2020-11-16 18:25] Hang-Lei-NOAA commented on #56
NCO is still testing. It has been on wcoss2 under nwprod.
They tend to maintain the old operational libs on other machines now.
Not sure if they are going to change later.

On Mon, Nov 16, 2020 at 1:21 PM malloryprow <notifications@github.com>
wrote:

[2020-11-16 18:27] Hang-Lei-NOAA commented on #56
The hpc-stack cannot be installed on cray, it does not has LMOD. I will
check cray and install the missing single libs on cray. Cray will retire
next year.
We will sync the same testing installations on Venus.

On Mon, Nov 16, 2020 at 1:25 PM Hang Lei - NOAA Affiliate <hang.lei@noaa.gov>
wrote:

[2020-11-16 18:29] Hang-Lei-NOAA commented on #31
Yes, Rahul is correct.
The similar changes has been used in the test version, feature/hpc-stack-nco
We wait for further testing results, and then merge back to develop

On Mon, Nov 16, 2020 at 1:17 PM Rahul Mahajan <notifications@github.com>
wrote:

[2020-11-16 18:32] malloryprow commented on #56
Okay, we are hoping to get MET installed on WCOSS now and not wait until WCOSS2. Since we also need g2c/1.6.0 or g2c/1.6.2 on the Crays, it sounds like using the hpc-stack isn't going to work. Sorry about this, I thought I doing the correct procedure to get new/updated installations of libraries on WCOSS following Arun's "NCEP Library requests" email on 11/10/2020.

[2020-11-16 18:37] Hang-Lei-NOAA commented on #56
If your work is related to the implementation of GFSv16, of course, you
need to use the GFSv16 supporting library. These libs were pushed to NCO
two months ago.
But, if you are toward the development of GFSv17 and future development,
you need to use hpc-stack. Arun's "NCEP Library requests" is for the work
after the GFSv16 implementation.

On Mon, Nov 16, 2020 at 1:33 PM malloryprow <notifications

[2020-11-16 18:49] aerorahul opened #65 "Improve setup_modules.sh interface"
**Is your feature request related to a problem? Please describe.**
Currently `setup_modules.sh` does not check if the meta modulefiles for compiler and mpi as well as for the stack are present or not.

**Describe the solution you'd like**

Add a layer of security that warns the user that modulefiles for the compiler and MPI are already present and queries the user if they want to over-write them.

[2020-11-16 18:52] malloryprow commented on #56
This isn't related to any specific model implementation, but for wider verification use for all models as verification codes transition to using METplus.

[2020-11-16 19:19] kgerheiser opened #67 "Several packages do not build with GCC 10"
The current versions of MPICH, ESMF, UPP, and grib_util do not build with GCC 10 due to argument mismatch.

Passing the flag `-fallow-argument-mismatch` fixes the problem for ESMF and MPICH (through ESMF_F90COMPILEOPTS and FCFLAGS)

Tags need to be updated for UPP and grib_util (fix present in develop branch)

[2020-11-16 19:21] aerorahul commented on #67
@kgerheiser
Have you tried setting:
`export STACK_FFLAGS=-fallow-argument-mismatch`
in `config.sh` when using GCC10?
That is all that should be required until the code is updated.

[2020-11-16 19:23] kgerheiser commented on #67
No, I did it manually, but that's good to know.

[2020-11-16 20:16] #65 closed, assigned to aerorahul

[2020-11-16 20:54] WenMeng-NOAA opened #69 "Need some environment variables defined for jasper, png, z modules"
**Is your feature request related to a problem? Please describe.**
On hpc-stack on Hera, in module jasper, png and z, I can't find environment variables defined as JASPER_LIB, PNG_LIB, Z_LIB.  These environment variables are required in current UPP GNC build makefile.

**Describe the solution you'd like**
Would these environment variables be added or you made the changes in hpc-stack on purpose?

[2020-11-16 21:01] aerorahul commented on #69
Have you considered updating your Hera Makefiles to use variables:
`Jasper_ROOT`, `PNG_ROOT`, `ZLIB_ROOT` and then providing the paths to the libraries.

e.g.
[code]
Or better yet, use a modern build system e.g. `cmake`

[2020-11-16 21:20] WenMeng-NOAA commented on #69
I see JASPER_LIB defined in non-hpc-stack libraries either on ops. WCOSS or Hera so ask for these changes on purpose. It would be fine for me to update makefile with defining JASPER_LIB.

Switch to cmake build in UPP will be the next UPP updates.  At this time, I would like to first update GNC make build capacity  with the hpc-stack so that all UPP users might have a smooth transition.

[2020-11-16 21:26] aerorahul commented on #69
I am going to let this sit and stew and see what others think.
In my opinion, those variables should be retired, because we see all sorts of variables in use.
e.g. `JASPER_LIB`, `JASPER_LIBRARY`, `JASPER_LIBRARIES` etc.
There is an issue #49 discussing the contents of a modulefile

[2020-11-16 21:40] WenMeng-NOAA commented on #69
Thanks for pointing me the on-going issue #49. I would add my new inquires there.

[2020-11-16 23:14] WenMeng-NOAA commented on #49
I understand the wgrib2 utility is in wgrib2 module instead of the grib_util module at hpc-stack. Can you add environment var "WGRIB2" in the wgrib2 module like the setting in old version of grib_util:
setenv("WGRIB2", "/scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/impi-2018.0.4/wgrib2/2.0.8/bin/wgrib2")

This WGRIB2 is required for GFS post workflow and I believe there might be more op

[2020-11-17 14:50] aerorahul commented on #49
@WenMeng-NOAA
The `wgrib2` modulefile sets the `PATH` variable that puts the wgrib2 utility on the PATH.  There is no need to define environment variables such as `WGRIB2` in modulefiles.

Wherever the variable WGRIB2 is used should do this:
[code]

[2020-11-17 14:51] aerorahul commented on #49
@edwardhartnett @kgerheiser
There needs a serious discussion on going forward what needs to be absolutely set in a modulefile.
Our approach, so far has been to add anything and everything to this and sweep them under the rug.

[2020-11-17 15:01] kgerheiser commented on #49
There was a discussion with Steven Earle about what should be in a module on WCOSS. We settled on the following:

[code]

Which I think is pretty reasonable. I think it's fine to have `LIB`, `LIBDIR` and `INC` for builds that don't support CMake.

The only questionable one, I think, is `LIB`. It's fine for simple libraries, but something like NetCDF (`libnetcdf, libnetcdff`) or HDF5 (`libhdf5, lib

[2020-11-17 15:05] aerorahul commented on #49
I am good with that.
What about executables that are installed in `bin/` and the modulefile puts `bin/` in `PATH`.
For e.g. we don't define `NCDUMP=yadi/yada/yada/bin/ncdump` so why should `WGRIB2`?

[2020-11-17 15:07] kgerheiser commented on #49
I think executables should be appended to the path and nothing more

[2020-11-17 16:12] MinsukJi-NOAA opened #71 "Building hpc-stack-nco branch in ubuntu 20.04 container with gcc 9 and mpich 3.3.2"
**Describe the bug**
Using build_stack.sh fails to install hpc-stack-nco in ubuntu 20.04 container

**To Reproduce**
1. (terminal 1) git clone --branch feature/hpc-stack-nco https://github.com/NOAA-EMC/hpc-stack
2. (terminal 2) docker run --rm -it --name hpc-container noaaemc/ubuntu-base:v1
3. (terminal 1) cd hpc-stack
4. (terminal 1) docker cp . hpc-container:/home/builder/hpc-stack
5. (terminal

[2020-11-17 22:06] climbfuji commented on #71
Maybe because ubuntu is using dash instead of bash as default shell? Just a wild guess.

[2020-11-17 22:08] aerorahul commented on #71
Just to be clear, this is an issue in the branch[feature/hpc-stack-nco](https://github.com/NOAA-EMC/hpc-stack/tree/feature/hpc-stack-nco) and not with [develop](https://github.com/NOAA-EMC/hpc-stack/tree/develop).

[2020-11-17 22:11] MinsukJi-NOAA commented on #71
Yeah, in ubuntu /usr/bin/sh is linked to /usr/bin/dash.
But I doubt that sh is able to handle double bracket notation "[[" either.

On Tue, Nov 17, 2020 at 5:06 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-11-17 22:12] climbfuji commented on #71
I usually relink /usr/bin/sh to /usr/bin/bash - can you try?

[2020-11-17 22:14] MinsukJi-NOAA commented on #71
That should work. But the second issue still remains: missing: NetCDF_Fortran_LIBRARY NetCDF_Fortran_INCLUDE_DIR

[2020-11-17 22:17] aerorahul commented on #71
Why is this not raised in the CI which uses ubuntu 20.04?

[2020-11-17 22:20] climbfuji commented on #71
It's possible that the CI version does this relinking, too - specifically to address the dash shortcomings. I remember having seen something like this in the past.

[2020-11-17 22:21] aerorahul commented on #71
No such special treatment in the hpc-stack workflow.
https://github.com/NOAA-EMC/hpc-stack/blob/develop/.github/workflows/build_ubuntu.yaml

[2020-11-17 22:22] aerorahul commented on #71
I am concerned that a branch that did not pass CI or any kind of review went into the UFS PR.
I am more concerned that the UFS will be susceptible to issues until this is resolved and the stack will be the one to be blamed.

[2020-11-17 22:23] MinsukJi-NOAA commented on #71
Current CI is using a container that does not use hpc-stack.
I tested a container with hpc-stack develop branch, and it worked fine.
The hpc-stack-nco branch, which takes care of the UPP, does not build, however.

[2020-11-17 22:24] aerorahul commented on #71
Exactly my point. `hpc-stack-nco` branch was used in the UFS PR that just went in.

[2020-11-17 22:27] MinsukJi-NOAA commented on #71
If hpc-stack-nco was built on NOAA machines successfully, that's fine, as far as ufs-weather-model is concerned, I think. I am just encountering an issue trying to build hpc-stack-nco branch in a container.

[2020-11-17 22:31] climbfuji commented on #71
I am not sure if any of this is helpful to solve the issues we have right now. I'll try something different.

Minsuk, these variables are usually set by FindNetCDF.cmake - do you have the ominous `export NCO_V=false` in the stack config file (e.g. config/config_hera.sh) - can you compare your config file with one of the existing ones where the stack built successfully?

[2020-11-17 22:40] MinsukJi-NOAA commented on #71
`diff hpc-stack/config/config_custom.sh hpc-nco/config/config_custom.sh
7a8 > export NCO_V=false`

[2020-11-17 23:12] edwardhartnett opened #72 "Do a version 1.1.0 release"
Looks like we need a versioned release of hpc-stack.

[2020-11-17 23:20] edwardhartnett commented on #69
These were defined in previous versions of hpc-stack?

[2020-11-17 23:21] edwardhartnett commented on #67
What do you mean?

There has not been a release, so what will the tags be updated to?

[2020-11-17 23:22] kgerheiser commented on #72
Yes, this is a good idea.

I've been meaning to make an issue.

Need to tag wgrib2 and update it here. The current version has a serious bug with the executable.

Maybe update ESMF?

~~Update the tag of g2c so it can build with GCC 10~~

I meant grib_util

UPP 10.0?

[2020-11-17 23:22] edwardhartnett commented on #72
@Hang-Lei-NOAA is there already a tag to a working hpc-stack that we want to release?

Or do we want to release the develop branch?

[2020-11-17 23:23] edwardhartnett commented on #72
@kgerheiser we cannot just update tags. If we want to update it, we need to do a g2c release as well...

[2020-11-17 23:24] aerorahul commented on #69
No

[2020-11-17 23:25] kgerheiser commented on #72
~~g2c has an updated release from a few days ago which contains the fix~~

wgrib2 has been updated with its bugfix. Just need to tag and make a release.

They've been using a newer version of ESMF already, just update the tag. (not sure if this is needed)

UPP 10.0 is also tagged.

[2020-11-17 23:39] Hang-Lei-NOAA commented on #72
Great, Kyle please tag wgrib2 and I will update in the test versions.

Other changes have been added to the test version

On Tue, Nov 17, 2020 at 6:26 PM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-11-17 23:48] MinsukJi-NOAA commented on #71
That didn't do it.  Same error without `export NCO_V=false`

[2020-11-17 23:51] WenMeng-NOAA opened #73 "setpdy.sh from pro_util/1.2.1"
**Describe the bug**
The UPP standalone test for GFS V16 failed with pro_util/1.2.1 as:
----------------------------------
0.008 + export cycle
0.008 + setpdy.sh
/scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/prod_util/1.2.1/bin/setpdy.sh: line 46: COMROOT: parameter null or not set
0.013 + . ./PDY
/scratch1/NCEPDEV/stmp2/Wen.Meng/upp_stack/EMC_post/jobs/J_NCEPPOST[58]: .: ./PDY: cannot

[2020-11-18 02:20] Hang-Lei-NOAA commented on #73
This has been discussed several times on slack.
EIB has decide not to set parameter COMROOT.
But only keep the root of library. Users have to set the path to setpdy.sh.
You can search on slack history to find it.
The recent request discussed by Kuang Jian.

[2020-11-18 12:51] edwardhartnett commented on #71
This must be resolved before #72

@MinsukJi-NOAA how do we reproduce this error on a regular ubuntu workstation?

[2020-11-18 13:05] MinsukJi-NOAA commented on #71
@edwardhartnett, the 'steps to reproduce' above assumes you have docker installed on your ubuntu workstation.

[2020-11-18 13:33] kgerheiser opened #75 "Bugfix for wgrib2"
wgrib2's build had a bug that caused compile definitions to not be passed correctly and resulted in broken features

Update wgrib2 to the latest release

[2020-11-18 13:43] kgerheiser commented on #67
For UPP there has been a release in the form of version 10.0.0, but I think there are some problems with that, so maybe that can be shelved.

The fix for grib_util has been applied to the develop branch. I think we should create a bugfix release for that.

[2020-11-18 13:45] kgerheiser commented on #72
Well, wgrib2 is the main thing I wanted to update, which I've done.

I said g2c when I meant grib_util.

I mention ESMF because the model has been testing with a different beta version while our release version has beta snapshot 27.

[2020-11-18 13:55] kgerheiser opened #77 "Update ESMF in develop branch?"
In the develop branch there's ESMF bs27, while in the branch `feature/nco` bs36 is being used.

Should we update?

[2020-11-18 13:57] Hang-Lei-NOAA commented on #72
I will update grub_util today as well. Thanks

On Wed, Nov 18, 2020 at 8:45 AM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-11-18 14:26] WenMeng-NOAA commented on #73
Do you have any alternative options for fixing my runtime error if the COMROOT is not set? We need modify downstream workflow which current require COMROOT? Thanks!

[2020-11-18 14:27] Hang-Lei-NOAA commented on #72
@kgerheiser I saw the grib_util is still the tag v1.2.1.  Is this the new tag you mean?
@edwardhartnett I think that they are using the hpc-stack-nco for test now. the new release should bring this back to the develop and releasse

[2020-11-18 14:28] Hang-Lei-NOAA commented on #77
Jun and UFS requires bs36

[2020-11-18 14:30] kgerheiser commented on #72
No, I was wrong about there being a tag for it already. It was merged into develop, but there's no tag. We can either just leave it as is (only affects GCC 10), or we would have to create a release for grib_util.

[2020-11-18 14:32] Hang-Lei-NOAA commented on #73
Hi, Yes, for example, Kuang Jian defined the COMROOT by himself in the script after loading the library root.

[2020-11-18 14:34] Hang-Lei-NOAA commented on #72
I strongly recommend that we have a new tag. We can contact the code
manager to see if he agrees with this. @Boi Vuong - NOAA Federal
<boi.vuong@noaa.gov>

On Wed, Nov 18, 2020 at 9:30 AM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-11-18 14:42] BoiVuong-NOAA commented on #72
Kyle and Hang,
I already delivered code (grib_util v1.2.0) to NCO.  We can create a new tag for it or leave it as it in the branch develop.
NOTE: NCO will not accept grib_util build with dynamic libraries on DELL (MARS and VENUS) and CRAY (LUNA and SURGE).
Do you want a new tag for grib_util ?

[2020-11-18 14:43] kgerheiser commented on #72
There's no affect on NCO or what you already delivered

[2020-11-18 14:48] BoiVuong-NOAA commented on #72
I think we do not need a new tag for it, agree ?  Let me know.

[2020-11-18 14:52] Hang-Lei-NOAA commented on #72
I am Okay with all decisions

On Wed, Nov 18, 2020 at 9:48 AM Boi Vuong <notifications@github.com> wrote:

[2020-11-18 14:55] kgerheiser commented on #72
We'll need a new tag for this commit off of the develop branch:

 https://github.com/NOAA-EMC/NCEPLIBS-grib_util/pull/44

Just need to increment the last number by 0.0.1 to 1.2.2 to indicate it's a bugfix.

I can create it if you don't mind.

[2020-11-18 14:57] BoiVuong-NOAA commented on #72
Okay, Would you do it ?

On 11/18/2020 9:55 AM, Kyle Gerheiser wrote:

[2020-11-18 15:22] kgerheiser commented on #72
Created

https://github.com/NOAA-EMC/NCEPLIBS-grib_util/releases/tag/v1.2.2

[2020-11-18 15:32] DusanJovic-NOAA commented on #77
We need ESMF bs27 installed on WCOSS2. See https://github.com/ufs-community/ufs-weather-model/issues/282
Basically, we need both bs27 and bs36 installed on all supported platforms.

[2020-11-18 15:50] Hang-Lei-NOAA commented on #77
Hi, Dusan, We added the esmf bs27 on wcoss2. Please check.
The esmf bs36 and bs37 were installed upon other requirements.

On Wed, Nov 18, 2020 at 10:32 AM Dusan Jovic <notifications@github.com>
wrote:

[2020-11-18 16:07] kgerheiser opened #78 "Update grib_util for GCC 10 support"
Current version of grib_util does not build with GCC 10

v1.2.2 fixes this problem

[2020-11-18 16:07] WenMeng-NOAA commented on #73
Okay, I set COMROOT in the upstream configuration.

[2020-11-18 16:08] WenMeng-NOAA commented on #73
Another error in /scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/prod_util/1.2.1/bin/err_exit:
`/scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/prod_util/1.2.1/bin/err_exit: line 31: /opt/modules/default/init/sh: No such file or directory`

[2020-11-18 16:25] WenMeng-NOAA commented on #75
@kgerheiser Will your fix be implemented on hpc-stack on Hera soon? I got wgrib2 failure in my UPP testing with hpc-stack on Hera.

[2020-11-18 16:28] kgerheiser commented on #75
Do you know specifically how it failed?

But yes, once these few changes are merged, we'll tag it and then install on various machines.

[2020-11-18 16:46] WenMeng-NOAA commented on #75
Here is the runtime errors on Hera:
`0.001 + wgrib2 tmpfile1_006_3 -set_grib_type same -new_grid_winds earth -new_grid_interpolation bilinear -if ':(CSNOW|CRAIN|CFRZR|CICEP|ICSEV):' -new_grid_interpolation neighbor -fi -set_bitmap 1 -set_grib_max_bits 16 -if ':(APCP|ACPCP|PRATE|CPRAT):' -set_grib_max_bits 25 -fi -if ':(APCP|ACPCP|PRATE|CPRAT|DZDT):' -new_grid_interpolation budget -fi -new_grid lat

[2020-11-18 16:47] kgerheiser commented on #75
That can be fixed

[2020-11-18 17:27] WenMeng-NOAA commented on #75
Please let me know when the fix is implemented on Hera or other platforms. Thanks!

[2020-11-18 18:28] kgerheiser opened #80 "Build wgrib2 with ip2 enabled"
wgrib2 should be built with USE_IPOLATES to enable re-gridding within wgrib2

See: https://github.com/NOAA-EMC/hpc-stack/issues/75#issuecomment-729805781

It was disabled (and also broken for other reasons) because it creates extra dependencies in the library part of wgrib2. It has since been fixed with the latest wgrib2 release which builds a simple library, so we can re-enable this feature again

[2020-11-18 20:29] edwardhartnett commented on #71
Can we do a 1.1 release of hpc-stack without resolving this issue? Or must this issue be resolved before the release?

@kgerheiser would like to do a release tomorrow or the next day...

[2020-11-18 20:35] MinsukJi-NOAA commented on #71
@edwardhartnett , this issue is with feature/hpc-stack-nco branch, and not with develop branch. So, if #72 is not merging the feature/hpc-stack-nco into develop, I don't see why this needs to be resolved before 1.1 release.

[2020-11-18 20:59] edwardhartnett opened #81 "set up cron job on hpc systems"
cron jobs can test hpc-stack and email the results.

[2020-11-18 21:11] JessicaMeixner-NOAA opened #82 "Add Climate Data Operators (CDO) to hpc-stack"
Add CDO module for application of porting global-workflow wave-prep job to hpc-stack for GFSv16 application.

**Describe the solution you'd like**
For operations we are using cdo/1.9.8 and CDO_ROOT needs to be defined as part of the module

**Additional context**
For this specific application, only netcdf features are needed.

[2020-11-18 21:58] aerorahul opened #83 "Identify who maintains stack where and establish a process for updating the stacks"
Clearly identify, who officially maintains a stack on which machine.
There can be a back-up.

Establish a process for updating a stack and the versioning that goes with it:
- Is the update in a single package which has no downstream dependency in the stack e.g. ESMF
- is the update in a single package which has downstream dependencies e.g. hdf5 or netcdf
- Is the update to the stack due to change

[2020-11-19 14:22] edwardhartnett commented on #72
I have drafted the release notes.

Other than grib_util and wgrib2, what other NCEPLIBS libraries got a new release in support of hpc-stack 1.1.0?

Other than ESMF, what other external libraries were updated?

What version of ESMF will hpc-stack 1.1.0 have?

[2020-11-19 14:24] edwardhartnett commented on #45
OK, we are about to release 1.1.0 and that will become the official release.

[2020-11-19 14:24] #45 closed, assigned to edwardhartnett

[2020-11-19 14:24] edwardhartnett commented on #43
This was completed.

[2020-11-19 14:24] #43 closed, assigned to edwardhartnett

[2020-11-19 14:30] Hang-Lei-NOAA commented on #72
Above previous release,
g2c/1.6.2,
upp/10.0.0 to replace nceppost
HDF5 and NETCDF compiling options to match the GFSv16 requirements.
Add option of NCO_V to build only NCEPLIBS libraries by using machine
installed third party libraries on WCOSS machines.
Replace bash -> sh to let hpc-stack working on jet and WCOSS2
Add cheyenne build options.

On Thu, Nov 19, 2020 at 9:22 AM Edward Hartnett <notif

[2020-11-19 14:34] kgerheiser commented on #72
ip2 will also be updated to fix the conflicting module name with ip

[2020-11-19 15:01] edwardhartnett opened #84 "End feature/hpc-stack-nco branch, stop using long-lived feature branches"
After we merge the changes from feature/hpc-stack-nco, we will delete this branch and we will not create another like it.

Feature branches will be short-lived, apply to specific issue or issues, and be rapidly merged back into develop.

No one on any other team should ever be using or installing anything other than the official hpc-stack releases. If test builds are made, of develop or of a featu

[2020-11-19 15:31] edwardhartnett commented on #77
So the final result is that in hpc-stack 1.1.0 we will support ESMF bs36?

[2020-11-19 15:33] kgerheiser commented on #77
Yes, but we will also install bs27 alongside it.

[2020-11-19 15:33] edwardhartnett commented on #82
Does this need to be in the hpc-stack 1.1.0 release, which is imminent? Or can it wait for the 1.2.0 release?

[2020-11-19 15:35] edwardhartnett commented on #77
So if the builder of hpc-stack wants to use bs27, they must change the configuration file?

Are we testing with both versions of ESMF?

[2020-11-19 15:36] edwardhartnett commented on #72
Is prod_util being updated for the hpc-stack 1.1.0 release?

[2020-11-19 15:39] kgerheiser commented on #77
Yes, that's a limitation of hpc-stack. It can only install one version at a time, but sometimes we need to support multiple versions like in this case. So, you build everything, turn everything off in the config file and then re-enable only the library you want to install.

Yes, both versions are used by the weather model as Dusan noted.

[2020-11-19 15:44] JessicaMeixner-NOAA commented on #82
I suspect it will be fine to wait for 1.2.0

[2020-11-19 15:47] edwardhartnett commented on #72
Here's what I have now. Is this a complete list?

## New This Release

### hpc-stack Updates

* HDF5 and NETCDF compiling options to match the GFSv16 requirements.
* Add option of NCO_V to build only NCEPLIBS libraries by using machine.
* Installed third party libraries on WCOSS machines.
* Replace bash -> sh to let hpc-stack working on jet and WCOSS2
* Add cheyenne build options.

### NCEPLIBS Up

[2020-11-19 15:51] edwardhartnett commented on #71
OK, hpc-stack-nco is indeed going to be merged. So does this need to be resolved before the imminent 1.1.0 release?

[2020-11-19 15:52] climbfuji commented on #72
Will the bash -> sh change break macOS? Missing is probably also the "Add gaea build options", depending on whether my PR is accepted or not.

[2020-11-19 15:52] edwardhartnett commented on #69
Can we close this issue?

[2020-11-19 15:52] Hang-Lei-NOAA commented on #72
Thanks Edward.

On Thu, Nov 19, 2020 at 10:48 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 15:53] edwardhartnett commented on #67
My understanding is we resolved this with flag-setting. Can we close this issue?

[2020-11-19 15:54] edwardhartnett commented on #50
@aerorahul I think just turning off udunits is not a great fix for this. Do you plan on fixing it further?

If udunits is not a critical package, why are we building it at all?

[2020-11-19 15:54] WenMeng-NOAA commented on #69
Sure. Thanks for clarifying.

[2020-11-19 15:55] edwardhartnett commented on #49
Have we resolved all questions here? Can we close this issue?

[2020-11-19 15:55] BoiVuong-NOAA commented on #72
Hi Ed,

Just a question. Why do we have grib_util version 2.2.0 ?  What are
changes ?

Thanks,

Boi

On 11/19/2020 10:52 AM, Hang-Lei-NOAA wrote:

[2020-11-19 15:56] aerorahul commented on #71
I don't see how it will be merged in its current state.
There are multiple "features" in this branch that need to be their own PR's

We can discuss this later today.

[2020-11-19 15:56] edwardhartnett commented on #41
This seems to be a duplicate of #77.

[2020-11-19 15:57] kgerheiser commented on #41
Yes, I missed this.

[2020-11-19 15:57] aerorahul commented on #50
I cannot fix it without UDUNITS group on fixing it.
At best I can open an issue with udunits.

It is used in JEDI as an optional package.

[2020-11-19 15:57] edwardhartnett commented on #40
This issue can be closed when we release 1.1.0.

[2020-11-19 15:59] edwardhartnett commented on #34
What's the status of this issue? Is it still on-going?

If so, does it have to be resolved for the imminent 1.1.0 release of hpc-stack?

[2020-11-19 15:59] edwardhartnett commented on #32
What's the progress on this issue?

Does this issue have to be completed for the hpc-stack 1.1.0 release?

[2020-11-19 16:00] aerorahul commented on #34
PR #70 will close this issue.
It has passed review. Waiting on CI to merge.

[2020-11-19 16:00] edwardhartnett commented on #31
Have these changes been merged to develop?

[2020-11-19 16:01] Hang-Lei-NOAA commented on #32
This and all changed are included in the feature/hpc-stack-nco branch. It
is done.

On Thu, Nov 19, 2020 at 11:00 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 16:02] Hang-Lei-NOAA commented on #31
Yes, in both develop and feature/hpc-stack-nco branch. The test
installation based on  feature/hpc-stack-nco has been tested fine.

On Thu, Nov 19, 2020 at 11:01 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 16:03] #69 closed, assigned to nobody

[2020-11-19 16:05] edwardhartnett commented on #41
OK, we will close this with #77.

[2020-11-19 16:05] edwardhartnett commented on #50
Did you open an issue with udunits group?

Are they planning in fixing it? If so, when?

If not, can you submit a PR to udunits with a fix?

[2020-11-19 16:05] #78 closed, assigned to kgerheiser

[2020-11-19 16:06] edwardhartnett commented on #32
It is done on the feature/hpc-stack-nco branch?

Or it has been merged to develop?

[2020-11-19 16:07] WenMeng-NOAA commented on #49
@edwardhartnett I need help the UPP compiling with parallel netcdf issue on WCOSS Dell. I will report my errors here later.

[2020-11-19 16:07] edwardhartnett commented on #31
OK, I will close this issue.

[2020-11-19 16:09] edwardhartnett commented on #49
@WenMeng-NOAA we are about to do a hpc-stack 1.1.0 release. If you want this issue resolved in that release, we need to know very soon. If this is a necessary fix for hpc-stack 1.1.0 we need to start working on it immediately.

[2020-11-19 16:11] Hang-Lei-NOAA commented on #32
It is done in  feature/hpc-stack-nco branch

On Thu, Nov 19, 2020 at 11:06 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 16:11] edwardhartnett commented on #72
@BoiVuong-NOAA see https://github.com/NOAA-EMC/hpc-stack/issues/67.

Basically to compile with gfortran 10.

[2020-11-19 16:12] edwardhartnett commented on #32
OK, will there be a PR with these changes before the 1.1.0 release? @kgerheiser I believe you have looked at this merge?

[2020-11-19 16:13] aerorahul commented on #50
For reference, this is the build log for udunits and clang
[code]

[2020-11-19 16:13] edwardhartnett commented on #83
Doesn't @GeorgeVandenberghe-NOAA usually do this?

[2020-11-19 16:13] BoiVuong-NOAA commented on #72
I think the version should be 1.2.1 instead 2.2.0   Is is a typo ?

[2020-11-19 16:14] junwang-noaa commented on #41
Ed, as Rocky asked, I am still not clear what is the  process to request
ESMF lib that is frequently changing under hpc stack?

On Thu, Nov 19, 2020 at 11:05 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 16:14] edwardhartnett commented on #82
@JessicaMeixner-NOAA will you be submitting a PR with this work?

[2020-11-19 16:15] edwardhartnett commented on #73
Is this still on-going? Does this have to be resolved for the hpc-stack 1.1.0 release?

[2020-11-19 16:16] aerorahul commented on #50
Issue opened at Udunits
https://github.com/Unidata/UDUNITS-2/issues/97

[2020-11-19 16:18] edwardhartnett commented on #72
It was a typo. But 1.2.2 is the version of grib_util that was just released.

Here's what I have now:

## New This Release

### hpc-stack Updates

* HDF5 and NETCDF compiling options to match the GFSv16 requirements.
* Add option of NCO_V to build only NCEPLIBS libraries by using machine.
* Installed third party libraries on WCOSS machines.
* Replace bash -> sh to let hpc-stack working on jet and

[2020-11-19 16:18] JessicaMeixner-NOAA commented on #82
Ideally not, no.

[2020-11-19 16:19] WenMeng-NOAA commented on #73
Yes, waiting for the fix implemented.

[2020-11-19 16:22] edwardhartnett commented on #41
@junwang-noaa and @rsdunlapiv we are about to do a 1.1.0 release of hpc-stack which supports both of the ESMF versions you require.

I will open a separate issue about how we may best support multiple, and rapidly changing, ESMF releases.

For now, yes, please open an issue every time you need a new ESMF snapshot installed.

[2020-11-19 16:25] edwardhartnett opened #85 "How to handle multiple and rapidly changing ESMF and UPP snapshot releases?"
Right now we have two ESMF snapshot releases we have to support, and to do that we have to install the stack, then turn everything else off, change the ESMF version, and install again.

Well that's not great.

Furthermore, it looks like this will be happening frequently, as mentioned in #41

So how can we best handle multiple ESMF installs?

How can we best handle rapidly adding a new ESMF version

[2020-11-19 16:28] edwardhartnett commented on #82
@aerorahul can you do this one? (Not immediately, for next release...)

[2020-11-19 16:29] edwardhartnett commented on #73
@Hang-Lei-NOAA can you see if you can resolve this issue?

[2020-11-19 16:31] GeorgeVandenberghe-NOAA commented on #83
I am still without functional access due to the destruction of my GFE
laptop 11/12 by a forced upgrade.   I expect a repair by COB Friday 11/20

On Thu, Nov 19, 2020 at 11:13 AM Edward Hartnett <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3

[2020-11-19 16:32] JessicaMeixner-NOAA commented on #82
@edwardhartnett  I should be doing this before @aerorahul does this.  I thought this would be covered by EIB. If I need to add this myself I will, but I have a lot of other things higher on my list, so it'll be a while.

[2020-11-19 16:32] aerorahul commented on #82
Yes. Should be doable in short order.
I could use input in what "features" of cdo to turn ON.  Just basic netCDF yes.  Grib support?

[2020-11-19 16:34] edwardhartnett commented on #83
OK, great opportunity to identify some back-ups to @GeorgeVandenberghe-NOAA !

[2020-11-19 16:34] Hang-Lei-NOAA commented on #73
This issue has been raised many times. All records are kept in
slack discussion history. Kate, Kuangjian, Wen, and me etc. all raised this
issue before.
Arun and Rahul have decided not to include these variables (e.g. COMROOT),
but only set library root in hpc-stack modulefiles.
Unless, a higher level decision is made. I cannot modify this.

On Thu, Nov 19, 2020 at 11:29 AM Edward Hartnett <notifi

[2020-11-19 16:34] GeorgeVandenberghe-NOAA commented on #49
Send me the git of the repository and list of commands you aure using to
load the stack and I will look at this on Venus.   It will
be slow because my backup tablet is clumsy.   I need the exact commands
because minor syntax differences in both the stack  load and repository
git, change what actually happens.

On Thu, Nov 19, 2020 at 11:07 AM WenMeng-NOAA <notifications@github.com>
wrote:

--

Geo

[2020-11-19 16:35] edwardhartnett commented on #53
What's the status of this issue? Is it still on-going? Does it have to be resolved before the hpc-stack 1.1.0 release?

[2020-11-19 16:39] edwardhartnett commented on #60
I think that's a little too strict. Let's get the 1.1.0 release out, remove the existing feature nco branch, and then discuss with @kgerheiser , @Hang-Lei-NOAA and any other interested parties.

[2020-11-19 16:42] edwardhartnett commented on #73
Is prod_util expecting a COMROOT that is not present in hpc-stack?

Why can we not fix that?

[2020-11-19 16:44] GeorgeVandenberghe-NOAA commented on #53
Yes because we need to make a decision whether we will change what is
loaded with the hdf5 module in hpc-stack or whether the UPP build will
change to add compression support where I think this issue is, either png
library or z library

I need to look at it.   I thought it was z library but I have never seen a
zlib problem in a shared build on a NOAA system

If on;y I'd not missed  that lecture in

[2020-11-19 16:46] Hang-Lei-NOAA commented on #73
Since the $ prod_util_ROOT is defined.
You can set the COMROOT to $prod_util_ROOT/ush  in your script.

On Thu, Nov 19, 2020 at 11:42 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 16:48] aerorahul commented on #73
COMROOT is an NCO variable.  hpc-stack should be generic as it is used outside of NOAA.
There is no reason to define COMROOT that houses an utility.
The modulefile already appends to PATH the bin/ directory or the directory containing utility command line scripts.

[2020-11-19 16:48] JessicaMeixner-NOAA commented on #82
@aerorahul the gfsv16 wave application does not need grib support and thanks for the offer to do this, but if it's the users of a new libraries responsibility and not something that's supported/added by EIB as I thought, then I should be doing this.  It will take me a while to get to it and figure it all out, but I'll have to learn how to do this for the other libraries needed so I suppose now is

[2020-11-19 16:50] WenMeng-NOAA commented on #73
@Hang-Lei-NOAA I am meaning the fix in the script err_exit.

[2020-11-19 16:52] edwardhartnett commented on #53
We need to do a 1.1.0 release of hpc-stack this week...

[2020-11-19 16:54] Hang-Lei-NOAA commented on #73
Hi, Wen, Rahul has point out. The err_exit is under PATH the bin directory

On Thu, Nov 19, 2020 at 11:50 AM WenMeng-NOAA <notifications@github.com>
wrote:

[2020-11-19 16:59] WenMeng-NOAA commented on #73
COMROOT is a NCO variable which define the path of output data in a production suite. If you look into NCO operational logs on WCOSS /gpfs/dell1/nco/ops/com/output/prod/today:
-----------------------------
'COMROOT="/gpfs/dell1/nco/ops/com"
-----------------------------
If you decide to remove default setting in setpdy.sh, it is fine for me to define it in my configuration script.

[2020-11-19 17:03] WenMeng-NOAA commented on #73
see my error on hera:
`Another error in /scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/prod_util/1.2.1/bin/err_exit:
/scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/prod_util/1.2.1/bin/err_exit: line 31: /opt/modules/default/init/sh: No such file or directory`

[2020-11-19 17:09] GeorgeVandenberghe-NOAA commented on #53
I am waiting for information to replicate Wen's problem and try to find out
what is going on

On Thu, Nov 19, 2020 at 11:53 AM Edward Hartnett <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2020-11-19 17:27] Hang-Lei-NOAA commented on #32
Kyle will lead the merge of hpc-stack-nco to the develop

On Thu, Nov 19, 2020 at 12:25 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 17:28] Hang-Lei-NOAA commented on #73
This is the prou_util issue. Not hpc-stack.
The prod_util was originally for prod machines. So, this address is
hardware in their code.

On Thu, Nov 19, 2020 at 12:04 PM WenMeng-NOAA <notifications@github.com>
wrote:

[2020-11-19 17:31] edwardhartnett commented on #82
@JessicaMeixner-NOAA we can do this for you. ;-)

[2020-11-19 17:34] edwardhartnett commented on #73
OK, so we need to fix this in prod_util and then release a prod_util version, and then update hpc-stack to use that version, right?

[2020-11-19 17:34] JessicaMeixner-NOAA commented on #82
@aerorahul is not in EIB, this shouldn't be assigned to him.  I will do this instead.

[2020-11-19 17:35] Hang-Lei-NOAA commented on #85
If we like to install two versions in the hpc-stack. It is not a problem.
I have done this before.
Just duplicate the installation in the ymal file and modify the version.
I will add esmf bs27 and bs36 together into the ymal file to solve this.

[2020-11-19 17:37] Hang-Lei-NOAA commented on #73
Yes, Ed

On Thu, Nov 19, 2020 at 12:35 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 17:37] edwardhartnett commented on #82
OK, ask for help if you need it...

[2020-11-19 17:40] climbfuji commented on #85
It would be nice if we could have two (or multiple) entries in the yaml file for whatever package that will get installed automatically.

[2020-11-19 17:41] aerorahul commented on #85
There are better ways to this, sure. Add loops etc.

One has to ask basic questions first.
- Does one install multiple versions (not variations) simultaneously when a new stack (new compiler+mpi combination) is installed? This is rarely the case.
- Does one add new version (or variation) as need arises in the same stack. This is the most likely scenario as new snapshots become available

[2020-11-19 17:45] Hang-Lei-NOAA commented on #85
Both are necessary.
Dom's suggestion is what I did.
Rahul's suggestion takes the merit of hpc-stack. We can add any future
version into the hpc-stack from an additional loop.

On Thu, Nov 19, 2020 at 12:42 PM Rahul Mahajan <notifications@github.com>
wrote:

[2020-11-19 17:50] edwardhartnett commented on #85
So @Hang-Lei-NOAA can you fix this for the 1.1.0 release just by adding a yaml section? I think that would be worth doing, if it's easy.

Otherwise we can solve this in the 1.2.0 release.

[2020-11-19 17:51] aerorahul commented on #85
I would like to see a general solution that does not overly complicate things.

Just KISS.

[2020-11-19 18:02] GeorgeVandenberghe-NOAA commented on #49
Setting of environment executable names $WGRIB2 and $NDATE  in modules is done for historical reasons.  It's not a good idea and we need a path out going forward, best as stated above to set $PATH in the modules and have the runscript find the executable i.e. wgrib2 in the path.   The problem is a lot of runscripts are going to have to be changed to accomodate the new best practices way we are imp

[2020-11-19 18:38] #34 closed, assigned to aerorahul

[2020-11-19 18:39] edwardhartnett commented on #55
All issues are currently assigned and labeled. @kgerheiser note that we should assign and label all issues in this repo. (That's 1 and 4 from above).

The wiki has also been updated with the test versions (https://github.com/NOAA-EMC/hpc-stack/wiki/HPC-stack-test-installations) and the management of the stack (https://github.com/NOAA-EMC/hpc-stack/wiki/HPC-stack-management).

So I will close this

[2020-11-19 18:43] #55 closed, assigned to edwardhartnett

[2020-11-19 18:45] edwardhartnett opened #88 "Update to new prod_util-1.2.2"
There is a new prod_util release due to issue #71
We need to update hpc_stack to the new release.

[2020-11-19 18:58] edwardhartnett opened #89 "Is there a UFS_UTILS update for hpc-stack-1.1.0? Should there be?"
We are doing the hpc-stack-1.1.0 release in the near future. @GeorgeVandenberghe-NOAA has tagged a release in UFS_UTILS. Shouldn't we be using it?

[2020-11-19 19:16] GeorgeVandenberghe-NOAA commented on #89
ufs-utils is not a part of NCEPLIBS unless someone has again increased our
scope.  It's maintained by the global branch.
It's a big bunch of utilities that do various things.   Because of all of
the different build scripts for the utilities it's tedious but not
real difficult to port to new platforms.   In my last port in 2019, I
ripped up the build system and replaced system specific modules
with

[2020-11-19 19:41] WenMeng-NOAA commented on #49
I just freshly check out the UPP and modified with hpc-stack on Venus. The GNC compiling was successfully built the executable.
At this time, I should have no more parallel netcdf questions. Thanks for all the help!

[2020-11-19 20:19] edwardhartnett commented on #89
Is UFS_UTILS in hpc-stack?

[2020-11-19 20:19] #49 closed, assigned to GeorgeVandenberghe-NOAA

[2020-11-19 20:20] kgerheiser commented on #89
No, it's treated like the weather model. You use hpc-stack to build UFS_UTILS, but it's not included.

[2020-11-19 20:21] edwardhartnett commented on #89
OK, well then, never mind. ;-)

[2020-11-19 20:21] #89 closed, assigned to edwardhartnett

[2020-11-19 20:23] edwardhartnett opened #90 "Do we need to update NCEPLIBS-bufr?"
There have been changes to NCEPLIBS-bufr. They have not yet been released - but I believe they are from the public-v2 branch.

Are these changes necessary for hpc-stack-1.1.0? @jbathegit ?

[2020-11-19 21:04] edwardhartnett commented on #90
We don't need to worry about this for 1.1.0.

[2020-11-19 21:04] #90 closed, assigned to edwardhartnett

[2020-11-19 21:23] edwardhartnett commented on #71
We believe the develop branch will work in the ubuntu container. Can you try this please.

[2020-11-19 21:36] MinsukJi-NOAA commented on #71
The develop branch worked in ubuntu container when I tested it two days ago. I was trying to use hpc-stack-nco branch because it has upp in it (which the weather model is using now).

If I use the develop branch, and specify upp in config files, would that work?

[2020-11-19 22:04] edwardhartnett commented on #31
I thought this had been completed, but apparently not?

[2020-11-19 22:07] Hang-Lei-NOAA commented on #31
I will re-examine the develop branch, since the changes in the test
versions has no problem in UFS runs.

On Thu, Nov 19, 2020 at 5:04 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 22:09] edwardhartnett commented on #31
@Hang-Lei-NOAA see comments in #63

[2020-11-19 22:14] Hang-Lei-NOAA commented on #31
So, it is the issue for Mac OS. We need someone who use MacOS to help

On Thu, Nov 19, 2020 at 5:10 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-19 22:22] aerorahul commented on #31
not just macOS. Also on ubuntu and mpich. See the other log

[2020-11-20 13:46] GeorgeVandenberghe-NOAA commented on #89
If we were to accept  UFS-Utils as we did wgrib2 and prod utils, a d grib
utils  we would have to come up with a comprehensive test plan and
extensive documentation plan for what is basically a large code drop into
our bucket.  Testing and documentation deficiencies are general in the noaa
code base and NCEPLIBS is just one needle in a haystack full of them.

I think UFS utils is out of scope for

[2020-11-20 14:12] #31 closed, assigned to nobody

[2020-11-20 15:40] kgerheiser commented on #71
UPP has been added to the develop branch

[2020-11-20 15:45] MinsukJi-NOAA commented on #71
That's great! I will test the latest weather model in an ubuntu 20.04 container, and report the outcome.

[2020-11-20 17:02] kgerheiser opened #94 "Reduce the number of stack files"
The more stack files that are added the more tedious it becomes to maintain nearly identical files and the more chance for errors.

What ones do we really need and what ones we can get rid of or combine, if any:

`stack_mac.yaml`: Builds MPI by default, disables OpenMP on certain libraries because Clang doesn't have it, builds shared libraries

`stack_custom.yaml`: This is the default config is no

[2020-11-20 17:03] kgerheiser opened #95 "UPP missing from stack_gaea.yaml and stack_ufs_weather_ci.yaml"
After the PR today I noticed the UPP update is missing from these files.

Are these oversights? Should they be added?

[2020-11-20 17:05] Hang-Lei-NOAA commented on #94
We can follow Rahul's suggestion to add a stack_add.ymal to add additional versions. e.g esmf bs36 etc.

[2020-11-20 17:06] climbfuji commented on #94
I can try to compile the NOAA stack on gaea, but I am pretty sure this will be an uphill battle. Regarding macOS: when using LLVM clang that comes via homebrew (just as GNU does), there is OpenMP support. The nice thing about using LLVM clang + GNU gfortran is then that the same config can be used with GNU gcc + GNU gfortran and have OpenMP support. I have instructions on how to do that, compiled

[2020-11-20 17:07] climbfuji commented on #95
Definitely for gaea.

[2020-11-20 17:09] aerorahul commented on #94
IMHO

noaa, gaea, ncar should be combined into one.  These will build static and all libraries (except compiler and mpi).
The libraries are used by a variety of applications; ufs, jedi, etc.

custom and mac are used for CI and should build all libraries.  Static/Shared does it matter for CI?

ufs_weather_ci could be eliminated in favor of (noaa, gaea, ncar).  Sure, there is overhead (extra space/t

[2020-11-20 17:14] aerorahul commented on #95
oversight. just add them and push.  CI won't catch any issues.  Gaea and ufs-weather-ci should be tested by those who use that. I don't foresee any issues there.

[2020-11-20 17:52] #77 closed, assigned to kgerheiser

[2020-11-20 18:13] edwardhartnett commented on #41
I believe this may be closed now.

[2020-11-20 18:13] #41 closed, assigned to kgerheiser

[2020-11-20 18:21] edwardhartnett commented on #83
Can we start with an exhaustive list of machines we are responsible to install hpc-stack on? @GeorgeVandenberghe-NOAA which machines would you install on?

[2020-11-20 18:22] kgerheiser commented on #83
Hang and I usually install hpc-stack.

Orion, Hera, Jet, WCOSS-Dell

[2020-11-20 18:28] edwardhartnett commented on #83
Just those 4 machines then? Where do you install it? That is, under what root directory?

[2020-11-20 18:29] kgerheiser commented on #83
https://github.com/NOAA-EMC/hpc-stack/wiki/Official-Installations

[2020-11-20 18:30] kgerheiser commented on #83
Hang and I have kinda of being doing it ad-hoc. I think I installed it on Hera and Jet, and he did WCOSS and Orion.

I think he and I should split up which machines we're responsible for and formally document that.

[2020-11-20 19:05] GeorgeVandenberghe-NOAA commented on #83
Do we have a non lmod capability so we can build it on gaea and wcossC ?

I would also like it to be THE stack we use on weird new machines like some
azure cluster of the near future.

Sent from my phone

On Friday, November 20, 2020, Kyle Gerheiser <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20

[2020-11-20 19:07] edwardhartnett commented on #83
The README would be a good place to document this. We have authors and code manager, add a section "Installers."

[2020-11-20 19:07] kgerheiser commented on #83
It can be built on systems without lmod, but then you don't have modules

[2020-11-20 19:49] MinsukJi-NOAA commented on #71
I verified that this works by installing hpc-stack/develop in ubuntu 20.04 container and running ufs-weather-model restart unit test.

[2020-11-20 20:08] #73 closed, assigned to Hang-Lei-NOAA

[2020-11-20 20:28] climbfuji commented on #83
I am doing cheyenne with both gnu and intel, and this one will likely stay with me.

I am currrently doing jet - hope to get rid of this responsibility once it is a tier-1 platform for the ufs-weather-model. Arun created an issue in the ufs-weather-model github repo to elevate jet to tier-1.

I am also doing gaea - ok to keep it as tier-2 platform as cheyenne, or pass it on to emc as a tier-1 plat

[2020-11-20 21:00] kgerheiser commented on #83
@climbfuji Hang or I can do Jet. We've been maintaining a build of hpc-stack on there

[2020-11-20 22:22] climbfuji commented on #83
@kgerheiser this would be great, and a necessary first step to make jet a tier-1 platform. @arunchawla-NOAA created an issue for this work here: https://github.com/ufs-community/ufs-weather-model/issues/271 - once you install the stack on jet, can you please let the ufs-weather-model code managers (@junwang-noaa, @DusanJovic-NOAA, myself) know so that we can update the modulefile?

Going forward,

[2020-11-20 22:24] #95 closed, assigned to nobody

[2020-11-20 22:47] GeorgeVandenberghe-NOAA commented on #83
I agree although Jet has the added issue that it is a heterogeneous
platform with different node types and hardware.  This makes resource
specification in workflows where a job can land on any jet, a
nuisance level problem.   A module change at the admin level March 2019
broke our workflow enough we never really got it working again but it's
definitely doable and tractable.   A stack that looks th

[2020-11-20 22:57] climbfuji commented on #83
Yes, hpc-stack does not use the nightmare flag `-xHOST`, which makes this possible.

The fact that jet has different node types and hardware is one reason why we need to make it a tier-1 platform - we need to make sure that our codes function in such an environment.

The ufs-weather-model currently works around the default AVX2 flags by compiling the model with multiple SIMD instruction sets on je

[2020-11-20 23:15] GeorgeVandenberghe-NOAA commented on #83
When I build my old portable tarball NCEPLIBS, on jet I did it in a batch
job on tjet to use the lowest instruction set possible.
There were numerous cases where mine worked and the admins' didn't.

On Fri, Nov 20, 2020 at 5:57 PM Dom Heinzeller <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

[2020-11-20 23:56] #75 closed, assigned to kgerheiser

[2020-11-21 00:54] #67 closed, assigned to kgerheiser

[2020-11-21 00:54] kgerheiser commented on #67
All of our libraries support GCC 10, and for ESMF you just have to provide the stack flags

[2020-11-21 01:38] #88 closed, assigned to Hang-Lei-NOAA

[2020-11-21 01:38] #80 closed, assigned to kgerheiser

[2020-11-21 12:40] edwardhartnett commented on #95
Pushes without PRs are turned off for this repo, even for admins. You should not be able to push to develop from the command line.

[2020-11-21 13:20] edwardhartnett commented on #83
Here's a summary from the comments above:

Machine | Programmer
------------|------------------
Orion | Kyle
Hera | Hang
Jet | Kyle
WCOSS-Dell | Hang
cheyenne | Dom
gaea | Dom
WCOSS-Cray | Hang

Is that all of them?

I would suggest that we mark the release, then everyone install and report back either success or problems.

If there are problems, we hold the release, resolve the problems, and move

[2020-11-21 13:22] edwardhartnett opened #98 "Update README with software installers"
As discussed in #83, we will add a section to the readme with the installers on different machines.

[2020-11-21 13:30] edwardhartnett commented on #83
Elsewhere @mark-a-potts mentions a system called "acorn". Is that a NOAA system? Mark, do you want to try our our 1.1.0 release before we announce it? Or do you want to try building the develop branch?

[2020-11-21 13:34] edwardhartnett commented on #40
I believe everything in this issue has now been completed and merged to develop.

[2020-11-21 13:34] #40 closed, assigned to kgerheiser

[2020-11-21 13:35] Hang-Lei-NOAA commented on #83
Acorn is the name of WCOSS2 machine

[2020-11-21 13:36] edwardhartnett commented on #53
We are about to release 1.1.0. Last I heard from @WenMeng-NOAA all issues with building UPP were resolved - @WenMeng-NOAA please correct me if I am wrong.

@GeorgeVandenberghe-NOAA if you want to try building the develop branch of hpc-stack, that's what we're about to release as 1.1.0.

[2020-11-21 13:38] edwardhartnett commented on #32
@kgerheiser has this be completed? Or is it being bumped to the next release?

[2020-11-21 13:49] aerorahul commented on #83
Lets leave wcoss2 (acorn) out of this release.

[2020-11-21 13:50] edwardhartnett commented on #81
Should be set up on: Orion, Hera, Jet, WCOSS-Dell, cheyenne, gaea.

[2020-11-21 14:04] edwardhartnett commented on #60
OK, looks like the hpc-stack-nco branch has been removed. We'll keep this issue open until we decide whether or not developers are allowed to create development branches in the repo, or whether they must fork and create branches only in their fork.

I suggest that we should let developers create branches for the following reasons:
* Less operations, less chance for mistakes, by not maintaining a f

[2020-11-21 14:17] Hang-Lei-NOAA commented on #60
Agree with Edward.

On Sat, Nov 21, 2020 at 9:04 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-21 14:33] edwardhartnett opened #100 "Add support for wcoss2 (acorn)"
See discussion in #83.

[2020-11-21 14:33] edwardhartnett commented on #83
OK I've added an issue for acorn and assigned it to the next release (1.2.0).

[2020-11-21 14:37] arunchawla-NOAA commented on #83
maybe we should create a milestone for 1.2.0 and identify issues to address for that? We need to add met plus libraries before we roll it out on WCOSS2. Has the met team created an issue for that?

[2020-11-21 14:53] edwardhartnett commented on #83
@arunchawla-NOAA to add an issue to the next release, use the "Project" pull-down on the right side of the issue screen.

At each weekly meeting we will examine the issue list for the next release, and also place any new issues into a release. For release planning for the 1.2.0 release, see: https://github.com/NOAA-EMC/hpc-stack/projects/2

(New issues can also be added from this screen, or select

[2020-11-21 14:54] edwardhartnett opened #101 "Add MET and METplus model verification tools to hpc-stack"
See discussion in #83.

[2020-11-21 14:55] edwardhartnett commented on #83
(@arunchawla-NOAA for release planning of the upcoming 1.1.0 release see https://github.com/NOAA-EMC/hpc-stack/projects/1).

[2020-11-21 15:05] edwardhartnett commented on #101
The first question is: what are the MET plus libraries? ;-)

Is there a URL or repo?

[2020-11-21 15:19] edwardhartnett commented on #72
We are rapidly closing in on the release! I am not normally a fan of pre-releases, but GitHub allows them, and this project is a good example of where they can be useful.

Let's mark a 1.1.0 release on Monday, and mark it as a pre-release while it is installed and tested everywhere. When we have good news from all our platforms we will make it the release, which just changes how GitHub displays it

[2020-11-21 15:28] edwardhartnett opened #102 "hpc-stack probably should install pnetcdf and enable it in PIO by default..."
I'm still getting used to hpc-stack, but I see this in config/stack_noaa.yaml:
[code]

Probably you want to build PIO with pnetcdf. It's the best performing parallel I/O layer, for classic format netCDF files. (It won't handle netCDF/HDF5 files.)

[2020-11-21 15:36] WenMeng-NOAA commented on #53
@edwardhartnett I can build the UPP with hpc-stack on Hera. But a fix is needed for wgrib2/2.0.8 regarding the UPP runtime issue.

[2020-11-21 18:23] GeorgeVandenberghe-NOAA commented on #53
Is this wgrib2  USA runtime issue documented in agithub issue?  If not it
needs to be so we can find it.

If its $WGRIB2  not defined in the module, the plan is to put paths to
executables in the modules, not the full executable name.  $WGRIB2  becomes
wgrib2 in a script with the path to it defined . That's a change from how
NCO  has done it in the past but is more standard practice

On Saturday,

[2020-11-21 23:48] junwang-noaa commented on #83
May I ask who will maintain the hpc stack equivalent nceplibs module files
on cray? If the library requires model code changes, the library needs to
be installed on cray too.

On Sat, Nov 21, 2020 at 9:55 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-22 03:20] climbfuji commented on #72
That sounds like an excellent approach to me, and it will allow me to build the stack and the model (!) on mac again. I had to  skip the ufs-weather-model that required the now-deleted hpc-stack-nco branch.

[2020-11-23 06:34] jprestop commented on #101
Thank you for creating this issue.   METplus isn't quite a set of libraries.  Regarding what METplus is, I invite you to take a look at the "METplus Concept" section of the [METplus documentation](https://dtcenter.github.io/METplus/latest/index.html).  I believe the work for hpc-stack will involve METplus wrappers and MET.  From our [User's Guide](https://dtcenter.github.io/METplus/latest/Users_Gu

[2020-11-23 12:43] edwardhartnett commented on #53
@WenMeng-NOAA can you clarify on the comment you made above:

What is the UPP runtime issue you refer to? Is there a github issue for it?

We need to know whether we are ready to do the hpc-stack 1.1.0 release. This is the last issue, so we need to clarify if it is still an issue, and if it is, we need to resolve it.

[2020-11-23 12:50] edwardhartnett commented on #101
Howdy Julie! ;-)

Do we have a requirement for when hpc-stack must be released with the MET/METplus changes? That is, is there a due date for this work?

[2020-11-23 13:47] WenMeng-NOAA commented on #53
I got runtime error from the UPP test with wgrib2/2.0.8 as:
`0.001 + wgrib2 tmpfile1_006_4 -set_grib_type same -new_grid_winds earth -new_grid_interpolation bilinear -if ':(CSNOW|CRAIN|CFRZR|CICEP|ICSEV):' -new_grid_interpolation neighbor -fi -set_bitmap 1 -set_grib_max_bits 16 -if ':(APCP|ACPCP|PRATE|CPRAT):' -set_grib_max_bits 25 -fi -if ':(APCP|ACPCP|PRATE|CPRAT|DZDT):' -new_grid_interpolation

[2020-11-23 13:57] edwardhartnett commented on #53
OK, thanks @WenMeng-NOAA I have added an issue for this in the wgrib2 repo. We will wait for @kgerheiser to take a look.

Presumably we will sneak this fix, if needed, into the just-released 2.0.8 release...

[2020-11-23 14:16] kgerheiser commented on #53
Are you seeing this issue in the develop branch?

That should be fixed with https://github.com/NOAA-EMC/hpc-stack/pull/76

[2020-11-23 14:33] kgerheiser commented on #72
I think we're ready to give it a try now.

[2020-11-23 14:38] kgerheiser commented on #83
Hang will take care of WCOSS Cray.

[2020-11-23 14:48] edwardhartnett commented on #72
Awesome! I think after #99 is merged, you should do the release.

I will take one last look at the release notes on GitHub...

[2020-11-23 14:49] #98 closed, assigned to edwardhartnett

[2020-11-23 14:52] edwardhartnett commented on #53
OK, we believe all these are fixed, and also we have moved WCOSS2 support to the next release. I will move this issue to the 1.2.0 release.

[2020-11-23 15:43] kgerheiser commented on #72
I'm doing a test on Orion before I make the release. I built hpc-stack and am now building the weather model. Going to run the regression tests, and once those finish I'll create the release.

[2020-11-23 17:30] MinsukJi-NOAA commented on #71
Latest develop branch failed to build in ubuntu 20.04. Error messages are:
[code]

I did not write down which version passed my test on 11/20/2020, but I am guessing either 10a8431 or 941250a. I can find out which commit is the culprit if it is helpful.

[2020-11-23 17:34] kgerheiser commented on #71
The issue is that it's building two UPP's, the one with the commit `dcea26` and UPP v10.0.0.

They have the same Fortran module names (`vrbls2d`, etc), and the build of UPP v10.0.0 is picking up `decea26`'s module and not its own.

The solution is to disable building `nceppost`.

Maybe we should disable that in the stack file that you are using? Is it `stack_ufs_weather_ci.yaml`? Do you need both

[2020-11-23 17:37] MinsukJi-NOAA commented on #71
Thank you @kgerheiser . No, I don't think so. I am building with nceppost disabled in `stack_ufs_weather-ci.yaml` right now. I will report back.

[2020-11-23 17:39] kgerheiser commented on #71
It works fine when you build in a hierarchical structure with lmod, but when installing in a flat structure, like in a container, the names conflict.

[2020-11-23 19:04] MinsukJi-NOAA commented on #71
I was able to build the latest develop branch with nceppost disabled in stack_ufs_weather_ci.yaml.

[2020-11-23 19:06] #71 closed, assigned to aerorahul

[2020-11-23 20:28] kgerheiser opened #105 "Make ESMF beta 27 the default again"
#87 updated ESMF to beta 36.

I was under the impression the model was currently using beta 36 in its develop branch, and that it should be the default version.

Turns out it's still using beta 27 in its modules and the model fails to build with beta 36.

Both versions are to be installed on HPC platforms, but beta 27 should be the default in the stack files or the model fails to build.

[2020-11-23 22:18] #105 closed, assigned to nobody

[2020-11-24 01:12] kgerheiser opened #107 "Regression tests fail with head of develop"
A bunch of the regression tests fail when I run them on Orion:

[code]

Looks like it's all the debug tests? Should I be using ESMF debug or something?

What to do now? Logs to look at?

@climbfuji @junwang-noaa @DusanJovic-NOAA

@climbfuji would you be able to try running them yourself?

[2020-11-24 01:44] climbfuji commented on #107
I can first take a look at your directories (in a couple of hours), to see what's going wrong.

[2020-11-24 01:52] kgerheiser commented on #107
Ok, no rush :)

/work/noaa/nems/gkyle/ufs-weather-model/tests/tests

[2020-11-24 03:21] climbfuji commented on #107
From `less /work/noaa/stmp/gkyle/stmp/gkyle/FV3_RT/rt_254362/fv3_ccpp_control_debug_prod/err`:
[code]
There seems to be a problem with your modulefile. Since the non-debug tests pass, I looked at the diffs between the two modulefiles:
[code]
Looks like your `module use` line is wrong in the debug modulefile.

[2020-11-24 03:36] junwang-noaa commented on #107
It seems a lib issue. I see the error message in fv3_ccpp_control_debug 027
test (vi
/work/noaa/stmp/gkyle/stmp/gkyle/FV3_RT/rt_254362/fv3_ccpp_control_debug_prod/err)

18:
/work/noaa/stmp/gkyle/stmp/gkyle/FV3_RT/rt_254362/fv3_ccpp_control_debug_prod/./fv3.exe:
error while loading shared libraries: libhdf5_hl.so.100: cannot open shared
object file: No such file or directory
 85:
/work/noaa/stmp/gk

[2020-11-24 13:39] edwardhartnett commented on #107
Is this holding up the 1.1.0 release?

[2020-11-24 13:41] edwardhartnett opened #108 "Have hpc-stack use the NCEPLIBS combined build to build the NCEPLIBS"
We have the NCEPLIBS project to install all NCEPLIBS. We also have hpc-stack.

What would be good would be if hpc-stack used NCEPLIBS, so that we did not have the install information in two places. Then we could exactly sync NCEPLIBS releases with hpc-stack releases, which would give the community access to the code actually being run and tested.

I don't think this will be possible by the 1.2.0 r

[2020-11-24 13:43] edwardhartnett opened #109 "Will hpc-stack-1.1.0 and hpc-stack-1.2.0 co-exists on the HPC systems?"
Soon we will release and install 1.1.0 of hpc-stack.

Then, in a few months, we will have 1.2.0 of hpc-stack.

Will that be installed alongside hpc-stack-1.1.0? So both stacks will be available? Or will 1.2.0 replace 1.1.0? In which case all user software will be forced to upgrade to hpc-stack-1.2.0? (That can't be right...)

[2020-11-24 14:13] junwang-noaa commented on #107
@Ed Yes, we can't use this release version on orion with these errors.

On Tue, Nov 24, 2020 at 8:39 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-24 14:16] edwardhartnett commented on #107
From the error messages you post, it seems like a LD_LIBRARY_PATH problem...

[2020-11-24 14:24] DusanJovic-NOAA commented on #107
Why are we using shared libraries? I thought hpc-stack will build only static libraries.

[2020-11-24 14:27] kgerheiser commented on #107
I built it with `shared: NO` (which is the default in `stack_noaa`)

Edit:

The shared libraries it's picking up are coming from somewhere else. In the hpc-stack installation tree it's all static libraries.

I'll edit the debug modulefile and try again. I didn't know about that.

[2020-11-24 14:50] climbfuji commented on #107
Did anyone read my comment? The module use path is DIFFERENT for the PROD fv3 module than it is for the DEBUG fv3_debug module. Probably just pointing to a wrong/previous installation?

Update: Apparently @kgerheiser did, thank you :-)

[2020-11-24 14:57] junwang-noaa commented on #107
Dom, I think that is the error in compile.sh (now in your commit too). I am
curious how model ran with it before.

On Tue, Nov 24, 2020 at 9:50 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-11-24 15:01] aerorahul commented on #107
[code]
Why is this still linking to `hpc-stack-nco`?

[2020-11-24 15:02] kgerheiser commented on #107
Because I didn't edit the debug module, `fv3_debug`

[2020-11-24 15:03] climbfuji commented on #107
Because of what I said last night and only Kyle seem to have read it.

[2020-11-24 15:03] edwardhartnett commented on #102
@aerorahul did you add the PIO build?

[2020-11-24 15:04] aerorahul commented on #107
yes @climbfuji You are correct.

[2020-11-24 15:06] aerorahul commented on #102
Yes. I had.
Sure we can enable pnetcdf.
We don't use `pnetcdf` in UFS and hence it was OFF.
But since the stack is serving a bigger purpose, I agree we should turn in ON.

[2020-11-24 15:10] edwardhartnett commented on #102
Does this mean we also have to install pnetcdf?

[2020-11-24 15:13] aerorahul commented on #102
yep!

[2020-11-24 15:23] junwang-noaa commented on #107
And the run environment is loading the new hpc-stack, otherwise the error
will not be noticed.

On Tue, Nov 24, 2020 at 10:04 AM Rahul Mahajan <notifications@github.com>
wrote:

[2020-11-24 15:53] kgerheiser commented on #109
To switch to a new version, all a user has to do is change from `module load hpc/1.1.0` to `module load hpc/1.2.0`

They will co-exist.

[2020-11-24 16:25] kgerheiser commented on #107
Ok, all tests pass now. Thanks everyone.

[2020-11-24 16:25] #107 closed, assigned to kgerheiser

[2020-11-24 16:47] edwardhartnett commented on #102
Well if you are installing PIO, then pnetcdf should also be installed.

[2020-11-24 16:50] edwardhartnett commented on #109
Thanks!

[2020-11-24 20:03] kgerheiser commented on #72
I made the release

https://github.com/NOAA-EMC/hpc-stack/releases/tag/v1.1.0

I have started installing on Jet and Orion.

[2020-11-24 20:06] Hang-Lei-NOAA commented on #72
Good, Kyle. I have started installing it on wcoss dell.
And will port the pkg to Hera for further installation after dell
downloaded all.

On Tue, Nov 24, 2020 at 3:04 PM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-11-24 20:08] kgerheiser opened #111 "Version 1.1.0 Installation and test status"
This issue is to track the test and installation status of hpc-stack on NOAA systems.

**Note.** The following table applies to the second pre-release tag 1.1.0, created 12/02/2020. The comments below, up to https://github.com/NOAA-EMC/hpc-stack/issues/111#issuecomment-738048057, relate to the first pre-release tag.

Platform | Installation Status | Tested with UFS Regression tests
-------- | ----

[2020-11-24 20:12] climbfuji commented on #111
Additional systems that have been tested:

- macOS Catalina with gcc-9.2.0/gfortran-9.2.0 and pre-installed mpich-3.3.1: installed, not yet tested

Update: ufs-weather-model crashes immediately when ESMF is starting up. I think this has to do with the optimization level. We should really mirror exactly what is used in NCEPLIBS-external, these flags have been tested backward and forward and are als

[2020-11-24 20:22] edwardhartnett commented on #109
@junwang-noaa a question for you...

Once hpc-stack-1.1.0 is installed everywhere, your team(s) will start to build software which depends on it.

Then, we will release and install hpc-stack-1.2.0. It will contain updates for some packages, and some new packages. @junwang-noaa would all your teams then switch their code to use hpc-stack-1.2.0? Or would they continue to use hpc-stack-1.1.0? And onl

[2020-11-24 21:59] climbfuji commented on #111
This failure alone means that we need to open up the release, fix `libs/build_esmf.sh` and retag.

[2020-11-24 22:55] climbfuji commented on #111
Additional issues I have come across so far:
- with LLVM clang, cannot build netcdf-cxx, easiest way is to comment out everything related to it in `libs/build_netcdf.sh` (there is no way unfortunately to say I want netcdf-c and netcdf-fortran, but not netcdf-cxx; the latter isn't used by the ufs-weather-model)
- with LLVM clang, json-schema-validator fails with errror
[code]
- when building only E

[2020-11-24 23:44] kgerheiser commented on #111
Ok, we can replicate the flags for ESMF. I agree that it's probably the optimization level.
In NCEPLIBS-external, for Apple, there's this: `set(ESMF_OPTLEVEL "0")` and `set(ESMF_BOPT "O")`

Other than that, the flags looks the same.

For `NetCDF-cxx`, we could add an option to disable building it?

I was able to build `json-schema-validator` in hpc-stack and standalone using Clang.

For a flat ins

[2020-11-24 23:50] kgerheiser commented on #111
Oh, LLVM Clang. I didn't try that.

Update:

I installed clang10 (LLVM Clang) through MacPorts and was also able to build it.

[2020-11-24 23:59] climbfuji commented on #111
I built ESMF in debug mode, which should use no optimization. It's still crashing right away, so that alone isn't the issue. Is there a reason why we are building a dynamic ESMF library? The static library should do, or? I don't think this makes a difference for this particular problem, but I noted this difference to NCEPLIBS-external (which does only the static build). We also need to look into t

[2020-11-25 00:00] junwang-noaa commented on #109
@edwardhartnett My understanding is that when hpc-stack package is released and installed, it should have been tested by major applications (we should not release new lib package if major applications failed). So in general once a new hpc-stack package is released, on model side we will switch to that new release soon since it has been tested.  We may make requests for updates or new libraries, wh

[2020-11-25 00:11] kgerheiser commented on #111
Through some research perhaps setting this CMake policy for `json-schema-validator` will fix the problem:

`-DCMAKE_POLICY_DEFAULT_CMP0025=NEW`

[2020-11-25 02:57] climbfuji commented on #111
Thanks, Kyle. Will try that tomorrow!

[2020-11-25 12:21] #109 closed, assigned to edwardhartnett

[2020-11-25 14:05] Hang-Lei-NOAA commented on #111
The hpc-stack/v1.1.0 has been installed on hera:
module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack

The hpc-stack/v1.1.0 has been installed on wcoss dell:
module use /usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack

[2020-11-25 14:34] kgerheiser commented on #111
Kind of a tangent question @climbfuji, but how do you run the weather model on Mac using this hpc-stack? I built the model fine, and tried to run the `simple-test-case`, but that fails because I think it's for the public release and some things don't match what's currently in the weather model's develop branch (namelist fails). Is that right?

Is there some pre-packaged run I can use?

[2020-11-25 14:46] climbfuji commented on #111
This is what I do, and it has been working fine for the last two years or so:
- check out the develop branch of the ufs-weather-model and build using `compile.sh`
- have a canned test case ready - you can get this once every now and then from one of the `rt.sh` runs that you do on one  of the tier-1 platforms, just need to adjust the number of tasks etc
- in my case, I have a little `run_macosx.sh

[2020-11-25 14:47] kgerheiser commented on #111
Yes, please.

[2020-11-25 14:48] aerorahul commented on #111
@climbfuji Please do share!!!
I started creating one of my own, but I need to make it general for the different cases and machine independent [here](https://github.com/aerorahul/ufs-tools/tree/run-ufs-standalone)

[2020-11-25 15:01] climbfuji commented on #111
Absolutely. I have several for different physics configurations, with restart runs etc. Also a regional one if I am not mistaken. Just want to make sure that each of them works with the latest version of the code before I share them.

[2020-11-25 18:02] climbfuji commented on #111
Just an update on the model crashes. I implemented the correct flags in `build_esmf.sh` - still no luck, still crashes.

I then went back and updated `NCEPLIBS-external` and `NCEPLIBS` to build ESMF bs27 instead of bs21, and upp instead of nceppost (everything else stayed as it was before when the model compiled and ran, I can reproduce that) - also crashes.

Three possibly culprits: (1) ESMF bs21

[2020-11-25 18:37] kgerheiser commented on #111
I was able to reproduce the LLVM Clang NetCDF C++ error and added an option to disable building it.

But still couldn't reproduce the json_schema_validator bug even with LLVM Clang.

[2020-11-25 20:31] DusanJovic-NOAA commented on #83
Please reinstall hpc-stack on WCOSS2. It's broken after they renamed /lfs/h2 to /lfs/h1.
[code]
MODULEPATH still points to /lsf/h2.

[2020-11-25 20:34] Hang-Lei-NOAA commented on #83
The test version you mentioned is being renewing and will be fully ready in
an hour or so.

On Wed, Nov 25, 2020 at 3:32 PM Dusan Jovic <notifications@github.com>
wrote:

[2020-11-27 23:57] kgerheiser commented on #111
Regression tests pass on Hera with Intel, fail with GNU

`module use /scratch2/NCEPDEV/nwprod/hpc-stack/test/modulefiles/stack`

They fail on Jet. I think it might be something wrong with the tests, or the default account rather than the libraries themselves.

`module use lfs4/HFIP/hfv3gfs/nwprod/hpc-stack/libs/modulefiles/stack`

[2020-11-28 00:26] kgerheiser commented on #111
NetCDF doesn't load on WCOSS Dell for some strange reason:

[code]

But I have HDF5 loaded when I do `module list`

`10) hdf5/1.10.6`

[2020-11-28 01:06] kgerheiser commented on #111
@Hang-Lei-NOAA how did you install hpc-stack on WCOSS Dell? After running into the aforementioned issue I tried installing it in my space and I can't even get hpc-stack to build.

[code]

Any ideas?

[2020-11-28 01:09] Hang-Lei-NOAA commented on #111
This is because of dell LMOD system requires an exact match of module with
version number.
E.g. if you try to do
module load hdf5
It will not be permitted. In this Lmod, hdf5 is different from hdf5/1.10.6
You have to do
module load hdf5/1.10.6
Therefore, we have to modify
the /gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/modulefiles/mpi/ips/
18.0.1.163/impi/18.0.1/netcdf/4.7.4.lua
t

[2020-11-28 01:13] aerorahul commented on #111
@kgerheiser See the known works around section of the readme. Then refer to config_wcoss_dell.sh

[2020-11-28 01:20] Hang-Lei-NOAA commented on #111
Thanks Rahul
It is added there.
@Kyle Gerheiser - NOAA Affiliate <kyle.gerheiser@noaa.gov>  Please try it
again.

On Fri, Nov 27, 2020 at 8:13 PM Rahul Mahajan <notifications@github.com>
wrote:

[2020-11-30 14:29] #84 closed, assigned to edwardhartnett

[2020-11-30 15:16] kgerheiser commented on #111
@Hang-Lei-NOAA the NetCDF module still doesn't work. Could you update it?

It's still

[code]

[code]

[2020-11-30 15:22] Hang-Lei-NOAA commented on #111
I double checked. I have uncommented the lines that Rahul suggested.
This time I further modified netcdf. Please try it again.

On Mon, Nov 30, 2020 at 10:16 AM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-11-30 15:49] climbfuji commented on #111
For your information, I raised an issue about the ufs-weather-model crashes on macOS when updating from ESMF 8.1.0 bs 21 to 27 (or 38): https://github.com/ufs-community/ufs-weather-model/issues/303

For now, we can work around this problem by using bs21 in `stack_mac.yaml`, but once the fv3atm updates for bs38 are merged (https://github.com/NOAA-EMC/fv3atm/pull/180), we need to have a solution.

[2020-11-30 17:28] kgerheiser opened #113 "Install PIO 2.5.2"
From Ufuk:

    https://github.com/NCAR/ParallelIO

[2020-11-30 17:32] edwardhartnett commented on #113
Is this for the 1.1.0 release?

[2020-11-30 17:41] uturuncoglu commented on #113
@edwardhartnett this is not related with the release. I just need it for HAFS CDEPS integration. I'll define PIO as external dependency like S2S app.

[2020-11-30 17:56] kgerheiser opened #114 "Add an option to disable building NetCDF C++"
NetCDF C++ fails to build with LLVM Clang:

https://github.com/NOAA-EMC/hpc-stack/issues/111#issuecomment-733280376

[2020-11-30 18:15] edwardhartnett commented on #114
BTW who is using netcdf-cxx?

It is not very actively maintained. When I am doing C++ programming, I use netcdf-c directly...

[2020-11-30 18:24] climbfuji commented on #114
That is my impression as well. Not many people use it, and cutting-edge features often don't work.

[2020-11-30 18:27] edwardhartnett commented on #114
Then why are we installing it?

Seems like we are just setting a trap for people to fall into...

[2020-11-30 18:30] climbfuji commented on #114
Need to hear from @aerorahul why it was added in the first place. Maybe something in the jedi software stack uses it?

[2020-11-30 19:25] aerorahul commented on #114
Some (a couple) JEDI interfaces use NetCDF-C++ API.
Good to know it is not supported or actively developed.  We will remove C++ API and use the C library directly.

[2020-11-30 19:45] GeorgeVandenberghe-NOAA opened #116 "HPC-Stack on wcoss2 builds ESMF-8.1.036bs but that isn't compatible with the development branch of ufs-weather-model"
HPC-STACK on hera and wcossP3 use ESMF-8.1.027bs as their base ESMF and the development head of ufs-weather model builds with that.  However on WCCOSS2, the stack contains ESMF-8.1.036bs and a binding has been changed so that ufs-weather model fails to build.

Dependee "/scratch1/NCEPDEV/global/gwv/u/u1130/ufs-weather-model/build/FV3/stochastic_physics/CMakeFiles/CMakeDirectoryInformation.cmake" i

[2020-11-30 20:08] climbfuji commented on #116
See https://github.com/NOAA-EMC/fv3atm/pull/180 - this is a known change that must be made when switching to bs38. However, there are issues with bs38 (and bs27) on macOS, see https://github.com/ufs-community/ufs-weather-model/issues/303, which means we have to stick with a ufs-weather-model that is compatible with bs21 (and bs27 for the NOAA HPC systems).

[2020-11-30 20:41] climbfuji opened #117 "hpc-stack v1.1.0 pre-release fails on macOS with clang for json-schema-validator"
**Describe the bug**
[code]

**To Reproduce**
Install/setup system as in lines 5-58 in https://github.com/NOAA-EMC/NCEPLIBS-external/blob/develop/doc/README_macos_clanggfortran.txt (the supported way for the UFS releases).

Change `config/config_mac.sh` to:
[code]

Then:
[code]
and
[code]

[2020-11-30 20:46] kgerheiser commented on #117
I think it's a Clang 9 issue.

I built it with Clang 10.0.1 without issue.

Did you try adding this to the CMake line `-DCMAKE_POLICY_DEFAULT_CMP0025=NEW`?

Or we could just say to disable it if you're using Clang?

[2020-11-30 20:51] climbfuji commented on #117
Either a Clang 9 issue or a LLVM Clang issue. I didn't have any time to investigate what the json schema validator package is looking for, just wanted to have it recorded as an issue. Let me try a few things.

[2020-11-30 20:51] edwardhartnett commented on #117
Is a fix required for the 1.1.0 release?

[2020-11-30 20:57] climbfuji commented on #117
Yes, we just don't know yet how it will look like.

[2020-11-30 21:08] edwardhartnett commented on #117
When entering a new issue, if it is for 1.1.0, assign it to the 1.1.0 project. That will make it clear which issues still have to be resolved for 1.1.0.

I am not clear on why clang is a requirement. I know that gcc and intel are a requirement. Who requires clang?

[2020-11-30 21:12] climbfuji commented on #117
See UFS "Supported Platform and Compilers" here: https://github.com/ufs-community/ufs/wiki/Supported-Platforms-and-Compilers

[2020-11-30 21:46] kgerheiser commented on #117
Seems like a Homebrew specific Clang issue or something in the environment from that. I use MacPorts and tried (LLVM) Clang 9.0.1 and Clang 10.0.1 and it was successful.

[2020-11-30 21:47] climbfuji commented on #117
What is the json schema validator used for? If it's not required for the v1.1.0 release (we don't need the jedi stuff like eckit, atlas, ...), then let's turn it off for macOS altogether and solve it later (just keep the issue open w/o the v1.1.0 tag).

[2020-11-30 22:48] climbfuji commented on #117
I think this is a bug in json-schema-validator, because I see exactly the same cmake output for other packages beforehand, and they build fine. This is for eigen, as an example:
[code]

Scratch that. It is the specific feature
[code]
that cmake trips over.

[2020-11-30 23:09] #114 closed, assigned to kgerheiser

[2020-11-30 23:58] kgerheiser commented on #111
Regression tests pass on WCOSS-Dell

[2020-12-01 16:26] edwardhartnett commented on #117
Has this been bumped to the next release? Is it turned of for the macos now?

[2020-12-01 16:28] climbfuji commented on #117
Not yet. I need to update my PR for the `libs/build_esmf.sh` changes and then I can turn off the json schema validator and everything that depends on it. After this morning's meeting marathon!

[2020-12-01 17:27] uturuncoglu commented on #113
@kgerheiser @edwardhartnett is there any time estimate for it. I am asking because I need it soon to make some modification in the coupled HAFS configuration. The easiest solution could be installing it individually to a common place that I could point out in the module file.

[2020-12-01 18:04] kgerheiser commented on #113
I can get it installed somewhere for you. What machines do you want it on?

[2020-12-01 18:12] uturuncoglu commented on #113
Thanks @kgerheiser. That would be great. I need it on Orion. If you could install it using following modules that will be consistent with the model,

[https://github.com/hafs-community/ufs-hafs-model/blob/feature/hafs_couplehycom/modulefiles/orion.intel/fv3](url)

[2020-12-02 17:58] edwardhartnett opened #119 "netcdf and hdf5 installation configuration changes causing problems"
@WenMeng-NOAA reports:

[2020-12-02 18:03] GeorgeVandenberghe-NOAA commented on #119
This is entirely on us in HPC-STACK.  Make decisions on how we will build the various dependencies and what we will set in their modules, stick to them and document and publish them.  I've mentioned this before in many other discussion threads.

[2020-12-02 18:05] kgerheiser commented on #119
Not sure where `HDF5_LDFLAGS` came from.

The test version, it appears, was using shared libraries. On NOAA HPC systems we build static libraries so just linking to NetCDF isn't sufficient.

I would do `-L$HDF5_ROOT/lib -lhdf5_hl -lhdf5` and that will work

[2020-12-02 18:16] WenMeng-NOAA commented on #119
HDF5_LDFAGS is an environment variable for hdf5 installed at WCOSS operational library site. It is up to EIB's decision for setting
or no setting this variable. It is important to our downstream users that the hpc-stack has stable and consistent installation
configuration so that we could reduce a lot of modification with the stack-hpc upgrading.

[2020-12-02 18:19] kgerheiser commented on #119
`-L$HDF5_ROOT/lib -lhdf5_hl -lhdf5` will work now and forever.

It's unfortunate that the test version was using shared libs and it broke your build because we specifically use static libraries on NOAA systems.

[2020-12-02 18:24] edwardhartnett commented on #119
@WenMeng-NOAA is the problem you are having with the legacy build system for UPP? In other words, not the CMake build?

[2020-12-02 18:27] WenMeng-NOAA commented on #119
Yes, that's the problem for legacy build system. I may test with cmake build later.

[2020-12-02 18:31] edwardhartnett commented on #119
My understanding is that the legacy build system will be retired. When will that occur?

[2020-12-02 18:32] WenMeng-NOAA commented on #119
@kgerheiser With the option "-L$(NETCDF)/lib -lnetcdff -lnetcdf -L${HDF5_ROOT}/lib -lhdf5_hl -lhdf5", I got errors as:
----------------------------
ld: /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-18.0.5.274/impi-2018.0.4/hdf5/1.10.6/lib/libhdf5.a(H5Zdeflate.o): undefined reference to symbol 'compress2'
//usr/lib64/libz.so.1: error adding symbols: DSO missing from command line
make: ***

[2020-12-02 18:48] WenMeng-NOAA commented on #119
@edwardhartnett Retiring GNC build capacity is my to-do list after we complete switching the UPP  dependency libraries to the
hpc-stack. A lot of UPP developers have been relying on GNC build capacity right now. I would like to give them a smooth transition.

[2020-12-02 19:22] jprestop commented on #101
I just wanted to update this issue to let you know that I am starting to learn about hpc-stack now.

[2020-12-02 20:58] kgerheiser commented on #119
@WenMeng-NOAA

You need to also link to zlib. `-L$ZLIB_ROOT -lz` after HDF5

[2020-12-02 22:56] WenMeng-NOAA commented on #119
I set option as:
-L$(NETCDF)/lib -lnetcdff -lnetcdf  -L${HDF5_ROOT}/lib -lhdf5_hl -lhdf5 -L${ZLIB_ROOT} -lz

Now the executable was successfully built.

[2020-12-02 22:58] WenMeng-NOAA commented on #119
Another issue comes out. The environment variable CRTM_FIX in crtm/2.3.0 module is required for runtime. @Hang-Lei-NOAA Can you add it?

[2020-12-02 23:00] kgerheiser commented on #119
What does CRTM_FIX point to?

[2020-12-02 23:12] WenMeng-NOAA commented on #119
CRTM_FIX should point to fix files directory of crtm. Also CRTM_SRC which points to source code directory is needed. These two
environment variables are important for debugging UPP for the issues of simulated satellite radiance,
If you look at crtm module installed at WCOSS operational site or non-hpc-stack libraries on hera, these two variables are set.

[2020-12-03 00:10] edwardhartnett commented on #101
@jprestop you and me both! ;-)

![image](https://user-images.githubusercontent.com/38856240/100946730-33f5a080-34c1-11eb-968f-128f7b9dc27a.png)

[2020-12-03 03:12] climbfuji commented on #111
@kgerheiser do we want to start with a clean plate, remove all the comments in this issue and update the table for the new hpc-stack v1.1.0 tag?

[2020-12-03 04:07] arunchawla-NOAA commented on #119
@WenMeng-NOAA are the issues you are having with using hpc-stack resolved? I am assuming these are problems only when trying to build UPP as a stand alone code and the in line post library itself is building ok since it uses cmake?

[2020-12-03 04:21] arunchawla-NOAA commented on #85
Did we come up with a solution here ? I see the esmf beta snapshots as being the biggest issue. How many beta snapshots do we keep in a stack? Before esmf8 release I believe we reached up to snapshot 44 (maybe even higher).

[2020-12-03 04:23] Hang-Lei-NOAA commented on #119
@WenMeng-NOAA The crtm_fix is not included in the hpc-stack installation. It is not a standard hpc-stack solution. Therefore, I cannot set up the variable. You can include the crtm_fix files as a part of your code, as a solution.

[2020-12-03 04:25] Hang-Lei-NOAA commented on #85
We have solved it, following the way that Rahul suggested.
Upon request, we can add any snapshot versions to the hpc-stack
installation.

On Wed, Dec 2, 2020 at 11:22 PM arun chawla <notifications@github.com>
wrote:

[2020-12-03 13:21] WenMeng-NOAA commented on #119
@arunchawla-NOAA Yes, the issues I reported are from the UPP standalone tests. I would assume the in-line post is fine.

[2020-12-03 13:29] edwardhartnett commented on #111
Certainly we will not remove the comments in this issue, as they contain valuable history.

Has the tag been moved to the proper release version now?

[2020-12-03 13:37] WenMeng-NOAA commented on #119
@Hang-Lei-NOAA The crtm library stalled under the hpc-stack without including fix files and source code path doesn't make sense to me. With more NCEP applications adapt the hps-stack, they would send the same requests as the UPP.
@arunchawla-NOAA In the future,  will the hpc-stack be installed at WCOSS NCO operational library site?

[2020-12-03 13:46] aerorahul commented on #119
@WenMeng-NOAA
The fix files (crtm coefficients) are also used in the GSI.
NCEPlibs does not install these, because they are not part of the emc_crtm repository.
In order to add that to the module file, the path which is currently machine specific, needs to be made generic.

Why does the UPP need crtm source code path? Is it required for compiling? Then why not use the compiled crtm library?

[2020-12-03 13:55] WenMeng-NOAA commented on #119
@aerorahul The UPP compiling and runtime doesn't need crtm source code. The crtm source path would helpful for debugging the issues of the UPP generating simulated satellite radiance process. We get several cases for tracking back in the crtm code.

[2020-12-03 13:59] GeorgeVandenberghe-NOAA commented on #119
CRTM has been an issue for years.  The problem with it is that the binary files are large, 4GB and source repositories cannot handle it.  The github limit is 2gb and it also gave vlab indigestion.    Because of CRTM I never turned my old tarball NCEPLIBS into a repository object.   I kept a bunch of CRTM versions and the total distribution added up to 20+ gbytes.   Instead the tarball is on HPSS.

[2020-12-03 14:03] GeorgeVandenberghe-NOAA commented on #119
For source, we need to preserve the source directory in $PKG/build or wherever cmake puts it, after build.  This is generally a good idea anyway if you ever expect to need to follow a stack trace back to source.   Why do we need to explicitly specify a source directory when running a CRTM code if we are debugging through stack traces?

OR does CRTM have it's own diagnostics that detect  runtime is

[2020-12-03 14:05] GeorgeVandenberghe-NOAA commented on #119
The notation two comments up of crtm$VERSION is incorrect.  It's just $VERSION without a crtm prefix

[2020-12-03 14:06] Hang-Lei-NOAA commented on #119
Technically, it is not a problem, since we can use ftp to store large
files. But the importance is a decision making on whether hpc-stack will
handle it or collect/distribute fix files by models.

On Thu, Dec 3, 2020 at 9:00 AM GeorgeVandenberghe-NOAA <
notifications@github.com> wrote:

[2020-12-03 14:08] GeorgeVandenberghe-NOAA commented on #119
See github issue for comments
https://github.com/NOAA-EMC/hpc-stack/issues/119#

On Thu, Dec 3, 2020 at 8:55 AM WenMeng-NOAA <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2020-12-03 14:09] kgerheiser commented on #111
Yes, it has

[2020-12-03 14:11] aerorahul commented on #119
@WenMeng-NOAA
If you are using the source code for stack trace and debugging, why can you not use this reference:
https://github.com/NOAA-EMC/EMC_crtm/tree/v2.3.0
From what I understand, you are simply trying to identify which line had an error (if debugging a failure).
This is the CRTM source code that is being built and installed.
No source code is preserved, unless they are being used to compil

[2020-12-03 14:13] GeorgeVandenberghe-NOAA commented on #119
I would argue that since crtm is a centralized stack installation used by multiple modeling systems, it should be a part of the stack and the installation should be complete, otherwise each modeling system will have to maintain the binary data and supply environment pointers to wherever it is leading to both duplication and confusion.  We should use ftp or some other large file API to make it so.

[2020-12-03 14:15] aerorahul commented on #119
@GeorgeVandenberghe-NOAA
We are manually making snapshots and maintaining https://github.com/NOAA-EMC/EMC_crtm
We should instead use https://github.com/NOAA-EMC/crtm.  This is the authoritative CRTM repository with a script to get the binary files from a UCAR hosted FTP site.
We should work with the CRTM developers

[2020-12-03 14:20] GeorgeVandenberghe-NOAA commented on #119
THe original source code in the repository is no good for debugging if the compilation process, in particular cpp, changes it before the compiler sees it.  Line numbers will not be the same in the stack trace and original source code.   For a valid stack trace back to the real failing line of code, we need the final .files that the compiler actually sees.  For a F90 repository file, this needs we

[2020-12-03 14:29] GeorgeVandenberghe-NOAA commented on #119
I  agree we need to work with the authoritative crtm repository which now exists.  It didn't in 2016 when I tried to make CRTM generally available on NOAA platforms and there was no authoritative site I could get to.  At that time I worked from what NCO had already installed and reverse engineered it to work elsewhere.   The idea that authoritative sites are inconsistent with what NCO wants, or co

[2020-12-03 14:29] aerorahul commented on #119
@GeorgeVandenberghe-NOAA
Good point. But, there is only 1 file that `cpp` acts on and that is `CRTM_Module.F90` and it enables a version number in the compiled library.  So the argument that we need to have to save the build directory for crtm is for stack tracing is debunked.
There are also ESMF debuggers in our group.  What do they do?  Perhaps, the better solution would be to build CRTM with de

[2020-12-03 14:36] GeorgeVandenberghe-NOAA commented on #119
One file is true for crtm.  It is not for the general issue of installing  the general software package.  ESMF leaves its source code lying aroung post build so stack traces can point to it and I know UFS developers are exploiting that because they keep asking us for debug versions of the beta release of the week

A case can be made though, our dependency libraries should be reliable enough we don

[2020-12-03 14:42] aerorahul commented on #119
@GeorgeVandenberghe-NOAA
Build tree and source code do not belong in the central stack install location.
For developers who want that level of access/scrutiny, should build their own version of the software and link against it.
But that is my opinion, FWIW.

[2020-12-03 14:42] WenMeng-NOAA commented on #119
If the hpc-stack developers decide to remove library source code at hpc-stack, from the downstream user perspective, we would like to get guidance of accessing source code for the trouble-shooting the real-time issues.

[2020-12-03 14:42] kgerheiser commented on #119
We (Hang and I) maintain the source code (and logs) for each installation we do. There's no environment variable, but it's there if someone wants to look.

[2020-12-03 14:46] aerorahul commented on #119
@WenMeng-NOAA
Here are your instructions.
The compiler module depends on the machine.

[code]

[2020-12-03 14:53] climbfuji commented on #111
Should we add at least a note like _outdated_ or _was relevant to first pre-release_ or something like that to the comments that are no longer relevant? If we start populating the table in the description (i.e. at the top of the issue), nobody will remember that the table is newer than the comments below. Or add a comment to the table to provide clarification?

[2020-12-03 14:57] edwardhartnett commented on #111
Update or repeat the table, it's OK either way.

[2020-12-03 14:58] edwardhartnett commented on #117
Is this complete now? Can we close the issue?

[2020-12-03 15:00] climbfuji commented on #117
The issue has been "postponed" to develop. We can close this one and open another one, or update the title and remove the v1.1.0 label. Whatever you prefer.

[2020-12-03 15:09] arunchawla-NOAA commented on #119
This is an interesting discussion. I want to highlight that we want generalized modules for libraries with relative paths. This is so that we can do lift and replace without breaking anything. I have a question as to why we are using emc_crtm as opposed to crtm if that is the authoritative repository. Is it an access issue?

[2020-12-03 15:14] edwardhartnett commented on #117
I will move it to the next release.

[2020-12-03 15:18] GeorgeVandenberghe-NOAA commented on #119
"Lift and replace without breaking anything"

That ship has sailed.   Modern software packages require absolute hard paths for configuration when they are being used and so must be reconfigured and reinstalled if moved.  This is invisible to users but critical for  package maintainers.

It has already bitten us hard on WCOSS2 where two filesystem moves required rebuilding of a large chunk of our s

[2020-12-03 15:27] arunchawla-NOAA commented on #119
We are moving into discussions that are going a little off topic. I want to get back to the discussion at hand. The paths that are in the modules for the hpc-stack are relative for easy installation, so there are no paths for things that are not part of the installation. That is why CRTM_FIX and CRTM_SRC are not part of these module files.

@WenMeng-NOAA can you define these in your script level?

[2020-12-03 15:38] kgerheiser commented on #119
CRTM_FIX could be installed and defined as part of hpc-stack. There's a script in the authoritative repository that does just that, but our fork doesn't include it.

[2020-12-03 15:43] GeorgeVandenberghe-NOAA commented on #119
In order for Wen to define CRTM_FIX she needs to know where it is.

Faced with this problem I would log in and start hunting for  where NCO put it which defeats the purpose of our own stack.

Can we just go after the definitive crtm repository rather than our own when building CRTM for hpc-stack and include the
fix files?

[2020-12-03 15:45] edwardhartnett commented on #119
I will add an issue for going to definitive CTRM.

[2020-12-03 15:46] edwardhartnett opened #120 "Use definitive CRTM repo instead of our fork"
We are currently using a fork of CRTM. There is a definitive repo we can use instead.

[2020-12-03 15:47] WenMeng-NOAA commented on #119
@kgerheiser Setting CRTM_FIX in crtm module would be helpful.  If CRTM_SRC is not set, I would like to know the path of crtm source for trouble-shooting runtime issues. I usually use "module show" to find out library information.

[2020-12-03 15:48] kgerheiser commented on #120
I don't know the history behind why we use a fork or if there are changes, etc. IIRC, it was because their repository used to not be on Github?

It would easy for us to use the authoritative repository and install the fix files ourselves.

[2020-12-03 16:47] GeorgeVandenberghe-NOAA commented on #119
The crtm repository script to get the fix files simply hangs on hera.

This kind of stuff is why we need to deal with this at the stack build level rather than having users deal with it and
it's also why I maintain a stable tarball rather than trusting NOAA to support access to a repository in a stable reliable way.
We have intermittent issues accessing hdf5 this way too.

The repository script to

[2020-12-03 16:53] GeorgeVandenberghe-NOAA commented on #119
But assuming access is available, we should run this after compiling the library
filename="fix_REL-2.4.0.tgz" #rel 2.4.0 files

if test -f "$filename"; then
    if [ -d "fix/" ]; then #fix directory exists
        echo "fix/ already exists, doing nothing."
    else
        #untar the file and move directory to fix
                                tar -zxvf $filename

[2020-12-03 16:53] kgerheiser commented on #111
WCOSS Cray works

[2020-12-03 16:54] climbfuji commented on #111
I added a note to the table and started updating it, would you mind doing the same, please?

[2020-12-03 16:57] kgerheiser commented on #111
I updated the table, is there something else you want me to do?

[2020-12-03 16:58] climbfuji commented on #111
No, thanks, that's great. Just curious, are you going to do some macOS tests as well?

[2020-12-03 16:59] GeorgeVandenberghe-NOAA opened #121 "crtm installation on hpc-stack does not include fixed files. These are large and essential for use of the API Need decisions on what to do."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**System:**
What system(s) are you running the code on?

**Additional context**
Add any other context about the problem here.

[2020-12-03 17:00] GeorgeVandenberghe-NOAA commented on #121
closing.  This is covered in issue 120

[2020-12-03 17:00] #121 closed, assigned to nobody

[2020-12-03 17:06] kgerheiser commented on #111
I can.

I think I figured out how to get a test case by passing `-k` to the regression test and then `scp` the data and editing `model_configure`.

I took `fv3_ccpp_control_prod`. Is that a good one to try?

[2020-12-03 17:11] climbfuji commented on #111
Any will do, the most relevant is probably `fv3_ccpp_gfs_v16beta`. I wanted to upload a canned test case to S3, hoping I get to this at some point!

[2020-12-03 21:19] #83 closed, assigned to kgerheiser, climbfuji, edwardhartnett, Hang-Lei-NOAA

[2020-12-04 14:49] edwardhartnett commented on #111
Has hpc-stack-1.1.0 be installed on gaia yet? @climbfuji you are listed as doing that install - it is the last one we are waiting for before calling 1.1.0 released...

[2020-12-04 14:51] climbfuji commented on #111
Will do this morning. Same for Cheyenne (it's also in the list).

[2020-12-04 15:27] kgerheiser commented on #111
I re-ran the GNU regression tests on Hera and they passed

[2020-12-04 17:03] climbfuji commented on #111
Cheyenne and Gaea are cruising along with their installs ... takes a while. Will do the debug modulefiles as well.

[2020-12-04 19:17] climbfuji commented on #111
Installed on gaea, regression tests passed. Cheyenne still running.

[2020-12-04 20:47] climbfuji commented on #111
Installed on cheyenne for GNU and Intel. GNU tests passed, for Intel several tests failed - seems to be an issue with the system, not the libraries (compile job hang and timed out). Rerunning Intel now.

[2020-12-04 22:31] climbfuji commented on #111
Finally, the regression tests passed on Cheyenne with Intel, too.

[2020-12-04 22:31] climbfuji commented on #111
I'd say the release is good to go.

[2020-12-05 00:25] #111 closed, assigned to kgerheiser

[2020-12-07 17:50] uturuncoglu commented on #113
@kgerheiser is there any update about this issue? Me might also need this module on Hera and Jet.

[2020-12-07 19:12] kgerheiser commented on #113
Working on it now

[2020-12-07 20:44] uturuncoglu commented on #113
@kgerheiser Thank you very much!

[2020-12-07 22:03] kgerheiser commented on #113
You can try it with `module use /apps/contrib/NCEPLIBS/orion/modulefiles` (which you already have).

`module load pio/2.5.2`

It sets the variables:

* `PIO_ROOT` (the root directory)

* `PIO_INC` (the include dir)

* `PIO_LIBDIR` (`$PIO_ROOT/lib`)

They are static libraries (`libpioc.a` and `libpiof.a`) so you'll have to link in NetCDF, etc.

Let me know how (if) it works.

[2020-12-07 22:05] slawrence87544 opened #122 "Issue in build_nceplibs.sh at nemsio compile step - mpi local variable not set for "no modules" configuration"
During the setup for the build_nceplibs.sh script, the local variable 'mpi' is not set to local variable 'mpi_check' as it is in the "use modules" case.  Several ncep libraries rely on this local variable 'mpi' downstream to set the the compile flags (FC, CC, CXX).

**To Reproduce**
When calling './build_stack.sh' omit the -m flag to keep the 'MODULES' environment variable set to 'false'.  Ensure

[2020-12-07 22:21] kgerheiser commented on #122
I don't fully understand because our Github Action builds without `-m` and we build it all the time without modules.

[2020-12-07 22:41] uturuncoglu commented on #113
@kgerheiser Thanks. Sure. I'll test it and let you know. BTW, will this version part of the next release of hoc-stack?

[2020-12-07 22:50] kgerheiser commented on #113
Yes, we will put version 2.5.2 in hpc-stack. It'll actually be more convenient like that than having to install it manually. Looks like your HAFS model would easily transition to use hpc-stack.

[2020-12-07 22:58] uturuncoglu commented on #113
Thanks. Yes, we could update modules for HAFS app once everything is working.

[2020-12-08 00:57] slawrence87544 commented on #122
Hi Kyle,

I'm building the hpc-stack within a container using the following logic on
a Ubuntu 20.04 Linux platform with the following options:

./build_stack.sh -p /home/builder/opt -c
config/config_linux_ubuntu20_intel_oneapi_beta09.sh -y
config/stack_noaa.yaml

With these options, it goes to the $MODULES=false codepath which does not
set the local 'mpi' variable.  As a result, the code will set

[2020-12-08 03:53] kgerheiser commented on #120
I found the branch that we want here in the JCSDA repo here: https://github.com/JCSDA/crtm/tree/release/REL-2.3.0_emc (which just mirrors our build with the fix files built in using git-lfs).

However, to check it out requires `git-lfs` (the fix files are contained in the repository), which isn't available everywhere.

So, I started looking for the fix files that we want at the ftp site: ftp://ftp

[2020-12-08 06:08] slawrence87544 opened #123 "Netcdf c++ not built even though disable_cxx config is set to NO in stack_<>.yaml file."
**Describe the bug**
The netcdf c++ package is a required dependency for JCSDA's soca-science compile.  However, if one sets the disable_cxx setting under the netcdf section to NO, the build will not compile the netcdf c++ package.

**To Reproduce**
1) Include the 'disable_cxx: NO' in the stack config yaml.
2) Compile the hpc-stack using the ./build_stack.sh command.
3) Once it is complete, verify

[2020-12-08 14:54] edwardhartnett commented on #123
The netCDF C++ API is poorly maintained and does not offer any significant advantages over the netcdf-c API. When I am doing C++ programming, I don't use netcdf-cxx, I use netcdf-c.

I recommend that all NOAA C++ programmers also use netcdf-c instead of netcdf-cxx.

[2020-12-08 14:55] edwardhartnett commented on #120
What the heck are fix files?

[2020-12-08 14:56] kgerheiser commented on #120
New term for me too. It's their static (`fixed` -> `fix`) binary coeffecient files

[2020-12-08 14:57] climbfuji commented on #120
Static input data such as coefficients for radiative transfer calculations (in this case), orographic data for given horizontal resolutions (in other cases), ...

[2020-12-08 15:22] kgerheiser commented on #123
Fixed with #124

[2020-12-08 15:24] GeorgeVandenberghe-NOAA commented on #120
We need to host the fix files ourselves at an ftp site since git with lfs support isn't available everywhere.   Breaking it up into two or three repositories is a special case solution for THIS problem but I think we should just  solve the general problem of how to host libraries that require large datasets to function.   The large dataset in the repository is replaced by a "method" to get it such

[2020-12-08 15:26] GeorgeVandenberghe-NOAA commented on #120
The endian issue is separate.  ALL NOAA machines are currently little endian and we maintain big endian capability to ease the transition from the NCEP CCS decomissioned in 2013.   Most of our stuff is compiled with intel's endian conversion flags turned on for the "temporary" period we need to tradition.

Okay.. It's been six years!!!   This is mostly outside of libraries' scope and is a NOAA man

[2020-12-08 15:27] GeorgeVandenberghe-NOAA commented on #120
Autocorrect changed "transition" to "tradition" in my previous comment.   I hate it when autocorrect does that and I am convinced it sometimes happens AFTER proofreading at the actual post time

[2020-12-08 16:11] kgerheiser commented on #122
I see, but at the same time in nemsio `find_package(MPI)` is called, so `FC`, etc don't have to point to the MPI compiler as long as MPI can be found in your PATH or MPI_ROOT or a standard location like `/usr/local`.

To me it looks like an environment issue. The same build works on other platforms.

I don't know why it's picking up this:

`"/tmp/hpc-stack/pkg/nemsio-v2.5.2/'/opt/intel/oneapi/mpi/

[2020-12-08 16:23] edwardhartnett commented on #72
I believe everything is done for the 1.1.0 release. I will close this issue and this release...

[2020-12-08 16:23] #72 closed, assigned to edwardhartnett

[2020-12-08 18:01] slawrence87544 commented on #122
I saw that as well and since I wasn't sure what repo would be responsible for maintaining the find_package(MPI), I was able to get a workaround by adding the line

[[ ! -z $mpi_check ]] && mpi=$mpi_check

just after line 131 fixes the issue.

so this current code in build_nceplibs.sh
else
    nameUpper=$(echo $name | tr [a-z] [A-Z])
    eval prefix="\${${nameUpper}_ROOT:-'/usr/local'}"
fi

can be

[2020-12-08 18:12] edwardhartnett commented on #60
OK, unless @kgerheiser disagrees, we will close this issue with the understanding that developers on hpc-stack can create one (or few) short-lived branches which are only there to merge to develop. No external users will develop code based on these branches. Only official release branches are supported.

[2020-12-08 18:12] #60 closed, assigned to aerorahul

[2020-12-08 18:42] #123 closed, assigned to kgerheiser

[2020-12-08 23:58] #122 closed, assigned to nobody

[2020-12-09 03:10] kgerheiser commented on #122
I actually ran into this just now attempting to build hpc-stack using Intel in a flat structure on Ubuntu.

[2020-12-09 21:32] stefan-vaisala opened #126 "HDF5 SZIP Configure Flag Incorrect in build_hdf5.sh"
**Describe the bug**
The configuration flag option for SZIP in build_hdf5.sh is incorrect. Line 66 of build_hdf5.sh (https://github.com/NOAA-EMC/hpc-stack/blob/develop/libs/build_hdf5.sh#L66) has the flag as "--with-szip", which should be "--with-szlib" per https://support.hdfgroup.org/HDF5/release/chgcmkbuild.html.

**To Reproduce**
Any HDF5 builds that try to enable SZIP will not be built with S

[2020-12-09 22:04] aerorahul commented on #126
@stefan-maxar
Thank you for reporting the bug.

[2020-12-09 22:09] stefan-vaisala commented on #126
@aerorahul No problem!

Also found a minor typo on line 66 of build_pio.sh (https://github.com/NOAA-EMC/hpc-stack/blob/develop/libs/build_pio.sh#L66). The "-DPnetCDF_PATH=$PNETCDF" throws an error if PIO is enabled with PNETCDF support as $PNETCDF is never defined. Changing it to "-DPnetCDF_PATH=$PNETCDF_ROOT" fixes it.

[2020-12-09 23:40] #126 closed, assigned to nobody

[2020-12-10 01:27] edwardhartnett commented on #126
This HDF5 szlib vs. szip issue has been causing confusion for 15 years! ;-)

[2020-12-10 16:19] edwardhartnett commented on #81
@aerorahul @kgerheiser this will be a topic in the meeting today and the top priority item for the next release. We need to get a daily build on all our required platforms.

[2020-12-10 16:31] kgerheiser commented on #81
I started working on this and have a basic script. However, NOAA systems have firewalls that block certain connections (gitlab, wget, etc). Not everything can be downloaded locally. For that we use DOWNLOAD_ONLY option and then upload it to the system to built it.

I think there are only a few things that don't use Github (which isn't blocked) so the script needs to be disable those things that ar

[2020-12-10 22:14] #82 closed, assigned to JessicaMeixner-NOAA

[2020-12-11 06:17] uturuncoglu commented on #113
@kgerheiser I tested with the new PIO module and everything works fine. Thank you very much! I am not sure you are the right person to ask but is it possible also install it on Hera and Jet with the module files found in here,

https://github.com/hafs-community/ufs-hafs-model/tree/support/HAFS/modulefiles

this will also help us to continue to develop and test the new version of the HAFS app in di

[2020-12-17 21:22] kgerheiser commented on #81
I have it running on Hera, Jet, Orion, and WCOSS Dell.

I can have the build part run on Gaea, but I can't run regression tests on there.

[2020-12-17 21:27] climbfuji commented on #81
I can help. Maybe still before my vacation Dec 21-25, otherwise afterwards.

[2020-12-17 21:44] kgerheiser commented on #81
Might be after.

I have a few changes to make now that I've been running it for a few days.

[2020-12-22 03:20] junwang-noaa opened #131 "hpc stack libs cause model results different between hera and orion"
**Describe the bug**
When model was ported to orion last year, the results were bit-identical to the results generated on hera. It is found that it is not the case any more. Dusan checked and found that the model baseline results diverged on the two machines since ufs-weather-model [PR#193 ](https://github.com/ufs-community/ufs-weather-model/pull/193), where the hpc stack libs were replacing the p

[2020-12-22 14:48] aerorahul commented on #131
@junwang-noaa
When was the last time this check was made?
How were the libraries built then?  If anything, the libraries are built consistently now than they were before.
Is this really a stack issue or an underlying system difference?
I suspect this difference will be very difficult to figure out and I am not sure it is worth the time and effort.

[2020-12-22 16:23] junwang-noaa commented on #131
The last time when the baseline were identical on the two platforms is 20200917. When the commit with hpc-stack came in on 20200921, the baselines became different.

So far I only see:

 09/15      Princeton bastion PM (8am – Noon ET, Hera/Gaea access via Boulder)
    09/22      Jet monthly PM (8am-6pm MT)
    09/22      Boulder bastion PM (8am – Noon ET, Hera/Gaea access via Princeton)
    09/22

[2020-12-22 16:26] aerorahul commented on #131
we still have the old libraries from before hpc-stack on both systems.
Can you run a test confirming that using the old libraries reproduce the model output?

[2020-12-22 16:46] kgerheiser opened #133 "UDUNITS 2.2.26 no longer available"
Auto build failed:
https://github.com/NOAA-EMC/hpc-stack/pull/132/checks?check_run_id=1595924507

Checking the Unidata website:
https://artifacts.unidata.ucar.edu/service/rest/repository/browse/downloads-udunits/

2.2.28 is the only version available at that location

[2020-12-22 17:06] aerorahul commented on #133
We should migrate the fetch to the github repo:
https://github.com/Unidata/UDUNITS-2
instead of wget.

[2020-12-22 17:29] edwardhartnett commented on #133
Last time I checked UDUNITS-2 != UDUNITS. Maybe that has changed since this was years ago...

[2020-12-22 17:42] kgerheiser commented on #133
They appear to be the same

[2020-12-22 20:45] #133 closed, assigned to kgerheiser

[2020-12-23 17:14] WenMeng-NOAA opened #135 "Installing upp/10.0.1 at the hpc-stack."
**Is your feature request related to a problem? Please describe.**
The new version of upp lib upp/10.0.1 is ready for installing at the hpc-stack. This new version will solve an issue found in ufs-weather-model in-line post.

**Describe the solution you'd like**
The upp/10.0.1 can be download from the tag upp_10.0.1 on the UPP github repository.

**Additional context**
Add any other context or scr

[2020-12-23 17:17] kgerheiser commented on #135
We will update to 10.0.1

[2021-01-05 04:39] uturuncoglu commented on #113
@kgerheiser @edwardhartnett we are syncing our development with the head of the model and I need to provide the PIO 2.5.2 on Hera, Jet and Orion. The model currently using following module on Orion,

/apps/contrib/NCEP/test/hpc-stack-nco/modulefiles/stack

and it includes PIO 2.5.1. Is there any plan to update HPC stack with newer version of the PIO?

[2021-01-05 13:12] edwardhartnett commented on #113
FWIW Jim Edwards and I are planning on doing the PIO 2.5.3 release within the next week or so...

[2021-01-05 16:41] uturuncoglu commented on #113
@edwardhartnett thanks for the information. Do we need to wait for 2.5.3? It seems that it will include minor fixes. To sync HAFS model with the UFS weather model, we need to have 2.5.2 which has short data type support to support data components with packed data arrays (via add_offset and scale_factor).

[2021-01-05 17:17] edwardhartnett commented on #113
You can go with 2.5.2.

[2021-01-06 23:46] WenMeng-NOAA opened #136 "Installing upp/10.0.2 at the hpc-stack."
**Is your feature request related to a problem? Please describe.**
Please install another version of upp lib upp/10.0.2 at the hpc-stack. This version is released for the upp refactor merging.
**Describe the solution you'd like**
The upp tag upp_v10.0.2 can be downloaded from the UPP github repository EMC_post.

**Additional context**
Add any other context or screenshots about the feature request

[2021-01-11 20:00] jprestop commented on #101
I have made changes in my [GitHub repository](https://github.com/jprestop/hpc-stack/) to add MET and am ready to test on WCOSS, however, as you may have seen, there are currently devonprod access problems and I cannot access WCOSS.  I will start on making changes to add METplus (which should go much more quickly now that I am more familiar with hpc-stack, and also the METplus installation has less

[2021-01-11 21:45] Hang-Lei-NOAA commented on #113
The pio/2.5.2 have been installed on Hera, WCOSS-dell, and WCOSS-cray.

[2021-01-11 22:06] edwardhartnett commented on #113
When you install, do you run tests?

[2021-01-11 22:25] Hang-Lei-NOAA commented on #113
Not yet, the hwrf people will run the tests.

On Mon, Jan 11, 2021 at 5:07 PM Edward Hartnett <notifications@github.com>
wrote:

[2021-01-12 17:45] RobertoPadilla-NOAA opened #137 "Compiling with hpc-stack a WW3 wave model program produces empty grib2 files"
**Describe the bug**
The use of the  hpc-stack to compile a program to produce grib2 files from wave-component of the coupled system allows to build the executable but this executable produces empty grib2 files.
If the hpc-stack is not used and modules are loaded separately then the executable produces valid grib2 files.

**To Reproduce**
==Install and run the test as described at
https://github.c

[2021-01-12 17:50] JessicaMeixner-NOAA commented on #137
@RobertoPadilla-NOAA can we give them a smaller test case where they don't have to run the whole workflow?

Also updates from my fork that you have pointed them to have long since gone back into feature/coupled-crow.  I'd prefer that people are not using that anymore.

[2021-01-12 17:53] aerorahul commented on #137
Please provide a single standalone script to reproduce the behavior.

[2021-01-12 17:58] kgerheiser commented on #137
Which hpc-stack are you using? I just ran `wgrib2 -V` on a random grib2 file I have and it returned what I think are correct answers.

There was a bug in our wgrib2 build, but it has since been fixed in a newer version of hpc-stack.

Here is my output:

[code]

[2021-01-12 18:17] JessicaMeixner-NOAA commented on #137
@kgerheiser those are atm grib files, not wave grib files. I've tried with both 1.0.0 and 1.1.0, without success.

[2021-01-12 18:23] kgerheiser commented on #137
I thought it might be an issue with the `-V` option of the executable, but if it's still broken with v1.1.0 then that's a problem. I thought that might fix it.

[2021-01-12 18:34] RobertoPadilla-NOAA commented on #137
Jessica,
I don't have a smaller test case, Do you?
If not, I have to work on building one.

Roberto

On Tue, Jan 12, 2021 at 12:50 PM Jessica Meixner <notifications@github.com>
wrote:

[2021-01-12 18:37] kgerheiser commented on #137
The command used to create the grib file would be a good start

[2021-01-12 18:45] JessicaMeixner-NOAA commented on #137
No @RobertoPadilla-NOAA  but you made multiple tests without the workflow so I assumed you have something.  I think we want the test to be super small and simple, so you just have the binary output from a model run, the ww3_grib.inp file and then a simple script for building the ww3_grib exe they need to run (1 way with the modules that work from the non-hpc-stack modules) and one w/the hpc-stack

[2021-01-12 18:53] RobertoPadilla-NOAA commented on #137
Ok @kgerheiser @aerorahul , I'll be back to you once I have the small test ready.

[2021-01-14 19:52] aerorahul opened #138 "gsl was not being built"
**Describe the bug**
A big fat exit right at the top of build_gsl_lite.sh prevents building and installing gsl.

**To Reproduce**
Checkout develop and try.

**Expected behavior**
No gsl being built

**System:**
All systems

[2021-01-14 21:25] #138 closed, assigned to nobody

[2021-01-15 16:35] RobertoPadilla-NOAA commented on #137
@kgerheiser @aerorahul  I was working with the canned test for you, on Hera, but now hpc-stack modules can not be found. This is probably related to the problem of data loss this morning (Do you know if this is true?)
On Orion, looking into detail, the hpc-stack was not the issue, it was a version of the jasper module. I changed  jasper/2.0.15 by jasper/1.900.1, ww3_grib works properly using the h

[2021-01-15 16:39] kgerheiser commented on #137
If they weren't working before they seem to be working now. I just tried loading the modules on Hera.

[2021-01-15 16:41] climbfuji commented on #137
I had success loading them on one of the login nodes (hfe11), but compiling on the compute nodes failed. Maybe some compute nodes lost their `/scratch1` mounts?

[2021-01-15 16:50] kgerheiser commented on #137
@RobertoPadilla-NOAA you changed Jasper/2.0.15 to Jasper/1.900.1, or 1.900.1 to 2.0.15? That's something that should be investigated.

[2021-01-15 16:59] RobertoPadilla-NOAA commented on #137
@kgerheiser on Orion I changed jasper/2.0.15 to jasper/1.900.1 in order to build ww3_grib properly.

[2021-01-15 17:09] RobertoPadilla-NOAA commented on #137
On Hera I'm working on scrath1, and I'm compiling on the login nodes hfe04 and hfe10 and loading hpc-stack fails.

[2021-01-15 17:14] kgerheiser commented on #137
In what way does it fail?

I'm on `hfe04` on `scratch1` at `/scratch1/NCEPDEV/nems/Kyle.Gerheiser`

I run:

`module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack`
`module load hpc/1.1.0`
`module load hpc-intel`
etc

And it works.

[2021-01-15 18:37] RobertoPadilla-NOAA commented on #137
I don't know what is happening
On Hera
Several days ago I was using this file
/scratch1/NCEPDEV/stmp2/Roberto.Padilla/GitHub/WW3_hpc-satck_test/modulefiles/modulefile.ww3.hera_Original
script to load the hpc-stack, that contains
module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/modulefiles/stack
module load hpc/1.0.0
It was working.
Now that path it doesn't work, the one you sent has an extra "hp

[2021-01-15 18:39] climbfuji commented on #137
Please note that there was a filesystem problem last night, resulting in about 45TB of corrupted=lost data.

[2021-01-15 18:44] RobertoPadilla-NOAA commented on #137
[Roberto.Padilla@hfe10 Run_test]$ module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
[Roberto.Padilla@hfe10 Run_test]$ module load bacio/2.4.0
Lmod has detected the following error:  The following module(s) are unknown: "bacio/2.4.0"

Please check the spelling or version number. Also try "module spider ..."
It is also possible your cache file is out-of-date; it may help

[2021-01-15 18:45] RobertoPadilla-NOAA commented on #137
[Roberto.Padilla@hfe10 Run_test]$ module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
[Roberto.Padilla@hfe10 Run_test]$ module load bacio/2.4.0
Lmod has detected the following error: The following module(s) are unknown: "bacio/2.4.0"

Please check the spelling or version number. Also try "module spider ..."
It is also possible your cache file is out-of-date; it may help

[2021-01-15 18:53] aerorahul commented on #137
@RobertoPadilla-NOAA
bacio needs the intel compiler module loaded.

[code]

[2021-01-15 18:54] RobertoPadilla-NOAA commented on #137
@climbfuji, yes, that was my question in the first comments of today, that if the filesystem failure was affecting the loading of hpc-stack?.
None of the modules are  loading using
module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/modulefiles/stack

[2021-01-15 18:56] aerorahul commented on #137
@RobertoPadilla-NOAA
You are not using the modules correctly.
You are using the stack with the module use, but you still need to load the modules with a module load in a hierarchical manner.

The correct use of hpc-stack and the software stack underneath it is outlined [here](https://github.com/NOAA-EMC/hpc-stack/wiki/Official-Installations)

[2021-01-15 18:57] kgerheiser commented on #137
The new version of hpc-stack also has updated some libraries (like bacio is version 2.4.1 now), so that's why it's not finding the versions you specified. The updated libraries should have no affect on your code or have any change in results (mainly build system changes).

[2021-01-15 19:02] JessicaMeixner-NOAA commented on #137
@RobertoPadilla-NOAA do I need to help make the test case or a file using the new module versions of hpc-stack?

[2021-01-15 19:20] kgerheiser commented on #137
I'm not sure about what you were originally using at `/scratch2/NCEPDEV/nwprod/hpc-stack/libs/modulefiles/stack` as there's nothing there anymore. I didn't touch it, and it's on `scratch2` which supposedly isn't affected by the data loss.

That seems to be an old version of hpc-stack (which would also contribute to your wgrib2 problem).

I would update to use the most recent version of hpc-stack i

[2021-01-15 19:24] RobertoPadilla-NOAA commented on #137
@JessicaMeixner-NOAA if you can help making the file with the new module versions of hpc-stack will be great. Thanks.

[2021-01-15 19:29] kgerheiser commented on #137
Try this:

[code]

[2021-01-15 19:43] RobertoPadilla-NOAA commented on #137
@kgerheiser it failed to load only g2
Lmod has detected the following error:  The following module(s) are unknown: "g2/3.4.0"

[2021-01-15 19:45] aerorahul commented on #137
@RobertoPadilla-NOAA
The g2 version is 3.4.1 in @kgerheiser message ⬆️

[2021-01-15 19:48] kgerheiser commented on #137
I stealthily edited that after I put in 3.4.0 :)

[2021-01-15 20:04] RobertoPadilla-NOAA commented on #137
All modules have been loaded, all programs have been compiled but the link has failed.
I will finish the canned tests and going back to you.

[2021-01-15 22:07] RobertoPadilla-NOAA commented on #137
All, test to reproduce the issue (it uses hpc-stack) and test where the issue has been solved (NO hpc-stack) are available on Hera at /scratch1/NCEPDEV/stmp2/Roberto.Padilla/GitHub/WW3_hpc-stack_test
Inside of the subdirectory Run_test/ you will find two scripts to run the cases.
In the main directory (WW3_hpc-stack_test) you'll find a README file, where it is explained the content of the subdirec

[2021-01-15 22:24] kgerheiser commented on #137
I was able to run it.

Where can I find the actual wgrib2 commands used to create the file?

Ideally, I would run the same wgrib2 command with the relevant input to produce the file.

Also, you think it's related to Jasper? And it works with Jasper 1.9?

[2021-01-15 22:31] aerorahul commented on #137
I don't think they are running `wgrib2`? I think they are building an executable `ww3_grib` and running that on a gribfile to produce some more grib files.

I am also looking for what the command actually is and what is being used to build `ww3_grib`.
I can see they are setting `FC` to `gfortran`. Why? I don't know.

[2021-01-15 22:36] kgerheiser commented on #137
Oh, I was under the impression it was a wgrib2 issue.

[2021-01-15 22:40] JessicaMeixner-NOAA commented on #137
Yes - we run ww3_grib, which is working w/the non-hpc stack modules and creates empty grib files with.  So this is likely some module setting, compile, linking type issue.

@aerorahul the FC to gfortran is for the programs that pre-process the *.ftn files into the fortran files.  It's not what the actual code is using.

[2021-01-15 22:44] JessicaMeixner-NOAA commented on #137
@RobertoPadilla-NOAA which version of WW3 this is either because a permissions issue or it's not actually a git repo (which I think might be the case as I don't see parts of the repository here).

[2021-01-15 23:21] aerorahul commented on #137
can you please show the output of make VERBOSE=ON when building `ww3_grib`?
It sure looks like that should be somewhere in `w3_make`.

[2021-01-16 00:38] RobertoPadilla-NOAA commented on #137
@JessicaMeixner-NOAA for WW3 is the version that we are using in the coupled system.
You don't see parts of the git repository because you suggested (and it was a good suggestion) to make a simple test not to run the coupled system. I just copied WW3/model from sorc/fv3_coupled.fd/WW3/model eliminating al other directories.
@aerorahul @kgerheiser  The executable ww3_grib produces grib2 files from

[2021-01-19 14:28] JessicaMeixner-NOAA commented on #137
@RobertoPadilla-NOAA simplifying so that the entire global-workflow is not needed does mean that we need to simplify so much that we don't even include the entire WW3 code so we cannot do things like "git log" and see which git hash you are using. "The version that is in the coupled system" is not specific enough of a version.

[2021-01-19 15:05] WenMeng-NOAA opened #140 "Installing upp/10.0.3 at the hpc-stack"
**Is your feature request related to a problem? Please describe.**
A new version UPP is available for building standalone UPP via cmake. Please install upp lib upp/10.0.3 at the hpc-stack on WCOSS, Hera, Jet, and Orion.

**Describe the solution you'd like**
The tag upp_v10.0.3 can be downloaded from the UPP repository.

**Additional context**
Add any other context or screenshots about the feature

[2021-01-20 15:41] kgerheiser opened #141 "DOWNLOAD_ONLY option doesn't work properly"
**Describe the bug**
DOWNLOAD_ONLY doesn't work properly if not connected.

The git fetch needs to be removed from PIO

The other issue with PIO is that it uses those CMake modules internally and attempts to download them and fails if there is no connection.

The problem with ESMF is that it's deleted every time before it's built because ESMF does not support out-of-source builds.

**To Reproduce*

[2021-01-20 22:42] MinsukJi-NOAA opened #142 "hpc-stack build failure"
**Describe the bug**
Build fails with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --branch v1.1.0 https://github.com/NOAA-EMC/hpc-stack
2. cd hpc-stack
3. export HPC_MPI=mpich/3.3.2
4. ./build_stack.sh -p /home/builder/opt -c config/config_custom.sh -y config/stack_ufs_weather_ci.yaml

**System:**
Ubuntu 20.04 with gcc 9.3.0 and mpich 3.3.2

**Additi

[2021-01-20 23:16] kgerheiser commented on #142
That's kind of annoying. They remove their previous version once they release a new one.

[2021-01-21 13:27] edwardhartnett commented on #141
I suggest you build PIO with the autotools build. I try to keep the CMake build up to date, but my co-programmer on PIO generally handles the CMake build. The autotools build does not do a git fetch, it includes everything it needs.

[2021-01-21 13:37] edwardhartnett commented on #142
I have sent an email to Unidata people asking if they could please leave old versions of udunits on the FTP site when a new release is dropped.

[2021-01-21 16:27] aerorahul opened #144 "PIO has an inconsistency in its release tag. Adapt to it."
**Describe the bug**
PIO had an inconsistency with the naming of tag `2_5_1`.
https://github.com/NCAR/ParallelIO/issues/1711
They are now back to regular with `2_5_2`.

**To Reproduce**
use `develop`

**Expected behavior**
PIO will fail.

[2021-01-21 20:53] edwardhartnett commented on #131
Any progress on this issue?

[2021-01-21 20:54] edwardhartnett commented on #102
@aerorahul are we installing pnetcdf now? And is PIO using it by default?

[2021-01-21 21:02] aerorahul commented on #102
We are not installing PNetCDF since it is not used anywhere in the UFS or JEDI applications.  PIO is not building with PNetCDF in hpc-stack (since PNetCDF is not being installed).

I will let the UFS developers tell us if they wish to use PIO (with PNetCDF or without)
The UFS is producing the HDF5/netCDF4 files with parallelization and compression.
@junwang-noaa @DusanJovic-NOAA @DeniseWorthen Ple

[2021-01-21 21:06] #144 closed, assigned to nobody

[2021-01-21 21:38] slawrence87544 opened #146 "Add support for JCSDA's jedi software bundles, specifically soca-science"
**Is your feature request related to a problem? Please describe.**
Currently, none of the stack configs will accommodate a clean build of JCSDA's soca-science repo.  In an effort to create a unified stack which will support the noaa-emc/gsi repo (https://github.com/NOAA-EMC/GSI), the ufs-weather-model (https://github.com/ufs-community/ufs-weather-model), JCSDA's soca-science (https://github.com/JC

[2021-01-22 06:54] uturuncoglu commented on #113
@kgerheiser @edwardhartnett @Hang-Lei-NOAA Is PIO 2.5.2 installed to MSU Orion? If so, could you tell me the module file that I need to use.

[2021-01-22 10:15] edwardhartnett commented on #113
@Hang-Lei-NOAA who are the hwrf people who will run the tests?

When we install software, we should always run the tests. We should not depend on users to do it.

We can make whatever modifications are needed to make the tests easier to run (ex. slurm files in the distribution, if that would help).

[2021-01-22 14:04] Hang-Lei-NOAA commented on #113
Bin Liu in EMC has run the tests on Hera and wcoss installations.

I will test it too. Kyle will install on the Orion.

On Fri, Jan 22, 2021 at 5:16 AM Edward Hartnett <notifications@github.com>
wrote:

[2021-01-25 18:17] kgerheiser commented on #113
@uturuncoglu

It's on Orion at `module use /apps/contrib/NCEP/libs/hpc-stack/modulefiles/stack` (then load `hpc`, `hpc-intel`, `hpc-impi`...). It is the same modules that the weather model uses.

[2021-01-25 18:32] kgerheiser commented on #116
ESMF beta 27 is the default version that is installed in every stack file.

https://github.com/NOAA-EMC/hpc-stack/blob/e42c1e0a802e38012fa53c693dbcee8b154adb2f/config/stack_custom.yaml#L76

ESMF beta 36 may be present because we've been installing both versions (debug and non-debug), and it may even be the default because I think LMod sets the most recent install as the default version, but beta 2

[2021-01-25 18:32] #116 closed, assigned to nobody

[2021-01-25 19:14] uturuncoglu commented on #113
@kgerheiser Thanks for your help. I could see pio/2.5.2 in the module list and I am testing it now. If we see any problem I'll let you know.

[2021-01-25 20:03] kgerheiser commented on #140
Do we need to install every point release? Is 10.0.1, 10.0.2 and 10.0.3 necessary? I think hpc-stack should focus on the users of the libraries rather than automatically installing each library release as it comes out (unless someone needs that particular version).

The weather model is using version 10.0.0 and we'll keep that as the default version in the stack files until they update. There is s

[2021-01-25 20:25] kgerheiser commented on #142
This has been fixed in a more recent version of hpc-stack. The code is fetched from the Github repository instead. Unfortunately, unless they re-add it to the the ftp site, the hpc-stack 1.1.0 branch won't work.

[2021-01-25 22:24] kgerheiser commented on #141
@edwardhartnett I've been trying out the autotools build and I can build, but `make check` doesn't pass. All tests except these ones pass:

[code]

Something about testing NetCDF classic format. I'm building without pnetcdf, could that be why?

[code]

[2021-01-25 22:55] kgerheiser commented on #141
The tests work when I use pnetcdf.

[2021-01-26 00:55] WenMeng-NOAA commented on #140
@kgerheiser You are right. I realized too many requests for installation. At this time, I would like to install 10.0.1 first due to a bug fix for the current in-line post and also some model developers would like to use the version without the UPP refactor merge (10.0.2) for their experiments. We might skip 10.0.2 and 10.0.3 and install 10.0.4 after regional in-line post will be integrated.

[2021-01-26 02:09] kgerheiser commented on #140
@Hang-Lei-NOAA and I will install 10.0.1 tomorrow, and then we can figure out any other versions you may also want.

[2021-01-26 03:14] WenMeng-NOAA commented on #140
@kgerheiser Great, Thanks!

[2021-01-26 18:39] WalterKolczynski-NOAA opened #148 "Build using 1.1.0 netcdf/4.7.4 libraries on Hera fails"
I am attempting to update the build of the reg2grb2 component in the coupled-crow branch of global workflow from hpc/1.0.0-beta1 to hpc/1.1.0 on Hera. The program fails to compile. However, if I hardcode just the netcdf/4.7.4 libraries to use the netcdf and netcdff libraries from the test version, the program compiles successfully.

Module loads: [modulefile.reg2grb2.hera](https://github.com/NOAA-

[2021-01-26 18:46] kgerheiser commented on #148
I see undefined references to HDF5, and I see NetCDF being linked to, but not HDF5.

[2021-01-26 18:59] WalterKolczynski-NOAA commented on #148
The NetCDF module loads the HDF5 module, but I did try linking it explicitly with no change. Also, the same build script does work if it points to the version of netcdf libs in the test directory.

[2021-01-26 19:04] kgerheiser commented on #148
The NetCDF build in `/scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/impi-2018.0.4/netcdf/4.7.4` contains shared libraries which means it automatically links in its dependent libraries (HDF5, etc).

We prefer static linking on HPC platforms and I'm not sure why the test build was built with shared libraries.

You need to add something like `-L$HDF5_ROOT/lib -lhdf5_la -lhdf5`

[2021-01-26 19:10] aerorahul commented on #148
you could do something like:
[code]
in `build_reg2grb2.sh`

Don't forget about `nf-config --includedir` for `NETCDF_INCLUDES`

[2021-01-26 19:15] WalterKolczynski-NOAA commented on #148
I had tried linking hdf5 hdf5_hl explicitly. It yields the same errors:

[code]

[2021-01-26 19:17] aerorahul commented on #148
@WalterKolczynski-NOAA
You need to use `mpiifort`.
The HDF5 and NetCDF libraries are built with MPI.
`export FCMP=mpiifort`

[2021-01-26 19:23] Hang-Lei-NOAA commented on #140
The post new versions have been installed on Hera, WCOSS dell, and cray(under NCEPLIBS v1.3.0)

[2021-01-26 19:24] WalterKolczynski-NOAA commented on #148
I tried that too (you can see it commented out in the modulefile). It still fails, but with different undefined references:

[code]

Since it built using the test library with ifort, I stopped worrying about that part.

nf-config only reports the netcdf lib already being linked.

[2021-01-26 19:25] aerorahul commented on #148
@WalterKolczynski-NOAA
please look at the `nc-config --libs` and append that.
The HDF5 library is built with zlib compression so it needs `-lz`

[2021-01-26 19:28] aerorahul commented on #148
also, your modulefile is missing a module load of hdf5

[2021-01-26 19:29] aerorahul commented on #148
Here is what I see:
[code]

[2021-01-26 19:40] aerorahul commented on #148
In the modulefile:
[code]

In the build script:
[code]

[2021-01-26 19:47] WalterKolczynski-NOAA commented on #148
Even loading the hdf5 and zlib modules explicitly and using nc-config and nf-config to set the lib and include paths, the build still fails:

[code]

And I still don't know why it would work for the test version with the way I had it but not for 1.1.0.

[2021-01-26 19:52] aerorahul commented on #148
It is not finding the `-lnetcdf`
the paths in `nc-config --libs`  are mangled.

[2021-01-26 19:55] aerorahul commented on #148
Can you try this
[code]

[2021-01-26 20:01] WalterKolczynski-NOAA commented on #148
Still no:
[code]

[2021-01-26 20:05] aerorahul commented on #148
getting closer though. Try:
[code]

Also this:
[code]

[2021-01-26 20:11] WalterKolczynski-NOAA commented on #148
Both of those work. Which should I use as the starting point to genericize it back to using the envvars set by the module(s)?

So, the reason it worked for the test version that the test version had the shared object files in the lib directory?

[2021-01-26 20:19] WalterKolczynski-NOAA commented on #148
Nevermind on that first one, I see one of the tests was just the same with redundant library loads.

[2021-01-26 20:19] aerorahul commented on #148
Use the second one.  It can be generalized as follows:
In the modulefile (order matters):
[code]

In the build script:
[code]

[2021-01-26 20:21] WalterKolczynski-NOAA commented on #148
Is there a reason I shouldn't be using X_LIBRARIES and X_INCLUDES instead of X_ROOT/lib and X_ROOT/include?

[2021-01-26 20:23] aerorahul commented on #148
You can do either. `X_ROOT` is always defined when a module is loaded and is used as a standard variable for detecting paths etc in build systems e.g. `cmake`. `X_LIBRARIES` is our concoction and should be deprecated.

[2021-01-26 20:24] kgerheiser commented on #148
The thing about that is some libraries have lib64 and it depends on the system, so it's not completely generic.

[2021-01-26 20:25] WalterKolczynski-NOAA commented on #148
Okay, I don't want to use anything that is going to be deprecated. Though there has been an issue where the lib directory is inconsistent (some are lib, some are lib64). But I will change all the references to use the ROOT variables.

[2021-01-26 20:26] aerorahul commented on #148
Agreed.  So, unless using `cmake`, use `X_LIBRARIES` and `X_INCLUDES`.  With `cmake`, `X_ROOT` is all that is needed.

[2021-01-26 20:27] aerorahul commented on #148
@WalterKolczynski-NOAA
I agree with @kgerheiser
For our legacy build scripts, use `X_LIBRARIES` and `X_INCLUDES`.  When these move to `cmake` (eventually), the build script will be much shorter and indeed generic.

[2021-01-26 20:28] WalterKolczynski-NOAA commented on #148
Gotcha. Thanks for the help. Library linking is definitely a weak point in my programming knowledge.

[2021-01-26 20:28] #148 closed, assigned to nobody

[2021-01-26 21:16] arunchawla-NOAA commented on #137
Did we ever figure the issue out for this?

[2021-01-26 21:23] aerorahul commented on #137
I having difficulty inserting debugging elements in the build for this program.
I asked earlier how to turn `make VERBOSE=ON`, but have not heard back.

[2021-01-26 21:26] JessicaMeixner-NOAA commented on #137
@RobertoPadilla-NOAA told me he was taking care of providing more verbose (we don't have an option VERBOSE=ON) in WW3.

However, I'm really curious how there is a case on orion that does work with hpc-stack.  That gives me hope this is a simple issue.

[2021-01-26 22:29] WenMeng-NOAA commented on #140
@Hang-Lei-NOAA Thanks!

[2021-01-26 22:48] kgerheiser commented on #140
Yes, it's on all platforms now. Going to close this issue.

[2021-01-26 22:48] #136 closed, assigned to nobody

[2021-01-26 22:48] #135 closed, assigned to kgerheiser

[2021-01-26 22:49] kgerheiser commented on #113
Going to close this issue. If you encounter any problems you can re-open it.

[2021-01-26 22:49] #113 closed, assigned to kgerheiser

[2021-01-26 22:52] climbfuji commented on #140
Is it on Cheyenne? That is a tier-1 platform for the UFS weather model, too.

[2021-01-26 22:54] uturuncoglu commented on #113
@kgerheiser sure. Thanks for your help. It seems that there is no any issue with the installation.

[2021-01-26 22:57] kgerheiser commented on #140
No, we did Hera, Jet, Orion, and WCOSS. We don't have access to Cheyenne. If you could install it there, please.

[2021-01-26 22:58] climbfuji commented on #140
I can do that, sure. We also need to do gaea, I suppose. Did you install in the existing 1.1.0 tree?

[2021-01-27 04:40] climbfuji commented on #140
Installed on Cheyenne for both Intel and GNU, and on Gaea for Intel.

[2021-01-27 14:37] WenMeng-NOAA commented on #140
@climbfuji Thanks for installing on Gaea. We have a UPP user had asked upp lib availability on Gaea. I will let him know it.

[2021-01-27 16:13] MichaelLueken opened #149 "GSI Reproducibility issues using hpc-stack NetCDF4 and HDF5 on WCOSS Dell machines"
**Describe the bug**
While running the GSI on Mars and Venus, the results from an executable built using hpc-stack modules don't reproduce an executable using NCO's modules.  However, if the hpc-stack built executable uses NCO's NetCDF4 and HDF5 modules, then the results reproduce those from the NCO only executable.

**To Reproduce**
1)Clone [NOAA-EMC:master](https://github.com/NOAA-EMC/GSI) as th

[2021-01-27 16:39] Hang-Lei-NOAA commented on #149
hpc-stack installation of netcdf associates, have this option for build "--disable-shared " for static installation.

However,

The NCO did not have that option. Therefore in their installation, it is optional.
configure:15297: checking whether to build shared libraries
configure:15322: result: yes
configure:15325: checking whether to build static libraries
configure:15329: result: yes
else ifeq (

[2021-01-27 16:42] JessicaMeixner-NOAA commented on #137
Based on a PR from Roberto to the global-workflow feature/coupled-crow branch: https://github.com/NOAA-EMC/global-workflow/pull/248 which uses hpc-stack 1.0.0 on orion the issue seems to be from the version of Jasper: That jasper/2.0.15 does not work and jasper/1.900.1 does work.

@arunchawla-NOAA mentioned that some features were deprecated and that warnings in 1.9.00.1 might now be the errors in

[2021-01-27 16:55] edwardhartnett commented on #149
Are you look at the executable to see if they are identical? Or are you running them to see if they produce identical output?

[2021-01-27 16:56] MichaelLueken commented on #149
I'm running them to see if they produce identical output.

[2021-01-27 17:01] kgerheiser commented on #149
@Hang-Lei-NOAA you think the difference is because of static vs shared libraries? I'm not sure that would account for a difference in results.

How can we see how HDF5/NetCDF was built for NCO? To start with we can compare the build options.

[2021-01-27 17:03] Hang-Lei-NOAA commented on #149
You can go to their source directory. You can compare the config.log file in their src.  with our build settings.

[2021-01-27 17:10] RobertoPadilla-NOAA commented on #137
@JessicaMeixner-NOAA I have no more information than that was already provided.

[2021-01-27 18:00] arunchawla-NOAA commented on #137
If the path is the case then where is the JASPER_LIB path being defined? Main module file ? I suggest we take care of it there and then can close this ticket. Why did we not get a failure for library not found in the build if the path was wrong?

[2021-01-27 18:04] JessicaMeixner-NOAA commented on #137
Actually, I saw that in Roberto's scripts he has the JASPER_LIB path defined correctly, I just didn't in my case.   It was expected by WW3 that JASPER_LIB and other things were defined by the modules before.  Since they aren't now we define them in the build script in global-workflow

[2021-01-27 18:10] JessicaMeixner-NOAA commented on #137
@RobertoPadilla-NOAA can you please give me the hash of the WW3 version you used to make the test in:  /scratch1/NCEPDEV/stmp2/Roberto.Padilla/GitHub/WW3_hpc-stack_test I'm trying to use your test but with the full WW3 but keep getting errors because of versions.

[2021-01-27 18:15] RobertoPadilla-NOAA commented on #137
@JessicaMeixner-NOAA, the WW3 that I included in the test is a copy of the one the version that is in the coupled-system.

[Roberto.Padilla@hfe08 WW3]$ git log
commit 9c22b13506e797940ebab538fe4a3940dd9e3fc0 (HEAD)
Author: Ali.Abdolali <37336972+aliabdolali@users.noreply.github.com>
Date:   Mon Oct 19 10:30:32 2020 -0400

[2021-01-27 18:21] RobertoPadilla-NOAA commented on #137
@arunchawla-NOAA @JessicaMeixner-NOAA. Question from Arun "Why did we not get a failure for library not found in the build if the path was wrong?"
Adding to a comment from Jessica.
For jasper/2.0.15 the path of the library was correct (JASPER_LIB=$JASPER_ROOT/lib64/libjasper.a) that was the reason we didn't get library not found.
But for  jasper/1.900.1 the path is different  (JASPER_LIB=$JASPER_R

[2021-01-27 19:15] edwardhartnett commented on #149
Netcdf also leaves a libnetcdf.settings file, which summarizes the build.

[2021-01-27 19:39] JessicaMeixner-NOAA commented on #137
So using  hpc/1.0.0 on Orion I can confirm that the "empty gribs" are coming from using jasper/2.0.15 as that gives me empty grib files and jasper/1.900.1 gives you non-empty grib files.

In both versions of the module I get this warning:
/apps/jasper-1.900.1/lib/libjasper.a(jas_stream.o): In function `jas_stream_tmpfile':
/tmp/jasper-1.900.1/src/libjasper/base/jas_stream.c:368: warning: the use o

[2021-01-27 22:52] kgerheiser commented on #149
The build settings look identical between hpc-stack and NCO builds, except NCO building shared libraries.

I built a shared library HDF5/NetCDF hpc-stack build at:

 `module use /gpfs/dell2/emc/modeling/noscrub/Kyle.Gerheiser/hpc-stack/netcdf-install/modulefiles/stack`

@MichaelLueken-NOAA could you try your test using those modules? I'm not confident that's the problem, but it's worth checking.

[2021-01-27 23:16] Hang-Lei-NOAA commented on #149
I also made the testing version the same settings to NCO’s, you can test
Kyle installation first. If issue continue, you can try the testing
versions. The links were on github wiki. Let us know your results. Thanks

On Wed, Jan 27, 2021 at 5:53 PM Kyle Gerheiser <notifications@github.com>
wrote:

[2021-01-27 23:55] kgerheiser commented on #149
@Hang-Lei-NOAA did it work? Was that the reason for the difference?

[2021-01-27 23:59] Hang-Lei-NOAA commented on #149
As you compared, that is the difference. Let’s wait for their test results.

On Wed, Jan 27, 2021 at 6:55 PM Kyle Gerheiser <notifications@github.com>
wrote:

[2021-01-28 14:11] MichaelLueken commented on #149
@kgerheiser The tests using your shared library HDF5/NetCDF hpc-stack build reproduces NCO's modules.  So, it seems as though the issue is with the shared vs static HDF5/NetCDF libraries.

[2021-01-28 14:14] Hang-Lei-NOAA commented on #149
Good, That is it.

On Thu, Jan 28, 2021 at 9:12 AM MichaelLueken-NOAA <notifications@github.com>
wrote:

[2021-01-28 14:20] edwardhartnett commented on #149
That's not good, since there should be no output difference between a shared and static build...

[2021-01-28 14:52] kgerheiser commented on #149
The exact changes I made were to make `zlib`, `HDF5`, and `NetCDF` shared libraries, and to remove the `-fPIC` flags in those libraries. My thought is that some optimization done by the compiler is different when using static or shared libraries.

[2021-01-28 15:03] Hang-Lei-NOAA commented on #149
-fPIC should be kept anyway, this is a change made two years ago for
accessing CCPP.
The test version is a very close match of all settings in NCO installed
libraries.

On Thu, Jan 28, 2021 at 9:53 AM Kyle Gerheiser <notifications@github.com>
wrote:

[2021-01-28 15:11] kgerheiser commented on #149
I'm fine having `-fPIC`. It was just something to test because it can change the optimizations that the compiler can perform which could affect the results.

[2021-01-28 16:19] kgerheiser commented on #137
The warning about `tmpnam` is gone in a newer version of Jasper, but that doesn't relate to your problem.

What is called to create the grib file? Is it some library and then that calls Jasper? I think it would be best to focus on the actual call to Jasper and the call where an empty grib file comes out.

[2021-01-28 16:26] JessicaMeixner-NOAA commented on #137
There is a WW3 program ww3_grib that is calling Jasper and other libraries to create the grib file.  I'm not familiar enough with grib or jasper to know which are the actual calls to Jasper...  but I can start putting print statements in ww3_grib to see where the "empty grib" message is coming from.    I tried to look on jasper's website for what changed between 1.9.00.1 and + but only found infor

[2021-01-28 16:31] JessicaMeixner-NOAA commented on #137
@kgerheiser the ww3_grib program is here: WW3/model/ftn/ww3_grib.ftn which gets preprocessed and the processed version of the file, which exists after you compile would be at WW3/model/tmp/ww3_grib.F90.   Just remember if you want to change code you need to change the .ftn file not the .F90 file.   I'll let everyone know when I have some print statements and have narrowed down he call to jasper or

[2021-01-28 16:31] arunchawla-NOAA commented on #137
The grib conversion is done in a routine called w3exgb in ww3_grib, large part of that code is spent in creating ID numbers for individual fields and converting them from an internal representation of arrays in WW3 (a single column of sea points) to a 2D field. The real GRIB output is done on lines 1445 onwards

Do not worry about the !/NCEP lines, the only ones to focus is on the !/NCEP2 lines, t

[2021-01-28 16:32] arunchawla-NOAA commented on #137
that should be wryte. MAC is trying to correct my English. Which library these functions are in we will have to hunt down. One of them is the problem child

[2021-01-28 16:36] kgerheiser commented on #137
Ok, so those come from NCEPLIBS-g2, Which would make sense because it uses Jasper.

Seems like the actual problem is NCEPLIBS-g2.

[2021-01-28 16:50] RussTreadon-NOAA commented on #149
What's the path forward from here?   Is the difference due to shared -vs- static or the presence -vs- absence of `-fPIC` or both?   As a test can we create `hpc-stack` with

- `zlib`, `HDF5`, and `NetCDF `as shared libraries and include the `-fPIC` flag?
- `zlib`, `HDF5`, and `NetCDF `as static libraries and remove the `-fPIC` flag?

Which test makes more sense to run?  Are there different and bet

[2021-01-28 16:52] Hang-Lei-NOAA commented on #149
-fpic has been added two years before hpc-stack occurs.

On Thu, Jan 28, 2021 at 11:51 AM RussTreadon-NOAA <notifications@github.com>
wrote:

[2021-01-28 16:55] RussTreadon-NOAA commented on #149
OK, can you create `hpc-stack` with the first configuration

- `zlib`, `HDF5`, and `NetCDF `as shared libraries and include the `-fPIC` flag

[2021-01-28 17:00] kgerheiser commented on #149
Yes, I'll do that.

[2021-01-28 17:14] Hang-Lei-NOAA commented on #149
The existing test version is that.
https://github.com/NOAA-EMC/hpc-stack/wiki/HPC-stack-test-installations
You can first try this, and then see if it works.

On Thu, Jan 28, 2021 at 12:00 PM Kyle Gerheiser <notifications@github.com>
wrote:

[2021-01-28 17:34] JessicaMeixner-NOAA commented on #137
So I narrowed down where the empty grib message is coming from:

processed code:
[code]

Output:
[code]

I have a slightly simpler test case, which only writes out significant wave height HS and included the extra write comments in the code which is bundled on orion here: /work/noaa/marine/jmeixner/WW3GRIBISSUE/WW3_hpc-stack_test.2.tar.gz
@kgerheiser let me know if there is something I need to do.

[2021-01-28 18:01] JessicaMeixner-NOAA commented on #137
I printed out the values of what is going to the ADDFIELD call, for when we are using jasper 1.9 or 2.  The CGRIB is binary, but comparing the other fields they are identical.  I can point someone to that output if it would be useful information.

[2021-01-28 18:02] MichaelLueken commented on #149
@Hang-Lei-NOAA The hpc-stack test version of HDF5/NetCDF also reproduces NCO's HDF5/NetCDF libraries.

[2021-01-28 18:26] RussTreadon-NOAA commented on #149
Thanks, Mike.  DA regression tests on Venus are yielding the same result.    [MichaelLueken-NOAA:master](https://github.com/MichaelLueken-NOAA/GSI) built with hpc-stack test module hpc/1.0.0-beta1 is reproducing regression test results from [NOAA-EMC:master](https://github.com/NOAA-EMC/GSI) built with NCO GFS v16 modules.